{% extends 'templates.html.twig' %}

{% block titleblock %}grafiker.de: Montagsmailer!{% endblock %}

{% block content %}
<style>
h1 {
    font-size: 30px;
}
</style>
<div class="pinnavi float-right"><a href="javascript:history.back()">Zurück</a></div>
{% if letterdetails == true %}
<style>
.rnb-btn-col-content span {
    background-color: #799A14 !IMPORTANT;
}
</style>
<div style="max-width:600px;min-height:400px; margin: 0 auto;">
{% for letterdata in letterdata %}
<h1>Montagsmailer vom - {{ letterdata.letterDay }}.{{ letterdata.letterMon }}.{{ letterdata.letterYear }}</h1><br />
{{ letterdata.mailertext|replace({'Unsubscribe here':''})|raw }}
{% endfor %}
</div>
{% else %}
<div style="max-width:100%;min-height:400px; margin: 0 auto;">
<h1>Montagsmailer-History</h1><br />
Hier finden Sie unsere versendeten Montagsmailer. Sie wollen den Montagsmailer auch empfangen oder abbestellen?<br /><br />
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<a href="/profile/notifications">Hier klicken</a> und Du kannst deine Benachrichtigungen anpassen!<br /><br />
{% else %}
Bitte log Dich in dein Profil ein und gehe in den Bereich "Benachrichtigungen", dort kannst du dann den Montagsmailer-Empfang bearbeiten.<br /><br />
{% endif %}
{% set counter = letterdata|length %}
{% for letterdata in letterdata %}
<strong><a href="/montagsmailer/{{ letterdata.id }}">{{ counter }}. Montagsmailer vom - {{ letterdata.letterDay }}.{{ letterdata.letterMon }}.{{ letterdata.letterYear }}</a></strong><br />
{% set counter = counter - 1 %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
