{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
	<div class="contentinnert">
<h1>Der Eintrag war erfolgreich!</h1>
<br />
Ihr Beitrag wurde jetzt zur Prüfung an das Grafiker.de-Team übertragen.<br /><br />
Sie erhalten nach der Freischaltung eine Mitteilung mit weiteren Informationen!
</div>
{% endblock %}