{% extends 'templates.html.twig' %}

{% block title %}Hello UserprofilArticleController!{% endblock %}

{% block content %}
<style>
.file-input, #kv-success-1, #kv-success-2, #kv-error-1, #kv-error-2 {
    max-width: 100% !important;
}
.file-preview-image {
	max-width: 90% !important;
}
.file-caption-main {
    max-width: 98% !important;
}
.file-preview-frame {
    width: 218px !important;
    text-align: center;
}
.kv-upload-progress .progress-bar {
    height: 20px;
    font-family: Verdana,Helvetica,sans-serif;
    visibility: hidden;
}
.file-drop-zone {
    height: auto !important;
}
.file-preview {
    height: auto !important;
}
</style>
<div class="contentinnert">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>
<br /><br />
{% if reset == true %}
<script type="text/javascript">
<!--
document.location.href = "/profile/article/start";
//–>
</script>
{% endif %}

<strong>1. Bildupload | 2. Beitrag Inhalte eintragen  |  3. Beitrag-Bild zuschneiden und Beitrag einstellen</strong>
<br /><br />
Du kannst hier bis zu 15 Bilder je max. 10MB, hochladen und im nächsten Schritt für Deinen Beitrag benutzen!
<style>
.articleshelplabel .tooltiptext {
    visibility: hidden;
    margin-left: -2%;
    margin-top: -55px;
    position: absolute;
    background-color: #799a14;
    color: #fff;
    padding: 5px 5px;
    border-radius: .25rem;
    }
.articleshelplabel:hover .tooltiptext {
  visibility: visible;
  max-width: 350px;
  z-index: 9999;
}
.fa-question-circle {
	font-size: 1.5rem;
}
</style>
<label class="articleshelplabel">
<i class="fa fa-question-circle"></i>
<span class="tooltiptext">Nutze dafür bitte den "Browse Button", oder ziehe die Bilder in das untere Feld. Nachdem Du auf "Upload und weiter" klickst, gelangst Du mit Deinen Bildern zum nächsten Schritt. Du kannst auch ohne Bildupload weiter machen und auf der nächsten Seite mit externen Bildlinks Deinen Beitrag gestalten.</span>
</label><br />

{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
<div class="clearfix"></div>
{% if articleergebnis %}
<script>
articleselected = 0;
function changeIt(img)
{
    var name = img.id;
	if(articleselected) {
	document.getElementById(articleselected).style.border = "0px solid #de2012";
	}
	document.getElementById(name).style.border = "4px solid #de2012";
	articleselected = name;
	document.getElementById('form_picselected').value = name;
}
/*$(document).ready(function () { 
	$('.btn-primary').click(function() {
		var x1 = $('#form_picselected').val();
		if(x1=="0"){
			alert("Sie müssen zuerst ein Pin-Beitragsbild auswählen!");
			return false;
		}else{
			return true;
		}
	});
});*/ 
</script>
Es wurde bereits ein Beitrag begonnen, möchten Sie den Beitrag <a style="color:red" href="/profile/article/reset"><strong>neu beginnen?</strong></a><br />
<!--<h3>Bitte ein Pin-Beitragsbild auswählen:</h3>-->
<div style="padding: 0;
  margin: 0px;
  white-space: nowrap;
  display: flex;
  background-color: #fff;
  border: solid 0px #799a14;
  max-width: 970px;
  overflow-x: auto;
  padding: 3px;
  align-items: center;">
{% for case in picsarray %} 
&nbsp;<img onclick="changeIt(this)" id="{{ case }}" style="cursor: pointer; width:auto; height:110px;" src="/upload/uploads/articlepics/{{ case }}">&nbsp;
{% endfor %}
</div>
{% else %}
<br />
<link rel="stylesheet" href="/upload/assets/css/styles.css" />
<div id="hilfsblock" class="float-left" style="display: none;">
	<!--<h3>Bitte ein Pin-Beitragsbild auswählen:</h3>-->
</div>
{#% if is_mobile() == false %}
<div id="showcasedropbox">
			<span class="message">Zum Upload - max. 5 Bilder mit einmal hier reinziehen.<br />(or click to select files)<br /></span>
		</div>
{% endif %#}
<link href="/externes/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you 
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="/externes/piexif.min.js" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="/externes/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
    HTML files. This must be loaded before fileinput.min.js -->
<script src="/externes/purify.min.js" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script src="/externes/fileinput.min.js"></script>
<!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
<script src="/externes/theme.js"></script>

<input id="input-b1" name="pic" type="file" class="file" data-browse-on-zone-click="true" data-show-preview="true" input-name="pic" multiple="true" input-name="pic">
<div id="kv-error-2" style="margin-top:10px;display:none"></div>
<div id="kv-success-2" class="alert alert-success" style="margin-top:10px;display:none"></div>
<script>
var upload = false;
$("#input-b1").fileinput({
        uploadUrl: "/post_file/articlepics",
        overwriteInitial: false,
		//deleteUrl: '/deluserpic/articlepics/{{ app.user.username }}/articlepics',
        initialPreview: [
        // IMAGE DATA
	   {% for case in picsarray %}'<img src="/upload/uploads/articlepics/{{ case }}?{{ date().timestamp }}" class="kv-preview-data file-preview-image">',{% endfor %}
        ],
        initialPreviewConfig: [{% for case in picsarray %}
    {
        url: '/deluserpic/articlepics/{{ app.user.username }}/{{ case }}',
        key: '{{ case }}',
    },{% endfor %}],
        uploadAsync: true,
        showPreview: true,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileCount: 15,
        elErrorContainer: '#kv-error-2',
		removeLabel: "Neustarten",
		uploadLabel: "Upload und weiter",
		fileActionSettings : {
		// Disable
		//showRemove : false,
		showUpload : false,
		},
    }).on('filebatchpreupload', function(event, data, id, index) {
        $('#kv-success-2').html('<h4>Upload Status</h4><ul></ul>').hide();
		upload = true;
    }).on('filebatchuploadsuccess', function(event, data) {
        var out = '';
        $.each(data.files, function(key, file) {
			console.log(data.files);
            var fname = file.name;
            out = out + '<li>' + 'Ihr Bild # ' + (key + 1) + ' - '  +  fname + ' wurde erfolgreich hochgeladen.' + '</li>';
        });
        //$('#kv-success-2 ul').append(out);
        //$('#kv-success-2').fadeIn('slow');
    }).on('fileselect', function(event, numFiles, label) {
    console.log("fileselect");
}).on('fileremoved', function(event, id, index) {
    console.log('id = ' + id + ', index = ' + index);
}).on('filebatchuploadcomplete', function(event, preview, config, tags, extraData) {
	upload = true;
	$(".btn-primary").val('nächster Schritt...');
    console.log('File batch upload complete', preview, config, tags, extraData);
	document.location.href = "/profile/article/poststart";
}).on('filedeleted', function(event, key, jqXHR, data) {
    var res = key.replace(".", "_");
    console.log(res);
	//console.log(data.files);
    $('#' + res).attr("style","display: none;");
}).on('fileclear', function(event) {
	if(upload) {

$.post( "/restartarticle/{{ app.user.username }}")
  .done(function( data ) {
console.log(upload + "fileclear");
    });

    
	}
});
</script>

<div class="clearfix"></div>       

        <!-- Including The jQuery Library -->
		<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
		
		<!-- Including the HTML5 Uploader plugin -->
		<script src="/upload/assets/js/jquery.filedrop.js"></script>
		
		<!-- The main script file -->
        <script>
		articleselected=0;
            $(function(){
	
	var showcasedropbox = $('#showcasedropbox'),
		message = $('.message', showcasedropbox);
	zahl = 0;
	showcasedropbox.filedrop({
		// The name of the $_FILES entry:
		paramname:'pic',
		
		maxfiles: 5,
    	maxfilesize: 3,
		url: '/post_file/articlepics',
		uploadFinished:function(i,file,response){
			
			$.data(file).addClass('done');
			// response is the JSON object that post_file.php returns
			document.getElementById(i).id = response["status"];
			if(i == 0) {
	var name = response["status"];
if(!articleselected) {
	document.getElementById(name).style.border = "4px solid #de2012";
	articleselected = name;
	document.getElementById('form_picselected').value = name;
}
			}
			zahl++;
			$('#hilfsblock').show();
		},
		
    	error: function(err, file) {
			switch(err) {
				case 'BrowserNotSupported':
					showMessage('Your browser does not support HTML5 file uploads!');
					break;
				case 'TooManyFiles':
					alert('Too many files! Please select 5 at most! (configurable)');
					break;
				case 'FileTooLarge':
					alert(file.name+' is too large! Please upload files up to 2mb (configurable).');
					break;
				default:
					break;
			}
		},
		
		// Called before each upload is started
		beforeEach: function(file){
			if(!file.type.match(/^image\//)){
				alert('Only images are allowed!');
				
				// Returning false will cause the
				// file to be rejected
				return false;
			}
		},
		
		uploadStarted:function(i, file, len){
			createImage(i, file);
		},
		
		progressUpdated: function(i, file, progress) {
			$.data(file).find('.progress').width(progress);
		}
    	 
	});
	
	var template = '<div class="preview">'+
						'<span class="imageHolder">'+
							'<img style="cursor: pointer;" onclick="changeIt(this)" />'+
						'</span>'+
						'<div class="progressHolder">'+
							'<div class="progress"></div><br />'+
						'</div>'+
					'</div>'; 
	
	
	function createImage(i, file){
	
		var preview = $(template), 
			image = $('img', preview);
			
		var reader = new FileReader();
		
		image.width = 100;
		image.height = 100;
		
		reader.onload = function(e){
			
			// e.target.result holds the DataURL which
			// can be used as a source of the image:
			
			image.attr('src',e.target.result);
			image.attr('id',i);
		};
		
		// Reading the file as a DataURL. When finished,
		// this will trigger the onload function above:
		reader.readAsDataURL(file);
		
		message.hide();
		preview.appendTo(showcasedropbox);
		
		// Associating a preview container
		// with the file, using jQuery's $.data():
		
		$.data(file,preview);
	}

	function showMessage(msg){
		message.html(msg);
	}

});
function changeIt(img)
{
    var name = img.id;
	if(articleselected) {
	document.getElementById(articleselected).style.border = "0px solid #de2012";
	}
	document.getElementById(name).style.border = "4px solid #de2012";
	articleselected = name;
	document.getElementById('form_picselected').value = name;
}

/*$(document).ready(function () { 
	$('.submitbtn').click(function() {
		var x1 = $('#form_picselected').val();
		if(x1=="0"){
			alert("Sie müssen zuerst ein Pin-Beitragsbild auswählen!");
			return false;
		}else{
			return true;
		}
	});
});*/
        </script>
{% endif %}
<form action="/profile/article/poststart" method="post">
{{ form_widget(form) }}
<span class="float-right" style="margin-right:15px;"><a href="/richtlinien" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=600,width=400,resizable=no')">Bitte beachte unsere Richtlinien!</a><br />
</span>
<input class="btn btn-primary submitbtn" type="submit" value="Ohne Bildupload weiter..." />
</form><br /><br />

{% else %}
<div class="usereditdiv float-left">
<script type="text/javascript">
<!--
document.location.href = "/register";
//–>
</script>
{% endif %}
</div>

</div>
{% endblock %}
