{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% set articlecount = counter %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
.swal-button--confirm {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--confirm:hover {
    color: #fff !Important;
    background-color: #0069d9 !Important;
    border-color: #0062cc !Important;
}
.swal-button--cancel {
color: #fff;
    background-color: red;
    border-color: red;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--cancel:hover {
    color: #fff !Important;
    background-color: black !Important;
    border-color: black !Important;
}
</style>
<script>
function editarticle(articleid) {
swal({
  title: "Achtung!",
  text: "Egal ob du etwas an deinem Beitrag änderst oder nicht, wird dieser erneut zur Freischaltung an den Admin gesendet!",
  icon: "warning",
  buttons: ["Abbrechen", "Okay weiter"],
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    document.location.href = "/profile/article/" + articleid + "/editor";
//alert(1);
  } else {
//alert("profile/article/" + articleid + "/editor");
  }
});
}
</script>
<div class="contentinnert">
<div class="usereditdiv float-left">
<div class="articlenavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>

<br />
<h5>Meine Beiträge:</h5>
<table>
	<tr>
		<th style="width: 120px;">Beitragkategorie</th>
		<th style="width: 250px;">Beitragtitel</th>
		<th style="width: 120px;text-align:center;">bearbeiten</th>
		<th style="width: 120px;text-align:center;">löschen</th>
		<th style="max-width: 240px;text-align:center;">Status</th>
	</tr>
{% for article in articledata %}
<tr>
<td><strong>{{ article.getArticleKategorie() }}</strong></td>
<td>{% if article.getTitle() == "" %}Noch keinen Titel eingegeben!{% else %}{{ article.getTitle()|length > 25 ? article.getTitle()|slice(0, 25) ~ '...' : article.getTitle()  }}{% endif %}</td>
<td style="text-align:center;">{% if article.astitle != "Articlestart" and article.astitle != "Articleinsert" %}{% if article.astitle != "Articleinsert" %}<a title="Article bearbeiten?" href="#" onclick="editarticle('{{ article.id }}');"><span class="articleicons icon-large icon-pencil"></span></a>{% endif %}{% elseif article.astitle != "Articleinsert" %}<a title="Article bearbeiten?" href="/profile/article/{{ article.id }}/editor"><span class="articleicons icon-large icon-pencil"></span></a>{% else %}{% endif %}</td>
<td style="text-align:center;">{% if article.astitle != "Articleinsert" %}<a title="Article löschen?" href="/profile/articleverwaltung/{{ article.id }}/del" onclick='return del_ask();'><span class="articleicons icon-large icon-trash"></span></a>{% endif %}</td>
<td>{% if article.astitle == "Articlestart" %}In Bearbeitung!{% elseif article.astitle == "Startinsert" %}Freigeschaltet{% elseif article.astitle == "Articleinsert" %}Wartet auf Freischaltung!{% endif %}</td>
</tr>{% endfor %}
</table>
<div style="text-align:center;">
{% if count > 1 %}
{% for i in range(0, count|round(0, 'floor')) %}
    <a href="/profile/articleverwaltung/{{ i }}">{{ i }}</a>,
{% endfor %}
{% endif %}
</div>
</div>
<div class="clearfix"></div> 
        <div class="articlemenu">
                    <label class="articlemenulabelpic">Beiträge</label><br />
{% set username = app.user.username %}
<label class="articlemenulabel">{% if ((username is defined) and (username != 'ALL')) %}<a href="/profile/articleverwaltung/all">Alle</a>{% else %}<a href="">Alle</a>{% endif %}</label>
{% set katanz = 0 %}

{% for kats in articlekats %} 
{% set katanz = katanz+1 %}
{% if katanz < 10 %}
{% if articlecounterdata[kats.getArticlekatname()] == true %}
{% if (username is defined) %}
<label class="articlemenulabel"><a href="/filter/{{ kats.getArticlekatname() }}-{{username}}/all">{{ kats.getArticlekatname() }}</a></label>
{% else %}
<label class="articlemenulabel"><a href="/filter/{{ kats.getArticlekatname() }}-ALL/all">{{ kats.getArticlekatname() }}</a></label>
{% endif %}
{% else %}
<label class="articlemenulabel">{{ kats.getArticlekatname() }}</label>
{% endif %}
{% else %}
{% if articlecounterdata[kats.getArticlekatname()] == true %}
{% if (username is defined) %}
<label class="articlemenulabel" style="display:none";><a href="/filter/{{ kats.getArticlekatname() }}-{{username}}/all">{{ kats.getArticlekatname() }}</a></label>
{% else %}
<label class="articlemenulabel" style="display:none";><a href="/filter/{{ kats.getArticlekatname() }}-ALL/all">{{ kats.getArticlekatname() }}</a></label>
{% endif %}
{% else %}
<label class="articlemenulabel" style="display:none";>{{ kats.getArticlekatname() }}</label>
{% endif %}
{% endif %}
{% endfor %}
<label class="articlemenulabel allfilters" onclick="loadNextFilter('all');" style="cursor: pointer;color:#1691ff;">mehr Filter</label><span class="icon"><i class="fa fa-search"></i></span><input type="search" name="fulltext" class="search" placeholder="Volltextsuche..." /><input type="submit" style="display:none"/>

            </div>

{% for article in articledata %}
{% if article.astitle != "Articlestart" %}
{% if article.getArticleviews() == null %}
{% set articleviews = 0 %}
{% else %}
{% set articleviews = article.getArticleviews() %}
{% endif %}
{% set difference = date().diff(date(article.getStartdate())) %}
{% set leftDays = difference.days %}
<div class="article float-left" style="margin: 0px 0px 0px 0px;">
    	<a href="/articleview/{{ article.articlelink() }}">
            <div class="articleautordiv">
            {% if article.isads == true %}
            <div class="werbungviewsdiv">
                    Werbung
            </div>
            {% endif %}
			    <div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				    <div class="articleviewsdiv" style="right: 0px;top: 0px;">
                        <div class="articleviewsdiv">
                                      {{ articleviews }} <i class="fa fa-eye"></i>
                                </div> 
                {% if article.getThumbnail() == "" %}
                    <img src="/images/no-image-placeholder-article.png" class="articleautor" alt="Beitragautor">
                {% else %}
                    <img src="/upload/uploads/articlepics/{{article.getThumbnail()}}" class="articleautor" alt="Beitragautor">
                {% endif %}
            </div>
        </a>
                                {% if article.bewerten == true %}
                                <div class="articleratingdiv rating_{{ article.id }}" id="rateYo_{{ article.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
</div>



    <div class="articledata float-right" style="margin-top: 10px; width: 300px; margin-right: 15px;">	
    <div class="articletitle">
                    {{ article.getTitle()|length > 22 ? article.getTitle()|slice(0, 22) ~ '...' : article.getTitle()  }}
    </div>
    <div class="articleautornamediv">
      <label class="articleautorortlabel">von {{article.getUsername()}}</label> | <label class="articleautorname">{{ "now"|date("M j.Y") }}</label>
      <label class="articlecontent">{{ article.getContent()|raw | striptags|length > 250 ? article.getContent() | striptags|slice(0, 250)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : article.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <a href="/articleview/{{ article.articlelink() }}"><label class="articlemore">Weiterlesen<label></a>
	</div>
	</div>
</div>
</div>
{% if article.rating != '' %}
    {% set articlerating = article.rating %}
{% else %}
    {% set articlerating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ article.id }}").rateYo({
 
    rating    : {{ articlerating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% endif %}
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% endblock %}
