{% extends 'templates.html.twig' %}
{#{ render(controller(
    'App\Controller\UserPinviewController::hashToLink'
)) }#}
{% block titleblock %}
{% for article in articledata %}
{% set newtitle = article.getTitle() %}grafiker.de: {{ newtitle }}
{% endfor %}
{% endblock %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>

body
{
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}


blockquote {
  padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #000;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}


/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}
.swal-button--confirm {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--confirm:hover {
    color: #fff !Important;
    background-color: #0069d9 !Important;
    border-color: #0062cc !Important;
}
.swal-button--cancel {
color: #fff;
    background-color: red;
    border-color: red;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--cancel:hover {
    color: #fff !Important;
    background-color: black !Important;
    border-color: black !Important;
}
</style>
<script>
function editarticle(articleid) {
swal({
  title: "Achtung!",
  text: "Egal ob du etwas an deinem Pin änderst oder nicht, wird dieser erneut zur Freischaltung an den Admin gesendet!",
  icon: "warning",
  buttons: ["Abbrechen", "Okay weiter"],
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    document.location.href = "/profile/article/" + articleid + "/editor";
//alert(1);
  } else {
//alert("profile/article/" + articleid + "/editor");
  }
});
}
</script>


<style>
.articlecontent {
    position: relative;
    margin: 0 auto;
    max-width: 1090px;
}
img.autorarticlepic {
    max-width: 90px !important;
}
</style>
<div class="pincontent">

{% for article in articledata %}
<style>
.darkbackground {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: 9998;
	display: none;
}
.bugdiv {
    background-color: transparent;
    color: #000;
    width: 100%;
	top: 10%;
	left: 0px;
    text-align: center;
    z-index: 9999;
	position: fixed;
	display: none;
}
</style>
<script>
function showpopup(link){
    $('.darkbackground').show();
	$('.bugdiv').show();
	var neu = '<img style="max-width:800px; height:auto;" src="' + link + '" onclick="closepopup()">';
    document.getElementById('bugdiv').innerHTML = neu;
 }
 function closepopup(){
    $('.darkbackground').hide();
	$('.bugdiv').hide();
 }
</script>
<div class="darkbackground" style="" onclick="closepopup()"></div>
<div class="bugdiv" id="bugdiv" style="" onclick="closepopup()">
</div>
<br /><br />
{% if article.isads == true %}
        Dieser Beitrag enthält Werbung.
    {% else %}
 <br /> <br />    
{% endif %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and article.getUsername() == app.user.username %}
<div class="pinnavi float-right"><a title="Pin bearbeiten?" href="#" onclick="editarticle('{{ article.id }}');">bearbeiten</a></div>
<div class="pinnavi float-right"><a title="Pin löschen?" href="/profile/articleverwaltung/{{ article.id }}/del" onclick='return del_ask();'>löschen</a></div>
{% endif %}
<div class="pinnavi float-right"><a href="javascript:history.back()">Zurück</a></div>
<div class="clearfix"></div> 
<hr />
<h1><label class="autortitle">{{ article.getTitle() }}</label></h1>
{% set difference = date().diff(date(article.getStartdate())) %}
{% set leftDays = difference.days %}
    {% if leftDays == 0 %}
        {% set variDays = 'heute' %}
    {% elseif leftDays == 1 %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tag' %}
    {% else %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tagen' %}
    {% endif %}
    {% if article.getArticleviews() == null %}
        {% set articleviews = 0 %}
    {% else %}
        {% set articleviews = article.getArticleviews() %}
    {% endif %}
<style>
.cke_contents_ltr.cke_show_borders {
    margin-top: -20px;
    z-index: 10px;
}
hr {
    margin-top: 2px;
}
</style>
<div class="cke_contents_ltr cke_show_borders">
<label style="margin-left:40px" class="autorbox">von <a href="/member/{{ article.getUsername() }}"><label style="color: #799a14; cursor: pointer;">{{ article.getUsername() }}</label></a> {{ variDays }} eingetragen • zuletzt gelesen {{ olddate|date("d.m.Y - H:i", "Europe/Berlin")}} Uhr • Views {{ articleviews }}</label>

<br /><br />
<div style="float:left; max-width:333px;">
<img onclick="showpopup('/upload/uploads/articlepics/{{ article.thumbnail }}')" style="width:auto; height:333px; cursor: pointer;" src="/upload/uploads/articlepics/{{ article.thumbnail }}">
</div>
<div style="float:left;max-width: 775px;">
{% set imgcounter = 1 %}
{% for case in picsarray %} 
<div style="float:left;"><img onclick="showpopup('/upload/uploads/articlepics/{{ case }}')" style="width:auto; height:110px; cursor: pointer; margin-bottom: 15px;" src="/upload/uploads/articlepics/{{ case }}"></div>
{% set imgcounter = imgcounter + 1 %}
{% endfor %}
</div>
<div class="clearfix"></div>
<br />
{{ contenttxt | raw  }}<br />

<br /><hr />
</div>
{% if article.getBewerten() == true and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div style="margin: 0 auto; max-width: 300px; text-align:center;" class="rating" id="rateYo">
        <span style="font-wight:700; color:#00FF00;">Bewertungen werden geladen...</span>
    </div><div style="margin: 0 auto; max-width: 200px; text-align:center;" class="counter" style="margin-left:55px;"></div><br />
 {% endif %}
 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}   
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
function ratingthis(rating) {
$.post( "/articlerating", { ratingdata: rating, username: "{{ app.user.username }}", articleid: "{{ article.id }}" })
  .done(function( data ) {
    var integer = parseFloat(data).toFixed(2);
    counternew = parseFloat(integer)+parseFloat(rating);
    var ar = data.split(';'); // split string on comma space
    $('.counter').html('rating: '+ar[1]);
    });
}

$(function() {
    randomNumber = Number.random(1,5);
   
$.post( "/articlerating", { articleid: "{{ article.id }}", username: "{{ app.user.username }}" })
  .done(function( data ) {
      var ar = data.split(';'); // split string on comma space
     $('.counter').html('Bewertung: '+ar[1]);
     randomNumber = ar[1];
$("#rateYo").rateYo({
 
    rating    : randomNumber,
    spacing   : "5px",
    halfStar: true,
    {%if ratingok == true %}readOnly: false,{% else %}readOnly: true,{% endif %}
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    },
    onSet: function (rating, rateYoInstance) {
    $(this).next().text(rating);
    $(this).rateYo("option", "readOnly", true);
      console.log("RateYo initialized! with " + rating);
      ratingthis(rating);
    }
  });
});
});
</script>
 {% endif %}
<br />
 <div style="margin: 0 auto; max-width: 700px; text-align:center;">
{% for prevarticledata in prevarticledata %}
<a href="/articleview/{{ prevarticledata.getArticlelink() }}" title="{{ prevarticledata.getTitle() }}"><< voriger Beitrag</a>
{% endfor %}
{% if prevarticledata|length and nextarticledata|length %}
 | 
{% endif %}
{% for nextarticledata in nextarticledata %}
<a href="/articleview/{{ nextarticledata.getArticlelink() }}" title="{{ nextarticledata.getTitle() }}">nächster Beitrag >></a>
{% endfor %}
</div>
<br /><br />
{% set counterarticletitle = 0 %}
{% for articledatacount in articledatacount %}
{% for articledatacounts in articledatacount %}
{% if article.getTitle() != articledatacounts.getTitle() %}
{% if articledatacounts|length > 0 %}
{% set counterarticletitle = counterarticletitle + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% if counterarticletitle %}
<h5>Ähnliche Beiträge</h5>
{% endif %}
{% set counterarticle = 1 %}
{% for articledatacount in articledatacount|shuffle %}
{#{ dump(articledatacount) }#}
{% for articledatacounts in articledatacount|shuffle %}
{% if article.getTitle() != articledatacounts.getTitle() and article.getId() != articledatacounts.getId() %}
{% if counterarticle <= 3  %}

{% set difference = date().diff(date(articledatacounts.getStartdate())) %}
{% set leftDays = difference.days %}
    {% if leftDays == 0 %}
        {% set variDays = 'heute' %}
    {% elseif leftDays == 1 %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tag' %}
    {% else %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tagen' %}
    {% endif %}
<div class="article float-left" style="margin: 0px 0px 0px 0px;">
    	<a href="/articleview/{{ article.articlelink() }}">
            <div class="articleautordiv">
            {% if article.isads == true %}
            <div class="werbungviewsdiv">
                    Werbung
            </div>
            {% endif %}
			    <div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				    <div class="articleviewsdiv" style="right: 0px;top: 0px;">
                        <div class="articleviewsdiv">
                                      {{ articleviews }} <i class="fa fa-eye"></i>
                                </div> 
                {% if article.getThumbnail() == "" %}
                    <img src="/images/no-image-placeholder-article.png" class="articleautor" alt="Beitragautor">
                {% else %}
                    <img src="/upload/uploads/articlepics/{{article.getThumbnail()}}" class="articleautor" alt="Beitragautor">
                {% endif %}
            </div>
        </a>
                                {% if article.bewerten == true %}
                                <div class="articleratingdiv rating_{{ article.id }}" id="rateYo_{{ article.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
</div>



    <div class="articledata float-right" style="margin-top: 10px; width: 300px; margin-right: 15px;">	
    <div class="articletitle">
                    {{ article.getTitle()|length > 22 ? article.getTitle()|slice(0, 22) ~ '...' : article.getTitle()  }}
    </div>
    <div class="articleautornamediv">
      <label class="articleautorortlabel">von {{article.getUsername()}}</label> | <label class="articleautorname">{{ "now"|date("M j.Y") }}</label>
      <label class="articlecontent">{{ article.getContent()|raw | striptags|length > 250 ? article.getContent() | striptags|slice(0, 250)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : article.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <a href="/articleview/{{ article.articlelink() }}"><label class="articlemore">Weiterlesen<label></a>
	</div>
	</div>
</div>
</div>
{% if articledatacounts.rating != '' %}
    {% set articlerating = articledatacounts.rating %}
{% else %}
    {% set articlerating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ articledatacounts.id }}").rateYo({
 
    rating    : {{ articlerating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% set counterarticle = counterarticle + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

{% endblock %}
