{% extends 'templates.html.twig' %}

{% block content %}
<div class="contentinnert">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>
<br /><br />
<h5>{{ textausgabe }}</h5>
{% if inout == "out" %}
Beworben am:<br />
{% for bewerbung in checkanz %}
{{ bewerbung.getBewerbungDate()|date("d.m.Y - H:i", "Europe/Berlin")}} <a href="/jobview/{{ bewerbung.getJoblink() }}">{{ ausname[bewerbung.getJobID()] }}</a> - <a href="/mail/{{ bewerbung.getMailId() }}"><strong>Bewerbung aufrufen</strong></a><br />
{% endfor %}
{% else %}
{{ ausname }}<br /><br />
Beworben am:<br />
{% for bewerbung in checkanz %}
{{ bewerbung.getBewerbungDate()|date("d.m.Y - H:i", "Europe/Berlin")}} <a href="/member/{{ bewerbung.getUsername() }}">{{ bewerbung.getUsername() }}</a> - <a href="/mail/{{ bewerbung.getMailId() }}"><strong>Bewerbung aufrufen</strong></a><br />
{% endfor %}
{% endif %}
</div>
{% endblock %}
