{% extends 'templates.html.twig' %}

{% block title %}Hello UserprofilDeleteController!{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/disableautofill/src/jquery.disableAutoFill.min.js"></script>
<style>
input#_submit {
    width: 250px;
    margin-top: 15px;
    margin-left: 0px;
}
</style>
<div class="pinsettinglist float-left" style="margin-left: 35px; max-width: 700px;height: 1030px;">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>
<br /><br />
{% if anfragesend == true %}
<strong style="color:red">Deine Löschanfrage wurde versendet und wird innerhalb von 24h bearbeitet!</strong>
{% endif %}
<br /><br />
Zum Profil löschen bitte das Passwort eingeben!<br /><br />
<strong>ACHTUNG Hinweis:</strong> Deine Löschanfrage wird zur Prüfung an dem Admin geschickt und dein Profil dann innerhalb von 24h gelöscht! Du bekommst von uns per Mail dann eine Löschbestätigung!
<br /><br />
<form action="/profile/delete" method="post" autocomplete="off" id="login-form">
Es wäre wirklich sehr nett, wenn du uns den Grund deiner Löschung mitteilen würdest?<br />
<textarea name="grund" style="width: 400px;" rows="5"></textarea><br /><br />
    <label for="password">Passwort</label>
    <input type="text" class="form-control password" style="max-width: 400px;" name="password" placeholder="Passwort" /> <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Profil löschen">
</form>


<script>
$('#login-form').disableAutoFill({
    passwordField: '.password'}
);
</script>

{% endblock %}
