{% extends 'templates.html.twig' %}

{% block content %}
<link href="/externes/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you 
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="/externes/piexif.min.js" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="/externes/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
    HTML files. This must be loaded before fileinput.min.js -->
<script src="/externes/purify.min.js" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script src="/externes/fileinput.min.js"></script>
<!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
<script src="/externes/theme.js"></script>

<input id="input-b1" name="pic" type="file" class="file" data-browse-on-zone-click="true" input-name="pic" multiple="true" input-name="pic">
<div id="kv-error-2" style="margin-top:10px;display:none"></div>
<div id="kv-success-2" class="alert alert-success" style="margin-top:10px;display:none"></div>
<script>
$("#input-b1").fileinput({
        uploadUrl: "/post_file/firma",
		deleteUrl: '/deluserpic/firma/{{ app.user.username }}/firmapic',
		{% if app.user.firmapic != '' and  app.user.firmapic != 'del' %}initialPreview: [
        // IMAGE DATA
	   '<img src="/{{ logolink }}?{{ date().timestamp }}" class="kv-preview-data file-preview-image">'
    ],{% endif %}

        uploadAsync: false,
        showPreview: true,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileCount: 1,
        elErrorContainer: '#kv-error-2'
    }).on('filebatchpreupload', function(event, data, id, index) {
        $('#kv-success-2').html('<h4>Upload Status</h4><ul></ul>').hide();
    }).on('filebatchuploadsuccess', function(event, data) {
        var out = '';
        $.each(data.files, function(key, file) {
			console.info(data.files);
            var fname = file.name;
            out = out + '<li>' + 'Ihr Bild # ' + (key + 1) + ' - '  +  fname + ' wurde erfolgreich hochgeladen.' + '</li>';
        });
        $('#kv-success-2 ul').append(out);
        $('#kv-success-2').fadeIn('slow');
    });
</script>
</style><link rel="stylesheet" href="/upload/assets/css/styles.css" />
<script>
        function FirmenlogoUpload() {
            document.getElementById('showcasedropbox').style.display = "block";
            document.getElementById('joblogoOnlineID').style.display = "none";
        }
</script>
{% if logoexist != true %}   
{% set logoupload = 'block' %}
{% set firmlogo = 'block' %}
{% else %}
{% set logoupload = 'block' %}
{% set firmlogo = 'block' %}
{% endif %}
<!--<div id="dropboxfirma" class="joblogo float-left" style="display: {{ logoupload }};">
			<span class="messagefirma">Firmenlogo zum Upload hier reinziehen. <br /></span>
		</div>
<div class="joblogoOnline" id="joblogoOnlineID" style="display: {{ firmlogo }};max-width: 400px; margin: 0 auto; text-align:center;"><img class="uservorschaupic" src="{% if app.user.firmapic != '' and  app.user.firmapic != 'del' %}/{{ logolink }}?{{ date().timestamp }}{% else %}/images/firma-blank.png{% endif %}" />
<br /><br />
<label class="labelpicdel">{% if app.user.firmapic != 'del' %}<a onclick="delpic('{{ app.user.firmapic }}')" style="color: #007bff;width:auto; height:110px; cursor: pointer;">Firmen-Logo löschen?</a>{% endif %}</label><br /></div>
		<div class="clearfix"></div>
-->

<!-- Including The jQuery Library -->
		<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
		
		<!-- Including the HTML5 Uploader plugin -->
		<script src="/upload/assets/js/jquery.filedrop.js"></script>
		
		<!-- The main script file -->
        <script>
		function delpic(userpic) 
    { 
		var userpic = userpic;
      	$('.uservorschaupic').attr('src','/images/firma-blank.png');
		$('.labelpicdel').html('');
      $.post("/deluserpic/firma/{{ app.user.username }}/" + userpic,

      function(data)
      {
        if (data != "") 
        {
          		
        }
        
      });
    };
            $(function(){
	
	var showcasedropbox = $('#dropboxfirma'),
		message = $('.messagefirma', showcasedropbox);
	
	showcasedropbox.filedrop({
		
		// The name of the $_FILES entry:
		paramname:'pic',
		
		maxfiles: 5,
    	maxfilesize: 2,
		url: '/post_file/firma',
		
		uploadFinished:function(i,file,response){
			$.data(file).addClass('done');
			// response is the JSON object that post_file.php returns
		},
		
    	error: function(err, file) {
			switch(err) {
				case 'BrowserNotSupported':
					showMessage('Your browser does not support HTML5 file uploads!');
					break;
				case 'TooManyFiles':
					alert('Too many files! Please select 5 at most! (configurable)');
					break;
				case 'FileTooLarge':
					alert(file.name+' is too large! Please upload files up to 2mb (configurable).');
					break;
				default:
					break;
			}
		},
		
		// Called before each upload is started
		beforeEach: function(file){
			if(!file.type.match(/^image\//)){
				alert('Only images are allowed!');
				
				// Returning false will cause the
				// file to be rejected
				return false;
			}
		},
		
		uploadStarted:function(i, file, len){
			createImage(file);
		},
		
		progressUpdated: function(i, file, progress) {
			$.data(file).find('.progress').width(progress);
		}
    	 
	});
	
	var template = '<div class="preview">'+
						'<span class="imageHolder">'+
							'<img />'+
							'<span class="uploaded"></span>'+
						'</span>'+
						'<div class="progressHolder">'+
							'<div class="progress"></div>'+
						'</div>'+
					'</div>'; 
	
	
	function createImage(file){

		var preview = $(template), 
			image = $('img', preview);
			
		var reader = new FileReader();
		
		image.width = 100;
		image.height = 100;
		
		reader.onload = function(e){
			
			// e.target.result holds the DataURL which
			// can be used as a source of the image:
			$('.uservorschaupic').attr('src',e.target.result);
			$('.labelpicdel').html('<a onclick="delpic()" style="color: #007bff;width:auto; height:110px; cursor: pointer;">Bild löschen?</a></label>');
			image.attr('src',e.target.result);
		};
		
		// Reading the file as a DataURL. When finished,
		// this will trigger the onload function above:
		reader.readAsDataURL(file);
		
		message.hide();
		preview.appendTo(showcasedropbox);
		
		// Associating a preview container
		// with the file, using jQuery's $.data():
		
		$.data(file,preview);
	}

	function showMessage(msg){
		message.html(msg);
	}

});
        </script>
{% endblock %}
