{% extends 'templates.html.twig' %}

{% block content %}
<div class="contentinnert">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>

</div>
{% endblock %}
