{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<script>
function textToarea(link) {
	var link = link;

if ($('.cke_editable').length > 0) { 
	
	    //Get the text
    var text = $("#post-inner-content").text()

    //Create a text area selector (container, rather)
    var textarea = $("#cke_1_contents");
	    //Give the textarea a value
    $(".cke_editable").val($(".cke_editable").val() + '<p><img style="max-width:900px; height:auto;" src="' + link + '" /></p>\n');

    //Show it
    textarea.show();
 } else {
		var myFrame = $(".cke_wysiwyg_frame").contents().find('body');
		
        myFrame.html(myFrame.html() + '<img style="max-width:900px; height:auto;" src="' + link + '" />');

 }

}
</script>
<style>
.file-input, #kv-success-1, #kv-success-2, #kv-error-1, #kv-error-2 {
    max-width: 100% !important;
}
.file-preview-image {
	max-width: 90% !important;
}
.file-caption-main {
    max-width: 98% !important;
}
.file-preview-frame {
    width: 218px !important;
    text-align: center;
}
.kv-upload-progress .progress-bar {
    height: 20px;
    font-family: Verdana,Helvetica,sans-serif;
    visibility: hidden;
}
.file-drop-zone {
    height: auto !important;
}
.file-preview {
    height: auto !important;
}
</style>
<script>
function changeIt(img)
{
    var name = img.id;
    if(document.getElementById(name).style.border) {
        document.getElementById(name).style.border = "";
    } else {
        document.getElementById(name).style.border = "4px solid #de2012";
    }
    
    //var res = str.replace("Microsoft", "W3Schools");
    if(document.getElementById('form_picselected').value == 0) {
	document.getElementById('form_picselected').value = name + ',';
    } else {
        var string = document.getElementById('form_picselected').value;
if(string.includes(name)) {
name = document.getElementById('form_picselected').value.replace(name + ',', "");
document.getElementById('form_picselected').value = name;
} else {
    document.getElementById('form_picselected').value = document.getElementById('form_picselected').value + name + ',';
}
    }
}
</script>
<div class="contentinnert">
<h5>Beitrag von {{ username }} bearbeiten:</h5>
<!--<strong>Bilder zum löschen bitte markieren und auf Beitrag überarbeiten klicken, die markierten Bilder werden dann gelöscht!</strong>
<div style="padding: 0;
  margin: 0px;
  white-space: nowrap;
  display: flex;
  background-color: #769813;
  width: 970px;
  overflow-x: auto;
  padding: 12px;
  align-items: center;">
{% for case in picsarray %} 
&nbsp;<img onclick="changeIt(this)" id="{{ case }}" style="cursor: pointer; width:auto; height:110px;" src="/upload/uploads/gutscheinepics/{{ case }}">&nbsp;
{% endfor %}
</div>-->
<link href="/externes/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you 
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="/externes/piexif.min.js" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="/externes/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
    HTML files. This must be loaded before fileinput.min.js -->
<script src="/externes/purify.min.js" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script src="/externes/fileinput.min.js"></script>
<!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
<script src="/externes/theme.js"></script>

<input id="input-b1" name="pic" type="file" class="file" data-browse-on-zone-click="true" data-show-preview="true" input-name="pic" multiple="true" input-name="pic">
<div id="kv-error-2" style="margin-top:10px;display:none"></div>
<div id="kv-success-2" class="alert alert-success" style="margin-top:10px;display:none"></div>
<script>
var upload = false;
$("#input-b1").fileinput({
        uploadUrl: "/post_file/gutscheinepics",
        overwriteInitial: false,
		//deleteUrl: '/deluserpic/gutscheinepics/{{ app.user.username }}/gutscheinepics',
        initialPreview: [
        // IMAGE DATA
	   {% for case in picsarray %}'<img src="/upload/uploads/gutscheinepics/{{ case }}?{{ date().timestamp }}" class="kv-preview-data file-preview-image">',{% endfor %}
        ],
        initialPreviewConfig: [{% for case in picsarray %}
    {
        url: '/deluserpic/gutscheinepics/{{ gutscheineID }}/{{ case }}',
        key: '{{ case }}',
    },{% endfor %}],
        uploadAsync: true,
        showPreview: true,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileCount: 15,
        elErrorContainer: '#kv-error-2',
		removeLabel: "Neustarten",
		uploadLabel: "Upload und weiter",
		fileActionSettings : {
		// Disable
		//showRemove : false,
		showUpload : false,
		},
    }).on('filebatchpreupload', function(event, data, id, index) {
        $('#kv-success-2').html('<h4>Upload Status</h4><ul></ul>').hide();
		upload = true;
    }).on('filebatchuploadsuccess', function(event, data) {
        var out = '';
        $.each(data.files, function(key, file) {
			console.log(data.files);
            var fname = file.name;
            out = out + '<li>' + 'Ihr Bild # ' + (key + 1) + ' - '  +  fname + ' wurde erfolgreich hochgeladen.' + '</li>';
        });
        //$('#kv-success-2 ul').append(out);
        //$('#kv-success-2').fadeIn('slow');
    }).on('fileselect', function(event, numFiles, label) {
    console.log("fileselect");
}).on('fileremoved', function(event, id, index) {
    console.log('id = ' + id + ', index = ' + index);
}).on('filebatchuploadcomplete', function(event, preview, config, tags, extraData) {
	upload = true;
	$(".btn-primary").val('nächster Schritt...');
    console.log('File batch upload complete', preview, config, tags, extraData);
	//document.location.href = "/profile/pins/poststart";
}).on('filedeleted', function(event, key, jqXHR, data) {
    var res = key.replace(".", "_");
    console.log(res);
	//console.log(data.files);
    $('#' + res).attr("style","display: none;");
}).on('fileclear', function(event) {
	if(upload) {

$.post( "/restartgutscheine/{{ app.user.username }}")
  .done(function( data ) {
console.log(upload + "fileclear");
    });

    
	}
});
</script>

<div class="clearfix"></div>       

        <!-- Including The jQuery Library -->
		<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
		
		<!-- Including the HTML5 Uploader plugin -->
		<script src="/upload/assets/js/jquery.filedrop.js"></script>
		
		<!-- The main script file -->
        <script>
		gutscheineselected=0;
            $(function(){
	
	var showcasedropbox = $('#showcasedropbox'),
		message = $('.message', showcasedropbox);
	zahl = 0;
	showcasedropbox.filedrop({
		// The name of the $_FILES entry:
		paramname:'pic',
		
		maxfiles: 5,
    	maxfilesize: 3,
		url: '/post_file/gutscheinepics',
		uploadFinished:function(i,file,response){
			
			$.data(file).addClass('done');
			// response is the JSON object that post_file.php returns
			document.getElementById(i).id = response["status"];
			if(i == 0) {
	var name = response["status"];
if(!gutscheineselected) {
	document.getElementById(name).style.border = "4px solid #de2012";
	gutscheineselected = name;
	document.getElementById('form_picselected').value = name;
}
			}
			zahl++;
			$('#hilfsblock').show();
		},
		
    	error: function(err, file) {
			switch(err) {
				case 'BrowserNotSupported':
					showMessage('Your browser does not support HTML5 file uploads!');
					break;
				case 'TooManyFiles':
					alert('Too many files! Please select 5 at most! (configurable)');
					break;
				case 'FileTooLarge':
					alert(file.name+' is too large! Please upload files up to 2mb (configurable).');
					break;
				default:
					break;
			}
		},
		
		// Called before each upload is started
		beforeEach: function(file){
			if(!file.type.match(/^image\//)){
				alert('Only images are allowed!');
				
				// Returning false will cause the
				// file to be rejected
				return false;
			}
		},
		
		uploadStarted:function(i, file, len){
			createImage(i, file);
		},
		
		progressUpdated: function(i, file, progress) {
			$.data(file).find('.progress').width(progress);
		}
    	 
	});
	
	var template = '<div class="preview">'+
						'<span class="imageHolder">'+
							'<img style="cursor: pointer;" onclick="changeIt(this)" />'+
						'</span>'+
						'<div class="progressHolder">'+
							'<div class="progress"></div><br />'+
						'</div>'+
					'</div>'; 
	
	
	function createImage(i, file){
	
		var preview = $(template), 
			image = $('img', preview);
			
		var reader = new FileReader();
		
		image.width = 100;
		image.height = 100;
		
		reader.onload = function(e){
			
			// e.target.result holds the DataURL which
			// can be used as a source of the image:
			
			image.attr('src',e.target.result);
			image.attr('id',i);
		};
		
		// Reading the file as a DataURL. When finished,
		// this will trigger the onload function above:
		reader.readAsDataURL(file);
		
		message.hide();
		preview.appendTo(showcasedropbox);
		
		// Associating a preview container
		// with the file, using jQuery's $.data():
		
		$.data(file,preview);
	}

	function showMessage(msg){
		message.html(msg);
	}

});
function changeIt(img)
{
    var name = img.id;
	if(gutscheineselected) {
	document.getElementById(gutscheineselected).style.border = "0px solid #de2012";
	}
	document.getElementById(name).style.border = "4px solid #de2012";
	gutscheineselected = name;
	document.getElementById('form_picselected').value = name;
}

/*$(document).ready(function () { 
	$('.submitbtn').click(function() {
		var x1 = $('#form_picselected').val();
		if(x1=="0"){
			alert("Sie müssen zuerst ein Beitrag-Beitragsbild auswählen!");
			return false;
		}else{
			return true;
		}
	});
});*/
        </script>
<form action="/profile/gutscheineverwaltung/{{ gutscheineID }}/all" method="post">

{% if picsarray|length > 0 %}
<strong>Bild zum einfügen anklicken!</strong><br />
{% endif %}
<div style="padding: 0;
  margin: 0px;
  white-space: nowrap;
  display: flex;
  background-color: #fff;
  border: solid 0px #799a14;
  max-width: 970px;
  overflow-x: auto;
  padding: 3px;
  align-items: center;">
{% set counterdiv = 0 %}

{% for case in picsarray %}
{% set counterdiv = counterdiv + 1 %}
{% set divid = case|replace({'.': '_'}) %}
&nbsp;<div class="pic" id="{{ divid }}" ><img onclick="textToarea('/upload/uploads/gutscheinepics/{{ case }}');" id="{{ case }}" style="cursor: pointer; width:auto; height:110px;" src="/upload/uploads/gutscheinepics/{{ case }}">&nbsp;</div>
{% endfor %}
</div>
{{ form_widget(form) }}
</form>
<br />
</div>
{% endblock %}