{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% set gutscheinecount = counter %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
.swal-button--confirm {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--confirm:hover {
    color: #fff !Important;
    background-color: #0069d9 !Important;
    border-color: #0062cc !Important;
}
.swal-button--cancel {
color: #fff;
    background-color: red;
    border-color: red;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--cancel:hover {
    color: #fff !Important;
    background-color: black !Important;
    border-color: black !Important;
}
</style>
<script>
function editgutscheine(gutscheineid) {
swal({
  title: "Achtung!",
  text: "Egal ob du etwas an deinem Beitrag änderst oder nicht, wird dieser erneut zur Freischaltung an den Admin gesendet!",
  icon: "warning",
  buttons: ["Abbrechen", "Okay weiter"],
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    document.location.href = "/profile/gutscheine/" + gutscheineid + "/editor";
//alert(1);
  } else {
//alert("profile/gutscheine/" + gutscheineid + "/editor");
  }
});
}
</script>
<div class="contentinnert">
<div class="usereditdiv float-left">
<div class="gutscheinenavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>

<br />
<h5>Meine Beiträge:</h5>
<table>
	<tr>
		<th style="width: 120px;">Beitragkategorie</th>
		<th style="width: 250px;">Beitragtitel</th>
		<th style="width: 120px;text-align:center;">bearbeiten</th>
		<th style="width: 120px;text-align:center;">löschen</th>
		<th style="max-width: 240px;text-align:center;">Status</th>
	</tr>
{% for gutscheine in gutscheinedata %}
<tr>
<td><strong>{{ gutscheine.getGutscheineKategorie() }}</strong></td>
<td>{% if gutscheine.getTitle() == "" %}Noch keinen Titel eingegeben!{% else %}{{ gutscheine.getTitle()|length > 25 ? gutscheine.getTitle()|slice(0, 25) ~ '...' : gutscheine.getTitle()  }}{% endif %}</td>
<td style="text-align:center;">{% if gutscheine.astitle != "Gutscheinestart" and gutscheine.astitle != "Gutscheineinsert" %}{% if gutscheine.astitle != "Gutscheineinsert" %}<a title="Gutscheine bearbeiten?" href="#" onclick="editgutscheine('{{ gutscheine.id }}');"><span class="gutscheineicons icon-large icon-pencil"></span></a>{% endif %}{% elseif gutscheine.astitle != "Gutscheineinsert" %}<a title="Gutscheine bearbeiten?" href="/profile/gutscheine/{{ gutscheine.id }}/editor"><span class="gutscheineicons icon-large icon-pencil"></span></a>{% else %}{% endif %}</td>
<td style="text-align:center;">{% if gutscheine.astitle != "Gutscheineinsert" %}<a title="Gutscheine löschen?" href="/profile/gutscheineverwaltung/{{ gutscheine.id }}/del" onclick='return del_ask();'><span class="gutscheineicons icon-large icon-trash"></span></a>{% endif %}</td>
<td>{% if gutscheine.astitle == "Gutscheinestart" %}In Bearbeitung!{% elseif gutscheine.astitle == "Startinsert" %}Freigeschaltet{% elseif gutscheine.astitle == "Gutscheineinsert" %}Wartet auf Freischaltung!{% endif %}</td>
</tr>{% endfor %}
</table>
<div style="text-align:center;">
{% if count > 1 %}
{% for i in range(0, count|round(0, 'floor')) %}
    <a href="/profile/gutscheineverwaltung/{{ i }}">{{ i }}</a>,
{% endfor %}
{% endif %}
</div>
</div>
<div class="clearfix"></div> 
        <div class="gutscheinemenu">
                    <label class="gutscheinemenulabelpic">Beiträge</label><br />
{% set username = app.user.username %}
<label class="gutscheinemenulabel">{% if ((username is defined) and (username != 'ALL')) %}<a href="/profile/gutscheineverwaltung/all">Alle</a>{% else %}<a href="">Alle</a>{% endif %}</label>
{% set katanz = 0 %}

{% for kats in gutscheinekats %} 
{% set katanz = katanz+1 %}
{% if katanz < 10 %}
{% if gutscheinecounterdata[kats.getGutscheinekatname()] == true %}
{% if (username is defined) %}
<label class="gutscheinemenulabel"><a href="/filter/{{ kats.getGutscheinekatname() }}-{{username}}/all">{{ kats.getGutscheinekatname() }}</a></label>
{% else %}
<label class="gutscheinemenulabel"><a href="/filter/{{ kats.getGutscheinekatname() }}-ALL/all">{{ kats.getGutscheinekatname() }}</a></label>
{% endif %}
{% else %}
<label class="gutscheinemenulabel">{{ kats.getGutscheinekatname() }}</label>
{% endif %}
{% else %}
{% if gutscheinecounterdata[kats.getGutscheinekatname()] == true %}
{% if (username is defined) %}
<label class="gutscheinemenulabel" style="display:none";><a href="/filter/{{ kats.getGutscheinekatname() }}-{{username}}/all">{{ kats.getGutscheinekatname() }}</a></label>
{% else %}
<label class="gutscheinemenulabel" style="display:none";><a href="/filter/{{ kats.getGutscheinekatname() }}-ALL/all">{{ kats.getGutscheinekatname() }}</a></label>
{% endif %}
{% else %}
<label class="gutscheinemenulabel" style="display:none";>{{ kats.getGutscheinekatname() }}</label>
{% endif %}
{% endif %}
{% endfor %}
<label class="gutscheinemenulabel allfilters" onclick="loadNextFilter('all');" style="cursor: pointer;color:#1691ff;">mehr Filter</label><span class="icon"><i class="fa fa-search"></i></span><input type="search" name="fulltext" class="search" placeholder="Volltextsuche..." /><input type="submit" style="display:none"/>

            </div>

{% for gutscheine in gutscheinedata %}
{% if gutscheine.astitle != "Gutscheinestart" %}
{% if gutscheine.getGutscheineviews() == null %}
{% set gutscheineviews = 0 %}
{% else %}
{% set gutscheineviews = gutscheine.getGutscheineviews() %}
{% endif %}
{% set difference = date().diff(date(gutscheine.getStartdate())) %}
{% set leftDays = difference.days %}
<div class="gutscheine float-left" style="margin: 0px 0px 0px 0px;">
    	<a href="/gutscheineview/{{ gutscheine.gutscheinelink() }}">
            <div class="gutscheineautordiv">
            {% if gutscheine.isads == true %}
            <div class="werbungviewsdiv">
                    Werbung
            </div>
            {% endif %}
			    <div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				    <div class="gutscheineviewsdiv" style="right: 0px;top: 0px;">
                        <div class="gutscheineviewsdiv">
                                      {{ gutscheineviews }} <i class="fa fa-eye"></i>
                                </div> 
                {% if gutscheine.getThumbnail() == "" %}
                    <img src="/images/no-image-placeholder-gutscheine.png" class="gutscheineautor" alt="Beitragautor">
                {% else %}
                    <img src="/upload/uploads/gutscheinepics/{{gutscheine.getThumbnail()}}" class="gutscheineautor" alt="Beitragautor">
                {% endif %}
            </div>
        </a>
                                {% if gutscheine.bewerten == true %}
                                <div class="gutscheineratingdiv rating_{{ gutscheine.id }}" id="rateYo_{{ gutscheine.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
</div>



    <div class="gutscheinedata float-right" style="margin-top: 10px; width: 300px; margin-right: 15px;">	
    <div class="gutscheinetitle">
                    {{ gutscheine.getTitle()|length > 22 ? gutscheine.getTitle()|slice(0, 22) ~ '...' : gutscheine.getTitle()  }}
    </div>
    <div class="gutscheineautornamediv">
      <label class="gutscheineautorortlabel">von {{gutscheine.getUsername()}}</label> | <label class="gutscheineautorname">{{ "now"|date("M j.Y") }}</label>
      <label class="gutscheinecontent">{{ gutscheine.getContent()|raw | striptags|length > 250 ? gutscheine.getContent() | striptags|slice(0, 250)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : gutscheine.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <a href="/gutscheineview/{{ gutscheine.gutscheinelink() }}"><label class="gutscheinemore">Weiterlesen<label></a>
	</div>
	</div>
</div>
</div>
{% if gutscheine.rating != '' %}
    {% set gutscheinerating = gutscheine.rating %}
{% else %}
    {% set gutscheinerating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ gutscheine.id }}").rateYo({
 
    rating    : {{ gutscheinerating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% endif %}
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% endblock %}
