{% extends 'templates.html.twig' %}
{#{ render(controller(
    'App\Controller\UserPinviewController::hashToLink'
)) }#}
{% block titleblock %}
{% for gutscheine in gutscheinedata %}
{% set newtitle = gutscheine.getTitle() %}grafiker.de: {{ newtitle }}
{% endfor %}
{% endblock %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>

body
{
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}


blockquote {
  padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #000;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}


/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}
.swal-button--confirm {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--confirm:hover {
    color: #fff !Important;
    background-color: #0069d9 !Important;
    border-color: #0062cc !Important;
}
.swal-button--cancel {
color: #fff;
    background-color: red;
    border-color: red;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--cancel:hover {
    color: #fff !Important;
    background-color: black !Important;
    border-color: black !Important;
}
</style>
<script>
function editgutscheine(gutscheineid) {
swal({
  title: "Achtung!",
  text: "Egal ob du etwas an deinem Pin änderst oder nicht, wird dieser erneut zur Freischaltung an den Admin gesendet!",
  icon: "warning",
  buttons: ["Abbrechen", "Okay weiter"],
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    document.location.href = "/profile/gutscheine/" + gutscheineid + "/editor";
//alert(1);
  } else {
//alert("profile/gutscheine/" + gutscheineid + "/editor");
  }
});
}
</script>


<style>
.gutscheinecontent {
    position: relative;
    margin: 0 auto;
    max-width: 1090px;
}
img.autorgutscheinepic {
    max-width: 90px !important;
}
</style>
<div class="pincontent">

{% for gutscheine in gutscheinedata %}
<style>
.darkbackground {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: 9998;
	display: none;
}
.bugdiv {
    background-color: transparent;
    color: #000;
    width: 100%;
	top: 10%;
	left: 0px;
    text-align: center;
    z-index: 9999;
	position: fixed;
	display: none;
}
</style>
<script>
function showpopup(link){
    $('.darkbackground').show();
	$('.bugdiv').show();
	var neu = '<img style="max-width:800px; height:auto;" src="' + link + '" onclick="closepopup()">';
    document.getElementById('bugdiv').innerHTML = neu;
 }
 function closepopup(){
    $('.darkbackground').hide();
	$('.bugdiv').hide();
 }
</script>
<div class="darkbackground" style="" onclick="closepopup()"></div>
<div class="bugdiv" id="bugdiv" style="" onclick="closepopup()">
</div>
<br /><br />
{% if gutscheine.isads == true %}
        Dieser Beitrag enthält Werbung.
    {% else %}
 <br /> <br />    
{% endif %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and gutscheine.getUsername() == app.user.username %}
<div class="pinnavi float-right"><a title="Pin bearbeiten?" href="#" onclick="editgutscheine('{{ gutscheine.id }}');">bearbeiten</a></div>
<div class="pinnavi float-right"><a title="Pin löschen?" href="/profile/gutscheineverwaltung/{{ gutscheine.id }}/del" onclick='return del_ask();'>löschen</a></div>
{% endif %}
<div class="pinnavi float-right"><a href="javascript:history.back()">Zurück</a></div>
<div class="clearfix"></div> 
<hr />
<h1><label class="autortitle">{{ gutscheine.getTitle() }}</label></h1>
{% set difference = date().diff(date(gutscheine.getStartdate())) %}
{% set leftDays = difference.days %}
    {% if leftDays == 0 %}
        {% set variDays = 'heute' %}
    {% elseif leftDays == 1 %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tag' %}
    {% else %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tagen' %}
    {% endif %}
    {% if gutscheine.getGutscheineviews() == null %}
        {% set gutscheineviews = 0 %}
    {% else %}
        {% set gutscheineviews = gutscheine.getGutscheineviews() %}
    {% endif %}
<style>
.cke_contents_ltr.cke_show_borders {
    margin-top: -20px;
    z-index: 10px;
}
hr {
    margin-top: 2px;
}
</style>
<div class="cke_contents_ltr cke_show_borders">
<label style="margin-left:40px" class="autorbox">von <a href="/member/{{ gutscheine.getUsername() }}"><label style="color: #799a14; cursor: pointer;">{{ gutscheine.getUsername() }}</label></a> {{ variDays }} eingetragen • zuletzt gelesen {{ olddate|date("d.m.Y - H:i", "Europe/Berlin")}} Uhr • Views {{ gutscheineviews }}</label>

<br /><br />
<div style="float:left; max-width:333px;">
<img onclick="showpopup('/upload/uploads/gutscheinepics/{{ gutscheine.thumbnail }}')" style="width:auto; height:333px; cursor: pointer;" src="/upload/uploads/gutscheinepics/{{ gutscheine.thumbnail }}">
</div>
<div style="float:left;max-width: 775px;">
{% set imgcounter = 1 %}
{% for case in picsarray %} 
<div style="float:left;"><img onclick="showpopup('/upload/uploads/gutscheinepics/{{ case }}')" style="width:auto; height:110px; cursor: pointer; margin-bottom: 15px;" src="/upload/uploads/gutscheinepics/{{ case }}"></div>
{% set imgcounter = imgcounter + 1 %}
{% endfor %}
</div>
<div class="clearfix"></div>
<br />
gültig von {{ gutscheine.getStartDateDay() }}.{{ gutscheine.getStartDateMonat() }}.{{ gutscheine.getStartDateYear() }} bis {{ gutscheine.getEndDateDay() }}.{{ gutscheine.getEndDateMonat() }}.{{ gutscheine.getEndDateYear() }}
<br />
<br />
{{ contenttxt | raw  }}<br />

<br /><hr />
</div>
{% if gutscheine.getBewerten() == true and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div style="margin: 0 auto; max-width: 300px; text-align:center;" class="rating" id="rateYo">
        <span style="font-wight:700; color:#00FF00;">Bewertungen werden geladen...</span>
    </div><div style="margin: 0 auto; max-width: 200px; text-align:center;" class="counter" style="margin-left:55px;"></div><br />
 {% endif %}
 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}   
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
function ratingthis(rating) {
$.post( "/gutscheinerating", { ratingdata: rating, username: "{{ app.user.username }}", gutscheineid: "{{ gutscheine.id }}" })
  .done(function( data ) {
    var integer = parseFloat(data).toFixed(2);
    counternew = parseFloat(integer)+parseFloat(rating);
    var ar = data.split(';'); // split string on comma space
    $('.counter').html('rating: '+ar[1]);
    });
}

$(function() {
    randomNumber = Number.random(1,5);
   
$.post( "/gutscheinerating", { gutscheineid: "{{ gutscheine.id }}", username: "{{ app.user.username }}" })
  .done(function( data ) {
      var ar = data.split(';'); // split string on comma space
     $('.counter').html('Bewertung: '+ar[1]);
     randomNumber = ar[1];
$("#rateYo").rateYo({
 
    rating    : randomNumber,
    spacing   : "5px",
    halfStar: true,
    {%if ratingok == true %}readOnly: false,{% else %}readOnly: true,{% endif %}
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    },
    onSet: function (rating, rateYoInstance) {
    $(this).next().text(rating);
    $(this).rateYo("option", "readOnly", true);
      console.log("RateYo initialized! with " + rating);
      ratingthis(rating);
    }
  });
});
});
</script>
 {% endif %}
<br />
 <div style="margin: 0 auto; max-width: 700px; text-align:center;">
{% for prevgutscheinedata in prevgutscheinedata %}
<a href="/gutscheineview/{{ prevgutscheinedata.getGutscheinelink() }}" title="{{ prevgutscheinedata.getTitle() }}"><< voriger Beitrag</a>
{% endfor %}
{% if prevgutscheinedata|length and nextgutscheinedata|length %}
 | 
{% endif %}
{% for nextgutscheinedata in nextgutscheinedata %}
<a href="/gutscheineview/{{ nextgutscheinedata.getGutscheinelink() }}" title="{{ nextgutscheinedata.getTitle() }}">nächster Beitrag >></a>
{% endfor %}
</div>
<br /><br />
{% set countergutscheinetitle = 0 %}
{% for gutscheinedatacount in gutscheinedatacount %}
{% for gutscheinedatacounts in gutscheinedatacount %}
{% if gutscheine.getTitle() != gutscheinedatacounts.getTitle() %}
{% if gutscheinedatacounts|length > 0 %}
{% set countergutscheinetitle = countergutscheinetitle + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% if countergutscheinetitle %}
<h5>Ähnliche Beiträge</h5>
{% endif %}
{% set countergutscheine = 1 %}
{% for gutscheinedatacount in gutscheinedatacount|shuffle %}
{#{ dump(gutscheinedatacount) }#}
{% for gutscheinedatacounts in gutscheinedatacount|shuffle %}
{% if gutscheine.getTitle() != gutscheinedatacounts.getTitle() and gutscheine.getId() != gutscheinedatacounts.getId() %}
{% if countergutscheine <= 3  %}

{% set difference = date().diff(date(gutscheinedatacounts.getStartdate())) %}
{% set leftDays = difference.days %}
    {% if leftDays == 0 %}
        {% set variDays = 'heute' %}
    {% elseif leftDays == 1 %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tag' %}
    {% else %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tagen' %}
    {% endif %}
<div class="gutscheine float-left" style="margin: 0px 0px 0px 0px;">
    	<a href="/gutscheineview/{{ gutscheine.gutscheinelink() }}">
            <div class="gutscheineautordiv">
            {% if gutscheine.isads == true %}
            <div class="werbungviewsdiv">
                    Werbung
            </div>
            {% endif %}
			    <div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				    <div class="gutscheineviewsdiv" style="right: 0px;top: 0px;">
                        <div class="gutscheineviewsdiv">
                                      {{ gutscheineviews }} <i class="fa fa-eye"></i>
                                </div> 
                {% if gutscheine.getThumbnail() == "" %}
                    <img src="/images/no-image-placeholder-gutscheine.png" class="gutscheineautor" alt="Beitragautor">
                {% else %}
                    <img src="/upload/uploads/gutscheinepics/{{gutscheine.getThumbnail()}}" class="gutscheineautor" alt="Beitragautor">
                {% endif %}
            </div>
        </a>
                                {% if gutscheine.bewerten == true %}
                                <div class="gutscheineratingdiv rating_{{ gutscheine.id }}" id="rateYo_{{ gutscheine.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
</div>



    <div class="gutscheinedata float-right" style="margin-top: 10px; width: 300px; margin-right: 15px;">	
    <div class="gutscheinetitle">
                    {{ gutscheine.getTitle()|length > 22 ? gutscheine.getTitle()|slice(0, 22) ~ '...' : gutscheine.getTitle()  }}
    </div>
    <div class="gutscheineautornamediv">
      <label class="gutscheineautorortlabel">von {{gutscheine.getUsername()}}</label> | <label class="gutscheineautorname">{{ "now"|date("M j.Y") }}</label>
      <label class="gutscheinecontent">{{ gutscheine.getContent()|raw | striptags|length > 250 ? gutscheine.getContent() | striptags|slice(0, 250)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : gutscheine.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <a href="/gutscheineview/{{ gutscheine.gutscheinelink() }}"><label class="gutscheinemore">Weiterlesen<label></a>
	</div>
	</div>
</div>
</div>
{% if gutscheinedatacounts.rating != '' %}
    {% set gutscheinerating = gutscheinedatacounts.rating %}
{% else %}
    {% set gutscheinerating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ gutscheinedatacounts.id }}").rateYo({
 
    rating    : {{ gutscheinerating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% set countergutscheine = countergutscheine + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

{% endblock %}
