{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
{% for user in userdata %}{{ user.username }} {{ user.firstName }} {{ user.lastName }}{% endfor %}
</div>
{% endblock %}
