{% extends 'templates.html.twig' %}

{% block title %}grafiker.de: Logindaten ändern{% endblock %}

{% block content %}
<div class="float-left" style="margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 43px;">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>
<br /><br />
    {% if infotext != false %}
    <strong style="color:red;">{{ infotext }}</strong><br /><br />
    {% endif %}
<h5>Passwort zurücksetzen</h5>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">Benutzernamen oder Emailadresse eingeben:</label><br />
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Passwort zurücksetzen" />
    </div>
</form>

<br /><br />
<h5>Mailadresse ändern</h5>
Aktuelle Adresse: {{ app.user.email }}<br /><br />
<form action="/profile/loginedit" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="mail">Neue Mailadresse eingeben:</label><br />
        <input type="text" id="mailadresse" name="mailadresse" required="required" />
    </div>
    <div>
        <label for="username">Neue Mailadresse wiederholen:</label><br />
        <input type="text" id="mailadressewd" name="mailadressewd" required="required" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Mailadresse ändern" />
    </div>
</form>

</div>
{% endblock %}
