{% extends 'templates.html.twig' %}

{% block title %}grafiker.de: Neue Mailadresse!{% endblock %}

{% block content %}
<div class="float-left" style="margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 43px;">
<h5>Ihre Mailadresse wurde erfolgreich geändert!</h5>
<br />
Vielen Dank, Ihre Mailadresse wurde erfolgreich geändert!<br /><br />
Wir wünschen Ihnen weiterhin viel Spaß auf grafiker.de<br /><br />

Viele Grüße,<br />
grafiker.de

</div>
{% endblock %}
