{% extends 'templates.html.twig' %}

{% block content %}
<div class="contentinnert">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>
<br /><br />
{% if aktion == 'del' %}
<strong style="color:#7ea016">Anzeige wurde gelöscht!</strong>
<br /><br />
{% endif %}
<h5>Übersicht Ihrer Ausschreibungen: </h5>
{% for job in jobdata %}
<strong><a href="/jobview/{{ job.getJobLink() }}">{{ job.getAstitle() }}</a></strong> {{ job.getEnddate()|date("d.m.Y", "Europe/Berlin") }} {% if job.getAktiv() == false %} <img style="height: 15px;top:1px;" src="/img/offline.png" title="wartet auf Freischaltung" alt="offlinePic" />{% else %} <img style="height: 15px;top:1px;" src="/img/online.png" title="Aktiv" alt="onlinePic" />{% endif %} <a title="Job löschen?" href="/profile/myjobs/{{ job.getId() }}/del" onclick='return del_ask();'><span class="pinicons icon-large icon-trash"></span></a> | Bewerbungen: {% if checkanzin[job.getId()] != 0 %}<a href="/profile/bewerbung/in/{{ job.getId() }}">{{ checkanzin[job.getId()] }}</a>{% else %}{{ checkanzin[job.getId()] }}{% endif %}<br />
{% endfor %}
</div>
{% endblock %}
