<style>
textarea, #form_content {
    width: 95%;
    margin: 5px;
    color: #000;
    background-color: #fff;
    border: 1px solid #769813;
    height: 100px;
}
.btn-primary {
    margin-left: 5px;
}
.modal-sm {
    max-width: 315px;
}
label {
    margin: 5px;
}
</style>
<form name="thumbnail" action="/member/{{ getusername }}" method="post">
{{ form_widget(form) }}
</form>