{% extends 'templates.html.twig' %}

{% block content %}
<div class="float-left" style="margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 43px;">
    <div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
    <br />
    <br />
<h5>Benachrichtigungseinstellungen</h5>
<br />
<script>
function filterme(value, name) {
  value = parseInt(value, 10); // Convert to an integer
  if (value === 1) {
    $('#RangeFilter' + name).addClass('keine').removeClass('frei');
    $('.span' + name).text('keine');
    $.post( "/notifications", { username: "{{ app.user.username }}", notifications: 1, aktion: name })
  .done(function( data ) {
    if(data != 0) {

    }
    });
    
  } else if (value === 2) {
    $('#RangeFilter' + name).addClass('frei').removeClass('keine');
    $('.span' + name).text('alle');
    $.post( "/notifications", { username: "{{ app.user.username }}", notifications: 2, aktion: name })
  .done(function( data ) {
    if(data != 0) {

    }
    });

  }
}
</script>
{% if app.user.notifications == "" %}
{% set notifications = 2 %}
{% else %}
{% set notifications = app.user.notifications %}
{% endif %}
<div style="max-width: 500px; ">
<strong style="font-weight:700;">Neue Jobangebote auf grafiker.de erhalten? (interner Messenger)</strong><br /><br />
  <input style="margin-left: 40px;" type="range" id="RangeFilternotifications" name="points" onchange="filterme(this.value, 'notifications');" min="1" max="2" {%if notifications == false or notifications == 1 %}class="keine" value="1"{% endif %}{%if notifications == 2 %}class="frei" value="2"{% endif %}>
&nbsp;&nbsp;<span class="spannotifications" style="font-weight:700;">{%if notifications == false or notifications == 1 %}keine{% endif %}{%if notifications == 2 %}alle{% endif %}</span><br /><br />
</div>


{% if app.user.notificationsMail == "" %}
{% set notificationsMail = 2 %}
{% else %}
{% set notificationsMail = app.user.notificationsMail %}
{% endif %}
<div style="max-width: 500px; ">
<strong style="font-weight:700;">Neue Jobangebote per Email erhalten?</strong><br /><br />
  <input style="margin-left: 40px;" type="range" id="RangeFilternotificationsMail" name="points" onchange="filterme(this.value, 'notificationsMail');" min="1" max="2" {%if notificationsMail == false or notificationsMail == 1 %}class="keine" value="1"{% endif %}{%if notificationsMail == 2 %}class="frei" value="2"{% endif %}>
&nbsp;&nbsp;<span class="spannotificationsMail" style="font-weight:700;">{%if notificationsMail == false or notificationsMail == 1 %}keine{% endif %}{%if notificationsMail == 2 %}alle{% endif %}</span><br /><br />
</div>

<hr />
<br />
{% if app.user.newsletter == "" %}
{% set newsletter = 2 %}
{% else %}
{% set newsletter = app.user.newsletter %}
{% endif %}
<div style="max-width: 700px; ">
<strong style="font-weight:700;">Newsletter / Montagsmailer auf grafiker.de erhalten? (interner Messenger)</strong><br /><br />
  <img style="margin-left: -7px;" src="/images/newsletter.png" /><br /><br />
</div>


{% if app.user.newsletterMail == "" %}
{% set newsletterMail = 2 %}
{% else %}
{% set newsletterMail = app.user.newsletterMail %}
{% endif %}
<div style="max-width: 500px; ">
<strong style="font-weight:700;">Newsletter / Montagsmailer per Email erhalten?</strong><br /><br />
  <input style="margin-left: 40px;" type="range" id="RangeFilternewsletterMail" name="points" onchange="filterme(this.value, 'newsletterMail');" min="1" max="2" {%if newsletterMail == false or newsletterMail == 1 %}class="keine" value="1"{% endif %}{%if newsletterMail == 2 %}class="frei" value="2"{% endif %}>
&nbsp;&nbsp;<span class="spannewsletterMail" style="font-weight:700;">{%if newsletterMail == false or newsletterMail == 1 %}keine{% endif %}{%if newsletterMail == 2 %}alle{% endif %}</span><br /><br />
</div>

<hr />
<br />
<div style="max-width: 700px; ">
<strong style="font-weight:700;">Systemmeldungen auf grafiker.de erhalten? (interner Messenger)</strong><br /><br />
  <img style="margin-left: -7px;" src="/images/newsletter.png" /><br /><br />
</div>
<div style="max-width: 700px; ">
<strong style="font-weight:700;">Systemmeldungen per Email erhalten?</strong><br /><br />
  <img style="margin-left: -7px;" src="/images/newsletter.png" /><br /><br />

z.B. Mitteilungen zum Freigabestatus Ihrer Showcases oder Jobangebote
</div>
</div>
{% endblock %}