{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="contentinnert">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>
<br /><br />
Bitte wählen Sie wie Sie Ihren neuen Pin anlegen möchten!
{% if is_granted('ROLE_PLATIN') or is_granted('ROLE_ADMIN') %}
<br /><br />
&#09;<a href="/profile/article/start">Neuen Beitrag anlegen</a>
{% endif %}
<br />
&#09;<a href="/profile/pins/start">Neuen Showcase anlegen</a>
<br />
&#09;Neuen Beitrag aus RSS Feed bzw. Wordpress RSS Feed importieren. (noch nicht verfügbar)
</div>
{% else %}
<script type="text/javascript">
<!--
document.location.href = "/register";
//–>
</script>
{% endif %}
{% endblock %}