{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<style>
.file-input, #kv-success-1, #kv-success-2, #kv-error-1, #kv-error-2 {
    max-width: 100% !important;
}
.file-preview-image {
	max-width: 90% !important;
}
.file-caption-main {
    max-width: 98% !important;
}
.file-preview-frame {
    width: 218px !important;
    text-align: center;
}
.kv-upload-progress .progress-bar {
    height: 20px;
    font-family: Verdana,Helvetica,sans-serif;
    visibility: hidden;
}
.file-drop-zone {
    height: auto !important;
}
.file-preview {
    height: auto !important;
}
</style>
<div class="contentinnert" id="contentdiver">
<script>
function textToarea(link) {
	var link = link;

if ($('.cke_editable').length > 0) { 
	
	    //Get the text
    var text = $("#post-inner-content").text()

    //Create a text area selector (container, rather)
    var textarea = $("#cke_1_contents");
	    //Give the textarea a value
    $(".cke_editable").val($(".cke_editable").val() + '<p><img style="max-width:900px; height:auto;" src="' + link + '" /></p>\n');

    //Show it
    textarea.show();
 } else {
		var myFrame = $(".cke_wysiwyg_frame").contents().find('body');
		
        myFrame.html(myFrame.html() + '<img style="max-width:900px; height:auto;" src="' + link + '" />');

 }

}
</script>
<strong><a href="#" onclick="formsave();">1. Bildupload</a> | 2. Showcase Inhalte eintragen  |  3. Showcase-Bild zuschneiden und Showcase einstellen</strong>
{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
<div class="clearfix"></div>
{% if pinergebnis %}
<script>
pinselected = 0;
function changeIt(img)
{
    var name = img.id;
	if(pinselected) {
	document.getElementById(pinselected).style.border = "0px solid #de2012";
	}
	document.getElementById(name).style.border = "4px solid #de2012";
	pinselected = name;
	document.getElementById('form_picselected').value = name;
}
/*$(document).ready(function () { 
	$('.btn-primary').click(function() {
		var x1 = $('#form_picselected').val();
		if(x1=="0"){
			alert("Sie müssen zuerst ein Showcase-Beitragsbild auswählen!");
			return false;
		}else{
			return true;
		}
	});
});*/ 
</script>
Es wurde bereits ein Showcase begonnen, möchtest Du den Showcase <a style="color:red" href="/profile/pins/reset"><strong>neu beginnen?</strong></a><br />
<!--<h3>Bitte ein Pin-Beitragsbild auswählen:</h3>-->


{% else %}
<br />
<link rel="stylesheet" href="/upload/assets/css/styles.css" />
<div id="hilfsblock" class="float-left" style="display: none;">
	<!--<h3>Bitte ein Pin-Beitragsbild auswählen:</h3>-->
</div>
{#% if is_mobile() == false %}
<div id="showcasedropbox">
			<span class="message">Zum Upload - max. 5 Bilder mit einmal hier reinziehen.<br />(or click to select files)<br /></span>
		</div>
{% endif %#}
<link href="/externes/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you 
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="/externes/piexif.min.js" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="/externes/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
    HTML files. This must be loaded before fileinput.min.js -->
<script src="/externes/purify.min.js" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script src="/externes/fileinput.min.js"></script>
<!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
<script src="/externes/theme.js"></script>

<input id="input-b1" name="pic" type="file" class="file" data-browse-on-zone-click="true" data-show-preview="true" input-name="pic" multiple="true" input-name="pic">
<div id="kv-error-2" style="margin-top:10px;display:none"></div>
<div id="kv-success-2" class="alert alert-success" style="margin-top:10px;display:none"></div>
<script>
$("#input-b1").fileinput({
        uploadUrl: "/post_file/pinpics",
		deleteUrl: '/deluserpic/pinpics/{{ app.user.username }}/pinpics',
        uploadAsync: true,
        showPreview: true,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileCount: 15,
        elErrorContainer: '#kv-error-2'
    }).on('filebatchpreupload', function(event, data, id, index) {
        $('#kv-success-2').html('<h4>Upload Status</h4><ul></ul>').hide();
    }).on('filebatchuploadsuccess', function(event, data) {
        var out = '';
        $.each(data.files, function(key, file) {
			console.info(data.files);
            var fname = file.name;
            out = out + '<li>' + 'Ihr Bild # ' + (key + 1) + ' - '  +  fname + ' wurde erfolgreich hochgeladen.' + '</li>';
        });
        //$('#kv-success-2 ul').append(out);
        //$('#kv-success-2').fadeIn('slow');
    });
</script>

<div class="clearfix"></div>       

        <!-- Including The jQuery Library -->
		<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
		
		<!-- Including the HTML5 Uploader plugin -->
		<script src="/upload/assets/js/jquery.filedrop.js"></script>
		
		<!-- The main script file -->
        <script>
		pinselected=0;
            $(function(){
	
	var showcasedropbox = $('#showcasedropbox'),
		message = $('.message', showcasedropbox);
	zahl = 0;
	showcasedropbox.filedrop({
		// The name of the $_FILES entry:
		paramname:'pic',
		
		maxfiles: 5,
    	maxfilesize: 3,
		url: '/post_file/pinpics',
		uploadFinished:function(i,file,response){
			
			$.data(file).addClass('done');
			// response is the JSON object that post_file.php returns
			document.getElementById(i).id = response["status"];
			if(i == 0) {
	var name = response["status"];
if(!pinselected) {
	document.getElementById(name).style.border = "4px solid #de2012";
	pinselected = name;
	document.getElementById('form_picselected').value = name;
}
			}
			zahl++;
			$('#hilfsblock').show();
		},
		
    	error: function(err, file) {
			switch(err) {
				case 'BrowserNotSupported':
					showMessage('Your browser does not support HTML5 file uploads!');
					break;
				case 'TooManyFiles':
					alert('Too many files! Please select 5 at most! (configurable)');
					break;
				case 'FileTooLarge':
					alert(file.name+' is too large! Please upload files up to 2mb (configurable).');
					break;
				default:
					break;
			}
		},
		
		// Called before each upload is started
		beforeEach: function(file){
			if(!file.type.match(/^image\//)){
				alert('Only images are allowed!');
				
				// Returning false will cause the
				// file to be rejected
				return false;
			}
		},
		
		uploadStarted:function(i, file, len){
			createImage(i, file);
		},
		
		progressUpdated: function(i, file, progress) {
			$.data(file).find('.progress').width(progress);
		}
    	 
	});
	
	var template = '<div class="preview">'+
						'<span class="imageHolder">'+
							'<img style="cursor: pointer;" onclick="changeIt(this)" />'+
						'</span>'+
						'<div class="progressHolder">'+
							'<div class="progress"></div><br />'+
						'</div>'+
					'</div>'; 
	
	
	function createImage(i, file){
	
		var preview = $(template), 
			image = $('img', preview);
			
		var reader = new FileReader();
		
		image.width = 100;
		image.height = 100;
		
		reader.onload = function(e){
			
			// e.target.result holds the DataURL which
			// can be used as a source of the image:
			
			image.attr('src',e.target.result);
			image.attr('id',i);
		};
		
		// Reading the file as a DataURL. When finished,
		// this will trigger the onload function above:
		reader.readAsDataURL(file);
		
		message.hide();
		preview.appendTo(showcasedropbox);
		
		// Associating a preview container
		// with the file, using jQuery's $.data():
		
		$.data(file,preview);
	}

	function showMessage(msg){
		message.html(msg);
	}

});
function changeIt(img)
{
    var name = img.id;
	if(pinselected) {
	document.getElementById(pinselected).style.border = "0px solid #de2012";
	}
	document.getElementById(name).style.border = "4px solid #de2012";
	pinselected = name;
	document.getElementById('form_picselected').value = name;
}

/*$(document).ready(function () { 
	$('.submitbtn').click(function() {
		var x1 = $('#form_picselected').val();
		if(x1=="0"){
			alert("Sie müssen zuerst ein Pin-Beitragsbild auswählen!");
			return false;
		}else{
			return true;
		}
	});
});*/
        </script>
{% endif %}
<br />
<form action="/profile/pins/neu" method="post" name="Testform">
{{ form_start(form) }}

{{ form_row(form.picselected) }}
{{ form_row(form.x1) }}
{{ form_row(form.y1) }}
{{ form_row(form.x2) }}
{{ form_row(form.y2) }}
{{ form_row(form.w) }}
{{ form_row(form.h) }}
{{ form_row(form.startdate) }}
{{ form_row(form.titel) }}
{{ form_row(form.pinkategorie) }}

{% if picsarray|length > 0 %}
<strong>Bild zum einfügen anklicken!</strong><br />
{% endif %}
<div style="padding: 0;
  margin: 0px;
  white-space: nowrap;
  display: flex;
  background-color: #fff;
  border: solid 0px #799a14;
  max-width: 970px;
  overflow-x: auto;
  padding: 3px;
  align-items: center;">
{% set counterdiv = 0 %}

{% for case in picsarray %}
{% set counterdiv = counterdiv + 1 %}

&nbsp;<div class="pic" id="{{ counterdiv }}" ><img onclick="textToarea('/upload/uploads/pinpics/{{ case }}');" id="{{ case }}" style="cursor: pointer; width:auto; height:110px;" src="/upload/uploads/pinpics/{{ case }}">&nbsp;</div>
{% endfor %}
</div>
<script>
function formsave() {
	var formtitle = document.querySelector("#form_titel").value;
	var formkategorie = document.querySelector("#form_pinkategorie").value;

//alert(formtitle);
//alert(formkategorie);
if ($('.cke_editable').length > 0) { 
	var textareacontent = document.querySelector(".cke_source").value;
//alert(textareacontent);	
} else {
var myFrame = $(".cke_wysiwyg_frame").contents().find('body');
var textareacontent = myFrame.html();
//alert(textareacontent);
}

$.post("/savepindata", { formtitle: "" + formtitle + "", formkategorie:"" + formkategorie + "", textareacontent:"" + textareacontent +"" })
.done(function( data ) {
    if(data != "") {
		//alert( "Data Loaded: " + data );
		document.location.href = "/profile/pins/{{ pinid }}/editor";
	}
  });

}
function AbGehts () {
      document.Testform.submit();
    }
</script>
{{ form_row(form.content) }}
<span class="float-right" style="margin-right:15px;"><a href="/richtlinien" target="popup-beispiel" onClick="javascript:open('', 'popup-beispiel', 'height=600,width=400,resizable=no')">Bitte beachte unsere Richtlinien!</a><br />
</span><br>
<input class="btn btn-primary submitbtn float-right" type="submit" value="Nächster Schritt..." />
</form><br /><br /><br />

{% else %}
<div class="usereditdiv float-left">
BAUSTELLE...
{% endif %}
</div></div>
{% endblock %}
