{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<strong><a href="/profile/pins/start">1. Bildupload</a> | <a href="/profile/pins/poststart">2. Showcase Inhalte eintragen</a>  |  2. Showcase-Bild zuschneiden und Showcase eintragen</strong><br /><br />
{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
<div class="contentinnert">
<div class="clearfix"></div>
{% if pinergebnis %}

		<!--<h2 style="font-weight: bold;">Showcase-Beitragsbild erstellen</h2>-->

  <link rel="stylesheet" href="/crop/css/cropper.css">

<style>

body
{
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}


blockquote {
  padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #000;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}


/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}

    .piccontainer {
      float:left;
	  text-align: center;
    }
	    .progress {
      display: none;
      margin-bottom: 1rem;
	  max-width: 187px;
	 margin-bottom: -8px; 
    }

	    .alert {
      display: none;
    }

    .img-container img {
      max-width: 100%;
    }
.alert {
	width: 187px;
	margin-bottom: -15px;
}
	#picbox {
		text-align: center;
	}
.btn-primary {
    margin-top: 0px;
}
.btn-file {
	border-top-left-radius:  .25rem !Important;
    border-bottom-left-radius:  .25rem !Important;
}
::-webkit-file-upload-button {
  background: #799a14;
  color: #fff;
  user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input#input {
	padding-left: 0px;
    border: 0px solid #769813;
}
::-webkit-file-upload-button:hover {
  background: #007bff;
  color: #fff;
  user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.pininsert {
	margin-top: 15px;
}

.btnblank {
	color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
}
.btnblank:hover {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
}
</style>
  <div class="piccontainer">
<!--<h5>Showcase Beitragsbild hochladen</h5>-->

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Bild beschneiden...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <img id="image" src="/images/no-image-placeholder.png">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="crop">Bild zuschneiden & hochladen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/crop/js/cropper.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      var avatar = document.getElementById('avatar');
      var views = document.getElementsByClassName('views');
      var image = document.getElementById('image');
      var input = document.getElementById('input');
      var $progress = $('.progress');
      var $progressBar = $('.progress-bar');
      var $alert = $('.alert');
      var $modal = $('#modal');
      var cropper;
	  
      //$('[data-toggle="tooltip"]').tooltip();

      input.addEventListener('change', function (e) {
        var files = e.target.files;
        var done = function (url) {
          input.value = '';
          image.src = url;
          $alert.hide();
          $modal.modal('show');
        };
        var reader;
        var file;
        var url;

        if (files && files.length > 0) {
          file = files[0];

          if (URL) {
            done(URL.createObjectURL(file));
          } else if (FileReader) {
            reader = new FileReader();
            reader.onload = function (e) {
              done(reader.result);
            };
            reader.readAsDataURL(file);
          }
        }
      });

      $modal.on('shown.bs.modal', function () {
        cropper = new Cropper(image, {
		aspectRatio: 180/180,
          viewMode: 0,
        });
      }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
      });

      document.getElementById('crop').addEventListener('click', function () {
        var initialAvatarURL;
        var canvas;

        $modal.modal('hide');

        if (cropper) {
          canvas = cropper.getCroppedCanvas({
            width: 180,
            height: 180,
          });
          initialAvatarURL = avatar.src;
          avatar.src = canvas.toDataURL();
		  $('.views').attr("src",canvas.toDataURL());
          $progress.show();
          $alert.removeClass('alert-success alert-warning');
          canvas.toBlob(function (blob) {
            var formData = new FormData();

            formData.append('pic', blob, 'avatar.jpg');
            $.ajax('/post_file/pincrop', {
              method: 'POST',
              data: formData,
              processData: false,
              contentType: false,

              xhr: function () {
                var xhr = new XMLHttpRequest();

                xhr.upload.onprogress = function (e) {
                  var percent = '0';
                  var percentage = '0%';

                  if (e.lengthComputable) {
                    percent = Math.round((e.loaded / e.total) * 100);
                    percentage = percent + '%';
                    $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                  }
                };

                return xhr;
              },

              success: function () {
                $alert.show().addClass('alert-success').text('Upload erfolgreich!');
              },

              error: function () {
                avatar.src = initialAvatarURL;
                $alert.show().addClass('alert-warning').text('Uploadfehler!');
              },

              complete: function () {
                $progress.hide();
              },
            });
          });
        }
      });
    });
  </script>


<div class="pin float-left" style="margin: 0px 0px 0px 0px;">
			<div style="border:0px #e5e5e5 solid; float:right; position:relative; overflow:hidden; width:180px; height:205px;">
				<div class="pinviewsdiv" style="z-index: 0;right: 0px;top: 0px;">
<div class="viewsdiv">
                                      0 <i class="fa fa-eye"></i>
                                </div> 
	<img src="/images/no-image-placeholder.png" class="views" alt="Views">
                                </div>
                                <div class="pinratingdiv" style="z-index: 0;">
                                        <img src="/grafiker/images/rating.png" class="rating" alt="Rating">
                                </div>
			</div>



			<div class="pindata float-right" style="width: 185px;">	
			<div class="float-right pintitle">
                          {{ pinTitel|length > 50 ? pinTitel|slice(0, 50) ~ '...' : pinTitel  }}
            </div>
			<div class="pinautoredit float-left">
	{% if file_exists %}
		<img src="{{piclink}}" class="rounded-circle autorpinpic" alt="Autor Pin Pic">
	{% else %}
	<img src="/images/no_boy.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic">
	{% endif %}
			</div>
			<div class="pinautornamediv float-right">
                            <label class="autornamelabel">vor 0d</label>
                            <label class="autorortlabel">von {{app.user.username}}</label>
						</div>
			</div>
</div>
<div style="clear: both"></div>	
   <label class="label" data-toggle="tooltip" title="Pin Beitragsbild auswählen...">
      <img style="display:none;width:181px;height:auto;" class="rounded" id="avatar" src="/images/no-image-placeholder.png" alt="avatar"><br /><br />
	  <label for="input" style="width: 230px" class="btn btnblank">Bild für Showcase hochladen</label>
      <input style="visibility:hidden;" data-buttonText="Pin Beitragsbild auswählen..." type="file" class="btnblank" id="input" name="pic" accept="image/*"><br />
    </label>
    </label>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <div class="alert" role="alert"></div>

{% set preismwst = '' %}
{% if pinroles == "Admin" and is_granted('ROLE_ADMIN') %}
			{# Admin #}
{% elseif pinroles == "Free" and is_granted('ROLE_USER') %}
			{# Free #}
{% elseif (pinroles == "Profi" and is_granted('ROLE_PROFI')) or (pinroles == "Profi" and is_granted('ROLE_ADMIN')) %}
			{# Profi #}
{% elseif (pinroles == "Platin" and is_granted('ROLE_PLATIN')) or (pinroles == "Platin" and is_granted('ROLE_ADMIN')) %}
			{# Platin #}
{% else %}
{# Pin Preise werden global in der twig.yaml gesetzt!!! #}
{% if pinroles == "Profi" %}
{% set pineinzelpreis = pineinzelpreisprofil %}
{% set pinpreis = pinpreisprofi %}
{% set preismwst = '* alle Preise inkl. MwSt!' %}
{% elseif pinroles == "Platin" %}
{% set pineinzelpreis = pineinzelpreisplatin %}
{% set pinpreis = pinpreisplatin %}
{% set preismwst = '* alle Preise inkl. MwSt!' %}
{% endif %}
<h6><strong>Für diese Kategorie benötigen Sie einen {{ pinroles }}-Account!</strong></h6>
Buchen Sie jetzt einmalig diesen Pin für {{ pineinzelpreis }} Euro, oder holen Sie sich einen {{ pinroles }}-Account für nur {{ pinpreis }} Euro pro Monat!
<br /><br />
Sie können aber auch hier noch die Kategorie ändern und den Pin kostenlos eintragen:
{% endif %}
			</div>
			<div id="pinbox" class="pinbox float-left">
				<!--<div class="autorbox" style="width: 230px;">
					<label class="autorname">{{ app.user.firstName }} {{ app.user.lastName }} • 0 min ago • ≥ 0 min Read</label>
					<h6><label class="autortitle">{{ pinTitel|length > 50 ? pinTitel|slice(0, 50) ~ '...' : pinTitel  }}</label></h6>
					<label class="autorpin">{{ pinContent | striptags|length > 250 ? pinContent | striptags|slice(0, 250) ~ '...' : pinContent | striptags }}</label>
					<div class"pinfooter="" float-left"=""><a href="./" class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></span></a><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'http://localhost/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
				</div>-->
			</div>
			<div style="clear: both"></div>	
			</div>		
			<!--<div id="pinvorschau" style="position: relative; font-size: 32px; font-weight: bold; margin-top:-350px; float:left; transform: rotate(90deg); left:{{ current_large_image_width+160 }}px;">
				Pinvorschau
			</div>-->
{#}<div style="clear: both"></div>	
<form name="thumbnail" action="/profile/pins/last" method="post">
{{ form_widget(form) }}
</form>{#}

{{ preismwst }}
<br /><br />
<div style="font-size: 32px; font-weight: bold; width:98%; text-align: center;">
Beitragsvorschau:
</div>
<div style="padding: 0;
  margin: 0px;
  white-space: nowrap;
  display: flex;
  background-color: #fff;
  max-width: 970px;
  overflow-x: auto;
  padding: 12px;
  align-items: center;">

{% for case in picsarray %} 
<img onclick="showpopup('/upload/uploads/pinpics/{{ case }}')" style="width:auto; height:110px; cursor: pointer;" src="/upload/uploads/pinpics/{{ case }}">&nbsp;
{% endfor %}
</div>

<style>
.darkbackground {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: 9998;
	display: none;
}
.bugdiv {
    background-color: transparent;
    color: #000;
    width: 100%;
	top: 10%;
	left: 0px;
    text-align: center;
    z-index: 9999;
	position: fixed;
	display: none;
}
</style>
<script>
function showpopup(link){
    $('.darkbackground').show();
	$('.bugdiv').show();
	var neu = '<img style="max-width:800px; height:auto;" src="' + link + '" onclick="closepopup()">';
    document.getElementById('bugdiv').innerHTML = neu;
 }
 function closepopup(){
    $('.darkbackground').hide();
	$('.bugdiv').hide();
 }
</script>
<div class="darkbackground" style="" onclick="closepopup()"></div>
<div class="bugdiv" id="bugdiv" style="" onclick="closepopup()">
</div>
<br /><br />

<div class="pinautorminidiv float-left">

                                 <img style="z-index:99;height: 6px;position:absolute;margin-left:1px; margin-top:1px;" src="/img/online.png" title="Online" alt="onlinePic" />
 
                            {% if file_exists %}
                                <img src="{{piclink}}" class="rounded-circle autorpinpic" alt="Autor Pin Pic">
                            {% else %}
                                <img src="/images/no_boy.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic">
                            {% endif %}
                        </div><br />
                        <div class="cke_contents_ltr cke_show_borders">
&nbsp;&nbsp;<label class="autorbox">Autor: {{ app.user.firstName }} {{ app.user.lastName }} • 0 min ago • ≥ 0 min Read</label>
<h1><label class="autortitle">{{ pinTitel }}</label></h1><br />
{{ pinKategorie }}<br />
{{ pinContent | raw }}<br /><br />

<form name="thumbnail" action="/profile/pins/last" method="post">
{{ form_widget(form) }}
</form><br /><br/><br /><br/>
</div>	
<div style="clear: both"></div>	
{% else %}

<link rel="stylesheet" href="/upload/assets/css/styles.css" />
<div id="showcasedropbox">
			<span class="message">max. 5 Bilder zum Upload hier reinziehen. <br /></span>
		</div>      

{% endif %}

{% else %}
<div class="contentinnert">
BAUSTELLE...
{% endif %}
</div>
{% endblock %}
