{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% set pincount = counter %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
.swal-button--confirm {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--confirm:hover {
    color: #fff !Important;
    background-color: #0069d9 !Important;
    border-color: #0062cc !Important;
}
.swal-button--cancel {
color: #fff;
    background-color: red;
    border-color: red;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--cancel:hover {
    color: #fff !Important;
    background-color: black !Important;
    border-color: black !Important;
}
</style>
<script>
function editpin(pinid) {
swal({
  title: "Achtung!",
  text: "Egal ob du etwas an deinem Pin änderst oder nicht, wird dieser erneut zur Freischaltung an den Admin gesendet!",
  icon: "warning",
  buttons: ["Abbrechen", "Okay weiter"],
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    document.location.href = "/profile/pins/" + pinid + "/editor";
//alert(1);
  } else {
//alert("profile/pins/" + pinid + "/editor");
  }
});
}
</script>
<div class="contentinnert">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>

<br />
<h5>Meine Pins:</h5>
<table>
	<tr>
		<th style="width: 120px;">Pinkategorie</th>
		<th style="width: 250px;">Pintitel</th>
		<th style="width: 120px;text-align:center;">bearbeiten</th>
		<th style="width: 120px;text-align:center;">löschen</th>
		<th style="max-width: 240px;text-align:center;">Status</th>
	</tr>
{% for pin in pindata %}
<tr>
<td><strong>{{ pin.getPinKategorie() }}</strong></td>
<td>{% if pin.getTitle() == "" %}Noch keinen Titel eingegeben!{% else %}{{ pin.getTitle()|length > 25 ? pin.getTitle()|slice(0, 25) ~ '...' : pin.getTitle()  }}{% endif %}</td>
<td style="text-align:center;">{% if pin.astitle != "Pinstart" and pin.astitle != "Pininsert" %}{% if pin.astitle != "Pininsert" %}<a title="Pin bearbeiten?" href="#" onclick="editpin('{{ pin.id }}');"><span class="pinicons icon-large icon-pencil"></span></a>{% endif %}{% elseif pin.astitle != "Pininsert" %}<a title="Pin bearbeiten?" href="/profile/pins/{{ pin.id }}/editor"><span class="pinicons icon-large icon-pencil"></span></a>{% else %}{% endif %}</td>
<td style="text-align:center;">{% if pin.astitle != "Pininsert" %}<a title="Pin löschen?" href="/profile/pinverwaltung/{{ pin.id }}/del" onclick='return del_ask();'><span class="pinicons icon-large icon-trash"></span></a>{% endif %}</td>
<td>{% if pin.astitle == "Pinstart" %}In Bearbeitung!{% elseif pin.astitle == "Startinsert" %}Freigeschaltet{% elseif pin.astitle == "Pininsert" %}Wartet auf Freischaltung!{% endif %}</td>
</tr>{% endfor %}
</table>
<div style="text-align:center;">
{% if count > 1 %}
{% for i in range(0, count|round(0, 'floor')) %}
    <a href="/profile/pinverwaltung/{{ i }}">{{ i }}</a>,
{% endfor %}
{% endif %}
</div>
</div>
<div class="clearfix"></div> 
        <div class="pinsmenu">
                    <label class="pinsmenulabelpic">Pins</label><br />
{% set username = app.user.username %}
<label class="pinsmenulabel">{% if ((username is defined) and (username != 'ALL')) %}<a href="/profile/pinverwaltung/all">Alle</a>{% else %}<a href="">Alle</a>{% endif %}</label>
{% set katanz = 0 %}

{% for kats in pinkats %} 
{% set katanz = katanz+1 %}
{% if katanz < 10 %}
{% if pincounterdata[kats.getPinkatname()] == true %}
{% if (username is defined) %}
<label class="pinsmenulabel"><a href="/filter/{{ kats.getPinkatname() }}-{{username}}/all">{{ kats.getPinkatname() }}</a></label>
{% else %}
<label class="pinsmenulabel"><a href="/filter/{{ kats.getPinkatname() }}-ALL/all">{{ kats.getPinkatname() }}</a></label>
{% endif %}
{% else %}
<label class="pinsmenulabel">{{ kats.getPinkatname() }}</label>
{% endif %}
{% else %}
{% if pincounterdata[kats.getPinkatname()] == true %}
{% if (username is defined) %}
<label class="pinsmenulabel" style="display:none";><a href="/filter/{{ kats.getPinkatname() }}-{{username}}/all">{{ kats.getPinkatname() }}</a></label>
{% else %}
<label class="pinsmenulabel" style="display:none";><a href="/filter/{{ kats.getPinkatname() }}-ALL/all">{{ kats.getPinkatname() }}</a></label>
{% endif %}
{% else %}
<label class="pinsmenulabel" style="display:none";>{{ kats.getPinkatname() }}</label>
{% endif %}
{% endif %}
{% endfor %}
<label class="pinsmenulabel allfilters" onclick="loadNextFilter('all');" style="cursor: pointer;color:#1691ff;">mehr Filter</label><span class="icon"><i class="fa fa-search"></i></span><input type="search" name="fulltext" class="search" placeholder="Volltextsuche..." /><input type="submit" style="display:none"/>

            </div>
{% endblock %}
{% block newfooternopins %}
{% for pin in pindata %}
{% if pin.astitle != "Pinstart" %}
{% if pin.getPinviews() == null %}
{% set pinviews = 0 %}
{% else %}
{% set pinviews = pin.getPinviews() %}
{% endif %}
{% set difference = date().diff(date(pin.getStartdate())) %}
{% set leftDays = difference.days %}
<div class="pin float-left">
                        <a href="/pinview/{{ pin.pinlink() }}"><div class="pinautordiv">
                                <div class="viewsdiv">
                                        {{ pinviews }}  <i class="fa fa-eye"></i>
                                </div>
                                {% if pin.bewerten == true %}
                                <div class="ratingdiv rating_{{ pin.id }}" id="rateYo_{{ pin.id }}">
                                        
                                </div>
                                {% endif %}
                                {% if pin.getThumbnail() == "" %}
                                <img src="/images/no-image-placeholder.png" class="pinautor" alt="Pinautor">
                                {% else %}
                                <img src="/upload/uploads/pinpics/{{pin.getThumbnail()}}" class="pinautor" alt="Pinautor">
                                {% endif %}
                        </div></a>
                        <div class="pintitle">
                          <a href="/pinview/{{ pin.pinlink() }}">{{ pin.getTitle()|length > 50 ? pin.getTitle()|slice(0, 50) ~ '...' : pin.getTitle()  }}</a>
                        </div>
                        <div class="pinautorminidiv float-left">
{% set newTime = pinlastLogin[pin.getUsername()]|date('U', "Europe/Berlin") + 40 %}
{% if newTime > date()|date('U', "Europe/Berlin") %}
{% if useremploy[pin.getUsername()] == false %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:1px; margin-top:1px;" src="/img/online.png" title="Online" alt="onlinePic" />
{% else %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:1px; margin-top:1px;" src="/img/employed.png" title="Beschäftigt" alt="employedPic" />
{% endif %}
{% else %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:1px; margin-top:1px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
{% endif %}
                            {% if file_exists and file_exists != 'del' %}
                                <img src="/upload/uploads/userpics/{{ file_exists }}" class="autorpinpic" alt="Autor Pin Pic">
                            {% else %}
                                <img src="/images/no_boy.jpg" class="autorpinpic" alt="Autor Pin Pic">
                            {% endif %}
                        </div>
                        <div class="pinautornamediv float-left">
                            <label class="autornamelabel">vor {{ leftDays }}d</label>
                            <label class="autorortlabel">von {{app.user.username}}</label>
                        </div>
                  </div>
{% if pin.rating != '' %}
    {% set pinrating = pin.rating %}
{% else %}
    {% set pinrating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ pin.id }}").rateYo({
 
    rating    : {{ pinrating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% endif %}
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% endblock %}
