{% extends 'templates.html.twig' %}
{#{ render(controller(
    'App\Controller\UserPinviewController::hashToLink'
)) }#}
{% block titleblock %}
{% for pin in pindata %}
{% set newtitle = pin.getTitle() %}grafiker.de: {{ newtitle }}
{% endfor %}
{% endblock %}
{% block content %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>

body
{
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}


blockquote {
  padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #000;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}


/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}
.swal-button--confirm {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--confirm:hover {
    color: #fff !Important;
    background-color: #0069d9 !Important;
    border-color: #0062cc !Important;
}
.swal-button--cancel {
color: #fff;
    background-color: red;
    border-color: red;
        display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.swal-button--cancel:hover {
    color: #fff !Important;
    background-color: black !Important;
    border-color: black !Important;
}
</style>
<script>
function editpin(pinid) {
swal({
  title: "Achtung!",
  text: "Egal ob du etwas an deinem Pin änderst oder nicht, wird dieser erneut zur Freischaltung an den Admin gesendet!",
  icon: "warning",
  buttons: ["Abbrechen", "Okay weiter"],
  dangerMode: true,
})
.then((willDelete) => {
  if (willDelete) {
    document.location.href = "/profile/pins/" + pinid + "/editor";
//alert(1);
  } else {
//alert("profile/pins/" + pinid + "/editor");
  }
});
}
</script>
<div class="float-left" style="margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 43px;">
    
<form action="/filter/Search/all" method="Post">
<span class="icon"><i class="fa fa-search"></i></span><input type="search" name="fulltext" class="search" placeholder="Volltextsuche..." /><input type="submit" style="display:none"/>
</form>
</div>
<div class="clearfix"></div> 

<style>
.pincontent {
    position: relative;
    margin: 0 auto;
    max-width: 1070px;
}
</style>
<div class="pincontent">

{% for pin in pindata %}
<style>
.darkbackground {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: 9998;
	display: none;
}
.bugdiv {
    background-color: transparent;
    color: #000;
    width: 100%;
	top: 10%;
	left: 0px;
    text-align: center;
    z-index: 9999;
	position: fixed;
	display: none;
}
</style>
<script>
function showpopup(link){
    $('.darkbackground').show();
	$('.bugdiv').show();
	var neu = '<img style="max-width:800px; height:auto;" src="' + link + '" onclick="closepopup()">';
    document.getElementById('bugdiv').innerHTML = neu;
 }
 function closepopup(){
    $('.darkbackground').hide();
	$('.bugdiv').hide();
 }
</script>
<div class="darkbackground" style="" onclick="closepopup()"></div>
<div class="bugdiv" id="bugdiv" style="" onclick="closepopup()">
</div>
<br /><br />

{% set difference = date().diff(date(pin.getStartdate())) %}
{% set leftDays = difference.days %}
    {% if leftDays == 0 %}
        {% set variDays = 'heute' %}
    {% elseif leftDays == 1 %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tag' %}
    {% else %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tagen' %}
    {% endif %}
    {% if pin.getPinviews() == null %}
        {% set pinviews = 0 %}
    {% else %}
        {% set pinviews = pin.getPinviews() %}
    {% endif %}
<h5 style="font-weight: 500; font-size: 1.25rem; color: #799a14;"><a href="/member/{{ pin.getUsername() }}">{{ pin.getUsername() }}</a><!-- > <a href="/filter/all-{{ pin.getUsername() }}/all">Pins</a> > <a href="/filter/{{ pin.getPinkategorie() }}-{{ pin.getUsername() }}/all">{{ pin.getPinkategorie() }}</a>--></h5>

<div class="pinviewautorminidiv float-left">
                        {% set newTime = pinlastLogin[pin.getUsername()]|date('U', "Europe/Berlin") + 40 %}
                            {% if newTime > date()|date('U', "Europe/Berlin") %}
                                {% if useremploy[pin.getUsername()] == false %}
                                 <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/online.png" title="Online" alt="onlinePic" />
                                {% else %}
                                <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/employed.png" title="Beschäftigt" alt="onlinePic" />
                                {% endif %}
                            {% else %}
                                <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
                            {% endif %}
                            {% if fileexistarray[pin.getUsername()] %}
                                <a href="/member/{{ pin.getUsername() }}"><img src="/upload/uploads/userpics/{{ fileexistarray[pin.getUsername()] }}" class="autorpinpic rounded-circle" alt="Autor Pin Pic"></a>
                            {% else %}
                                <a href="/member/{{ pin.getUsername() }}"><img src="/images/no_boy.jpg" class="autorpinpic rounded-circle" alt="Autor Pin Pic"></a>
                            {% endif %}
                        </div>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and pin.getUsername() == app.user.username %}
<div class="pinnavi float-right"><a title="Pin bearbeiten?" href="#" onclick="editpin('{{ pin.id }}');">bearbeiten</a></div>
<div class="pinnavi float-right"><a title="Pin löschen?" href="/profile/pinverwaltung/{{ pin.id }}/del" onclick='return del_ask();'>löschen</a></div>
{% endif %}
<div class="pinnavi float-right"><a href="javascript:history.back()">Zurück</a></div>
<div class="clearfix"></div> 
<div class="cke_contents_ltr cke_show_borders">
&nbsp;&nbsp;<label class="autorbox">Autor: <a class="autornamelabel" href="/member/{{ pin.getUsername() }}">{{ pin.getUsername() }}</a> • {{ variDays }} eingetragen • zuletzt gelesen {{ olddate|date("d.m.Y - H:i", "Europe/Berlin")}} Uhr • Views {{ pinviews }}</label>
<hr />
{% if pin.isads == true %}
<label class="werbungview">
        Dieser Showcase enthält Werbung.
    </label>
    {% else %}
 <br /> <br />    
{% endif %}
<div style="float:left;max-width: 1108px;">
{% set imgcounter = 1 %}
{% for case in picsarray %} 
<div style="float:left;"><img onclick="showpopup('/upload/uploads/pinpics/{{ case }}')" style="width:auto; height:110px; cursor: pointer; margin-bottom: 15px;" src="/upload/uploads/pinpics/{{ case }}"></div>
{% set imgcounter = imgcounter + 1 %}
{% endfor %}
</div>
<div class="clearfix"></div>
<br />
<h1><label class="autortitle">{{ pin.getTitle() }}</label></h1><br />
{{ contenttxt | raw  }}<br />

<br /><hr />
</div>
{% if pin.getBewerten() == true and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div style="margin: 0 auto; max-width: 300px; text-align:center;" class="rating" id="rateYo">
        <span style="font-wight:700; color:#00FF00;">Bewertungen werden geladen...</span>
    </div><div style="margin: 0 auto; max-width: 200px; text-align:center;" class="counter" style="margin-left:55px;"></div><br />
 {% endif %}
 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}   
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
function ratingthis(rating) {
$.post( "/rating", { ratingdata: rating, username: "{{ app.user.username }}", pinid: "{{ pin.id }}" })
  .done(function( data ) {
    var integer = parseFloat(data).toFixed(2);
    counternew = parseFloat(integer)+parseFloat(rating);
    var ar = data.split(';'); // split string on comma space
    $('.counter').html('rating: '+ar[1]);
    });
}

$(function() {
    randomNumber = Number.random(1,5);
   
$.post( "/rating", { pinid: "{{ pin.id }}", username: "{{ app.user.username }}" })
  .done(function( data ) {
      var ar = data.split(';'); // split string on comma space
     $('.counter').html('Bewertung: '+ar[1]);
     randomNumber = ar[1];
$("#rateYo").rateYo({
 
    rating    : randomNumber,
    spacing   : "5px",
    halfStar: true,
    {%if ratingok == true %}readOnly: false,{% else %}readOnly: true,{% endif %}
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    },
    onSet: function (rating, rateYoInstance) {
    $(this).next().text(rating);
    $(this).rateYo("option", "readOnly", true);
      console.log("RateYo initialized! with " + rating);
      ratingthis(rating);
    }
  });
});
});
</script>
 {% endif %}
<br />
 <div style="margin: 0 auto; max-width: 700px; text-align:center;">
{% for prevpindata in prevpindata %}
<a href="/pinview/{{ prevpindata.getPinlink() }}" title="{{ prevpindata.getTitle() }}"><< voriger {{ pin.getPinkategorie() }}</a>
{% endfor %}
{% if prevpindata|length and nextpindata|length %}
 | 
{% endif %}
{% for nextpindata in nextpindata %}
<a href="/pinview/{{ nextpindata.getPinlink() }}" title="{{ nextpindata.getTitle() }}">nächster {{ pin.getPinkategorie() }} >></a>
{% endfor %}
</div>
<br /><br />
{% set counterpinstitle = 0 %}
{% for pindatacount in pindatacount %}
{% for pindatacounts in pindatacount %}
{% if pin.getTitle() != pindatacounts.getTitle() %}
{% if pindatacounts|length > 0 %}
{% set counterpinstitle = counterpinstitle + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% if counterpinstitle %}
<h5>Ähnliche Pins</h5>
{% endif %}
{% set counterpins = 1 %}
{% for pindatacount in pindatacount|shuffle %}
{#{ dump(pindatacount) }#}
{% for pindatacounts in pindatacount|shuffle %}
{% if pin.getTitle() != pindatacounts.getTitle() and pin.getId() != pindatacounts.getId() %}
{% if counterpins <= 5  %}

{% set difference = date().diff(date(pindatacounts.getStartdate())) %}
{% set leftDays = difference.days %}
    {% if leftDays == 0 %}
        {% set variDays = 'heute' %}
    {% elseif leftDays == 1 %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tag' %}
    {% else %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tagen' %}
    {% endif %}
<div class="pin float-left" style="margin: 9px 12px 10px 0px;">
                        <a href="/pinview/{{ pindatacounts.pinlink() }}">
                        <div class="pinautordiv">
                        {% if pindatacounts.isads == true %}
                                <div class="werbungviewsdiv">
                                        Werbung
                                </div>
                                {% endif %}
                                <div class="viewsdiv">
                                        {{ pinviews }} <i class="fa fa-eye"></i>
                                </div>
                                {% if pindatacounts.bewerten == true %}
                                <div class="ratingdiv rating_{{ pindatacounts.id }}" id="rateYo_{{ pindatacounts.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
                                {% if pindatacounts.getThumbnail() == "" %}
                                <img src="/images/no-image-placeholder.png" class="pinautor" alt="Pinautor">
                                {% else %}
                                <img src="/upload/uploads/pinpics/{{pindatacounts.getThumbnail()}}" class="pinautor" alt="Pinautor">
                                {% endif %}        
                        </a>
                        </div>
                        <div class="pintitle">
                          <a href="/pinview/{{ pindatacounts.pinlink() }}">{{ pindatacounts.getTitle()|length > 50 ? pindatacounts.getTitle()|slice(0, 50) ~ '...' : pindatacounts.getTitle()  }}</a>
                        </div>
                        <div class="pinautorminidiv float-left">
                        {% set newTime = pinlastLoginUser[pindatacounts.getUsername()]|date('U', "Europe/Berlin") + 40 %}
                            {% if newTime > date()|date('U', "Europe/Berlin") %}
                                {% if pinuseremploy[pindatacounts.getUsername()] == false %}
                                 <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/online.png" title="Online" alt="onlinePic" />
                                {% else %}
                                <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/employed.png" title="Beschäftigt" alt="onlinePic" />
                                {% endif %}
                            {% else %}
                                <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
                            {% endif %}
                            {% if pinsfileexistarray[pindatacounts.getUsername()] and pinsfileexistarray[pindatacounts.getUsername()] != "del" %}
                                <a href="/member/{{ pindatacounts.getUsername() }}"><img src="/upload/uploads/userpics/{{ pinsfileexistarray[pindatacounts.getUsername()] }}" class="rounded-circle autorpinpic" alt="Autor Pin Pic"></a>
                            {% else %}
                                <a href="/member/{{ pindatacounts.getUsername() }}"><img src="/images/no_boy.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"></a>
                            {% endif %}
                        </div>
                        <div class="pinautornamediv float-left">
                            <label class="autornamelabel">vor {{ leftDays }}d</label>
                            <label class="autorortlabel">von <a class="autorortlabel" href="/member/{{ pindatacounts.getUsername() }}">{{pindatacounts.username}}</a></label>
                        </div>

</div>
{% if pindatacounts.rating != '' %}
    {% set pinrating = pindatacounts.rating %}
{% else %}
    {% set pinrating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ pindatacounts.id }}").rateYo({
 
    rating    : {{ pinrating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% set counterpins = counterpins + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

{% endblock %}
