{% extends 'templates.html.twig' %}

{% block content %}
{% set druckercount = 1 %}
{% set grafikercount = 1 %}
{% set fotografcount = 1 %}
{% set entwicklercount = 1 %}
{% set textercount = 1 %}
{% set illustratorcount = 1 %}
{% set sonstigescount = 1 %}
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
<div class="pinnavi float-left"><a href="/member">Profilseite</a></div>
<div class="pinnavi float-left"><a href="/profile/edit">Berufsgruppen aktivieren</a></div>
<div class="clearfix"></div>
<br />
{% if ok == true %}
<strong style="color:#7ea016">Ihre Änderung wurde gespeichert!</strong>
{% endif %}
<br />
<br />
<form name="skillform" action="/profile/skills" method="post">
{% if druckerei == true %}
<div class="druckereiskills float-left">
<h5>Druckerei <span class="float-right">Erfahrung in Jahre</span></h5>
{% for druckerei in druckereiarray %}
<label class="skillslabel">
{{druckerei}} 
<select id="{{druckerei}}" name="{{druckerei}}" class="i_select float-right">
    <option value=false class="i_options" {% if userskills[druckerei|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[druckerei|replace({' ': "_", '.' : '_'})] == false %}selected="selected"{% endif %}{% endif %}>keine</option>
    <option value="2" class="i_options" {% if userskills[druckerei|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[druckerei|replace({' ': "_", '.' : '_'})] == "2" %}selected="selected"{% endif %}{% endif %}>1 Jahr</option>
    <option value="3" class="i_options" {% if userskills[druckerei|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[druckerei|replace({' ': "_", '.' : '_'})] == "3" %}selected="selected"{% endif %}{% endif %}>2 Jahre</option>
    <option value="4" class="i_options" {% if userskills[druckerei|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[druckerei|replace({' ': "_", '.' : '_'})] == "4" %}selected="selected"{% endif %}{% endif %}>3 Jahre</option>
    <option value="5" class="i_options" {% if userskills[druckerei|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[druckerei|replace({' ': "_", '.' : '_'})] == "5" %}selected="selected"{% endif %}{% endif %}>4 Jahre</option>
    <option value="6" class="i_options" {% if userskills[druckerei|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[druckerei|replace({' ': "_", '.' : '_'})] == "6" %}selected="selected"{% endif %}{% endif %}>5 Jahre</option>
    <option value="7" class="i_options" {% if userskills[druckerei|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[druckerei|replace({' ': "_", '.' : '_'})] == "7" %}selected="selected"{% endif %}{% endif %}>&gt;5 Jahre</option>
    <option value="8" class="i_options" {% if userskills[druckerei|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[druckerei|replace({' ': "_", '.' : '_'})] == "8" %}selected="selected"{% endif %}{% endif %}>&gt;10 Jahre</option>
</select></label>
{% set druckercount = druckercount + 1 %}
{% endfor %}
</div>
{% endif %}
{% if grafiker == true %}
<div class="grafikerskills float-left">
<h5>Grafiker <span class="float-right">Erfahrung in Jahre</span></h5>
{% for grafiker in grafikerarray %}
<label class="skillslabel">
{{grafiker}} 
<select id="{{grafiker}}" name="{{grafiker}}" class="i_select float-right">
    <option value=false class="i_options" {% if userskills[grafiker|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[grafiker|replace({' ': "_", '.' : '_'})] == false %}selected="selected"{% endif %}{% endif %}>keine</option>
    <option value="2" class="i_options" {% if userskills[grafiker|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[grafiker|replace({' ': "_", '.' : '_'})] == "2" %}selected="selected"{% endif %}{% endif %}>1 Jahr</option>
    <option value="3" class="i_options" {% if userskills[grafiker|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[grafiker|replace({' ': "_", '.' : '_'})] == "3" %}selected="selected"{% endif %}{% endif %}>2 Jahre</option>
    <option value="4" class="i_options" {% if userskills[grafiker|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[grafiker|replace({' ': "_", '.' : '_'})] == "4" %}selected="selected"{% endif %}{% endif %}>3 Jahre</option>
    <option value="5" class="i_options" {% if userskills[grafiker|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[grafiker|replace({' ': "_", '.' : '_'})] == "5" %}selected="selected"{% endif %}{% endif %}>4 Jahre</option>
    <option value="6" class="i_options" {% if userskills[grafiker|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[grafiker|replace({' ': "_", '.' : '_'})] == "6" %}selected="selected"{% endif %}{% endif %}>5 Jahre</option>
    <option value="7" class="i_options" {% if userskills[grafiker|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[grafiker|replace({' ': "_", '.' : '_'})] == "7" %}selected="selected"{% endif %}{% endif %}>&gt;5 Jahre</option>
    <option value="8" class="i_options" {% if userskills[grafiker|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[grafiker|replace({' ': "_", '.' : '_'})] == "8" %}selected="selected"{% endif %}{% endif %}>&gt;10 Jahre</option>
</select></label>
{% set grafikercount = grafikercount + 1 %}
{% endfor %}
</div>
{% endif %}
{% if fotograf == true %}
<div class="fotografskills float-left">
<h5>Fotograf <span class="float-right">Erfahrung in Jahre</span></h5>
{% for fotograf in fotografarray %}
<label class="skillslabel">
{{fotograf}} 
<select id="{{fotograf}}" name="{{fotograf}}" class="i_select float-right">
    <option value=false class="i_options" {% if userskills[fotograf|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[fotograf|replace({' ': "_", '.' : '_'})] == false %}selected="selected"{% endif %}{% endif %}>keine</option>
    <option value="2" class="i_options" {% if userskills[fotograf|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[fotograf|replace({' ': "_", '.' : '_'})] == "2" %}selected="selected"{% endif %}{% endif %}>1 Jahr</option>
    <option value="3" class="i_options" {% if userskills[fotograf|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[fotograf|replace({' ': "_", '.' : '_'})] == "3" %}selected="selected"{% endif %}{% endif %}>2 Jahre</option>
    <option value="4" class="i_options" {% if userskills[fotograf|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[fotograf|replace({' ': "_", '.' : '_'})] == "4" %}selected="selected"{% endif %}{% endif %}>3 Jahre</option>
    <option value="5" class="i_options" {% if userskills[fotograf|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[fotograf|replace({' ': "_", '.' : '_'})] == "5" %}selected="selected"{% endif %}{% endif %}>4 Jahre</option>
    <option value="6" class="i_options" {% if userskills[fotograf|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[fotograf|replace({' ': "_", '.' : '_'})] == "6" %}selected="selected"{% endif %}{% endif %}>5 Jahre</option>
    <option value="7" class="i_options" {% if userskills[fotograf|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[fotograf|replace({' ': "_", '.' : '_'})] == "7" %}selected="selected"{% endif %}{% endif %}>&gt;5 Jahre</option>
    <option value="8" class="i_options" {% if userskills[fotograf|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[fotograf|replace({' ': "_", '.' : '_'})] == "8" %}selected="selected"{% endif %}{% endif %}>&gt;10 Jahre</option>
</select></label>
{% set fotografcount = fotografcount + 1 %}
{% endfor %}
</div>
{% endif %}
{% if entwickler == true %}
<div class="entwicklerskills float-left">
<h5>Entwickler <span class="float-right">Erfahrung in Jahre</span></h5>
{% for entwickler in entwicklerarray %}
<label class="skillslabel">
{{entwickler}} 
<select id="{{entwickler}}" name="{{entwickler}}" class="i_select float-right">
    <option value=false class="i_options" {% if userskills[entwickler|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[entwickler|replace({' ': "_", '.' : '_'})] == false %}selected="selected"{% endif %}{% endif %}>keine</option>
    <option value="2" class="i_options" {% if userskills[entwickler|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[entwickler|replace({' ': "_", '.' : '_'})] == "2" %}selected="selected"{% endif %}{% endif %}>1 Jahr</option>
    <option value="3" class="i_options" {% if userskills[entwickler|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[entwickler|replace({' ': "_", '.' : '_'})] == "3" %}selected="selected"{% endif %}{% endif %}>2 Jahre</option>
    <option value="4" class="i_options" {% if userskills[entwickler|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[entwickler|replace({' ': "_", '.' : '_'})] == "4" %}selected="selected"{% endif %}{% endif %}>3 Jahre</option>
    <option value="5" class="i_options" {% if userskills[entwickler|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[entwickler|replace({' ': "_", '.' : '_'})] == "5" %}selected="selected"{% endif %}{% endif %}>4 Jahre</option>
    <option value="6" class="i_options" {% if userskills[entwickler|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[entwickler|replace({' ': "_", '.' : '_'})] == "6" %}selected="selected"{% endif %}{% endif %}>5 Jahre</option>
    <option value="7" class="i_options" {% if userskills[entwickler|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[entwickler|replace({' ': "_", '.' : '_'})] == "7" %}selected="selected"{% endif %}{% endif %}>&gt;5 Jahre</option>
    <option value="8" class="i_options" {% if userskills[entwickler|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[entwickler|replace({' ': "_", '.' : '_'})] == "8" %}selected="selected"{% endif %}{% endif %}>&gt;10 Jahre</option>
</select></label>
{% set entwicklercount = entwicklercount + 1 %}
{% endfor %}
</div>
{% endif %}
{% if texter == true %}
<div class="texterskills float-left">
<h5>Texter <span class="float-right">Erfahrung in Jahre</span></h5>
{% for texter in texterarray %}
<label class="skillslabel">
{{texter}} 
<select id="{{texter}}" name="{{texter}}" class="i_select float-right">
    <option value=false class="i_options" {% if userskills[texter|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[texter|replace({' ': "_", '.' : '_'})] == false %}selected="selected"{% endif %}{% endif %}>keine</option>
    <option value="2" class="i_options" {% if userskills[texter|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[texter|replace({' ': "_", '.' : '_'})] == "2" %}selected="selected"{% endif %}{% endif %}>1 Jahr</option>
    <option value="3" class="i_options" {% if userskills[texter|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[texter|replace({' ': "_", '.' : '_'})] == "3" %}selected="selected"{% endif %}{% endif %}>2 Jahre</option>
    <option value="4" class="i_options" {% if userskills[texter|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[texter|replace({' ': "_", '.' : '_'})] == "4" %}selected="selected"{% endif %}{% endif %}>3 Jahre</option>
    <option value="5" class="i_options" {% if userskills[texter|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[texter|replace({' ': "_", '.' : '_'})] == "5" %}selected="selected"{% endif %}{% endif %}>4 Jahre</option>
    <option value="6" class="i_options" {% if userskills[texter|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[texter|replace({' ': "_", '.' : '_'})] == "6" %}selected="selected"{% endif %}{% endif %}>5 Jahre</option>
    <option value="7" class="i_options" {% if userskills[texter|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[texter|replace({' ': "_", '.' : '_'})] == "7" %}selected="selected"{% endif %}{% endif %}>&gt;5 Jahre</option>
    <option value="8" class="i_options" {% if userskills[texter|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[texter|replace({' ': "_", '.' : '_'})] == "8" %}selected="selected"{% endif %}{% endif %}>&gt;10 Jahre</option>
</select></label>
{% set textercount = textercount + 1 %}
{% endfor %}
</div>
{% endif %}
{% if illustrator == true %}
<div class="illustratorskills float-left">
<h5>Illustrator <span class="float-right">Erfahrung in Jahre</span></h5>
{% for illustrator in illustratorarray %}
<label class="skillslabel">
{{illustrator}} 
<select id="{{illustrator}}" name="{{illustrator}}" class="i_select float-right">
    <option value=false class="i_options" {% if userskills[illustrator|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[illustrator|replace({' ': "_", '.' : '_'})] == false %}selected="selected"{% endif %}{% endif %}>keine</option>
    <option value="2" class="i_options" {% if userskills[illustrator|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[illustrator|replace({' ': "_", '.' : '_'})] == "2" %}selected="selected"{% endif %}{% endif %}>1 Jahr</option>
    <option value="3" class="i_options" {% if userskills[illustrator|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[illustrator|replace({' ': "_", '.' : '_'})] == "3" %}selected="selected"{% endif %}{% endif %}>2 Jahre</option>
    <option value="4" class="i_options" {% if userskills[illustrator|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[illustrator|replace({' ': "_", '.' : '_'})] == "4" %}selected="selected"{% endif %}{% endif %}>3 Jahre</option>
    <option value="5" class="i_options" {% if userskills[illustrator|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[illustrator|replace({' ': "_", '.' : '_'})] == "5" %}selected="selected"{% endif %}{% endif %}>4 Jahre</option>
    <option value="6" class="i_options" {% if userskills[illustrator|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[illustrator|replace({' ': "_", '.' : '_'})] == "6" %}selected="selected"{% endif %}{% endif %}>5 Jahre</option>
    <option value="7" class="i_options" {% if userskills[illustrator|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[illustrator|replace({' ': "_", '.' : '_'})] == "7" %}selected="selected"{% endif %}{% endif %}>&gt;5 Jahre</option>
    <option value="8" class="i_options" {% if userskills[illustrator|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[illustrator|replace({' ': "_", '.' : '_'})] == "8" %}selected="selected"{% endif %}{% endif %}>&gt;10 Jahre</option>
</select></label>
{% set illustratorcount = illustratorcount + 1 %}
{% endfor %}
</div>
{% endif %}
{% if sonstiges == true %}
<div class="sonstigesskills float-left">
<h5>Sonstiges <span class="float-right">Erfahrung in Jahre</span></h5>
{% for sonstiges in sonstigesarray %}
<label class="skillslabel">
{{sonstiges}} 
<select id="{{sonstiges}}" name="{{sonstiges}}" class="i_select float-right">
    <option value=false class="i_options" {% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] == false %}selected="selected"{% endif %}{% endif %}>keine</option>
    <option value="2" class="i_options" {% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] == "2" %}selected="selected"{% endif %}{% endif %}>1 Jahr</option>
    <option value="3" class="i_options" {% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] == "3" %}selected="selected"{% endif %}{% endif %}>2 Jahre</option>
    <option value="4" class="i_options" {% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] == "4" %}selected="selected"{% endif %}{% endif %}>3 Jahre</option>
    <option value="5" class="i_options" {% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] == "5" %}selected="selected"{% endif %}{% endif %}>4 Jahre</option>
    <option value="6" class="i_options" {% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] == "6" %}selected="selected"{% endif %}{% endif %}>5 Jahre</option>
    <option value="7" class="i_options" {% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] == "7" %}selected="selected"{% endif %}{% endif %}>&gt;5 Jahre</option>
    <option value="8" class="i_options" {% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] is defined %}{% if userskills[sonstiges|replace({' ': "_", '.' : '_'})] == "8" %}selected="selected"{% endif %}{% endif %}>&gt;10 Jahre</option>
</select></label>
{% set sonstigescount =sonstigescount + 1 %}
{% endfor %}
</div>
{% endif %}
<div class="clearfix"></div> 
<button type="submit" id="form_skills" name="form_skills" class="pull-left btn btn-primary">Benutzerdaten aktualisieren...</button>
</form>
{% endblock %}
