{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
{% if agb != "logout" and datenschutz != "logout" %}
{% if agb != 1 or datenschutz != 1 %}
<script type="text/javascript">
<!--
document.location.href = "/stimmezu";
//–>
</script>
{% endif %}
{% endif %}
<div class="contentinnert">
<style>
    .inworkMessages {
    background: #f0e4c1;
    text-align: center;
    padding: 5px;
    display:block;
    }
</style>
</head>
<body>

<div class="inworkMessages">
	  		<h6><a href="/relaunch">Relaunch am 07.06.2019 (Beta) -  Infos für Mitglieder - Link auf die alte Plattform</a></h6>
</div>
    <!-- define on/off styles --> 
    <style type="text/css"> 
     .on { background:#d3ab17; } 
     .off { background:#17d339; } 
    </style> 

    <!-- define the toggle function --> 
    <script language="javascript"> 
     function toggleState(item){ 
      if(item.className == "on") { 
       item.className="off"; 
       document.querySelector('.off').value = 'Beschäftigt?';
      $('.onlineas').attr("src","/img/online.png").attr("title","Online");

       $.post( "/useremployed", { username: "{{ app.user.username }}", setemploy: false })
  .done(function( data ) {
//...
    });
      } else { 
       item.className="on"; 
       document.querySelector('.on').value = 'Verfügbar?';
      $('.onlineas').attr("src","/img/employed.png").attr("title","Beschäftigt");
      
       $.post( "/useremployed", { username: "{{ app.user.username }}", setemploy: true })
  .done(function( data ) {
//...
    });
      } 
     } 
    </script> 
<div class="pinsettinglist float-left" style="width: 490px;height: 1030px;">

<h5>Profil von {{ app.user.username }} bearbeiten</h5>


<div class="profilsettinglist float-left" style="width: 480px;height: 320px;">
<strong style="font-weight:700;">Dein Onlinestatus</strong>

    <!-- call 'toggleState' whenever clicked --> 
    <input style="font-weight:700;width:140px;text-align:center;" type="button" id="btn" 
     {% if app.user.employ == false %} value="Beschäftigt?" class="off"{% else %} value="Verfügbar?" class="on"{% endif %} onclick="toggleState(this)" /> 
<br/>
Dein letztes Login: {{ app.user.lastLogin|date("d.m.Y - H:i", "Europe/Berlin") }} <br /><br />
    
    Profil
        <br />
        &#09;&emsp; <a href="/profile/edit">Profil bearbeiten</a>
        <br />
        &#09;&emsp; <a href="/profile/loginedit">Logindaten ändern</a>
        <br />
        &#09;&emsp; <a href="/profile/type">Premium Mitglied werden</a>
        {% if app.user.berufsgruppe1 == true or app.user.berufsgruppe2 == true or app.user.berufsgruppe3 == true or app.user.berufsgruppe4 == true or app.user.berufsgruppe5 == true %}
        <br />
        &#09;&emsp; <a href="/profile/skills">Skills bearbeiten</a>
        {% endif %}
        <br />
        &#09;&emsp; <a href="/profile/notifications">Benachrichtigungen</a>
        <br />
        &#09;&emsp; <a href="/profile/profilbesucher">Profilbesucher</a> {% if besucherdatagesamt > 0 %}<strong style="color:#7ea016;">({{ besucherdatagesamt }})</strong>{% endif %}
        <br />
        &#09;&emsp; <a href="/member">Profilseite</a>
        <br />
        &#09;&emsp; <a href="/profile/delete">Profil löschen</a>
        <br />
        &#09;&emsp; <a href="/logout">logout</a>
    

</div><div class="clearfix"></div>

<div class="pinsettinglist float-left" style="width: 490px;height: 150px;">

    
    Showcases
        <br />
        &#09;&emsp; <a href="/profile/pinstart">Showcase erstellen</a>
        <br />
        &emsp;&emsp; <a href="/profile/pins/start">Showcase direkt auf grafiker.de eintragen.</a>
        <br />
        &#09;&emsp; <a href="/profile/pinverwaltung/all">Meine Showcases</a>
    

</div><div class="clearfix"></div>
<div class="mailsettinglist float-left" style="width: 490px;height: 150px;">

    
	Mailbox
	<br />
        &#09;&emsp; <a href="/mail">Posteingang</a> {% if unreads > 0 %}<strong style="color:#7ea016;">({{ unreads }})</strong>{% endif %}
        <br />
        &#09;&emsp; <a href="/mail/new">Neue Nachricht schreiben</a>
        <br />
        &#09;&emsp; <a href="/mail/search">Postausgang</a>
        <br />
        &#09;&emsp; <a href="/mail/deleted">gelöschte Nachrichten</a>
    

</div><div class="clearfix"></div>
<div class="mailsettinglist float-left" style="width: 490px;height: 130px;">

    
	Netzwerk
	<br />
        &#09;&emsp; <a href="/profile/membernetwork/all">Mein Netzwerk</a>
        <br />
        &#09;&emsp; <a href="/profile/membernetwork/in">Beitrittsanfragen</a>
        <br />
        &#09;&emsp; <a href="/profile/membernetwork/out">Meine offenen Anfragen</a>
</div>



<div class="clearfix"></div>
<div class="pinsettinglist float-left" style="width: 490px;height: 250px;">

<script>
function filterme(value) {
  value = parseInt(value, 10); // Convert to an integer
  if (value === 1) {
    $('#RangeFilter').addClass('keine').removeClass('wenig', 'frei').removeClass('frei', 'wenig');
    $('.span').text('keine');
    $.post( "/capacity", { username: "{{ app.user.username }}", capacity: 1 })
  .done(function( data ) {
    if(data != 0) {

    }
    });
    
  } else if (value === 2) {
    $('#RangeFilter').addClass('wenig').removeClass('keine', 'frei').removeClass('frei', 'keine');
    $('.span').text('wenig');
    $.post( "/capacity", { username: "{{ app.user.username }}", capacity: 2 })
  .done(function( data ) {
    if(data != 0) {

    }
    });

  } else if (value === 3) {
    $('#RangeFilter').addClass('frei').removeClass('wenig', 'keine').removeClass('keine', 'wenig');
    $('.span').text('frei');
    $.post( "/capacity", { username: "{{ app.user.username }}", capacity: 3 })
  .done(function( data ) {
    if(data != 0) {

    }
    });
  }
}

/*$( "li" ).hover(
  function() {
    $( this ).append( $( '<span style="position: absolute;"> ***</span>' ) );
  }, function() {
    $( this ).find( "span:last" ).remove();
  }
);*/
</script>

<strong style="font-weight:700;">Wie viel Kapazität haben Sie für einen neuen Auftrag?</strong><br /><br />
  <input style="margin-left: 40px;" type="range" id="RangeFilter" name="points" onchange="filterme(this.value);" min="1" max="3" {%if capacity == false or capacity == 1 %}class="keine" value="1"{% endif %}{%if capacity == 2 %}class="wenig" value="2"{% endif %}{%if capacity == 3 %}class="frei" value="3"{% endif %}>
&nbsp;&nbsp;<span class="span" style="font-weight:700;">{%if capacity == false or capacity == 1 %}keine{% endif %}{%if capacity == 2 %}wenig{% endif %}{%if capacity == 3 %}frei{% endif %}</span><br /><br />
    
    Jobangebote / Ausschreibungen
        <br />
        &#09;&emsp; <a href="/profile/myjobs">Jobangebote / Ausschreibungen Übersicht</a>
        <!--<br />
        &#09;&emsp; <a href="/profile/foryoujobs">Passende Jobangebote</a>-->
        <br />
        &#09;&emsp; <a href="/profile/bewerbung/out/">Meine Ausschreibungs-Bewerbungen</a>
    

</div>

</div>
</div>
{% endblock %}
