{% extends 'templates.html.twig' %}

{% block content %}
<div class="float-left" style="margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 43px;">
    <div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
</div>
<div class="clearfix"></div>
<br /><br />
<img class="mitgliedstatus" style="margin-left: 0px; margin-top: 0px;z-index:99;height: 10px;" src="/img/online.png" title="Checked" alt="Checked"> Standard Mitgliedschaft<br />
<img class="mitgliedstatus" style="margin-left: 0px; margin-top: 0px;z-index:99;height: 10px;" src="/img/offline.png" title="Checked" alt="Checked"> Premium Mitgliedschaft<br />
<img class="mitgliedstatus" style="margin-left: 0px; margin-top: 0px;z-index:99;height: 10px;" src="/img/offline.png" title="Checked" alt="Checked"> Platin Mitgliedschaft<br />
<br />
<br />
<br />
<br />
Dieser Bereich ist noch in Arbeit!!!
</div>
{% endblock %}
