{% extends 'templates.html.twig' %}

{% block content %}
<style>
.btn-primary {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 100px;
    margin-top: 0px;
}
</style>
<div class="contentinnert">
<div class="pinnavi float-left"><a href="/profile/start">{% trans from 'FOSMessageBundle' %}zurück{% endtrans %}</a></div>
<div class="clearfix"></div>
<h2>{% trans from 'FOSMessageBundle' %}gelöschte Nachrichten{% endtrans %}</h2>
<div class="pinnavi float-left"><a href="{{ url('fos_message_inbox' )}}">{% trans from 'FOSMessageBundle' %}Posteingang{% endtrans %}</a></div>
<div class="pinnavi float-left"><a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}Neue Nachricht schreiben{% endtrans %}</a></div>
<div class="pinnavi float-left"><a href="{{ url('fos_message_search' )}}">{% trans from 'FOSMessageBundle' %}Postausgang{% endtrans %}</a></div>
<div class="clearfix"></div>
<br /><br />
<table class="table hc">

    <thead>
        <tr>
            <th>{% trans from 'FOSMessageBundle' %}Betreff{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}Absender{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}Empfangen{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}Nachrichten{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %} -> {% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}del{% endtrans %}</th>
        </tr>
    </thead>

    <tbody>

    {% if threads %}
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject|replace({'%%Systemmail%% ': ""}) }}
                    </a>

                    {% if not fos_message_is_read(thread) %}
                        ({% trans from 'FOSMessageBundle' %}new{% endtrans %})
                    {% endif %}
                </td>
                <td>
                    {{ thread.createdBy }}
                </td>
                <td>
                    {{ thread.createdAt|date }}
                </td>
                <td>
                    {{ thread.messages|length }}
                </td>
                <td>
                    {% if thread.lastMessage %}
                        <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}">
                            →
                        </a>
                        {% trans with {'%date%': thread.lastMessage.createdAt|date} from 'FOSMessageBundle' %}on{% endtrans %}
                        <br />
                        {% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}
                    {% else %}
                        ----
                    {% endif %}
                </td>
                <td>
                    {% if fos_message_can_delete_thread(thread) %}
                        {% if fos_message_deleted_by_participant(thread) %}
                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}delete{% endtrans %}{% endset %}
                        {% endif %}
                        <form action="{{ formAction }}" method="post">
                                <input type="submit" value="{{ submitValue }}" class="btn btn-primary" />
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
            </td>
        </tr>
    {% endif %}

    </tbody>

</table>
</div>
{% endblock %}
