{% extends 'templates.html.twig' %}

{% block content %}
<script>
$(document).ready(function(){
$('#message li').html('Benutzername nicht bekannt!');
});
</script>
<div class="contentinnert">
<div class="pinnavi float-left"><a href="/profile/start">{% trans from 'FOSMessageBundle' %}zurück{% endtrans %}</a></div>
<div class="clearfix"></div>
<h2>{% trans from 'FOSMessageBundle' %}Nachricht schreiben{% endtrans %}</h2>
<div class="pinnavi float-left"><a href="{{ url('fos_message_inbox' )}}">{% trans from 'FOSMessageBundle' %}Posteingang{% endtrans %}</a></div>
<div class="pinnavi float-left"><a href="{{ url('fos_message_search' )}}">{% trans from 'FOSMessageBundle' %}Postausgang{% endtrans %}</a></div>
<div class="pinnavi float-left"><a href="{{ url('fos_message_deleted' )}}">{% trans from 'FOSMessageBundle' %}gelöschte Nachrichten{% endtrans %}</a></div>
<div class="clearfix"></div>
<br /><br />
<form action="{{ url('fos_message_thread_new') }}" method="post">
    {{ form_widget(form) }}

    <input type="submit" class="bdnmini btn btn-primary pull-left" />
</form>
</div>
<div class="clearfix"></div>
{% endblock %}
