{% extends 'templates.html.twig' %}

{% block content %}
<style>
strong {
    margin-left: 8px;
}
.mymessage {
    margin-right: 30px;
}
.btnblankweiter {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
    margin-left: 10px;
    margin-top: 20px;
}
.btnblankweiter:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
    margin-left: 10px;
    margin-top: 20px;
}
</style>
<div class="contentinnert">
<div class="pinnavi float-left"><a href="{{ url('fos_message_inbox' )}}">{% trans from 'FOSMessageBundle' %}Posteingang{% endtrans %}</a></div>
<div class="pinnavi float-left"><a href="{{ url('fos_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}Neue Nachricht schreiben{% endtrans %}</a></div>
<div class="pinnavi float-left"><a href="{{ url('fos_message_search' )}}">{% trans from 'FOSMessageBundle' %}Postausgang{% endtrans %}</a></div>
<div class="pinnavi float-left"><a href="{{ url('fos_message_deleted' )}}">{% trans from 'FOSMessageBundle' %}gelöschte Nachrichten{% endtrans %}</a></div>
<div class="clearfix"></div>
<br />
<h5>Chat-Betreff: {{ thread.subject|replace({'%%Systemmail%% ': "", '%%Newsletter%% ': ""}) }}</h5>
{% for message in thread.messages %}
    <div class="messenger_thread_message">
        <div class="messenger_thread_message_info">
            
        </div>
{% if message.sender == app.user.username %} <div class="float-right mymessage"><strong>{{ message.sender|e }}</strong> - {{ message.createdAt|date("d.m.Y - H:i", "Europe/Berlin") }}<br /></div>
        <div class="messenger_thread_message_body selfmessege" id="message_{{ message.id }}">
           
            {% trans with {'': message.sender|e, '%date%': message.createdAt|date("d.m.Y - H:i", "Europe/Berlin")} from 'FOSMessageBundle' %}message_info{% endtrans %}
{% else %}<strong>{{ message.sender|e }}</strong> - {{ message.createdAt|date("d.m.Y - H:i", "Europe/Berlin") }}<br />
        <div class="messenger_thread_message_body sendermessege" id="message_{{ message.id }}">
        
            {% trans with {'': message.sender|e, '%date%': message.createdAt|date("d.m.Y - H:i", "Europe/Berlin")} from 'FOSMessageBundle' %}message_info{% endtrans %}
{% endif %}
            {{ message.body | raw  }}
        </div>
    </div>
    <div class="clearfix"></div>
{% endfor %}
                    {% if fos_message_can_delete_thread(thread) %}
                        {% if fos_message_deleted_by_participant(thread) %}
                            {% set formAction %}{{ url('fos_message_thread_undelete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}{% trans from 'FOSMessageBundle' %}undelete{% endtrans %}{% endset %}
                        {% else %}
                            {% set formAction %}{{ url('fos_message_thread_delete', {'threadId': thread.id}) }}{% endset %}
                            {% set submitValue %}Chat löschen?{% endset %}
                        {% endif %}
                        <div class="float-left"><form action="{{ formAction }}" method="post">
                                <input style="width:auto;" type="submit" value="{{ submitValue }}" class="btn btn-primary" />
                        </form></div>
                    {% endif %}
<div class="btn btnblankweiter float-left"><a style="color:#fff;text-decoration: none;" href="{{ url('fos_message_inbox' )}}" style="cursor: pointer; text-align: center;">zurück</a></div>
<div class="clearfix"></div>
{% if '%%Systemmail%%' in thread.subject or '%%Newsletter%%' in thread.subject %}{% else %}
<h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}: </h3>

<form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post">
    {#{ form_row(form.body, { 'label': 'Nachricht:' } ) }#} 
      {{ form_widget(form) }}

    <input type="submit" class="bdnmini2 btn btn-primary" />
</form>


</div>
<div class="clearfix"></div>
{% endif %}
{% endblock %}
