{% extends 'templates.html.twig' %}
{% block titleblock %}
grafiker.de Impressum
{% endblock %}
{% block content %}
<div class="contentinnert">
<h6><a href="/membersearch/alle/Admin">Das Grafiker Team erreichen Sie hier!</a></h6>

<h2>Impressum</h2>

<h2>Angaben gemäß § 5 TMG</h2>
Grafiker.de UG (haftungsbeschränkt)<br />
<p>Vertreten durch Heinz Bröskamp, Geschäftsführer<br />
Von-Steuben-Straße 19<br />
D-48143  Münster – NRW<br />
Germany</p>
<br />
<h2>Email-Kontakt</h2>
E-Mail: mail(at)grafiker.de
<br /><br />
<h2>Telefon-Kontakt</h2>
PrintshopCreator GmbH<br />
Von-Steuben-Straße 19<br />
D-48143  Münster – NRW<br />
Germany<br />
Tel.: +49 (0) 251 - 13 65 63 38<br />
Fax.: +49 (0) 251 - 13 65 63 39<br />
<br /><br />
<h2>Registereintrag</h2>
<p>Eintragung im Handelsregister. <br />
Registergericht: Amtsgericht Münster <br />
Registernummer: HRB 17315</p>
<br />
<h2>Umsatzsteuer</h2>
<p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br />
337/5703/3032</p>
<br />
<h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
<p>Grafiker.de UG (haftungsbeschränkt)<br />
Heinz Bröskamp<br />
Von-Steuben-Straße 19<br />
D-48143  Münster – NRW<br />
Germany</p>
<br />
<h2>Streitschlichtung</h2>
<p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

<h3>Haftung für Inhalte</h3> <p>Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p> <p>Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p> <h3>Haftung für Links</h3> <p>Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.</p> <p>Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p> <h3>Urheberrecht</h3> <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.</p> <p>Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>

<h1>Site Notice</h1>

<h2>Information provided according to Sec. 5 German Telemedia Act (TMG)</h2>
<p>Heinz Bröskamp<br />
Grafiker.de UG (haftungsbeschränkt)<br />
Von-Steuben-Straße 19<br />
D-48143  Münster – NRW<br />
Germany</p>
<br />
<h2>Contact</h2>
<p>Telephone: +49 (0) 251 136 56 33 9<br />
Email: mail(at)grafiker.de</p>
<br />
<h2>Register entry</h2>
<p>Entry in the Handelsregister. <br />
Registering court: Amtsgericht Münster <br />
Registration number: HRB 17315</p>
<br />
<h2>VAT</h2>
<p>VAT Id number according to Sec. 27 a German Value Added Tax Act:<br />
Wegen Neugründung noch nicht bekannt</p>
<br />
<h2>Responsible for contents acc. to Sec. 55, para. 2 German Federal Broadcasting Agreement (RstV)</h2>
<p>Grafiker.de UG (haftungsbeschränkt)<br />
Heinz Bröskamp<br />
Von-Steuben-Straße 19<br />
D-48143  Münster – NRW<br />
Germany</p>
<br />
<h2>Dispute resolution</h2>
<p>The European Commission provides a platform for online dispute resolution (OS): <a href="https://ec.europa.eu/consumers/odr" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr</a>.<br /> Please find our email in the impressum/legal notice.</p><p> </p>

<p>We do not take part in online dispute resolutions at consumer arbitration boards.</p>

<h3>Liability for Contents</h3> <p>As service providers, we are liable for own contents of these websites according to Sec. 7, paragraph 1 German Telemedia Act (TMG). However, according to Sec. 8 to 10 German Telemedia Act (TMG), service providers are not obligated to permanently monitor submitted or stored information or to search for evidences that indicate illegal activities.</p> <p>Legal obligations to removing information or to blocking the use of information remain unchallenged. In this case, liability is only possible at the time of knowledge about a specific violation of law. Illegal contents will be removed immediately at the time we get knowledge of them.</p> <h3>Liability for Links</h3> <p>Our offer includes links to external third party websites. We have no influence on the contents of those websites, therefore we cannot guarantee for those contents. Providers or administrators of linked websites are always responsible for their own contents.</p> <p>The linked websites had been checked for possible violations of law at the time of the establishment of the link. Illegal contents were not detected at the time of the linking. A permanent monitoring of the contents of linked websites cannot be imposed without reasonable indications that there has been a violation of law. Illegal links will be removed immediately at the time we get knowledge of them.</p> <h3>Copyright</h3> <p>Contents and compilations published on these websites by the providers are subject to German copyright laws. Reproduction, editing, distribution as well as the use of any kind outside the scope of the copyright law require a written permission of the author or originator. Downloads and copies of these websites are permitted for private use only.<br /> The commercial use of our contents without permission of the originator is prohibited.</p> <p>Copyright laws of third parties are respected as long as the contents on these websites do not originate from the provider. Contributions of third parties on this site are indicated as such. However, if you notice any violations of copyright law, please inform us. Such contents will be removed immediately.</p>
</div>
{% endblock %}