{% extends 'templates.html.twig' %}
{% block titleblock %}
grafiker.de: Profildaten von {{ userdata.getUsername() }}
{% endblock %}
{% set footeroff = 2 %}
{% set pincount = counter %}
{% block content %}
<script>
function loadNextMembers(username) 
    {
      $('div#loader' + pinID).html('<center><img src="/images/loading.gif"></center>');
      $.post("/newcontact/" + username,
      function(data)
      {
        if (data != "") 
        {
          //$(".block:last").after(data);			
        }
        //$('div#loader' + pinID).html(data);
      });
    };
</script>
<style>
.pinsmenu {
    padding-left: 0px;
}
.labelbutton a {
    color: #fff;
}
.labelbutton a:hover {
text-decoration: none;
}
.labelbutton {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 225px;
    text-align: center;
    border-radius: .25rem
}
.labelbutton:hover {
    color: #fff !important;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: .25rem;
    text-decoration: none;
}
</style>
<div class="memberpicdiv float-left">
<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="javascript:history.back()">zurück</a></div>
</div>
{% if selfuser != 2 and selfuser != 3 %}

{#{ userdata.getLastLogin()|date('U', "Europe/Berlin") }} {{ date()|date('U', "Europe/Berlin") }#}
{% if userdata.getUserpic() and userdata.getUserpic() != "del" %}
		<img src="/upload/uploads/userpics/{{userdata.getUserpic()}}?{{ date().timestamp }}" class="memberpic rounded-circle" alt="Member Pic">
	{% else %}
		<img src="/images/no_boy.jpg" class="memberpic" alt="Member Pic">
{% endif %}
{% if logoexist == true %}   
<br /><br>
<hr />
<img style="max-width: 300px; height: auto;" src="/{{ logolink }}?{{ date().timestamp }}" />
{% endif %}
{% endif %}<br>
Firma: {% if userdata.getFirma() != '' %}<label class="usermenulabel"><a href="/membersearch/firma/{{ userdata.getFirma() }}">{{ userdata.getFirma() }}</a></label>{% endif %}
</div>
<div class="userdatas float-left">
{% if selfuser == 1 or selfuser == 0 %}
<h5>Profil: {{ userdata.getUsername() }}</h5>
{% if selfuser == 0 and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% if usercheck != true and friendcheck != true %}
{% if networknews != true %}
<div class="labelbutton"><a href="javascript:void(0);" data-href="/profile/network/{{ userdata.getUsername() }}" class="openPopupSmall">zum Netzwerk hinzufügen</a></div>
{% else %}
<div class="labelbutton"><a href="javascript:void(0);" data-href="/profile/member/{{ userdata.getUsername() }}">aus Netzwerk entfernen</a></div>
{% endif %}
{% else %}
<div class="labelbutton"><a href="javascript:void(0);" data-href="/profile/member/{{ userdata.getUsername() }}">aus Netzwerk entfernen</a></div>
{% endif %}
{% endif %}
<br />
Onlinestatus: 
{% set newTime = userdata.getUpdatedAt()|date('U', "Europe/Berlin") + 40 %}
{% if newTime > date()|date('U', "Europe/Berlin") %}
{% if userdata.getEmploy() == false %}
<img style="z-index:99;height: 15px;" src="/img/online.png" title="Online" alt="onlinePic" />
{% else %}
<img style="z-index:99;height: 15px;" src="/img/employed.png" title="Beschäftigt" alt="employedPic" />
{% endif %}
{% else %}
<img style="height: 15px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
{% endif %}<br />
Auftragskapazität: 
{% if userdata.getCapacity() == 1 or userdata.getCapacity() == false %}
<img style="z-index:99;height: 15px;" src="/img/offline.png" title="Keine freie Kapazität!" alt="onlinePic" />
{% endif %}
{% if userdata.getCapacity() == 2 %}
<img style="z-index:99;height: 15px;" src="/img/employed.png" title="Frei für kleine Aufträge!" alt="onlinePic" />
{% endif %}
{% if userdata.getCapacity() == 3 %}
<img style="z-index:99;height: 15px;" src="/img/online.png" title="Frei" alt="onlinePic" />
{% endif %}<br /><br />

Name: {% if userdata.getAnrede() == "herr" or userdata.getAnrede() == "Herr" %}Herr{% elseif userdata.getAnrede() == "frau" or userdata.getAnrede() == "Frau" %}Frau{% endif %} {{ userdata.getFirstName() }} {{ userdata.getLastName() }}<br>
aus: {% if userdata.getLand() != '' %}<label class="usermenulabel"><a href="/membersearch/land/{{ userdata.getLand() }}">{{ userdata.getLand() }}</a></label>/ {% endif %}{% if userdata.getPlz() != '' %}<label class="usermenulabel"><a href="/membersearch/plz/{{ userdata.getPlz() }}">{{ userdata.getPlz() }}</a></label>{% endif %}{% if userdata.getWohnort() != '' %}<label class="usermenulabel"><a href="/membersearch/wohnort/{{ userdata.getWohnort() }}">{{ userdata.getWohnort() }}</a></label>{% endif %}<br />
Beruf: {% if userdata.getBerufsbezeichnung() != '' %}<label class="usermenulabel"><a href="/membersearch/berufsbezeichnung/{{ userdata.getBerufsbezeichnung() }}">{{ userdata.getBerufsbezeichnung() }}</a></label>{% endif %}<br>
Akd. Grad: {% if userdata.getTitel() != '' %}<label class="usermenulabel"><a href="/membersearch/titel/{{ userdata.getTitel() }}">{{ userdata.getTitel() }}</a></label>{% endif %}<br>
Beschäftigungsart: {% if userdata.getEmployment() != '' %}<label class="usermenulabel"><a href="/membersearch/employment/{{ userdata.getEmployment() }}">{{ userdata.getEmployment() }}</a></label>{% endif %}<br>
Fähigkeiten: {% if userdata.getBerufsgruppe8() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Auftraggeber">Auftraggeber</a></label>{% endif %}{% if userdata.getBerufsgruppe1() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Grafiker">Grafiker</a></label>{% endif %}{% if userdata.getBerufsgruppe2() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Fotograf">Fotograf</a></label>{% endif %}{% if userdata.getBerufsgruppe3() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Programmierer">Programmierer</a></label>{% endif %}{% if userdata.getBerufsgruppe4() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Texter">Texter</a></label>{% endif %}{% if userdata.getBerufsgruppe5() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Illustrator">Illustrator</a></label>{% endif %}<br>
Sprachkenntnisse: {% if userdata.getChinesisch() == true %}<label class="usermenulabel"><a href="/membersearch/language/chinesisch">Chinesisch</a></label>{% endif %}{% if userdata.getDeutsch() == true %}<label class="usermenulabel"><a href="/membersearch/language/deutsch">Deutsch</a></label>{% endif %}{% if userdata.getEnglisch() == true %}<label class="usermenulabel"><a href="/membersearch/language/englisch">Englisch</a></label>{% endif %}{% if userdata.getFranzoesisch() == true %}<label class="usermenulabel"><a href="/membersearch/language/franzoesisch">Französisch</a></label>{% endif %}{% if userdata.getItalienisch() == true %}<label class="usermenulabel"><a href="/membersearch/language/italienisch">Italienisch</a></label>{% endif %}{% if userdata.getRussisch() == true %}<label class="usermenulabel"><a href="/membersearch/language/russisch">Russisch</a></label>{% endif %}{% if userdata.getSpanisch() == true %}<label class="usermenulabel"><a href="/membersearch/language/spanisch">Spanisch</a></label>{% endif %}{% if userdata.getAspeak() == true %}<label class="usermenulabel"><a href="/membersearch/language/{{ userdata.getAspeak() }}">{{ userdata.getAspeak() }}</a></label>{% endif %}<br />
Stundenpreis: {% if userdata.getStundenpreis() != '' %}<label class="usermenulabel"><a href="/membersearch/stundenpreis/{{ userdata.getStundenpreis() }}">{{ userdata.getStundenpreis() }}</a></label>{% endif %}<br>
Webseite: {% if userdata.getWebsite() != '' %}<label class="usermenulabel"><a target="_blank" href="{{ userdata.getWebsite() }}">{{ userdata.getWebsite()|replace({'http://': '', 'https://': ''}) }}</a></label>{% endif %}<br>
{% if is_granted('ROLE_ADMIN') %}
Mitglied passt nicht&nbsp;&nbsp;<a href="/admin/userverwaltung/{{ userdata.id }}/notok"><span class="pinicons icon-large icon-thumbs-down"></span></a><br />
Mitglied löschen&nbsp;&nbsp;<a href="/admin/userverwaltung/{{ userdata.id }}/del"><span class="pinicons icon-large icon-trash"></span></a><br />
Mailadresse:&nbsp;&nbsp;<a href="mailto:{{ userdata.email }}">{{ userdata.email }}</a><br />
{% endif %}
<br><br>
<strong>Das sagt {{ userdata.getUsername() }} über sich:</strong><br>
{{ userdata.getBeschreibung() }}
{% endif %}
{% if selfuser == 2 %}
<h5>FEHLER: Dieses Mitgllied gibt es nicht, oder hat sich gelöscht!</h5>
{% endif %}
{% if selfuser == 3 %}
<h5>FEHLER: Dieser Bereich ist nur für eingeloggte Mitglieder sichtbar!</h5>
{% endif %}
</div>
<div class="skillwolke float-left">
<h5>Skill-Cloud von {{ userdata.getUsername() }}</h5>
{% for key,value in userskills %}
{% if value != false %}
{% set fontzise = 14 + value %}
<label class="usermenulabel"><span style="font-size:{{fontzise}}px"><a href="/membersearch/spezieals/{{key}}">{{key|replace({'_': " "})}}</a></span></label>
{% endif %}
{% endfor %}
</div>
<div class="clearfix"></div> 
{% if selfuser == 0 and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="memberchatdiv">
{% if sendmsg == 1 %}
<h5>Ihre Nachricht wurde versendet!</h5>
{% else %}<br>
<h5>Chat mit {{ userdata.getUsername() }} beginnen:</h5>
<form action="/member/{{ userdata.getUsername() }}" method="Post">
Betreff:<br>
<input type="text" id="betreffforuser" name="betreffforuser" required="required"><br>
Nachricht:<br>
<textarea id="messegesforuser" name="messegesforuser" required="required"></textarea><br>
<input class="btnmessage btn-primary" type="submit" value="Nachricht senden">
</form>
</div>
{% endif %}
{% endif %}
{% endblock %}
{% block newfooternopins %}
<div class="clearfix"></div> 
{% if selfuser != 2 and selfuser != 3 %}
        <div class="pinsmenu">
                    <label class="pinsmenulabelpic">Pins von {{ userdata.getUsername() }}</label><br />
{% set username = userdata.getUsername() %}
<label class="pinsmenulabel">{% if ((username is defined) and (username != 'ALL')) %}<a href="/profile/pinverwaltung/all">Alle</a>{% else %}<a href="">Alle</a>{% endif %}</label>
{% set katanz = 0 %}

{% for kats in pinkats %} 
{% set katanz = katanz+1 %}
{% if katanz < 10 %}
{% if pincounterdata[kats.getPinkatname()] == true %}
{% if (username is defined) %}
<label class="pinsmenulabel"><a href="/filter/{{ kats.getPinkatname() }}-{{username}}/all">{{ kats.getPinkatname() }}</a></label>
{% else %}
<label class="pinsmenulabel"><a href="/filter/{{ kats.getPinkatname() }}-ALL/all">{{ kats.getPinkatname() }}</a></label>
{% endif %}
{% else %}
<label class="pinsmenulabel">{{ kats.getPinkatname() }}</label>
{% endif %}
{% else %}
{% if pincounterdata[kats.getPinkatname()] == true %}
{% if (username is defined) %}
<label class="pinsmenulabel" style="display:none";><a href="/filter/{{ kats.getPinkatname() }}-{{username}}/all">{{ kats.getPinkatname() }}</a></label>
{% else %}
<label class="pinsmenulabel" style="display:none";><a href="/filter/{{ kats.getPinkatname() }}-ALL/all">{{ kats.getPinkatname() }}</a></label>
{% endif %}
{% else %}
<label class="pinsmenulabel" style="display:none";>{{ kats.getPinkatname() }}</label>
{% endif %}
{% endif %}
{% endfor %}
<label class="pinsmenulabel allfilters" onclick="loadNextFilter('all');" style="cursor: pointer;color:#1691ff;">mehr Filter</label><span class="icon"><i class="fa fa-search"></i></span><input type="search" name="fulltext" class="search" placeholder="Volltextsuche..." /><input type="submit" style="display:none"/>

            </div>
            <div class="clearfix"></div>
<h5>Pins gesamt: {{ pincounter }}</h5><br />
{% set anzPin = 0 %}

{% for pin in pindata %}
{% set anzPin = anzPin + 1 %}
{% if pin.getPinviews() == null %}
{% set pinviews = 0 %}
{% else %}
{% set pinviews = pin.getPinviews() %}
{% endif %}
{% set difference = date().diff(date(pin.getStartdate())) %}
{% set leftDays = difference.days %}
<div class="pin float-left">
                        <a href="/pinview/{{ pin.pinlink() }}"><div class="pinautordiv">
{% if pin.isads == true %}
                                <div class="werbungviewsdiv">
                                        Werbung
                                </div>
                                {% endif %}
                                <div class="viewsdiv">
                                        {{ pinviews }} <i class="fa fa-eye"></i>
                                </div>
                                {% if pin.bewerten == true %}
                                <div class="ratingdiv rating_{{ pin.id }}" id="rateYo_{{ pin.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
                                <div class="viewsdiv">
                                        {{ pinviews }}  <i class="fa fa-eye"></i>
                                </div>
                                {% if pin.getThumbnail() == "" %}
                                <img src="/images/no-image-placeholder.png" class="pinautor" alt="Pinautor">
                                {% else %}
                                <img src="/upload/uploads/pinpics/{{pin.getThumbnail()}}" class="pinautor" alt="Pinautor">
                                {% endif %}
                        </div></a>
                        <div class="pintitle">
                          <a href="/pinview/{{ pin.pinlink() }}">{{ pin.getTitle()|length > 50 ? pin.getTitle()|slice(0, 50) ~ '...' : pin.getTitle()  }}</a>
                        </div>
                        <div class="pinautorminidiv float-left">
{% set newTime = pinlastLogin[pin.getUsername()]|date('U', "Europe/Berlin") + 40 %}
{% if newTime > date()|date('U', "Europe/Berlin") %}
{% if useremploy[pin.getUsername()] == false %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/online.png" title="Online" alt="onlinePic" />
{% else %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/employed.png" title="Beschäftigt" alt="employedPic" />
{% endif %}
{% else %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
{% endif %}
                            {% if userdata.getUserpic() and userdata.getUserpic() != "del" %}
                                <a href="/member/{{ userdata.getUsername() }}"><img src="/upload/uploads/userpics/{{userdata.getUserpic()}}" class="rounded-circle memberpic" alt="Member Pic"></a>
                                {% else %}
                                  <a href="/member/{{ userdata.getUsername() }}"><img src="/images/no_boy.jpg" class="rounded-circle memberpic" alt="Member Pic"></a>
                            {% endif %}
                        </div>
                        <div class="pinautornamediv float-left">
                            <label class="autornamelabel">vor {{ leftDays }}d </label>
                            <label class="autorortlabel">von {{userdata.getUsername()}}</label>
                        </div>
                  </div>
{% if pin.rating != '' %}
    {% set pinrating = pin.rating %}
{% else %}
    {% set pinrating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ pin.id }}").rateYo({
 
    rating    : {{ pinrating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% endfor %}
{% if anzPin is divisible by(10) %}
{% if filter is defined %}
<div class="loader" id="loader10"><div style="cursor: pointer; text-align: center;color: #007bff;" onclick="loadNextDatas('{{ filter }}');">Weitere laden...</a></div></div>
{% else %}
<div class="loader" id="loader10"><div style="cursor: pointer; text-align: center;color: #007bff;" onclick="loadNextDatas('all-{{ userdata.getUsername() }}');">Weitere laden...</a></div></div>
{% endif %}
{% endif %}
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
{% endblock %}
