a#cke_69, a#cke_76, a#cke_82, a#cke_19, a#cke_20, a#cke_21, a#cke_22, a#cke_23, a#cke_24, a#cke_25, a#cke_26, a#cke_27, a#cke_28, a#cke_29 {
    display: none;
}
.cke_toolbar_separator, .cke_toolbar_start, .cke_button__save_icon, .cke_button__newpage_icon, .cke_button__print_icon {
    display: none;
}
#cke_32, #cke_37 {
    display: none;
}