@import url('../../externes/css.css?family=IBM+Plex+Serif');
.element {
  @include float-left;
  @include clearfix;
}
.another-element {
  @include float-right;
  @include clearfix;
}
.one-more {
  @include float-none;
  @include clearfix;
}
*{
	font-family: 'IBM Plex Serif', serif;
}
.jq-ry-container {

	padding: 0 0px !Important;
}
body {
	height: 100%;
	background-color: #799a14;
	/*background-image: url("../images/background.png");*/
  }
  /*.pin:nth-child(2n) { background-color: yellow;}
  .pin:nth-child(2n+1) { background-color: aquamarine; }
  .pin:nth-child(3n) { background-color: palegoldenrod; }
  .pin:nth-child(3n+1) { background-color: aliceblue; }
  .pin:nth-child(4n) { background-color: aqua; }
  .pin:nth-child(6n+1) { background-color: antiquewhite; }
  .pin:nth-child(9n) { background-color: burlywood; }*/
  .pin { background-color: #fff;} 
  .pin:hover {
    transform: scale(1.04) rotate(0deg);
}
#btn:hover {
    cursor: pointer;
}
input {
    padding-left: 3px;
}
select, input, textarea {
    border-radius: .25rem;
}
.btnblankweiter {
margin-bottom: 20px;
}
.jobdivinsert img {
    max-width: 90%;
}
.geradeonline {
    border: 0px;
    font-size: 15pt;
    font-weight: bold;
    color: #799a14;
	padding-right: 40px;
	margin-bottom: 0 !important;
}
.numbers {
	font-size: 14px;
	padding-left: 35px;
}
.fa-eye {
    font-size: 14px;
}
.mailstatus {
    margin-right: 15px;
}
.usermenu {
    z-index: 1000;
    position: relative;
}
.grafikerskills select, .druckereiskills select, .fotografskills select, .entwicklerskills select, .texterskills select, .illustratorskills select, .sonstigesskills select {
    height: 24px;
}
.firmalogo img {
    max-width: 90%;
    max-height: 200px;
}
.bdnmini {
    width: 120px !important;
}
.bdnmini2 {
    width: 185px !important;
}
.pinautornamediv label {
    margin-left: 2px;
}
.loader img {
	text-align: center;
}
.file-preview {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%;
    height: 320px;
    margin-bottom: 5px;
}
.file-input, #kv-success-1, #kv-success-2, #kv-error-1, #kv-error-2 {
	max-width: 510px;
}
.krajee-default.file-preview-frame .kv-file-content {
    margin: 0 auto;
}
.file-preview-frame {
    width: 97%;
    text-align: center;
}
div#picbox {
    margin-top: 42px;
}
.glyphicon-move {
    display: none;
}
.file-drop-zone {
	height: 93% !important;
}
.btn-file {
margin-left: 19px !important;
margin-top: 0px !important;
}
.uservorschau {
	height: 265px;
}
.container {
	margin: 0 auto;
	max-width: 1140px;
	min-height: 100%;
	background-color: #f8f9fa;
}
#form_useraccount label {
    width: 98%;
}
label[for=fos_user_profile_form_current_password] {
    display: none;
}
#fos_user_profile_form #fos_user_profile_form_current_password {
    display: none;
}
select#fos_user_profile_form_gebDay {
    margin-top: 0px;
}
input#fos_user_profile_form_firstName {
	margin-top: 10px;
}
.help-text {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 2px;
}
.werbungview {
	color: #D5B854;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 20px;
	padding-top: 1px;
	margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
	line-height: 1.2;
	font-size: 1.5rem;
}
.pinmeldung {
    margin-left: 10px;
    margin-right: 10px;
}
.pinmeldung #form_content {
	height: 100px;
	width: 100%;
}
#form_grund label {
    width: 95%;
    margin-left: 13px;
}
#form_isads, #form_rechte, #form_bewerten {
    margin-left: 5px;
}
.meldegrund {
	width: 200px;
}
.pinmeldung #form_subject, .pinmeldung #form_emailadresse {
	width: 100%;
}
.werbungviewsdiv {
    position: absolute;
    top: -20px;
    left: 0px;
    width: auto;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    /*background-color: rgba(0, 0, 0, 0.9);*/
    border-radius: 20px;
    padding-right: 4px;
    padding-top: 1px;
	padding-left: 4px;
	padding-bottom: 2px;
}
.footer {
	left: 0px;
    right: 0px;
    margin: 0 auto;
    /* margin-right: auto; */
    position: relative;
    bottom: 0px;
    z-index: 0;
    background-color: #f8f9fa;
    max-width: 1140px;
    height: 35px;
	text-align: right;
	padding-right: 15px;
    padding-left: 15px;
}
.searchoverlabel {
	font-size: 16pt;
	font-weight: bold;
	color: #799a14;
	padding-right: 14px;
}

.pinsmenulabelpic {
	border: 0px;
	font-size: 21pt;
	font-weight: bold;
	color: #799a14;
}
.usermenulabel {
    padding: 5px 5px;
    border: 1px solid #e5e5e5;
    margin: 0 10px 0 -1px;
    font-size: 10pt;
    font-weight: 400;
    color: #818285;
}
.userdatas {
	max-width: 400px;
	margin-left: 30px;
}
.registerlabel {
	font-size: 14pt;
    font-weight: bold;
    color: #527bff;
    margin-top: 7px;
    margin-left: 8px;
    cursor: pointer;
}

.alloverheader {

}
.pinsimg, .logo, .pin {
	border: 0px;
}

.menu {

}
.nav-item, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
	font-size: 17px !important;
	color: #8b8b8b !important;
	font-weight: 500;
}
.menulabel {
	padding: 5px 5px;
}
.pinsmenulabel, .usermenulabel {
	padding: 5px 5px;
	border: 1px solid #e5e5e5;
	margin: 5px 10px 0 -1px;
	font-size: 10pt;
	font-weight: 400;
	color: #818285;
	border-radius: .25rem;
}
.jobhauptdiv {
	width: 320px;
	margin-left: 20px;
	height: 185px;
}
.projektrechnerhauptdiv {
	width: 320px;
	margin-left: 20px;
	height: 185px;
}
.grsearching { /*Search-select Box*/
	text-align: center;
	width: 220px;
	float: right;
}

.typsearching {
	color: #799a14;
	width: 220px;
	float: right;
	font-size: 16pt;
	font-weight: bold;
}
input#searchinguser, input#searchingusername {
    color: #799a14;
    width: 220px;
    float: right;
    font-size: 16pt;
	font-weight: bold;
	padding-left: 3px;
}
.search {
	height: 175px;
}
.search select {
	/*text-align: center;
	text-align-last: center;*/
  }
.grsearching {
	font-size: 16pt;
	font-weight: bold;
	color: #474747;
}

.alloverpins {
	position: relative; 
	margin: 0 auto;
	max-width: 1025px;
}
.alloverarticle {
	position: relative; 
	margin: 0 auto;
	max-width: 1025px;
}
.allovergutscheine {
	position: relative; 
	margin: 0 auto;
	max-width: 1025px;
}
.pinautordiv {
    height: 210px;
}

.pin {
	position: relative;
    height: 320px;
    width: 192px;
    border: 1px solid #e5e5e5;
    margin: 10px 17px 10px 10px;
    padding: 5px;
    /*box-shadow: 1px 1px 5px grey;*/
    transition: all ease 0.6s;
}

.cke_contents_ltr img {
	max-width: 100%;
}
.articleviewsdiv {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
    font-size: 11px;
    color: #8d8a8a;
}
.articleautorortlabel {
    border-bottom: 1px solid #799a14;
}
.article {
	position: relative;
    height: 675px;
    width: 345px;
    border: 1px solid #e5e5e5;
	margin: 10px 8px 10px 10px !important;
    padding: 5px;
    /*box-shadow: 1px 1px 5px grey;*/
    transition: all ease 0.6s;
}
.articlecontent {
    height: 195px;
}
.articleratingdiv {
    position: absolute;
    z-index: 10;
    top: 334px;
    left: 18px;
}
.btnarticle {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 210px;
	padding-left: 6px;
	height: 38px;
}
.articletitle {
    border: 0px;
    font-size: 18pt;
    font-weight: bold;
    color: #799a14;
}
label.articleautorortlabel, label.articlecontent, label.articlemore {
	margin-bottom: 0px !important;
}
.articlemore {
	background-color: #799a14;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
	padding: 10px 15px;
	border-radius: .25rem;
	cursor: pointer;
	margin-top: 10px;
}
.articleviewsdiv {
    position: absolute;
    top: 334px;
    right: 0px;
    width: auto;
    text-align: right;
    font-size: 11px;
    color: #262626;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* border-radius: 20px; */
    padding-right: 0px;
    padding-top: 1px;
    padding-left: 4px;
}
.articlemore:hover {
	background-color: #007bff;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
	padding: 10px 15px;
	border-radius: .25rem;
	cursor: pointer;
}


.gutscheineviewsdiv {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
    font-size: 11px;
    color: #8d8a8a;
}
.gutscheineautorortlabel {
    border-bottom: 1px solid #799a14;
}
.gutscheine {
	position: relative;
    height: 575px;
    width: 345px;
    border: 1px solid #e5e5e5;
	margin: 10px 8px 10px 10px !important;
    padding: 5px;
    /*box-shadow: 1px 1px 5px grey;*/
    transition: all ease 0.6s;
}
.gutscheinecontent {
    height: 75px;
}
.gutscheineratingdiv {
    position: absolute;
    z-index: 10;
    top: 334px;
    left: 18px;
}
.btngutscheine {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 210px;
	padding-left: 6px;
	height: 38px;
}
.gutscheinetitle {
    border: 0px;
    font-size: 12pt;
    font-weight: bold;
    color: #799a14;
	height: 48px;
}
label.gutscheineautorortlabel, label.gutscheinecontent, label.gutscheinemore {
	margin-bottom: 0px !important;
}
.gutscheinemore {
	background-color: #799a14;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
	padding: 10px 15px;
	border-radius: .25rem;
	cursor: pointer;
	margin-top: 10px;
}
.gutscheineviewsdiv {
    position: absolute;
    top: 334px;
    right: 0px;
    width: auto;
    text-align: right;
    font-size: 11px;
    color: #262626;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* border-radius: 20px; */
    padding-right: 0px;
    padding-top: 1px;
    padding-left: 4px;
}
.gutscheinemore:hover {
	background-color: #007bff;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
	padding: 10px 15px;
	border-radius: .25rem;
	cursor: pointer;
}


.pinautor {
 max-width: 180px !important;
 max-height: 180px !important;
}
.loadingimg {
	width: 50%;
}
.viewsdiv {
	position: absolute;
    top: 184px;
    right: 0px;
    width: auto;
    text-align: right;
    font-size: 11px;
    color: #262626;
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* border-radius: 20px; */
    padding-right: 4px;
    padding-top: 1px;
    padding-left: 4px;
}
input.search {
	z-index: 0;
    padding: 5px 7px;
    padding-left: 26px;
    border: 1px solid #e5e5e5;
	margin: 2px 0px 0 0px;
    font-size: 10pt;
    font-weight: 400;
    color: #818285;
    height: 23pt;
}
i.fa.fa-search {
    margin-left: 5px;
    z-index: 1;
    position: absolute;
    margin-top: 9px;
}
.views {
	vertical-align: unset !important;
	top: 2px;
}
.pinsmenu {
    margin-top: 40px;
}
.ratingdiv {
	position: absolute; 
	top: 185px;
    left: 2px;
}
.pintitle {
	height: 63px;
    width: 181px;
    /*background-color: #707070;*/
	margin: 0px 0px 0px 0px;
	overflow: hidden;
}
.pinviewautorminidiv {
	width: 100px;
	height: 100px;
    overflow: hidden;
}
.pincontent img {
    max-width: 90% !important;
}
.articlecontent img {
    max-width: 90% !important;
}
.gutscheinecontent img {
    max-width: 90% !important;
}
.pinautorminidiv {
	width: 33px;
	height: 34px;
    overflow: hidden;
}
.pinautornamediv {
/*background-color: #799a14;*/
overflow: hidden;
height: 35px;
width: 140px;
margin-left: 5px;
}
.actiondiv {
	background-color: #ff3c22;
	width: 182px;
	height: 264px;
}
#form_stundensatz, #form_astitle, #form_jobTyp, #form_prstart {
    width: 98%;
}
label {
    /*margin-bottom: 0 !important;*/
}
.userpic {
    width: 60px;
}
.logindiv input#username, .logindiv input#password {
    width: 97% !important;
}
.contentinnert {
    margin: 0 auto;
	max-width: 1000px;
	padding-bottom: 20px;
}
.autorpinpic {
	width: 100%;
	height:auto;
	z-index: 2;
	position: relative;
	border:0px solid #fff;
}
.autorautorpic {
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
    border: 0px solid #fff;
}
.pinautoredit {
	width: 33px !important;
	height:auto;
    z-index: 9999;
}
.pinnavi {
	font-size: 12px;
 	border:1px solid #7EA016;
	width: auto;
	padding: 0 10px 0 10px;
	margin-right: 10px;
	margin-top: 5px;
	border-radius: .25rem;
}

.selfmessege {
    background: #e1ffc7;
	border-radius: 5px 0px 5px 5px;
	float: right;
}
.sendermessege {
    background: #eeeeef;
	border-radius: 0px 5px 5px 5px;
	float: left;
}
.keine {
	-webkit-appearance: none;
	
	height: 15px;
	border-radius: 5px;   
	background: rgb(182, 177, 177);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  .wenig {
	-webkit-appearance: none;
	
	height: 15px;
	border-radius: 5px;   
	background: #f6932c;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  .frei {
	-webkit-appearance: none;
	
	height: 15px;
	border-radius: 5px;   
	background: green;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  .keine::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	background: rgb(182, 177, 177);
	cursor: pointer;
  }
  
  .keine::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
  }
  .wenig::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	border-color: #000; 
	background: #f6932c;
	cursor: pointer;
  }
  
  .wenig::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
  }
  .frei::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	background: #4CAF50;
	cursor: pointer;
  }
  
  .frei::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
  }
.sendermessege, .selfmessege {
color: #000;
min-width: 250px;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 0px 10px 8px;
    max-width: 85%;
	border-width: 0px 10px 10px 0;
    border-color: transparent #e1ffc7 transparent transparent;
    top: 0;
    left: -10px;
}
.pinautormini {
	width: 100%;
	height: auto;
}
.skillslabel {
    width: 100%;
}
.autornamelabel {
	font-size: 10pt;
    line-height: 11pt;
    height: 15px;
    max-width: 148px;
    font-weight: 400;
    color: #000;
    margin-top: 1px;
    margin-bottom: 3px;
    overflow: hidden !important;
}
.autornamelabel a:hover {
	color: #000;
}
h5 a {
    font-weight: 500;
    color: #799a14;
}
h5 a:hover {
    font-weight: 500;
    color: #799a14;
}
.autorortlabel {
	width: 148px;
    height: 15px;
    line-height: 9px;
    font-size: 10pt;
    color: #799a14;
    font-weight: 400;
    overflow: hidden !important;
}
.pintitle {
	font-size: 11pt;
	color: #000;
	font-weight: 400;
	font-style: normal;
}
.pintitle a {
    font-size: 11pt;
    color: #000;
    font-weight: 400;
	font-style: normal;
}
.pinviewsdiv {
    position: absolute;
    z-index: 9999;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
    font-size: 11px;
    color: #8d8a8a;
}
.pinratingdiv {
    position: absolute;
    z-index: 9999;
    top: 177px;
    left: 3px;
}
.bg-light {
    background-color: #f8f9fa !important;
}
#message_body {
	height: 250px;
}
.h5, h5{
	font-weight: 500;
	color: #799a14;
}
.usereditdiv {
    width: 470px;
}
.accountupdatediv {
    margin-top: 25px;
    width: 390px;
}
.memberpicdiv {
	width: 300px;
	min-height: 300px;
	height: auto;
	
	margin-left: 50px;
	margin-bottom: 15px; 
}
.memberpic {
    width: 100%;
    height: auto;
}
.membersearch {
	width: 90%;
	margin-left: 65px;
	margin-bottom: 30px;
	border-bottom: solid 1px;
}
.memberfund {
	/*font-weight: 700;
	width: 120px;*/
}
.memberfund .pinautorminidiv {
	width: 120px;
    height: auto;
	overflow: unset;
    /*margin: 0 auto;*/
}
.memberfund a {
	color: #000 !important;
}
.memberchatdiv {
	margin-right: 20px;
    margin-left: 45px;
}
#messegesforuser {
	border: 1px solid #769813;
	width: 100%;
}
#betreffforuser {
	border: 1px solid #769813;
	width: 100%;
}
.btnmessage {
	width: 100% !important;
}
.druckereiskills, .grafikerskills, .fotografskills, .entwicklerskills, .texterskills, .illustratorskills {
	width: 350px;
    margin-left: 15px;
}
.skillwolke {
	min-width: 330px;
	text-align: center;
	max-width: 330px;
}
/* FormularCSS */
#message #message_body, #messageoben  #messagerechts_body {
width: 98%;
margin-bottom: 5px;
color: #000;
background-color: #fff;
border: 1px solid #769813;
}
#message #message_body, #messageoben  #messagerechts_body {
height: 250px;
}
input#fos_user_profile_form_username, #fos_user_profile_form_land, #fos_user_profile_form_employment, input#fos_user_profile_form_website, input#fos_user_profile_form_aspeak, input#fos_user_profile_form_stundenpreis, input#fos_user_profile_form_wohnort, input#fos_user_profile_form_telefon, input#fos_user_profile_form_mobil, input#username, input#password, #fos_user_profile_form_email, #fos_user_profile_form_current_password, #fos_user_profile_form_berufsbezeichnung, #fos_user_profile_form_firma, #fos_user_profile_form_titel, #fos_user_profile_form_firstName, #fos_user_profile_form_lastName, #fos_user_profile_form_strassenummer, #fos_user_profile_form_plz {
    min-width: 253px;
}
input#_submit {
    width: 250px;
    margin-top: 15px;
    margin-left: 23px;
}
input, select, textarea {
    border: 1px solid #769813;
}
#fos_user_profile_form {
    max-width: 500px;
}
.jobindex select#form_for, select#form_jobSuche, #form_schwer, #form_enddate, #message_body, #message_subject, #message_recipient, #form_pinkategorie, #form_astitle, #form_content, #form_stundensatz, #form_titel, #form_prstart, #form_jobTyp, #form_jobSuche, #form_for, #form_jobort {
	width: 98%;
	margin-bottom: 5px;
	color: #000;
	background-color: #fff;
	border: 1px solid #769813;
	height: 30px;
}
.btn-primary {
    color: #fff;
    background-color: #799a14;
	border-color: #799a14;
	width: 250px;
	margin-top: 20px;
}
.registerdiv label {
	width: 195px;
	font-weight: 500;
}
.registerdiv #fos_user_registration_form_gebDay, #fos_user_registration_form_gebMon, #fos_user_registration_form_gebYear {
	width: 150px;
}
#fos_user_profile_form_gebDay, #fos_user_profile_form_gebMon, #fos_user_profile_form_gebYear {
	width: 150px;
}
.registerdiv {
	max-width: 850px;
	margin-left: 15px;
}
.logindiv {
    margin-left: 5px;
}
input#fos_user_registration_form_firstName, input#fos_user_registration_form_lastName, input#fos_user_registration_form_email, input#fos_user_registration_form_username, input#fos_user_registration_form_plainPassword_first, input#fos_user_registration_form_plainPassword_second {
	min-width: 350px;
}
input#fos_user_profile_form_warumda6 {
    margin-bottom: 20px;
}
.accountdiv {
	width: 400px;
	margin-left: 15px;
}
.accountdiv label.required {
    width: 95%;
}
.accountupdatediv label {
    width: 370px;
}
input#fos_user_profile_form_useraccount_1 {
	margin-top: -100px;
	vertical-align: middle;
}
button#form_search {
    margin-top: 1px;
}
.jobindex button#form_send {
	margin-top: 6px;
	margin-right: 6px;
}
.jobindex input#form_astitle, .jobindex select#form_jobTyp, .jobindex select#form_jobSuche {
margin-top: -6px;
margin-bottom: 0px;
}
.projektrechnerindex input#form_stundensatz, .projektrechnerindex select#form_prstart {
	margin-top: -6px;
	margin-bottom: 0px;
}
.projektrechnerindex button#form_profi, .projektrechnerindex button#form_send {
	margin-top: 6px;
}
.projektrechnerindex button#form_send {
margin-right: 6px;
}
.projektrechnerindex input#form_stundensatz, .jobindex input#form_astitle {
    padding-left: 3px;
}
input#fos_user_profile_form_useraccount_0, #fos_user_profile_form_useraccount_2 {
	margin-top: -50px;
	vertical-align: middle;
}
.accountdiv label:first-child {
	font-weight: 500;
	color: #799a14;
	font-size: 1.25rem;
}
label.registerchecked {
    width: 95%;
}
.registerbtn {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
div#fos_user_registration_form_useraccount label {
    width: 97%;
    margin-top: 10px;
}
div#fos_user_profile_form label {
    width: 190px;
}
.modal-dialog.modal-lg {
    min-width: 455px;
}
div#fos_user_profile_form textarea {
	width: 438px;
}
.warumdalabel {
    width: 90% !important;
}
.warumda {
    /*margin-left: 185px;*/
}
.accountupdaters {
	width: 270px !important;
	font-weight: 500;
}
.accountupdaters {
    width: 270px !important;
    font-weight: 700 !important;
    margin-top: 20px;
}
/*Mobile-CSS*/
@media (min-width: 0px) and (max-width: 456px) {
	.hc td:nth-child(3),
	.hc th:nth-child(3),
	.hc td:nth-child(4),
	.hc th:nth-child(4),
	.hc td:nth-child(5),
	.hc th:nth-child(5) {display:none}
	.usermenu {
		z-index: 0;
		position: relative;
	}
	.container {
		width: 457px;
	}
	.logo {
		width: 400px;
		height: auto;
		margin-left: -5px;
		/*margin-bottom: 20px;*/
		padding-top: 23px;
	}
	.searchandmenu {
		padding-left: 0px;
		width: 380px;
	}
	.alloverpins {
		position: relative;
		margin: 0 auto;
	}
	.pinsmenu {
		padding-left: 0px;
	}
	input#fos_user_registration_form_useraccount_1 {
		margin-top: -100px;
		vertical-align: middle;
	}
	input#fos_user_registration_form_useraccount_0, input#fos_user_registration_form_useraccount_2 {
		margin-top: -50px;
		vertical-align: middle;
	}
	.membersearch {
		width: 100%;
		margin-left: 0px;
	}
	.menu {
		float: left!important;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.footer {
		display: none;
	}
	.footerhidden {
		display: unset;
	}
	.btnblankweiter {
		margin-left:25.7% !important;
	}
	.btnblankweiter:hover {
		margin-left:25.7% !important;
	}
}
@media (min-width: 457px) and (max-width: 518px) {
	.hc td:nth-child(3),
	.hc th:nth-child(3),
	.hc td:nth-child(4),
	.hc th:nth-child(4),
	.hc td:nth-child(5),
	.hc th:nth-child(5) {display:none}
	.usermenu {
		z-index: 0;
		position: relative;
	}
	.container {
		width: 100%;
	}
	.logo {
		width: 400px;
		height: auto;
		margin-left: -5px;
		/*margin-bottom: 20px;*/
		padding-top: 23px;
	}
	.searchandmenu {
		padding-left: 20px;
		width: 407px;
	}
	.alloverpins {
		position: relative;
		margin: 0 auto;
		max-width: 445px;
	}
	.jobhauptdiv {
		width: 90%;
		margin-left: 20px;
		height: 185px;
	}
	.projektrechnerhauptdiv {
		width: 90%;
		margin-left: 20px;
		height: 155px;
	}
	.pinsmenu {
		padding-left: 0px;
	}
	input#fos_user_registration_form_useraccount_1 {
		margin-top: -100px;
		vertical-align: middle;
	}
	input#fos_user_registration_form_useraccount_0, input#fos_user_registration_form_useraccount_2 {
		margin-top: -50px;
		vertical-align: middle;
	}
	.membersearch {
		width: 100%;
		margin-left: 0px;
	}
	.menu {
		float: left!important;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.footer {
		/*display: none;*/
	}
	.footerhidden {
		display: unset;
	}
	.btnblankweiter {
		margin-left:25.7% !important;
	}
	.btnblankweiter:hover {
		margin-left:25.7% !important;
	}
	.pin {
		margin: 10px 12px 10px 10px !Important;
	}
}
@media (min-width: 519px) and (max-width: 575px) {
	.hc td:nth-child(3),
	.hc th:nth-child(3),
	.hc td:nth-child(4),
	.hc th:nth-child(4),
	.hc td:nth-child(5),
	.hc th:nth-child(5) {display:none}
	.usermenu {
		z-index: 0;
		position: relative;
	}
	input#fos_user_registration_form_useraccount_0, input#fos_user_registration_form_useraccount_2, input#fos_user_registration_form_useraccount_1 {
		margin-top: -50px;
		vertical-align: middle;
	}
	.membersearch {
		width: 100%;
		margin-left: 0px;
	}
	.searchandmenu {
		padding-left: 20px;
		width: 380px;
	}
	.menu {
		float: left!important;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.logo {
		padding-top: 23px;
	}
	.footer {
		/*display: none;*/
	}
	.footerhidden {
		display: unset;
	}
	.btnblankweiter {
		margin-left:25.7% !important;
	}
	.btnblankweiter:hover {
		margin-left:25.7% !important;
	}
	.pin {
		margin: 10px 12px 10px 10px !Important;
	}
}

@media (min-width: 576px) and (max-width: 664px) {
	.hc td:nth-child(4),
	.hc th:nth-child(4),
	.hc td:nth-child(5),
	.hc th:nth-child(5) {display:none}
	.usermenu {
		z-index: 999;
		position: relative;
	}
	.container {
		width: 100%;
	}
	.logo {
		width: 400px;
		height: auto;
		margin-left: -5px;
		/*margin-bottom: 20px;*/
		padding-top: 23px;
	}
	.searchandmenu {
		padding-left: 20px;
		width: 380px;
	}
	.alloverpins {
		position: relative;
		margin: 0 auto;
		max-width: 445px;
	}
	.jobhauptdiv {
		width: 90%;
		margin-left: 20px;
		height: 185px;
	}
	.projektrechnerhauptdiv {
		width: 90%;
		margin-left: 20px;
		height: 155px;
	}
	.pinsmenu {
		padding-left: 0px;
	}
	input#fos_user_registration_form_useraccount_0, input#fos_user_registration_form_useraccount_2, input#fos_user_registration_form_useraccount_1 {
		margin-top: -50px;
		vertical-align: middle;
	}
	.membersearch {
		width: 100%;
		margin-left: 0px;
	}
	.menu {
		float: left!important;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.footer {
		display: none;
	}
	.footerhidden {
		display: unset;
	}
	.btnblankweiter {
		margin-left:25.7% !important;
	}
	.btnblankweiter:hover {
		margin-left:25.7% !important;
	}
	.pin {
		margin: 10px 12px 10px 10px !Important;
	}
}
@media (min-width: 665px) and (max-width: 767px) {
	.hc td:nth-child(4),
	.hc th:nth-child(4),
	.hc td:nth-child(5),
	.hc th:nth-child(5) {display:none}
	.usermenu {
		z-index: 999;
		position: relative;
	}
	.alloverpins {
		position: relative;
		margin: 0 auto;
		max-width: 445px;
	}
	input#fos_user_registration_form_useraccount_0, input#fos_user_registration_form_useraccount_2, input#fos_user_registration_form_useraccount_1 {
		margin-top: -50px;
		vertical-align: middle;
	}
	.membersearch {
		width: 90%;
		margin-left: 65px;
	}
	.menu {
		float: left!important;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.logo {
		padding-top: 23px;
	}
	.footer {
		display: none;
	}
	.footerhidden {
		display: unset;
	}
	.btnblankweiter {
		margin-left:25.7% !important;
	}
	.btnblankweiter:hover {
		margin-left:25.7% !important;
	}
	.pin {
		margin: 10px 12px 10px 10px !Important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
.hc td:nth-child(4),
.hc th:nth-child(4),
.hc td:nth-child(5),
.hc th:nth-child(5) {display:none}
	.usermenu {
		z-index: 1000;
		position: relative;
	}
	.container {
		width: 100%;
	}
	.logo {
		width: 330px;
		height: auto;
		margin-left: -5px;
		/*margin-bottom: 20px;*/
		padding-top: 23px;
	}
	.searchandmenu {
		padding-left: 0px;
		width: 380px;
	}
	.alloverpins {
		position: relative;
		margin: 0 auto;
		max-width: 645px;
	}
	.jobhauptdiv {
		width: 320px;
		margin-left: 20px;
		height: 185px;
	}
	.projektrechnerhauptdiv {
		width: 320px;
		margin-left: 20px;
		height: 155px;
	}
	.pinsmenu {
		padding-left: 0px;
	}
	input#fos_user_registration_form_useraccount_0, input#fos_user_registration_form_useraccount_2, input#fos_user_registration_form_useraccount_1 {
		margin-top: -50px;
		vertical-align: middle;
	}
	.membersearch {
		width: 90%;
		margin-left: 65px;
	}
	.menu {
		float: left!important;
		width: 100%;
		position: fixed;
		z-index: 999;
	}
	.footer {
		/*display: none;*/
	}
	.footerhidden {
		display: unset;
	}
	.btnblankweiter {
		margin-left:34.7% !important;
	}
	.btnblankweiter:hover {
		margin-left:34.7% !important;
	}
	.pin {
		margin: 10px 12px 10px 10px !Important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.usermenu {
		z-index: 1000;
		position: relative;
	}
	.container {
		width: 100%;
	}
	.alloverpins {
		position: relative;
		margin: 0 auto;
		max-width: 845px;
	}
	.jobhauptdiv {
		width: 300px;
		margin-left: 20px;
		height: 185px;
	}
	.projektrechnerhauptdiv {
		width: 300px;
		margin-left: 20px;
		height: 155px;
	}
	.logo {
		width: 320px;
		height: auto;
		margin-left: 22px;
		margin-bottom: 20px;
	}
	.searchandmenu {
		padding-left: 57px;
		width: 425px;
	}
	.pinsmenu {
		padding-left: 57px;
	}
	input#fos_user_registration_form_useraccount_1 {
		margin-top: -50px;
		vertical-align: middle;
	}
	input#fos_user_registration_form_useraccount_0, input#fos_user_registration_form_useraccount_2 {
		margin-top: 0px;
		vertical-align: middle;
	}
	.membersearch {
		width: 90%;
		margin-left: 65px;
	}
	.menu {
		float: right !important;
		width: 645px;
	}
	.footerhidden {
		display: none;
	}
	.btnblankweiter {
		margin-left:37.7% !important;
	}
	.btnblankweiter:hover {
		margin-left:37.7% !important;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
	.alloverarticle {
		position: relative;
		margin: 0 auto;
		max-width: 1050px;
		left: 18px;
	}
	.allovergutscheine {
		position: relative;
		margin: 0 auto;
		max-width: 1050px;
		left: 18px;
	}
	.alloverpins {
		position: relative;
		margin: 0 auto;
		max-width: 1050px;
    	left: 18px;
	}
	.jobhauptdiv {
		width: 320px;
		margin-left: 20px;
		height: 155px;
	}
	.projektrechnerhauptdiv {
		width: 320px;
		margin-left: 20px;
		height: 155px;
	}
	.logo {
		width: 400px;
		height: auto;
		margin-left: 22px;
		margin-bottom: 20px;
	}
	.searchandmenu {
		padding-left: 57px;
		width: 425px;
	}
	.pinsmenu {
		padding-left: 57px;
		margin-bottom: 25px;
	}
	.usermenu {
		min-width: 250px;
		text-align: right;
		margin-right: 23px;
	}
	input#fos_user_registration_form_useraccount_1 {
		margin-top: -50px;
		vertical-align: middle;
	}
	input#fos_user_registration_form_useraccount_0, input#fos_user_registration_form_useraccount_2 {
		margin-top: 0px;
		vertical-align: middle;
	}
	.membersearch {
		width: 90%;
		margin-left: 65px;
	}
	.menu {
		float: right !important;
		width: 645px;
	}
	.footerhidden {
		display: none;
	}
	.btnblankweiter {
		margin-left:40.7%;
	}
	.btnblankweiter:hover {
		margin-left:40.7%;
	}
	.container {
		margin: 0 auto !important;
		}
}
@media (max-width: 990px) {
	#inserttext {
	display: none !important;
	}
}
@media (max-width: 1285px) {
	#inserttextseite {
	display: none !important;
	}
	#inserttextmobil
	{
		display: block !important;
	}
}
@media (max-width: 1420px) {
	.container {
	margin-left: 0px !important;
	}
	#inserttextseite {
	background: #f0e4c1;
	text-align: center;
	display: none;
	width: 120px;
	position: fixed;
	left: 1140px !important;
	}
	#inserttext {
		max-width: 1140px !important;
	}
}
