{% trans_default_domain 'FOSUserBundle' %}
<style>
#fos_user_profile_form_username {
    border: solid 0px;
}
</style>
<script>
function buttonClick() {
document.fos_user_profile_form.action = '/profile/update';
}
function delthispic() {
  var r = confirm("Bild wirklich löschen??");
  if (r == true) {
    $('#avatar').attr("src","/images/loading.gif");

    $.post("/deluserpic/user/{{ app.user.username }}/user",
      function(data)
      {
        if (data != "") 
        {
    $('.userpic').attr("src","/images/no_boy.jpg");
    $('#avatar').attr("src","/images/no_boy.jpg");

          //$(".block:last").after(data);			
        }
        //$('div#loader' + pinID).html(data);
      });
  ///deluserpic/user/{{ app.user.username }}/user
  }
}
</script>
{#{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }#}

<div class="usereditdiv float-left">
<div class="pinnavi float-left"><a href="/profile/start">zurück</a></div>
<div class="pinnavi float-left"><a href="/member">Profilseite</a></div>
{% if app.user.berufsgruppe1 == true or app.user.berufsgruppe2 == true or app.user.berufsgruppe3 == true or app.user.berufsgruppe4 == true or app.user.berufsgruppe5 == true %}
<div class="pinnavi float-left"><a href="/profile/skills">Skills bearbeiten</a></div>
{% endif %}
{% if app.request.get('ok') %}
<br /><br /><strong style="color:#7ea016">Ihre Änderung wurde gespeichert!</strong>
{% endif %}
<!--<div class="pinnavi float-left"><a href="/profile/pinstart">Pin erstellen</a></div>
<div class="pinnavi float-left"><a href="/mail">Mailbox</a></div>-->
<br /><br />
<form name="fos_user_profile_form" method="post" action="/profile/edit" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="Benutzerdaten aktualisieren" />
    </div>
{{ form_end(form) }}
</div>

  <link rel="stylesheet" href="/crop/css/cropper.css">
  <style>
    .label {
      cursor: pointer;
    }

    .progress {
      display: none;
      margin-bottom: 1rem;
    }

    .alert {
      display: none;
    }

    .img-container img {
      max-width: 100%;
    }
    .piccontainer {
      width: 504px;
      float:left;
	  text-align: center;
    }
	#picbox {
		text-align: center;
	}
.btn-primary {
    margin-top: 0px;
}
.btn-file {
	border-top-left-radius:  .25rem !Important;
    border-bottom-left-radius:  .25rem !Important;
}
::-webkit-file-upload-button {
  background: #799a14;
  color: #fff;
  user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input#input {
	padding-left: 40px;
    border: 0px solid #769813;
}
::-webkit-file-upload-button:hover {
  background: #007bff;
  color: #fff;
  user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  </style>
  <div class="piccontainer">
  <h5>Profilbild Upload</h5>
    <label class="label" data-toggle="tooltip" title="Profilbild auswählen...">
      <img style="width:300px;height:300px;" class="rounded rounded-circle" id="avatar" src="{% if app.user.userpic != '' and  app.user.userpic != 'del' %}/upload/uploads/userpics/{{ app.user.userpic }}?{{ date().timestamp }}{% else %}/images/no_boy.jpg{% endif %}" alt="avatar"><br /><br />
      <input data-buttonText="Bild auswählen..." type="file" class="btnblank" id="input" name="pic" accept="image/*"><br />
    </label><button onclick="delthispic()" type="button" class="kv-file-remove btn btn-sm btn-kv btn-default btn-outline-secondary" title="Bild löschen?"><i class="glyphicon glyphicon-trash"></i></button>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <div class="alert" role="alert"></div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">Bild beschneiden...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <img id="image" src="/images/no_boy.jpg">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="crop">Bild zuschneiden & hochladen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/crop/js/cropper.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function () {
      var avatar = document.getElementById('avatar');
      var userpic = document.getElementsByClassName('userpic');
      var image = document.getElementById('image');
      var input = document.getElementById('input');
      var $progress = $('.progress');
      var $progressBar = $('.progress-bar');
      var $alert = $('.alert');
      var $modal = $('#modal');
      var cropper;
	  
      //$('[data-toggle="tooltip"]').tooltip();

      input.addEventListener('change', function (e) {
        var files = e.target.files;
        var done = function (url) {
          input.value = '';
          image.src = url;
          $alert.hide();
          $modal.modal('show');
        };
        var reader;
        var file;
        var url;

        if (files && files.length > 0) {
          file = files[0];

          if (URL) {
            done(URL.createObjectURL(file));
          } else if (FileReader) {
            reader = new FileReader();
            reader.onload = function (e) {
              done(reader.result);
            };
            reader.readAsDataURL(file);
          }
        }
      });

      $modal.on('shown.bs.modal', function () {
        cropper = new Cropper(image, {
          aspectRatio: 1,
          viewMode: 3,
        });
      }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
      });

      document.getElementById('crop').addEventListener('click', function () {
        var initialAvatarURL;
        var canvas;

        $modal.modal('hide');

        if (cropper) {
          canvas = cropper.getCroppedCanvas({
            width: 300,
            height: 300,
          });
          initialAvatarURL = avatar.src;
          avatar.src = canvas.toDataURL();
		  $('.userpic').attr("src",canvas.toDataURL());
          $progress.show();
          $alert.removeClass('alert-success alert-warning');
          canvas.toBlob(function (blob) {
            var formData = new FormData();

            formData.append('pic', blob, 'avatar.jpg');
            $.ajax('/post_file/userpics', {
              method: 'POST',
              data: formData,
              processData: false,
              contentType: false,

              xhr: function () {
                var xhr = new XMLHttpRequest();

                xhr.upload.onprogress = function (e) {
                  var percent = '0';
                  var percentage = '0%';

                  if (e.lengthComputable) {
                    percent = Math.round((e.loaded / e.total) * 100);
                    percentage = percent + '%';
                    $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                  }
                };

                return xhr;
              },

              success: function () {
                $alert.show().addClass('alert-success').text('Upload erfolgreich!');
              },

              error: function () {
                avatar.src = initialAvatarURL;
                $alert.show().addClass('alert-warning').text('Uploadfehler!');
              },

              complete: function () {
                $progress.hide();
              },
            });
          });
        }
      });
    });
  </script>












  <link href="/externes/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you 
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="/externes/piexif.min.js" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="/externes/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
    HTML files. This must be loaded before fileinput.min.js -->
<script src="/externes/purify.min.js" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script src="/externes/fileinput.min.js"></script>
<!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
<script src="/externes/theme.js"></script>
<div id="picbox" class="float-left">
<h5>Logo Ihrer Firma:</h5>
<input id="input-b2" name="pic" type="file" class="file" data-browse-on-zone-click="true" input-name="pic" multiple="true" input-name="pic">

<div id="kv-error-2" style="margin-top:10px;display:none"></div>
</div>
<script>
$("#input-b2").fileinput({
        uploadUrl: "/post_file/firma",
		deleteUrl: '/deluserpic/firma/{{ app.user.username }}/firma',
		{% if app.user.firmapic != '' and  app.user.firmapic != 'del' %}initialPreview: [
        // IMAGE DATA
	   '<img src="/upload/uploads/firma/{{ app.user.firmapic }}?{{ date().timestamp }}" class="kv-preview-data file-preview-image">'
    ],{% endif %}

        uploadAsync: false,
        showPreview: true,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileCount: 1,
        elErrorContainer: '#kv-error-2'
    }).on('filebatchpreupload', function(event, data, id, index) {
        $('#kv-success-2').html('<h4>Upload Status</h4><ul></ul>').hide();
    }).on('filebatchuploadsuccess', function(event, data) {
        var out = '';
        $.each(data.files, function(key, file) {
			console.info(data.files);
            var fname = file.name;
            out = out + '<li>' + 'Ihr Bild # ' + (key + 1) + ' - '  +  fname + ' wurde erfolgreich hochgeladen.' + '</li>';
        });
        //$('#kv-success-2 ul').append(out);
        //$('#kv-success-2').fadeIn('slow');
    });
</script>