{% extends 'templates.html.twig' %}

{% block title %}grafiker.de: Parner{% endblock %}

{% block content %}
<div class="float-left" style="margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 43px; width: 90%;">
<div class="float-left" style="min-width: 420px;max-width: 50%; margin-bottom: 25px;">
Fachverband Medienproduktion e. V.<br /> 
Geschäftsführung<br />
Rüdiger Maaß<br /> 
Waldbornstraße 50 | 56856 Zell/Mosel<br /> 
Tel. (0 65 42) 54 52 | Fax (0 65 42) 54 22<br /> 
E-Mail info@f-mp.de<br /> 
<br /><br /> 
<a target="_blank" href="http://www.f-mp.de">www.f-mp.de</a>
</div>
<div class="float-right" style="min-width: 420px;width: 50%; margin-bottom: 25px;">
<img src="/images/logo_fmp_4c_pos_neu.jpg" alt="text professionell" />
</div>
<div class="clearfix"></div>
<hr />
<div class="float-left" style="min-width: 420px;max-width: 50%; margin-bottom: 25px;">
text professionell<br /> 

Jürgen Rönsch<br /> 
Ihre leistungsstarke Agentur für PR,<br />  
Marketing und Vertrieb in Münster<br /> 
Harkortstraße 24, 48163 Münster<br /> 
Telefon:  +49 (0) 251 3959 20 60<br /> 
<a target="_blank" href="http://www.text-professionell.de">www.text-professionell.de</a>
</div>
<div class="float-right" style="min-width: 420px;width: 50%; margin-bottom: 25px;">
<img src="/images/logo-tp.jpg" alt="text professionell" />
</div>
<div class="clearfix"></div>
<hr />
<div class="float-left" style="min-width: 420px;max-width: 50%; margin-bottom: 25px;">
PrintshopCreator GmbH<br />

Wir sind die Profis für Web2Print und online Printshops. Besonders geeignet für Druckdienstleister und Print-Geschäftskunden. 
<br />
PrintshopCreator GmbH<br />
Von-Steuben-Straße 19, D-48143  Münster <br />
Telefon: +49 (0) 251/136 56 33-8<br />
<a target="_blank" href="http://www.printshopcreator.de">www.printshopcreator.de </a>
</div>
<div class="float-right" style="min-width: 420px;width: 50%; margin-bottom: 25px;">
<img src="/images/printshop-creator2015.png" alt="Printshopcreator" />
</div>
<div class="clearfix"></div>
<hr />
<div class="float-left" style="min-width: 420px;max-width: 50%; margin-bottom: 25px;">
German Publishing Group GmbH <br />
Herr Jürgen Zietlow (Content Marketing Manager, Fachtexter, UX/UI-Design, SMM) 
<br />
Harburger Straße 27, D-27383 Scheeßel 
<br />
Telefon +49 (0) 4263/675 955 8 
<br />
<a target="_blank" href="http://www.magazinmedien.de">www.magazinmedien.de</a> 
</div>
<div class="float-right" style="min-width: 420px;width: 50%; margin-bottom: 25px;">
<img src="/images/V2.png" alt="Magazinmedien" />
</div>
<div class="clearfix"></div>

</div><br /><br />
{% endblock %}
