<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style-service.css">
		<script src="/js/overlib_mini.js"></script>
	<script src="/externes/1.9.1/jquery.min.js"></script> 
    <script src="/externes/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="/externes/1.9.1/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="/externes/1.9.1/bootstrap-datepicker.js"></script>
    <script src="/externes/1.9.1/gijgo.min.js" type="text/javascript"></script>
    <link href="/externes/1.9.1/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd.mm.yyyy',
                language: 'de',
                weekStart: 1,
                autoclose: true,
                title: 'Ablaufdatum'
            });
            $('.timepicker').timepicker({ header: false, mode: '24hr' });
        });
    </script>
<style>
.logo {
    width: 50%;
}
#logo {
    max-width: 50%;
}
label {
    width: 100%;
    font-weight: 600;
}
input, select, textarea {
    width: 100%;
}
textarea {
    height: 250px;
}
#form_send {
    margin-top: 20px;
}
.row {
    width: 90%;
    margin: 0 auto;
}
div#smart-button-container {
    width: 80%;
    margin: 0 auto;
}
</style>
<div class="row">
{% if jobtype == "jobs" %}
<img style="width: 50%;" src="/images/logo.png" class="logo" alt="grafiker Logo"><br />
<hr style="width:100%;border: 2px solid #cccccc;" />
{% else %}
<img src="{{ allwidget.cssPosition}}" alt="Brandinglogo" id="logo">
{% endif %}
</div>
<br />
<br />
{% if jobtype == "standard" %}
{% set nettprice = 12.56 %}
{% set netmwst = 2.39 %}
{% set endprice = 14.95 %}
{% elseif jobtype == "blitz" or jobtype == "entwurf" or jobtype == "agentur" %}
{% set nettprice = 16.76 %}
{% set netmwst = 3.19 %}
{% set endprice = 19.95 %}
{% elseif jobtype == "angebot" %}
{% set nettprice = 25.21 %}
{% set netmwst = 4.79 %}
{% set endprice = 30.00 %}
{% elseif jobtype == "jobs" %}
{% set nettprice = 163.87 %}
{% set netmwst = 31.13 %}
{% set endprice = 195.00 %}
{% endif %}
<div class="row">
<h5 class="thanks" style="width:100%;text-align:center;">Vielen Dank, bitte zahlen Sie {% if jobtype == "standard" %}14,95{% elseif jobtype == "blitz" or jobtype == "entwurf" or jobtype == "agentur" %}19.95{% elseif jobtype == "angebot" %}30.00{% elseif jobtype == "jobs" %}195.00{% endif %} Euro.</h5>
</div>
<br />
<br />

<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>
<script src="https://www.paypal.com/sdk/js?client-id=AXuEna7PqRfj8YgkqE18nORHFAwbpm96F9PpUVCHc4D27gyeYCGGFhy5o_AL4gbfOiu2oSYE7BUSYCJA&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
  <script>
    function initPayPalButton() {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
          
        },

        createOrder: function(data, actions) {
          var pricenet = {{nettprice}};
          var pricemwst = {{netmwst}};
          var priceend = {{endprice}};
          return actions.order.create({
            purchase_units: [{"description":"Grafiker.de Ausschreibung","amount":{"currency_code":"EUR","value":priceend,"breakdown":{"item_total":{"currency_code":"EUR","value":pricenet},"shipping":{"currency_code":"EUR","value":0},"tax_total":{"currency_code":"EUR","value":pricemwst}}}}]
          });
        },

        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            
            // Full available details , JSON.stringify(orderData, null, 2)
            //var arrayout =  JSON.parse(JSON.stringify(orderData, null, 2));


payout("{{username}}", "{{userid}}", "{{widgetid}}", "{{jobid}}", orderData.id, orderData.create_time, orderData.update_time, orderData.payer.email_address, orderData.payer.name.given_name, orderData.payer.name.surname, orderData.payer.payer_id, orderData.status,  orderData.purchase_units["0"].amount.value, orderData.purchase_units["0"].amount.currency_code, orderData.purchase_units["0"].description);
            // Show a success message within this page, e.g.

            // Or go to another URL:  actions.redirect('thank_you.html');
            
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    initPayPalButton();

function payout(username, userid, widgetid, jobid, payid, create_time, update_time, email_address, given_name, surname, payer_id, status, preis, waehrung, discription) {
    $.post("/service/payout", { username: username, userid: userid, widgetid: widgetid, jobid: jobid, payid: payid, create_time: create_time, update_time: update_time, email_address: email_address, given_name: given_name, surname: surname, payer_id: payer_id, status: status, preis: preis, waehrung: waehrung, discription: discription })
    .done(function( msg ) {
                if(msg != "") {
                  {% if jobtype == "jobs" %}
                    window.location.href = "/service/tenders/payok/{{widgetid}}/{{jobid}}?widgetusername=" + username;
                    {% else %}
                    window.location.href = "/service/tenders/payok/{{widgetid}}/{{jobid}}";
                    {% endif %}
                }
            });
}
  </script>
{#{ form_start(form, {'method': 'post', 'action': '/service/tenders/neu/' ~ id, 'attr': {'class': 'fos_user_registration_register', 'id': 'regform'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }#}
<div style="width:99%">
<hr style="width:100%;border: 2px solid #cccccc;" />
<div style="width: 80%;margin: 0 auto;margin-bottom: 30px;">
{% if jobtype != "jobs" %}
<img style="width: 30%;" src="/images/logo.png" class="logo" alt="grafiker Logo"><br />
{% endif %}
<a target="_blank" style="color: #000;text-decoration: none;" href="/impressum">Impressum</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/datenschutz">Datenschutzerklärung</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/agb">AGB</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/widerruf">Widerrufsbelehrung</a>
</div>
</div>