{% if header is defined %}
{% extends 'base.html.twig' %}
{% endif %}
{% block title %}Ausschreibungen{% endblock %}

{% block content %}
<style>
<style>
label {
    width: 100%;
    font-weight: 600;
}
input, select, textarea {
    width: 100%;
}
textarea {
    height: 250px;
}
#form_send {
    margin-top: 20px;
}
</style>
<h1>Ausschreibung > Neu</h1>


<div class="row">
        <div class="col-sm-7">{{ form_widget(form) }}</div>
        <div class="col-sm-5"></div>
    </div>

{% endblock %}
