<!doctype html>
<html lang="de">
    <head>
    <title>Widget Details</title>
    <meta name="viewport" content="width=650, shrink-to-fit=yes">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/extern/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style-service.css">
		<script src="/js/overlib_mini.js"></script>
	<script src="/extern/jquery.min.js"></script> 
    <script src="/extern/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="/externes/1.9.1/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="/externes/1.9.1/bootstrap-datepicker.js"></script>
    <script src="/externes/1.9.1/gijgo.min.js" type="text/javascript"></script>
    <link href="/externes/1.9.1/gijgo.min.css" rel="stylesheet" type="text/css" />
        <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<!-- Sendinblue Conversations {literal} -->
<script>
    (function(d, w, c) {
        w.SibConversationsID = '5be58993bbddbd25c604838c';
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        var s = d.createElement('script');
        s.async = true;
        s.src = 'https://conversations-widget.sendinblue.com/sib-conversations.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'SibConversations');
</script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd.mm.yyyy',
                language: 'de',
                weekStart: 1,
                autoclose: true,
                title: 'Ablaufdatum'
            });
            $('.timepicker').timepicker({ header: false, mode: '24hr' });
        });
        function typchange() {
            if($('input[name="form[offertype]"]:checked').val() == 1) {
                $("#form_price").val("");
                $('#form_price').attr('readonly', true);
                $('#form_price').attr('title', "Nur bei Festpreis möglich!");
            } else {
                $('#form_price').attr('readonly', false);
                $('#form_price').attr('title', "");
            }
        }
    </script>
<style>
.gj-textbox-md {
    border-bottom: 1px solid #E3E3E3;
}
input, textarea {
 border: 1px solid #E3E3E3;
}
.logo {
    width: 50%;
}
#logo {
    max-width: 50%;
}
label {
    width: 100%;
    font-weight: 600;
}
input, select, textarea {
    width: 100%;
}
textarea {
    height: 170px;
}
label.pdf1 {
    margin-top: 20px;
}
#form_send {
    margin-top: 20px;
}
div#form_brauche, div#form_offertype {
    width: 100%;
}
input#form_docpdf1, input#form_docpdf2, input#form_docpdf3 {
    margin-bottom: 10px;
}
input#form_brauche_0, input#form_brauche_1, input#form_offertype_0, input#form_offertype_1 {
    margin-top: 5px;
    width: 5%;
    float: left;
}
label[for=form_offertype_0] {
width: 95%;
}
label[for=form_brauche_0], label[for=form_brauche_1], label[for=form_offertype_0], label[for=form_offertype_1] {
    float: left;
}
label[for=form_service1], label[for=form_service2], label[for=form_service3], label[for=form_service4] {
   width: 80%;
    float: right;
}
input#form_service1,input#form_service3 {
    width: 10%;
    margin-top: 5px;
    margin-left: 10px;
}
.row {
    width:90%;
    margin: 0 auto;
}
#step2 {
    color: #799a14;
}
.auswrow {
    width:100%;
    margin-top: 20px;
}
input#form_service2,input#form_service4{
    margin-top: 14px;
    width: 10%;
    margin-left: 10px;
}
label.checkbox-inline {
    width: 30%;
        margin-bottom: 40px;
        float: left;
}
.gj-datepicker.gj-datepicker-md.gj-unselectable {
    margin-right: 20px;
}
.gj-datepicker.gj-datepicker-md.gj-unselectable {
    width: 190px;
    float: left;
}
.gj-timepicker.gj-timepicker-md.gj-unselectable {
    width: 188px;
    float: left;
}
input#form_astitle {
    margin-bottom: 30px;
}
label[for=form_offertype_1] {
    width: 95%;
}
input#form_price {
    width: 99%;
    height: 30px;
    margin-top: 30px;
}
div#form_brauche, div#form_offertype {
    width: 65%;
    float: left;
}
button#form_send {
    background-color: #799a14;
    border: 0px;
    border-radius: 0px;
        width: 150px;
}
img#logo {
    max-height: 60px;
        margin-bottom: 20px;
}
label[for=form_content] {
    margin-top: 20px;
}
span#currency-extra-label-5 {
    float: right;
    position: absolute;
    margin-top: 30px;
    right: 10px;
    font-size: 19;
    font-weight: 500;
}
.angebot {
    position: relative;
    float: right;
    width: 35%;
}
{% if mobilcheck == "mobil" %}
@media screen and (max-width: 700px) {
    input#form_astitle {
    height: 60px;
    font-size: 45px;
}
.col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 100%;
    max-width: 100%;
}
input {
    height: 45px;
}
input#form_service2, input#form_service4 {
    margin-top: 0px;
    width: 10%;
    margin-left: 10px;
}
label.service1 {
    margin-top: -4px;
}
label.service2 {
    margin-top: -14px;
}
label.service3 {
    margin-top: -4px;
}
label.service4 {
    margin-top: -17px;
}
label.service1, label.service2, label.service3, label.service4 {
    font-size: 40px;
}
label.astitle, .brauche {
    font-size: 40px;
}
label.checkbox-inline {
    width: 100%;
    margin-bottom: 40px;
    float: left;
    font-size: 40px;
}
.gj-datepicker.gj-datepicker-md.gj-unselectable {
    width: 100%;
    float: left;
}
.gj-timepicker.gj-timepicker-md.gj-unselectable {
    width: 100%;
    float: left;
}
label[for=form_offertype_0] {
    width: 80%;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 10px;
}
input#form_brauche_0, input#form_brauche_1, input#form_offertype_0, input#form_offertype_1 {
    margin-top: 10px;
    width: 12%;
    float: left;
}
.angebot {
    position: relative;
    float: unset;
    width: 35%;
}
div#form_brauche, div#form_offertype {
    width: 100%;
    float: left;
}
label[for=form_offertype_1] {
    width: 84%;
    font-size: 40px;
    margin-left: 20px;
}
input#form_price {
    width: 99%;
    margin-top: 40px;
    height: 60px;
    font-size: 45px;
}
span#currency-extra-label-5 {
    float: right;
    position: absolute;
    margin-top: 30px;
    right: 10px;
    font-size: 40px;
    font-weight: 500;
}
label[for=form_content] {
    margin-top: 20px;
    font-size: 40px;
}
label.pdf1 {
    margin-top: 20px;
    font-size: 40px;
}
input, textarea {
    border: 1px solid #000;
}
.gj-textbox-md:active, .gj-textbox-md:focus {
    border-bottom: 2px solid #000;
    outline: 0;
}
.gj-textbox-md {
    border-bottom: 1px solid #000;
}
thead tr th div, table tr td div {
    font-size: 30px !important;
}
.gj-picker.gj-picker-md.datepicker.gj-unselectable {
    width: 500px;
    height: 500px;
}
.datepicker table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 430px;
}
.datepicker div {
    font-size: 30px !important;
}
input#form_date_entree {
    font-size: 40px;
}
.gj-datepicker-md [role=right-icon] {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50px;
}
.gj-timepicker-md [role=right-icon] {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 50px;
}
input#form_time_entree {
    font-size: 40px;
}
input#form_docpdf1, input#form_docpdf2, input#form_docpdf3 {
    margin-bottom: 10px;
    font-size: 30px;
}
button#form_send {
    background-color: #799a14;
    border: 0px;
    border-radius: 0px;
    width: 150px;
    font-size: 30px;
}
}
{% endif %}
</style>
</head>
    <body>
<div class="row">
    <div class="col-sm-12">
<img src="{{ allwidget.cssPosition}}" alt="Brandinglogo" id="logo">
<label>{{thiswidgetcache.datacache["productName"]}} - Preis (brutto): {{thiswidgetcache.datacache["productPriceIncTax"]}}</label><br /><br />
</div>
    </div>
<div class="row" style="border: 1px solid #E3E3E3;">
        <div class="col-sm-3">
            <label id="step1"><a style="color: #000;" href="/widget/designtenders/{{id}}">1. Auswahl</a></label>
        </div>
        <div class="col-sm-3">
            <label id="step2">2. Details</label>
        </div>
        <div class="col-sm-3">
            <label id="step3">3. Adressdaten</label>
        </div>
        <div class="col-sm-3">
            <label id="step4">4. Zahlen</label>
        </div>
    </div>
<div class="row">
<div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;">
{{ form_start(form, {'method': 'post', 'action': '/service/tenders/neu/' ~ id ~ "?type=" ~ type ~ "&cacheid=" ~ app.request.get('cacheid')}) }}
    <div class="row auswrow">
            <div class="col-sm-4" style="padding-left: 0px; font-weight:500;">
                <label class="brauche">Ich benötige*:</label>
            </div>
            <div class="col-sm-4">
                    {{ form_label(form.service1) }}
                    {{ form_widget(form.service1) }}
                    {{ form_label(form.service2) }}
                    {{ form_widget(form.service2) }}
            </div>
            <div class="col-sm-4">
                    {{ form_label(form.service3) }}
                    {{ form_widget(form.service3) }}
                    {{ form_label(form.service4) }}
                    {{ form_widget(form.service4) }}
            </div>
    </div>

<div class="clearfix"></div>
{{ form_label(form.astitle) }}
{{ form_widget(form.astitle) }}

<label class="checkbox-inline">bis spätestens*:</label>

{{ form_widget(form.date_entree) }}

{{ form_widget(form.time_entree) }}
<div class="clearfix"></div>
{{ form_widget(form.offertype) }}
<span class="angebot">
{{ form_widget(form.price) }}
<span id="currency-extra-label-5">€</span>
</span>
{{ form_label(form.content) }}
{{ form_widget(form.content) }}
{{ form_label(form.docpdf1) }}
{{ form_widget(form.docpdf1) }}
{{ form_label(form.docpdf2) }}
{{ form_widget(form.docpdf2) }}
{{ form_label(form.docpdf3) }}
{{ form_widget(form.docpdf3) }}
<div style="text-align:right;width:100%">
{{ form_widget(form.send) }}
{{ form_end(form) }}
</div>
</div>
</div>

<div style="width:99%">
<hr style="width:100%;border: 2px solid #cccccc;" />
<div style="width: 80%;margin: 0 auto;margin-bottom: 30px;">
<a target="_blank" style="color: #000;text-decoration: none;" href="/"><img style="width: 30%;" src="/images/logo.png" class="logo" alt="grafiker Logo"></a><br />
<a target="_blank" style="color: #000;text-decoration: none;" href="/impressum">Impressum</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/datenschutz">Datenschutzerklärung</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/agb">AGB</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/widerruf">Widerrufsbelehrung</a>
</div>
</div>
</div>

</body>
</html>