<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/externes/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style-service.css">
		<script src="/js/overlib_mini.js"></script>
	<script src="/externes/1.9.1/jquery.min.js"></script> 
    <script src="/externes/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="/externes/1.9.1/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="/externes/1.9.1/bootstrap-datepicker.js"></script>
    <script src="/externes/1.9.1/gijgo.min.js" type="text/javascript"></script>
    <link href="/externes/1.9.1/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd.mm.yyyy',
                language: 'de',
                weekStart: 1,
                autoclose: true,
                title: 'Ablaufdatum'
            });
            $('.timepicker').timepicker({ header: false, mode: '24hr' });
        });
    </script>
<style>
.logo {
    width: 50%;
}
#logo {
    max-width: 50%;
}
label {
    width: 100%;
    font-weight: 600;
}
input, select, textarea {
    width: 100%;
}
textarea {
    height: 250px;
}
#form_send {
    margin-top: 20px;
}
.row {
    width: 90%;
    margin: 0 auto;
}
div#smart-button-container {
    width: 80%;
    margin: 0 auto;
}
</style>
<div class="row">
{% if widgetend == "grafiker" %}
<img style="width: 30%;" src="/images/logo.png" class="logo" alt="grafiker Logo"><br />
{% else %}
<img src="{{ allwidget.cssPosition}}" alt="Brandinglogo" id="logo">
{% endif %}
</div>
<br />
<br />
<div class="row">
</div>
<br />
<br />

<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"><h3>Danke für Ihren Kauf!</h3><br />Wir senden Ihnen jetzt eine eMail mit allen weiteren Daten.</div>
      </div>
    </div>
{#{ form_start(form, {'method': 'post', 'action': '/service/tenders/neu/' ~ id, 'attr': {'class': 'fos_user_registration_register', 'id': 'regform'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }#}
<div style="width:99%">
<hr style="width:100%;border: 2px solid #cccccc;" />
<div style="width: 80%;margin: 0 auto;margin-bottom: 30px;">
<img style="width: 30%;" src="/images/logo.png" class="logo" alt="grafiker Logo"><br />
<a target="_blank" style="color: #000;text-decoration: none;" href="/impressum">Impressum</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/datenschutz">Datenschutzerklärung</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/agb">AGB</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/widerruf">Widerrufsbelehrung</a>
</div>
</div>