<meta name="viewport" content="width=600, shrink-to-fit=yes">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/externes/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style-service.css">
		<script src="/js/overlib_mini.js"></script>
	<script src="/externes/1.9.1/jquery.min.js"></script> 
    <script src="/externes/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link href="/externes/1.9.1/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="/externes/1.9.1/bootstrap-datepicker.js"></script>
    <script src="/externes/1.9.1/gijgo.min.js" type="text/javascript"></script>
    <link href="/externes/1.9.1/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function() {
{% if jobtype == "jobs" %}
$("#user_agb").prop( "checked", true );
$("#user_widerrufsbelehrung").prop( "checked", true );
                    $( "#user_agb" ).css("display", "none");
                    $( "#user_widerrufsbelehrung" ).css("display", "none");
                    $( "label[for=user_agb]" ).css("display", "none");
                    $( "label[for=user_widerrufsbelehrung]" ).css("display", "none");
{% endif %}
        $("#user_passwort, #user_wdpasswort").attr('onChange', null);
        $("#user_wdpasswort").change(function() {
                //Passwörter prüfen!!!
                var passwort = document.getElementById("user_passwort").value;
                var passwort_wd = document.getElementById("user_wdpasswort").value;
                if(passwort != passwort_wd) {
                        $('.passwort').html('❌ <strong style="color:red">Passwörter nicht gleich!</strong>');
                } else {
                        $('.passwort').html('');
                        passwortcheck = true;
                }
        })
        $("#user_username").keyup(function() {
                //Prüfen ob Username noch frei ist!!!
                var len = document.getElementById("user_username").value.length;
                if (len >= 2) {
                $.post("/usernamecheck/" + document.getElementById("user_username").value,
                        function(data)
                        {
                                if (data == 1) 
                                {
                                        $('.username').html('❌ <strong style="color:red">Benutzername bereits vergeben!</strong>');
                                //$(".block:last").after(data);			
                                } else {
                                        $('.username').html('');
                                        //✔️ <strong style="color:#62bb46">Benutzername noch frei!</strong>
                                        usernamecheck = true;
                                }
                                //$('div#loader' + pinID).html(data);
                        });
                }
        })
        $("#user_email").keyup(function() {
                //Prüfen ob Username noch frei ist!!!
                var len = document.getElementById("user_email").value.length;
                if (len >= 2) {
                $.post("/mailcheck/" + document.getElementById("user_email").value,
                        function(data)
                        {
                                if (data == 1) 
                                {
const radios = document.getElementById('registrieren');
console.log(radios.value);

const radiosg = document.getElementById('gast');
console.log(radiosg.value);

const radiosl = document.getElementById('Login');
console.log(radiosl.value);
for (var i = 0; i <  radios.length; i++) {
  if (radios[i].checked) {
    console.log(radios[i].value);
  }
}
if(radios.value == "registrieren") {
                                        $('.email').html('❌ <strong style="color:red">Diese Emailadresse existiert bereits!</strong>');
} else {
        $('.email').html('');
}
                                //$(".block:last").after(data);			
                                } else {
                                        $('.email').html('');
                                        //✔️ <strong style="color:#62bb46">Benutzername noch frei!</strong>
                                        emailcheck = true;
                                }
                                //$('div#loader' + pinID).html(data);
                        });
                }
        })

            $('.js-datepicker').datepicker({
                format: 'dd.mm.yyyy',
                language: 'de',
                weekStart: 1,
                autoclose: true,
                title: 'Ablaufdatum'
            });
            $('.timepicker').timepicker({ header: false, mode: '24hr' });
        });
function checkfirma() {
            if(document.getElementById('user_isfirma').checked) {
                    $( "#user_firmenname" ).css("display", "block");
                    $( "#user_ustid" ).css("display", "block");
                    $( "label[for=user_firmenname]" ).css("display", "block");
                    $( "label[for=user_ustid]" ).css("display", "block");
                } else {
                    $( "#user_firmenname" ).css("display", "none");
                    $( "#user_ustid" ).css("display", "none");
                    $( "label[for=user_firmenname]" ).css("display", "none");
                    $( "label[for=user_ustid]" ).css("display", "none");
                }
}
function visible(what) {
        if(what == "gast" || what == "reg") {
                $(".regform").css("display", "block");
                $(".logindiv").css("display", "none");
        } else {
                $(".regform").css("display", "none");
                $(".logindiv").css("display", "block");
        }
        if(what == "gast") {
                document.getElementById("Login").value = "";
                document.getElementById("gast").value = "gast";
                document.getElementById("registrieren").value = "";
                $( "#user_username" ).css("display", "none");
                $( "#user_wdpasswort" ).css("display", "none");
                $( "#user_passwort" ).css("display", "none");
                $( "label[for=user_wdpasswort]" ).css("display", "none");
                $( "label[for=user_passwort]" ).css("display", "none");
                $( "label[for=user_username]" ).css("display", "none");
                 document.getElementById("user_wdpasswort").removeAttribute("required");
                 document.getElementById("user_passwort").removeAttribute("required");
                 document.getElementById("user_username").removeAttribute("required");
        }
        if(what == "reg") {
                document.getElementById("Login").value = "";
                document.getElementById("gast").value = "";
                document.getElementById("registrieren").value = "registrieren";
                $( "#user_username" ).css("display", "block");
                $( "#user_wdpasswort" ).css("display", "block");
                $( "#user_passwort" ).css("display", "block");
                $( "label[for=user_wdpasswort]" ).css("display", "block");
                $( "label[for=user_passwort]" ).css("display", "block");
                $( "label[for=user_username]" ).css("display", "block");
                $( "#user_wdpasswort" ).attr("required", "required");
                $( "#user_passwort" ).attr("required", "required");
                $( "#user_username" ).attr("required", "required");
        }
        if(what == "Login") {
                document.getElementById("Login").value = "Login";
                document.getElementById("gast").value = "";
                document.getElementById("registrieren").value = "";
        }
}
    </script>
<style>
.logo {
    width: 50%;
}
#logo {
    max-width: 50%;
}
label {
    width: 100%;
    font-weight: 600;
}
input, select, textarea {
    width: 100%;
}
textarea {
    height: 250px;
}
#form_send {
    margin-top: 20px;
}
.row, .logindiv, .regform {
    width: 90%;
    margin: 0 auto;
}
.btndiv {
    margin-top: 20px;
}
input#_submit {
    background-color: #799a14;
    border-color: #799a14;
    border-radius: 0px;
    margin-top: 20px;
}
input#inputPassword {
    margin-top: 20px;
}
.logindiv {
    margin-top: 60px;
}
input.btn.btn-primary {
    background-color: #799a14 !important;
    border-color: #799a14 !important;
    border-radius: 0px !important;
}

input#user_agb, input#user_widerrufsbelehrung {
    width: 35px;
    float: left;
}
label[for=user_agb], label[for=user_widerrufsbelehrung] {
    width: 93%;
    float: right;
    margin-top: 5px;
}
div#useredit {
    margin-bottom: 20px;
}
input#user_widerrufsbelehrung {
    margin-top: 30px;
}
input#user_telefon {
    margin-bottom: 20px;
}
{% if mobilcheck == "mobil" %}
@media screen and (max-width: 700px) {
h5 {
    font-size: 40px;
}
input#Login, input#registrieren, input#gast {
    height: 65px;
}
input#inputEmail, input#inputPassword, input, select {
    height: 60px;
    font-size: 45px;
}
input#_submit {
    background-color: #799a14;
    border: 0px;
    border-radius: 0px;
    font-size: 30px;
}
label {
    font-size: 30px;
}
}
{% endif %}
</style>
<div class="row">
{% if jobtype != "jobs" %}
<img src="{{ allwidget.cssPosition}}" alt="Brandinglogo" id="logo">
{% else %}
    <img style="width: 50%;" src="/images/logo.png" class="logo" alt="grafiker Logo"><br />
    <hr style="width:100%;border: 2px solid #cccccc;" />
{% endif %}
</div>
<br />
<br />
<form><div class="row"><div class="col-sm-4 radiodiv"><input onclick="visible('Login')" type="radio" id="Login" name="regbtn" value="Login" checked><label for="Login" style="text-align: center;">Login</label></div><div class="col-sm-4 radiodiv"><input onclick="visible('reg')" type="radio" id="registrieren" name="regbtn" value="Registrieren"><label for="registrieren" style="text-align: center;">Registrieren</label></div><div class="col-sm-4 radiodiv">{% if jobtype != "jobs" %}<input onclick="visible('gast')" type="radio" id="gast" name="regbtn" value="Gast"><label for="gast" style="text-align: center;">Als Gast weiter</label>{% endif %}</div></div></form>
<div class="logindiv">
<h5>Auf Grafiker.de einloggen</h5>
<form action="/security/login?cacheid={{app.request.get('cacheid')}}" method="post">

        <label for="inputEmail" class="sr-only">Username</label>
    <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Passwort" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
{% if jobtype == "jobs" %}
    <input type="hidden" name="widgetjoblogin"
           value="1"
    >
    <input type="hidden" name="widgetlogin"
           value="0"
    >
{% else %}
<input type="hidden" name="widgetjoblogin"
           value="0"
    >
<input type="hidden" name="widgetlogin"
           value="1"
    >
{% endif %} 
    <input type="hidden" name="id"
           value="{{ id }}"
    >

    <input type="hidden" name="lastid"
           value="{{ lastid }}"
    >
    <input type="hidden" name="type"
           value="{{ type }}"
    >

    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="EINLOGGEN" />
</form>
<a target="_blank" href="/resetting/request">Passwort vergessen?</a>
</div>
<br /><br />
{% if jobtype != "jobs" %}
{% if jobtype == "standard" %}
{% set nettprice = 0.00 %}
{% set netmwst = 0.00 %}
{% set endprice = 0.00 %}
{% elseif jobtype == "blitz" or jobtype == "entwurf" or jobtype == "agentur" %}
{% set nettprice = 16.76 %}
{% set netmwst = 3.19 %}
{% set endprice = 19.95 %}
{% elseif jobtype == "angebot" %}
{% set nettprice = 25.21 %}
{% set netmwst = 4.79 %}
{% set endprice = 30.00 %}
{% endif %}
{% endif %}
<div class="regform" style="display:none;">
<h5>Auf Grafiker.de registrieren</h5>
{% if jobtype != "jobs" %}
<form name="fos_user_profile_form" method="post" action="/service/register/{{ id }}/{{ lastid }}?cacheid={{app.request.get('cacheid')}}" class="fos_user_profile_edit">
{% else %}
  <form name="fos_user_profile_form" method="post" action="/service/register/{{ id }}/job?cacheid={{app.request.get('cacheid')}}" class="fos_user_profile_edit">  
{% endif %}
 {% if jobtype == "jobs" %}
    <input type="hidden" name="widgetjobregister"
           value="1"
    >
{% endif %} 
            {{ form_row(form.username) }}
            <label class="username"></label>
            {{ form_row(form.email) }}
            <label class="email"></label>
            {{ form_row(form.passwort) }}
            {{ form_row(form.wdpasswort) }}
            <label class="passwort"></label>
            {{ form_row(form.anrede) }}
            {{ form_row(form.isfirma) }}
            {{ form_row(form.firmenname) }}
            {{ form_row(form.ustid) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.strassenummer) }}
            {{ form_row(form.plz) }}
            {{ form_row(form.wohnort) }}
            {{ form_row(form.land) }}
            {{ form_row(form.telefon) }}
            {% set agbFormGroup %}
            {{ form_row(form.agb) }}
            {% endset %}
            {{ agbFormGroup|replace({'#AGB_LINK#':'<a target="_blank" href="/agb">AGB</a>','#DATENSCHUTZ_LINK#':'<a target="_blank" href="/datenschutz">Datenschutzerklärung</a>'})|raw }}
            {% set widerrufFormGroup %}
            {{ form_row(form.widerrufsbelehrung) }}
            {% endset %}
            {{ widerrufFormGroup|replace({'#WIDERRUF_LINK#':'<a target="_blank" href="/widerruf">Widerrufsrecht</a>'})|raw }}
    <div class="btndiv">
    {% if jobtype == "jobs" %}
 <input class="btn btn-primary" type="submit" value="Registrieren?" />
    {% else %}
        <input class="btn btn-primary" type="submit" value="JETZT FÜR GESAMTPREIS € {{endprice}} (inkl. MwSt.) BESTELLEN" />
    {% endif %}  
    </div>
</div>
<div style="width:99%">
<hr style="width:100%;border: 2px solid #cccccc;" />
<div style="width: 80%;margin: 0 auto;margin-bottom: 30px;">
{% if jobtype != "jobs" %}
<img style="width: 30%;" src="/images/logo.png" class="logo" alt="grafiker Logo"><br />
{% endif %}
<a target="_blank" style="color: #000;text-decoration: none;" href="/impressum">Impressum</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/datenschutz">Datenschutzerklärung</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/agb">AGB</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/widerruf">Widerrufsbelehrung</a>
</div>
</div>
{{ form_end(form) }}