<!doctype html>
<html lang="de">
    <head>
        <title>{% block titel %}Grafiker.de Designservice{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/externes/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style-service.css">
		<script src="/js/overlib_mini.js"></script>
	<script src="/externes/1.9.1/jquery.min.js"></script> 
    <script src="/externes/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link href="/externes/1.9.1/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="/externes/1.9.1/bootstrap-datepicker.js"></script>
    <script src="/externes/1.9.1/gijgo.min.js" type="text/javascript"></script>
    <link href="/externes/1.9.1/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd.mm.yyyy',
                language: 'de',
                weekStart: 1,
                autoclose: true,
                title: 'Ablaufdatum'
            });
            $('.timepicker').timepicker({ header: false, mode: '24hr' });
        });
        function showgrafiker(cssid) {
               $(".showgrafiker" + cssid + "").css("display", "block");
        }
    </script>
	<script>
	</script>
	<style>
.header {
	background-color: #799a14;
}
.grafikerh1 {
	color: #fff;
	padding-left: 20px;
}
.menu {
	background-color: #212529;
}
.menuul li, .menuul li a {
	color: #aeb1bc;
	list-style-type: none;
}
.menuul li a:hover {
	color: #fff;
	list-style-type: none;
}
.row {
	margin-right: 0px;
    margin-left: 0px;
}
.adminh5 {
	color:#fff;
}
hr {
	border-top: 1px solid #aeb1bc;
	color: #aeb1bc;
}
label.widgetlist, label.widgetlist a {
    background-color: #799a14;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}
	</style>
    </head>
    <body>
<style>
.offerdiver {
    background-color:#fff;
    /*border: 2px solid;*/
    margin-top: 10px;
    margin-bottom: 5px;
    /*padding: 10px;*/
}
#chatdiv {
    height: 350px;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid #ddd;
    background-color: #e8eef4;
}
.supportmesseges {
    border: 4px solid #ffffff;
    font-weight: 200;
    color: #000000;
    font-family: arial;
    position: relative;
    width: auto;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.supportdiv, .supportmesseges {
    float: right;
    font-size: 12px;
}
.supportmesseges:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #ffffff;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: -4px;
}
.contactmesseges {
    border: 4px solid #b3e7ff;
    font-weight: 100;
    color: #000000;
    font-family: arial;
    position: relative;
    width: auto;
    max-width: 80%;
    background-color: #b3e7ff;
    border-radius: 3px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.contactdiv, .contactmesseges {
    float: left;
    font-size: 12px;
}
.contactmesseges:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 10px solid #b3e7ff;
    border-left: 10px solid transparent;
    border-top: 10px solid #b3e7ff;
    border-bottom: 10px solid transparent;
    left: -23px;
    top: -4px;
}
.textareadiv {
    background-color: #e8eef4;
}
label.widgetlist, label.widgetlist a {
    background-color: #799a14;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    float: right;
}
button.btnclass {
    background-color: #799a14;
    color: #fff;
    border: unset;
    cursor: pointer;
}
button.stornobtn {
    border: unset;
    background-color: #ffcc00;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    margin-top: 13px;
}
button.offerok {
    border: unset;
    background-color: #799a14;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
}
.productok {
    border: unset;
    background-color: #799a14;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
}
button.offerout {
    border: unset;
    background-color: #0099cc;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.contactdiv, .contactmesseges {
    float: left;
    font-size: 12px;
}
.contactdiv {
    margin-left: 20px;
    width: 80%;
}
.supportdiv, .supportmesseges {
    float: right;
    font-size: 12px;
}
.supportdiv {
    margin-right: 20px;
    width: 80%;
    text-align: right;
}
.divtitle {
    border:1px solid #F0F0F0;
    padding-right:0px;
    padding-left:0px;
    max-width: 95%;
    flex: 0 0 48%;
    margin-right: 11px;
    height: 400px;
}
.divmiddle {
    border:1px solid #F0F0F0;
    padding-right:0px;
    padding-left:0px;
    margin-right: 11px;
    height: 400px;
}
input#form_price {
    float: right;
    width: 150px;
    margin-left: 10px;
    border-color: #f2f2f2;
}
textarea#message {
    border-color: #f2f2f2;
    border-radius: 0px;
}
</style>
<script>
$(document).ready(function(){
  if($( window ).width() > 500) {
  $("#chatdiv").css("height", $( window ).height()-820);
  var objDiv = document.getElementById("chatdiv");
  objDiv.scrollTop = objDiv.scrollHeight;
  } else {
    $("#chatdiv").css("height", $( window ).height()-940);
  var objDiv = document.getElementById("chatdiv");
  objDiv.scrollTop = objDiv.scrollHeight;
  }
$( window ).resize(function() {
  if($( window ).width() > 500) {
  $("#chatdiv").css("height", $( window ).height()-820);
  var objDiv = document.getElementById("chatdiv");
  objDiv.scrollTop = objDiv.scrollHeight;
  } else {
    $("#chatdiv").css("height", $( window ).height()-940);
  var objDiv = document.getElementById("chatdiv");
  objDiv.scrollTop = objDiv.scrollHeight;
  }
});


$("input[data-type='currency']").on({
    keyup: function() {
      formatCurrency($(this));
    },
    blur: function() { 
      formatCurrency($(this), "blur");
    }
});


function formatNumber(n) {
  // format number 1000000 to 1,234,567
  return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ".")
}


function formatCurrency(input, blur) {
  // appends $ to value, validates decimal side
  // and puts cursor back in right position.
  
  // get input value
  var input_val = input.val();
  
  // don't validate empty input
  if (input_val === "") { return; }
  
  // original length
  var original_len = input_val.length;

  // initial caret position 
  var caret_pos = input.prop("selectionStart");
    
  // check for decimal
  if (input_val.indexOf(",") >= 0) {

    // get position of first decimal
    // this prevents multiple decimals from
    // being entered
    var decimal_pos = input_val.indexOf(",");

    // split number by decimal point
    var left_side = input_val.substring(0, decimal_pos);
    var right_side = input_val.substring(decimal_pos);

    // add commas to left side of number
    left_side = formatNumber(left_side);

    // validate right side
    right_side = formatNumber(right_side);
    
    // On blur make sure 2 numbers after decimal
    if (blur === "blur") {
      right_side += "00";
    }
    
    // Limit decimal to only 2 digits
    right_side = right_side.substring(0, 2);

    // join number by .
    input_val = left_side + "," + right_side;

  } else {
    // no decimal entered
    // add commas to number
    // remove all non-digits
    input_val = formatNumber(input_val);
    input_val = input_val;
    
    // final formatting
    if (blur === "blur") {
      input_val += ",00 €";
    }
  }
  
  // send updated string to input
  input.val(input_val);

  // put caret back in the right position
  var updated_len = input_val.length;
  caret_pos = updated_len - original_len + caret_pos;
  input[0].setSelectionRange(caret_pos, caret_pos);
}
});

function checkChecked(what)
{
  document.getElementById('form_service' + what).checked = true;
}
function setnewvalue(what) {
    document.getElementById('form_price').value = what;
}
function viewcontent(what) {
if(what == "on") {
$(".contentview").html("{{ thistenders.content|replace({'\r\n':'<br />'})|raw }}");
$(".viewcontent").css("display", 'block');
} else {
   $(".viewcontent").css("display", 'none'); 
}
}
</script>
<div class="container">
<form  method="post" action="/service/tenders/customer/okay/{{id}}/{{uid}}/{{offerid}}" class="fos_user_registration_register" id="offerform" name="form" enctype="multipart/form-data">
<div class="col-sm-12 viewcontent" style="border:1px solid #F0F0F0;position: absolute;z-index: 9999999;width: 1110px;background-color: #fff;top:34px;height: 390px;display:none;">
<label style="float:left;width:98%;height: 98%;overflow-y: auto;" class="contentview">
</label>
<label style="float:left;width:2%;text-align:right;">
<strong style="cursor: pointer;" onclick="viewcontent('off')">X</strong>
</label>
</div>
<div class="col-sm-12" style="text-align:right;"><a href="mailto:mail@grafiker.de">Support</a> | <a href="/service/tenderslist/customer/{{thistenders.username}}">Zur Übersicht</a></div>
        <div class="offerdiver">
        <div class="row">
        <div class="col-sm-6 divtitle">
        <label style="font-weight: 500;padding-left: 10px;background-color:#f2f2f2;width:100%">Meine Ausschreibung: {{ thistenders.astitle}}</label>
<label style="position:relative;padding-left: 10px;padding-right: 10px;height: 69%;">
        vom: {{ thistenders.startdate|date("d.m.Y (H:i", "Europe/Berlin") }} Uhr)<br /><br />
        <input type="checkbox" id="form_service0" name="form[service1]" value="1" {% if serficecheck[0] is defined %}checked onclick="checkChecked(0)"{% else %} disabled{% endif %}> Logo Design <input type="checkbox" id="form_service1" name="form[service1]" value="1" {% if serficecheck[1] is defined %}checked onclick="checkChecked(1)"{% else %} disabled{% endif %}> Grafikdesign <input type="checkbox" id="form_service2" name="form[service1]" value="1" {% if serficecheck[2] is defined %}checked onclick="checkChecked(2)"{% else %} disabled{% endif %}> Text Erstellung <input type="checkbox" id="form_service3" name="form[service1]" value="1" {% if serficecheck[3] is defined %}checked onclick="checkChecked(3)"{% else %} disabled{% endif %}> Sonstiges<br /><br />
        bis spätestens: {{ thistenders.enddate|date("d.m.Y (H:i", false) }} Uhr)<br /><br />
<input type="radio" id="form_offertype_0" name="form[offertype]" required="required" value="1" {% if thistenders.brauche == 1 %}checked{% else %} disabled{% endif %}> Ein Angebot<br />
<input type="radio" id="form_offertype_0" name="form[offertype]" required="required" value="1" {% if thistenders.brauche == 2 %}checked{% else %} disabled{% endif %}> Das fertige Design/Produkt zum Festpreis von  <input type="text" id="form_price" name="form[price]" value="{{ thistenders.price }} €" onChange="setnewvalue('{{ thistenders.price }} €')" readonly><br /><br />
<label style="position:relative;width:100%;border: 1px solid #F0F0F0;padding-left: 5px; font-size: 12px;height: 60px;">
        {{ thistenders.content|striptags|slice(0, 140)|replace({'\r\n':'<br />'})|raw }}<br /><br />
<label style="position:absolute;bottom: -10px;;width:100%;text-align:right;" onclick="viewcontent('on')">
<img src="/img/updown.png" style="cursor: pointer;" />
</label>
</label>
</label>
<label style="float:left;width:50%;padding-left: 10px;height: 100px;">
        {% for key, thistendersarray in thistenders.docpdf %}
{% for key, thistendersarray in thistendersarray %}
        <a target="_blank" href="/upload/uploads/ausschreibungen/{{thistendersarray}}" download="{{docname[thistenders.id][0][key]}}">{{docname[thistenders.id][0][key]}}</a><br />
        {% endfor %}
        {% endfor %}
</label>

        </div>
        <div class="col-sm-3 divmiddle">
        <label style="font-weight: 500;padding-left: 10px;background-color:#f2f2f2;width:100%">Druck</label>
<label style="position:relative;padding-left: 10px;padding-right: 10px;height: 60px;">
<img style="max-width:100%;max-height:60px;" src="{{thiswidgetlogo}}" alt="firmenlogo" />
</label>
<div class="calcdata" style="overflow-y: auto;
    max-height: 100px;
    height: 100px;margin-bottom: 10px;margin-left: 15px;
    margin-right: 15px;
">
{% for key, thistenderscaches in thistenderscachegrafiker %}
{% if key == "productName" %}
Name: {{thistenderscaches}}<br />
{% elseif key == "productPriceExTax" %}
Netto: {{thistenderscaches}}<br />
{% elseif key == "productPriceTax" %}
MwSt ({{thistenderscaches}}%):
{% elseif key == "productPriceTaxValue" %}
{{thistenderscaches}}<br />
{% elseif key == "productPriceIncTax" %}
Brutto: {{thistenderscaches}}<br />
{% else %}
{% endif %}
{% endfor %}
</div>
{% set parameter = "" %}
{% set parametercounter = 0 %}
{% if thistenderscacheowner is defined %}
<div class="calcdata" style="overflow-y: auto;
    max-height: 0px;
    height: 0px;margin-bottom: 10px;
">
{% for key, thistenderscaches in thistenderscacheowner %}
{#{key}}: {{thistenderscaches}#}<!--<br />-->
{% if parametercounter == 0 %}
{% set parameter = parameter ~ "?" ~ key ~ "=" ~  thistenderscaches %}
{% else %}
{% set parameter = parameter ~ "&" ~ key ~ "=" ~  thistenderscaches %}
{% endif %}
{% set parametercounter = parametercounter + 1 %}
{% endfor %}
</div>
{% else %}
{% set parameter = "" %}
{% endif %}
<a target="_blank" href="{{thiswidget.accountURL}}/article/show/uuid/{{thistenderscachegrafiker["productID"]}}{{parameter}}" class="productok" name="ok" value="1">Produktparameter ansehen</a>
        </div>
        <div class="col-sm-3" style="border:1px solid #F0F0F0;padding-right:0px;padding-left:0px;">
        <label style="font-weight: 500;padding-left: 10px;background-color:#f2f2f2;width:100%">Angebot</label>
<label style="position:relative;padding-left: 10px;padding-right: 10px;height: 76%;">
von: <a target="_blank" href="/member/{{offersusername}}">{{offersusername}}</a><br />
<img style="max-width: 50%;" src="{% if offersuserpic != "" %}/upload/uploads/userpics/{{offersuserpic}}{% else %}/images/no_boy.jpg{% endif %}" alt="USER" /><br />
{% set tendersjobokay = thistenders.jobokay is null %}
{% set jobokay = thistendersoffers.jobokay is null %}
Status: {% if tendersjobokay != 1 and jobokay == 1%}Angebot vergeben{% else %}{% if jobokay == 1 %}Angebot abgegeben{% else %}Angebot angenommen{% endif %}{% endif %}<br />
Angebotspreis: <strong>{{thistendersoffers.offerpriceout}}</strong><br />
Angebotsdatei: {% for key, thistendersarray in thistendersoffers.docpdf1 %}
<a target="_blank" href="/upload/uploads/ausschreibungenoffers/{{ thistendersarray }}" download="{{ thistendersoffers.docpdf1name[key] }}">{{ thistendersoffers.docpdf1name[key] }}</a>
        {% endfor %}<br />
vom: {{ thistendersoffers.startdate|date("d.m.Y (H:i", "Europe/Berlin") }} Uhr)<br />

 {#% if thistendersoffers.jobokay == true and thistenders.jobende != true %}
        <button class="offerout" name="out" value="1">Ausschreibung abschließen</button></br />
        {% endif %#}     

</label>
{% if jobokaycount != 1 %}
{% if thistendersoffers.jobokay != true %}
        <button class="offerok" name="ok" value="1">Angebot annehmen</button><br />
{% endif %}      
{% endif %}   
        </div>
        </div>
        </div>
</form>
   <div class="row">
        <div class="col-sm-12" style="border: 2px solid #F0F0F0;background-color:#e8eef4;">       
        <form  method="post" action="/service/tenders/customer/details/{{id}}/{{uid}}/{{offerid}}" class="fos_user_registration_register" id="offerform" name="form" enctype="multipart/form-data">
        <input type="hidden" name="offerform" value="1">
            <div id="chatdiv" style="height: 450px;">
                <div id="chat">
                </div>
{% for newmessengerarrayout in newmessengerarray %}
{% set tags = newmessengerarrayout|split("::--::--::") %}
{% if tags[2] == "grafiker" %}
<div class="supportdiv"><span style="color:#0084ff"><a target="_blank" href="/member/{{offersusername}}">{{offersusername}}</a></span> {{tags[1]}} Uhr:</div>
<div class="clearfix"></div>
<div class="supportmesseges">
  {{tags[0]|replace({'\r\n':'<br />'})|raw}}
</div>
<div class="clearfix"></div>
{% endif %}
{% if tags[2] == "customer" %}
<div class="contactdiv"><span style="color:#82a902">Sie</span> {{tags[1]}} Uhr:</div>
<div class="clearfix"></div>
<div class="contactmesseges">
{{tags[0]|replace({'\r\n':'<br />'})|raw}}
</div>
<div class="clearfix"></div>
{% endif %}
{% endfor %}
            </div>
            <div class="textareadiv">
            Mitteilung an Grafiker: (z.B.: Info zum Angebot, Infos zur Korrektur, ...)<br />
            <textarea name="messenges" style="width: 100%;border-radius: 3px;font-size: 12px;" rows="10" cols="80" id="message" onclick="checkSelect()" onkeyup="countChar(this)" data-lt-tmp-id="lt-967923" spellcheck="false" data-gramm="false"></textarea>
            <div><label style="width:100%;background-color:#f6f8f8;padding: 5px;"><span style="font-size: 22px;font-weight: 500;">Upload</span> PDF, PNG, JPG, Zip (z.B. Entwurf, offene Dateien, fertige Druckvorlage, ...)<br />Dateianhang <input type="file" id="form_docpdf1" name="docpdf2"></label><br />
            {% for key, thistendersarray in thistendersoffers.docpdf2 %}{% set datesname = thistendersoffers.doc2date[key]|split("::--::--::") %}
<a target="_blank" href="/upload/uploads/ausschreibungenoffers/{{ thistendersarray }}" download="{{ thistendersoffers.docpdf2name[key] }}">{{ thistendersoffers.docpdf2name[key] }} - {{datesname[0]}} {% if datesname[1] == "grafiker" %}Datei vom Grafiker.{% else %}Datei von Ihnen{% endif %}</a></br />
        {% endfor %}
            </div>
            {% if jobokaycount != 1 %}<label class="widgetlist"><button class="btnclass">Speichern und an Grafiker senden</button></label>{% endif %}
            {% if thistendersoffers.jobokay == true %}<label class="widgetlist"><button class="btnclass">Speichern und an Grafiker senden</button></label>{% endif %}
            </form>
            </div>
        </div>
    </div>
</div>

	</body>
</html>