{% extends 'base.html.twig' %}

{% block title %}Hello ServiceMasterdataController!{% endblock %}
{% block stylesheets %}
<style>
label {
    width: 100%;
}
input, select, .btndiv {
    width: 50%;
}
input.btn.btn-primary {
    margin-top: 20px;
    width: 250px;
}
</style>
{% endblock %}
{% block content %}
<h1>Stammdaten</h1>

<form name="fos_user_profile_form" method="post" action="/service/masterdata" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div class="btndiv">
        <input class="btn btn-primary" type="submit" value="Stammdaten aktualisieren" />
    </div>
{{ form_end(form) }}
{% endblock %}
