{% extends 'templates.html.twig' %}

{% block title %}grafiker.de: Relaunch Info{% endblock %}

{% block content %}
<div class="contentinnert">
<p>Informationen zum Relaunch 27.05.2019&nbsp;</p>

<p>&nbsp;</p>

<p>Wir haben die grafiker.de Plattform vollst&auml;ndig neu entwickelt. Damit Sie auch nach dem Start der neuen Plattform an die Inhalte der alten gelangen k&ouml;nnen, wird diese zun&auml;chst noch erreichbar bleiben. Es wird jedoch nicht m&ouml;glich sein, sich neu zu registrieren oder neue Inhalte einzustellen. &Auml;nderungen werden zwischen den Plattformen nicht synchronisiert, da diese voneinander unabh&auml;ngig laufen.&nbsp;</p>

<p>&nbsp;</p>

<p>Hier gelangen Sie zur alten Plattform:&nbsp;</p>

<p><a href="https://classic.grafiker.de/" rel="noreferrer" target="_blank">https://classic.grafiker.de</a>&nbsp;</p>

<p>&nbsp;</p>

<p>Welche Funktionen und Inhalte haben wir aus der alten Plattform &uuml;bernommen:&nbsp;</p>

<ul>
	<li>
	<p>Ihr Profil inkl. der Skills. Sie k&ouml;nnen sich mit Ihrem bestehenden Benutzernamen und Passwort einloggen.&nbsp;</p>
	</li>
	<li>
	<p>Ihre Netzwerkverkn&uuml;pfungen&nbsp;zwischen den Profilen/Mitgliedern.&nbsp;</p>
	</li>
	<li>
	<p>Ihre Showcases inkl. Bewertungen. Diese werden heute als Pins der Kategorie Showcases dargestellt. Kommentare haben wir nicht mit &uuml;bernommen. Die Kommentarfunktion haben wir zun&auml;chst deaktiviert.&nbsp;</p>
	</li>
	<li>
	<p>Jobs. Hier haben wir nur exemplarisch einige aus der alten Plattform &uuml;bernommen.&nbsp;</p>
	</li>
</ul>

<p>&nbsp;</p>

<p>Die Inhalte der alten Plattform wurden bis einschlie&szlig;lich 24.05.2019 &uuml;bernommen.&nbsp;</p>

<p>&nbsp;</p>

<p>Das ist neu:&nbsp;</p>

<ul>
	<li>
	<p>Mailbox und Benachrichtigungen. Es gibt jetzt eine integrierte Mitteilungen Funktion mit Mailbox und Weiterleitung per Email. Welche Mitteilungen Sie erhalten m&ouml;chten, k&ouml;nnen Sie in Ihrem Profil unter &ldquo;Benachrichtigungen&rdquo; einstellen.&nbsp;</p>
	</li>
</ul>

<p>&nbsp;</p>

<p>Das sollten Sie zun&auml;chst erledigen:&nbsp;</p>

<p>Bitte aktualisieren bzw. erg&auml;nzen Sie als erstes Ihr Profil. Anschlie&szlig;end sollten Sie Ihre Pins (fr&uuml;her Ihre Showcases) aktualisieren.&nbsp;</p>

<p>&nbsp;</p>

<p>Was kommt als n&auml;chstes:&nbsp;</p>

<p>Im n&auml;chsten Schritt werden wir den &ldquo;Montagsmailer&rdquo; reaktivieren.&nbsp;&nbsp;</p>
</div>
{% endblock %}
