{% extends 'templates.html.twig' %}
{% block titleblock %}
grafiker.de Widerrufsbelehrung
{% endblock %}
{% block content %}
<div class="contentinnert">
<h1>Widerrufsbelehrung </h1>

<h4>Widerrufsrecht</h4>
<br />
Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. <br />
<br />
Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses. <br />
<br />
Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Grafiker.de UG [haftungsbeschränkt] Vertreten durch Heinz Bröskamp - Geschäftsführer, Von-Steuben-Straße 19 in 48143 Münster, Email: mail(at)grafiker.de, Tel.: +49 (0) 251 - 13 65 63 38) mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief oder eine E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. <br />
<br />
Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden. <br />
<br /><br />
<h4>Folgen des Widerrufs </h4>
<br />
Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. <br />
<br />
Haben Sie verlangt, dass die Dienstleistungen während der Widerrufsfrist beginnen sollen, so haben Sie uns einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrages unterrichten, bereits erbrachten Dienstleistungen im Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen entspricht. <br />
<br /><br /><br />
</div>
{% endblock %}
