{% set loadpinID = pinID %}
{% for pin in pindata %}
{% set loadpinID = loadpinID+1 %}
{% if userexist[pin.getUsername()] %}
{#% set setcounter = ( setcounter | default(0) ) + 1 %#}
{% if pin.getPinviews() == null %}
{% set pinviews = 0 %}
{% else %}
{% set pinviews = pin.getPinviews() %}
{% endif %}
{% set difference = date().diff(date(pin.getStartdate())) %}
{% set leftDays = difference.days %}


<div class="pin float-left block" id="{{ loadpinID }}">
                        <a href="/pinview/{{ pin.pinlink() }}"><div class="pinautordiv">
                        {% if pin.isads == true %}
                                <div class="werbungviewsdiv">
                                        Werbung
                                </div>
                                {% endif %}
                                <div class="viewsdiv">
                                        {{ pinviews }} <i class="fa fa-eye"></i>
                                </div>
                                {% if pin.bewerten == true %}
                                <div class="ratingdiv rating_{{ pin.id }}" id="rateYo_{{ pin.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
                                <img src="/upload/uploads/pinpics/{{pin.getThumbnail()}}" class="pinautor" alt="Pinautor">
                        </div></a>
                        <div class="pintitle">
                          <a href="/pinview/{{ pin.pinlink() }}">{{ pin.getTitle()|length > 50 ? pin.getTitle()|slice(0, 50) ~ '...' : pin.getTitle()  }}</a>
                        </div>
                        <div class="pinautorminidiv float-left">
                        {% set newTime = pinlastLogin[pin.getUsername()]|date('U', "Europe/Berlin") + 40 %}
                            {% if newTime > date()|date('U', "Europe/Berlin") %}
                                {% if useremploy[pin.getUsername()] == false %}
                                 <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/online.png" title="Online" alt="onlinePic" />
                                {% else %}
                                <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/employed.png" title="Beschäftigt" alt="onlinePic" />
                                {% endif %}
                            {% else %}
                                <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
                            {% endif %}
                            {% if fileexistarray[pin.getUsername()] and fileexistarray[pin.getUsername()] != "del" %}
                                <a href="/member/{{ pin.getUsername() }}"><img src="/upload/uploads/userpics/{{ fileexistarray[pin.getUsername()] }}" class="autorpinpic rounded-circle" alt="Autor Pin Pic"></a>
                            {% else %}
                                <a href="/member/{{ pin.getUsername() }}"><img src="/images/no_boy.jpg" class="autorpinpic rounded-circle" alt="Autor Pin Pic"></a>
                            {% endif %}
                        </div>
                        <div class="pinautornamediv float-left">
                            <label class="autornamelabel">vor {{ leftDays }}d</label>
                            <label class="autorortlabel">von <a class="autorortlabel" href="/member/{{ pin.getUsername() }}">{{pin.username}}</a></label>
                        </div>
                  </div>
{% if pin.rating != '' %}
    {% set pinrating = pin.rating %}
{% else %}
    {% set pinrating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ pin.id }}").rateYo({
 
    rating    : {{ pinrating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#FF0000", //RED
      "endColor"  : "#00FF00"  //GREEN
    }
  });
 
});
</script>
{% endif %}
{% endfor %}
<div class="loader" id="loader{{ loadpinID }}">
{% if loadpinID is divisible by(10) %}
{% if filter is defined %}
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextDatas('{{ filter }}');">Weitere laden...</a></div>
<br />
{% else %}
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextDatas('all');">Weitere laden...</a></div>
<br />
{% endif %}
{% endif %}
</div>
