.element {
  @include float-left;
  @include clearfix;
}
.another-element {
  @include float-right;
  @include clearfix;
}
.one-more {
  @include float-none;
  @include clearfix;
}
*{}
.container {
	padding: 0 0 0 0;
}
.userpic {
    width: 60px;
}
.img-thumbnail {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}
.autorpinpic {
	width: 100%;
	height:auto;
	z-index: 2;
	position: relative;
	border:5px solid #fff;
}
.autortitle{
	width:100%;
	color: #4099ff;
	font-weight: bold;
}
.autorname{
	font-size:9px;
	width: 220px;
}
.pinautor {
	width: 60px !important;
	height:auto;
	margin-top: -20px;
	margin-left: 15px;
    z-index: 9999;
}
.content-container {
	max-width: 990px;
}
.pins {
	width: 245px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.adminpinpic {
	height: 174px;
	width: auto;
	margin-left: 20px;
}
.adminpinpicdiv {
	width: 300px;
	text-align:center;
	margin-left: 10px;
    margin-right: 10px;
}
.adminpinpicdivfull {
    margin: 0 auto;
    /*border: solid 1px #ccc;*/
	padding: 5px 5px;
}
.adminpintext {
	width: 300px;
	height:146px;
	text-align:left;
	background-color: rgb(186, 207, 128);
    padding-top: 20px;
    padding-left: 40px;
    margin: -10px 10px 0 10px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
}
.adds-container {
	max-width: 123px;
	margin-top: 240px;
}
.container-1{
  margin: 0 auto;
  width: 300px;
  vertical-align: middle;
}
.usermenu {
	width: 700px;
}
.container-2 {
	text-align:center;
	height: 50px;
}
.searchbox {
	width: 400px;
	padding-top:50px;
}
.navigation {
	text-align:center;
	color: #fff;
	text-transform: uppercase;
	background-color: #7EA016;
	line-height: 10px !important;
}
.nav-link {
	color: #fff !important;
}
.pinspan {
	font-size: 12px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 5px;
}
.pinnavi {
	font-size: 12px;
 	border:1px solid #7EA016;
	width: auto;
	padding: 0 10px 0 10px;
	margin-right: 10px;
	margin-top: 5px;
}
.lastpinnavi {
	margin-left: 20px;
	margin-top: 5px;
    margin-bottom: 5px;
}
.selfmessege {
    background: #e1ffc7;
	border-radius: 5px 0px 5px 5px;
	float: right;
}
.sendermessege {
    background: #eeeeef;
	border-radius: 0px 5px 5px 5px;
	float: left;
}
.sendermessege, .selfmessege {
color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
	z-index: -1;
	border-width: 0px 10px 10px 0;
    border-color: transparent #e1ffc7 transparent transparent;
    top: 0;
    left: -10px;
}
.pinnavi:hover {
	background-color: #7EA016;
	cursor: pointer;
}
.container-1 input.search{
  width: 300px;
  height: 30px;
  background: #fff;
  border: none;
  font-size: 10pt;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 border:1px solid #000;
   
    -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}
.container-1 input.search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input.search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input.search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input.search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon{
  position: absolute;
  margin-left: 17px;
  margin-top: 2px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input.search:hover, .container-1 input.search:focus, .container-1 input.search:active{
    outline:none;
    background: #e1e1e1;
  }
  
.footer {
	margin-top: 100px;
	text-align:right;
	margin-right: 160px;
	position:relativ;
}
.footermenu {
	margin-left: 10px;
}
.footercopyright {
	margin-left: 10px;
}

/*REGISTER -- LOGIN*/
.registerheaderimg {
	max-width:800px;
}
.footerpic-register {
	max-width:95%;
}
.registerhead {
    font-size: 14px;
	padding: 5px 10px;
}
.register-form {
    font-size: 14px;
	padding: 5px 10px;
}
.i_textfield {
    width: 100%;
}
.formfloat {
    width: 50%;
}
.capcha {
    margin-right: 10%;
    margin-top: 10%;
}
.login-form {
    font-size: 14px;
	padding: 5px 10px;
}
.logininput-button {
    margin-top: 10px;
}
.button_login {
background: url(https://www.grafiker.de/templates/images/button_login.png) no-repeat;
    width: 116px;
    height: 25px;
    margin: 0px;
    padding: 0px 0px 2px 30px;
    text-align: left;
    border: 0px solid #fff;
    display: block;
}
.button_silver_large {
    background: url(https://www.grafiker.de/templates/images/button_silver_large.gif) no-repeat;
    width: 253px;
    height: 25px;
    margin: 0px;
    padding: 0px 0px 2px 28px;
    text-align: left;
    border: 0px solid #fff;
    display: block;
}
.t11gb {
    font: bold 11px Arial, Verdana, sans-serif;
    color: #769813;
    text-decoration: none;
}
.pinsfull {
    height: 455px;
}
.jobhauptdiv, .projektrechnerhauptdiv, .smalllogo {
	width: 33%;
	height: 205px;
	border: solid 1px #ccc;
	padding: 3px 3px 3px 3px;
    margin: 1px;
}
.loadingimg {
	max-width: 25% auto;
	width: 50%;
	height: auto;
}
.startbutton {
	background-color: #769813;
	border: solid 1px #769813;
	color: white;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
select
    {
		border: 1px solid #769813;
        cursor: pointer;
	}
.pinnavi select {
	border: none;
	color: #000;
	background-color: #fff;
	border: 1px solid #fff;
	cursor: pointer;
}
select:hover
{
	color: #fff;
	background-color: #769813;
	border: 1px solid #769813;
	cursor: pointer;
}
#form_send, #form_profi, #form_pinpay, #form_update {
	color: #fff;
	background-color: #769813;
	border: 1px solid #769813;
	cursor: pointer;
	margin-top: 5px;
    margin-right: 5px;
}
#form_send:hover {
	color: #000;
	background-color: #fff;
	border: 1px solid #769813;
	cursor: pointer;
}
.pinnavi input
{
	border: 1px solid #769813;
	cursor: pointer;
}
#form_enddate, #message_body, #message_subject, #message_recipient, #form_pinkategorie, #form_astitle, #form_content, #form_stundensatz, #form_titel, #form_prstart, #form_jobTyp {
	width: 98%;
	margin-bottom: 5px;
	color: #000;
	background-color: #fff;
	border: 1px solid #769813;
}
#message_body {
	height: 250px;
}
#form_enddate:hover, #form_astitle:hover, #form_stundensatz:hover, #form_prstart:hover {
	color: #fff;
	background-color: #769813;
	border: 1px solid #769813;
}
input:hover
{
	color: #fff;
	background-color: #769813;
	border: 1px solid #769813;
	cursor: pointer;
}
.projektrechnernext {
	font-size: 12px;
	width: 70%;
}
.projektrechnericon {
	width: 30%;
}
.pinsfuller {
	width: 99%;
	border: solid 1px #ccc;
	padding: 10px 10px 10px 10px;
	min-height: 480px;
}
.autornamelink {
	color: #000;
}
.pinicons {
	cursor: pointer;
}
.viewalllink {
	color: #000;
}

@media (min-width: 0px) {
	.img-thumbnail {
	max-width:30%;
	height:auto;
	}
	.usermenu {
	width: 340px;
	}
	.searchbox {
	padding-top:5px;
	width: 100% !important;
	}
	.searchboxnav {
	display: none;
	}
	.adds-container {
	display: none;
	}
	.pins {
	width: 100%;
	height: 583px;
	border: solid 1px #ccc;
    padding: 3px 3px 3px 3px;
    margin: 1px;
	}
	.autorpinpictag{content: ""; background-image: url("https://via.placeholder.com/335x150/00ffff/ff0000"); width: 100%; height: auto; display: inline-block;}
.adminpinpicdivfull {
	width: 90%;
	margin: 0 auto;
	}
	.footer {
    margin-top: 50px;
    margin-right: 0px;
    position: relativ;
}
.searchbox {
	display: none;
	}
	.searchboxnav {
	display: block;
	width: 100%;
	}
	.formfloat {
    width: 100%;
	}
	.capcha {
    margin-right: 40%;
	}
	.container-1 input.search {
	height: 21px;
	}
	.jobhauptdiv, .projektrechnerhauptdiv {
		width: 99%;
		height: 215px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px;
	}
	.smalllogo {
		width: 99%;
		height: 205px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px;
	}
}


@media (min-width: 576px) {
	.img-thumbnail {
	max-width:30%;
	height:auto;
	}
	.usermenu {
	width: 340px;
	}
	.searchbox {
	padding-top:10px;
	width: 100% !important;
	}
	.adds-container {
	display: none;
	}
	.pins {
	width: 100%;
	height: 583px;
	border: solid 1px #ccc;
    padding: 3px 3px 3px 3px;
    margin: 1px;
	}
	
	.autorpinpictag{content: ""; background-image: url("https://via.placeholder.com/435x150/00ffff/ff0000"); width: 100%; height: auto; display: inline-block;}
	.adminpinpicdivfull {
	width: 305px;
	margin: 0 auto;
	}
	
	.footer {
    margin-top: 50px;
    margin-right: 0px;
    position: relativ;
}
.searchbox {
	display: none;
	}
	.searchboxnav {
	display: block;
	width: 100%;
	}
	
	.modal-lg {
    max-width: 95% !important;
	}
	.formfloat {
    width: 100%;
	}
	.capcha {
    margin-right: 40%;
	}
	.container-1 input.search {
	height: 21px;
	}
	.jobhauptdiv, .projektrechnerhauptdiv {
		width: 99%;
		height: 215px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px;
	}
	.smalllogo {
		width: 99%;
		height: 205px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px;
	}
}

@media (min-width: 768px) {
	.img-thumbnail {
	width:40%;
	height:auto;
	}
	.usermenu {
	width: 490px;
	}
	.searchbox {
	width: 490px !important;
	padding-top:20px;
	}
	.adds-container {
	display: none;
	}
	.pins {
	width: 340px;
	height: 510px;
	border: solid 1px #ccc;
    padding: 3px 3px 3px 3px;
    margin: 1px;
	}
	.autorpinpictag {content: ""; background-image: url("https://via.placeholder.com/435x150/00ffff/ff0000"); width: 330px; height: auto; display: inline-block;}
.adminpinpicdivfull {
	width: 100%;
	margin: 0 auto;
	}

.searchbox {
	display: none;
	}
	.searchboxnav {
	display: block;
	width: 100%;
	}
	.modal-lg {
    max-width: 95% !important;
	}
	.formfloat {
    width: 50%;
	}
	.capcha {
    margin-right: 10%;
	}
	.container-1 input.search {
	height: 21px;
	}
	.adminpinpicdivfull div:nth-child(3) {
	margin-left: 25%;
	}
	.jobhauptdiv, .projektrechnerhauptdiv {
		width: 49%;
		height: 215px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px;
	}
	.smalllogo {
		width: 99%;
		height: 205px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px;
	}
}

@media (min-width: 992px) {
	.img-thumbnail {
	width:60%;
	height:auto;
	}
	.usermenu {
	width: 660px;
	}
	.searchbox {
	width: 660px !important;
	padding-top:30px;
	}
	.adds-container {
	display: none;
	}
	.pins {
	width: 318px;
	height: 490px;
	border: solid 1px #ccc;
    padding: 3px 3px 3px 3px;
    margin: 1px;
	}
	.autorpinpictag {content: ""; background-image: url("https://via.placeholder.com/315x150/00ffff/ff0000"); width: 310px; height: auto; display: inline-block;}

.searchbox {
	display: block;
	}
	.searchboxnav {
	display: none;
	}
	.modal-lg {
    max-width: 800px !important;
	}
	.formfloat {
    width: 50%;
	}
	.capcha {
    margin-right: 10%;
	}
	.container-1 input.search {
	height: 30px;
	}
	.adminpinpicdivfull div:nth-child(3) {
	margin-left: 10px;
	}
	.pinsfull {
		min-height: 855px;
	}

	.jobhauptdiv, .projektrechnerhauptdiv {
		width: 49%;
		height: 215px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px;
	}
	.smalllogo {
		width: 99%;
		height: 205px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px;
	}
}

@media (min-width: 1200px) {
	.img-thumbnail {
	width:80%;
	height:auto;
	}
	.usermenu {
	width: 690px;
	}
	.searchbox {
	width: 690px !important;
	padding-top:0px;
	}
	.adds-container {
	display: block;
	}
	.pins {
	width: 245px;
	min-height: 490px;
	border: solid 1px #ccc;
    padding: 3px 3px 3px 3px;
    margin: 1px;
	}
	.autorpinpictag {content: ""; background-image: url("https://via.placeholder.com/240x150/00ffff/ff0000"); width: 240px; height: auto; display: inline-block;}
.searchbox {
	display: block;
	}
	.searchboxnav {
	display: none;
	}
	.formfloat {
    width: 50%;
	}
	.capcha {
    margin-right: 10%;
	}
	.container-1 input.search {
	height: 30x;
	}
	.pinsfull {
    min-height: auto;
	}
	.jobhauptdiv, .projektrechnerhauptdiv, .smalllogo {
		width: 33% !important;
		height: 215px;
		border: solid 1px #ccc;
		padding: 3px 3px 3px 3px;
		margin: 1px !important;
	}
}