{% extends 'base.html.twig' %}

{% block title %}Hello ServiceTenderslistController!{% endblock %}

{% block content %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<script>
function showdiv(id) {
    if($(".contentdiv" + id).height() > 30) {
$(".contentdiv" + id).css("height", "30px");
    $(".textstyle" + id).css("color", "transparent");
    $(".textstyle" + id).css("text-shadow", "0 0 5px rgb(0 0 0 / 50%)");
    $("#opendiv").html("BESCHREIBUNG AUFKLAPPEN");
    } else {
    $(".contentdiv" + id).css("height", "auto");
    $(".textstyle" + id).css("color", "#000");
    $(".textstyle" + id).css("text-shadow", "unset");
    $("#opendiv").html("BESCHREIBUNG ZUKLAPPEN");
    }
}
</script>
<h1>Ausschreibung > Liste</h1>
<br />
{% set counter = 1 %}
{% for tenderslist in tenderslist %}
{% if tenderslist.username != "kein Mitglied" %}
<div class="row" style="border-bottom: 1px solid;margin-top: 15px;">
<div class="col-sm-3"><strong>{{ counter }}. {% if tenderslist.brauche == 1 %}Ein Angebot{% else %}Das fertige Design/Produkt zum Festpreis.{% endif %}
{#% for key, tenderslistservice in tenderslist.service %}
{% if key == 0 and tenderslistservice == true %}
Logo Design
{% endif %}
{% if key == 1 and tenderslistservice == true %}
Grafikdesign
{% endif %}
{% if key == 2 and tenderslistservice == true %}
Text Erstellung
{% endif %}
{% if key == 3 and tenderslistservice == true %}
Sonstiges
{% endif %}

{% endfor %#}
</strong></div>
        <div class="col-sm-4" style="margin-bottom: 30px;">Vom: {{ tenderslist.startdate|date("d.m.Y (H:i", "Europe/Berlin") }} Uhr)<br />
        <input type="checkbox" id="form_service{{tenderslist.id}}0" name="form[service1]" value="1" {% if serficecheck[tenderslist.id][0] is defined %}checked onclick="checkChecked('{{tenderslist.id}}',0)"{% else %} disabled{% endif %}> Logo Design <input type="checkbox" id="form_service{{tenderslist.id}}1" name="form[service1]" value="1" {% if serficecheck[tenderslist.id][1] is defined %}checked onclick="checkChecked('{{tenderslist.id}}',1)"{% else %} disabled{% endif %}> Grafikdesign <input type="checkbox" id="form_service{{tenderslist.id}}2" name="form[service1]" value="1" {% if serficecheck[tenderslist.id][2] is defined %}checked onclick="checkChecked('{{tenderslist.id}}',2)"{% else %} disabled{% endif %}> Text Erstellung <input type="checkbox" id="form_service{{tenderslist.id}}3" name="form[service1]" value="1" {% if serficecheck[tenderslist.id][3] is defined %}checked onclick="checkChecked('{{tenderslist.id}}',3)"{% else %} disabled{% endif %}> Sonstiges<br />
        bis spätestens: {{ tenderslist.enddate|date("d.m.Y (H:i", false) }} Uhr)</br />
        <input type="radio" id="form_offertype_0" name="form[offertype]{{tenderslist.id}}" required="required" value="1" {% if tenderslist.brauche == 1 %}checked{% else %} disabled{% endif %}> Ein Angebot<br />
<input type="radio" id="form_offertype_0" name="form[offertype]{{tenderslist.id}}" required="required" value="1" {% if tenderslist.brauche == 2 %}checked{% else %} disabled{% endif %}> Das fertige Design/Produkt zum Festpreis von  <input type="text" id="form_price" name="form[price]" value="{{ tenderslist.price }} €" onChange="setnewvalue('{{ tenderslist.price }} €')" readonly><br /><br />
        {% for tenderslistdocs in tenderslist.docpdf %}{% for key, tenderslistdocs in tenderslistdocs %}<a target="_blank" href="/upload/uploads/ausschreibungen/{{tenderslistdocs}}" download="{{docname[tenderslist.id][0][key]}}">{{docname[tenderslist.id][0][key]}}</a><br />{% endfor %}{% endfor %}</div>
        <div class="col-sm-3">
<div class="calcdata" style="overflow-y: auto;
    max-height: 100px;
    height: 100px;margin-bottom: 10px;
">        
{% for key, thistenderscaches in thistenderscachegrafiker[tenderslist.id] %}
{% if key == "productName" %}
Name: {{thistenderscaches}}<br />
{% elseif key == "productPriceExTax" %}
Netto: {{thistenderscaches}}<br />
{% elseif key == "productPriceTax" %}
MwSt ({{thistenderscaches}}%):
{% elseif key == "productPriceTaxValue" %}
{{thistenderscaches}}<br />
{% elseif key == "productPriceIncTax" %}
Brutto: {{thistenderscaches}}<br />
{% else %}
{% endif %}
{% endfor %}
</div>
{% if thistenderscacheowner[tenderslist.id] is defined %}
<div class="calcdata" style="overflow-y: auto;
    max-height: 0px;
    height: 0px;margin-bottom: 10px;
">
Kalkulation XML:<br />
{% set parameter = "" %}
{% set parametercounter = 0 %}
{% for key, thistenderscaches in thistenderscacheowner[tenderslist.id] %}
{#{key}}: {{thistenderscaches}#}<!--<br />-->

{% if parametercounter == 0 %}
{% set parameter = parameter ~ "?" ~ key ~ "=" ~  thistenderscaches %}
{% else %}
{% set parameter = parameter ~ "&" ~ key ~ "=" ~  thistenderscaches %}
{% endif %}
{% set parametercounter = parametercounter + 1 %}
{% endfor %}
</div>
{% else %}
{% set parameter = "" %}
{% endif %}
{% if thiswidget[tenderslist.id].accountURL is not defined %}{% else %}
<a target="_blank" href="{{thiswidget[tenderslist.id].accountURL}}/article/show/uuid/{{thistenderscachegrafiker[tenderslist.id]["productID"]}}{{parameter}}" class="productok" name="ok" value="1">Produkt im Shop ansehen</a>
{% endif %}
        </div>
<style>
.stornobtnv{{ counter }} {
   float: right;
    border: unset;
    background-color: #ffcc00;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}
</style>
        {% if tenderslist.id in tendersofferokay and tendersoffermyokay[tenderslist.id] == true and tenderslist.jobende != true %}
<style>
.stornobtnv{{ counter }} {
   display: none;
}
</style>
        {% endif %}
        <div class="col-sm-2" style="text-align:right;">Bisher abgegebene Angebote: {{countoffers[tenderslist.id]}}<br /><br /><label class="widgetlist" style="{% if tenderslist.id in tendersofferokay and tendersoffermyokay[tenderslist.id] == true %}background-color:#ffed00;color:#000;{% elseif tenderslist.id in tendersofferokay and tendersoffermyokay[tenderslist.id] == false %}background-color:#de2012;{% else %}{% if tenderslist.id in tendersoffer %}background-color:#3696f0;{% else %}background-color:##799a14;{% endif %}{% endif %}"><a style="{% if tenderslist.id in tendersofferokay and tendersoffermyokay[tenderslist.id] == true %}background-color:#ffed00;;color:#000;{% elseif tenderslist.id in tendersofferokay and tendersoffermyokay[tenderslist.id] == false %}background-color:#de2012;{% else %}{% if tenderslist.id in tendersoffer %}background-color:#3696f0;{% else %}background-color:##799a14;{% endif %}{% endif %}" href="/service/tendersoffer/{{tenderslist.id}}">{% if tenderslist.id in tendersofferokay and tendersoffermyokay[tenderslist.id] == true and tenderslist.jobende != true %}Angebot angenommen{% elseif tenderslist.id in tendersofferokay and tendersoffermyokay[tenderslist.id] == true and tenderslist.jobende == true %}Ausschreibung abgeschlossen{% elseif tenderslist.id in tendersofferokay and tendersoffermyokay[tenderslist.id] == false %}Ausschreibung vergeben{% else %}{% if tenderslist.id in tendersoffer and tenderslist.storno != true and tendersoffermystorno[tenderslist.id] != true %}Angebot einsehen{% elseif tenderslist.id in tendersoffer and tenderslist.storno == true %}Auschreibung storniert{% elseif tendersoffermystorno[tenderslist.id] == true %}ANGEBOT STORNIERT!{% else %}Angebot machen{% endif %}{% endif %}</a></label><br />{% if tenderslist.id in tendersoffer and tenderslist.storno != true and tendersoffermystorno[tenderslist.id] != true %}<form  method="post" action="/service/tendersoffer/{{ tenderslist.id}}" class="fos_user_registration_register" id="offerform" name="form" enctype="multipart/form-data">
        <input type="hidden" name="offerform" value="1"><button class="stornobtnv{{ counter }}" name="storno" value="1">Angebot stornieren</button></form>{% endif %}</div>
        <div {% if tenderslist.content|length > 200 %} title="AUFKLAPPEN"{% endif %} class="col-sm-12 contentdiv{{ tenderslist.id }}" style="margin-bottom: 15px;"><h4>{{ tenderslist.astitle }}</h4>{{ tenderslist.content|replace({'\r\n':'<br />'})|raw }}
        </div>
</div>
{% set counter = counter + 1 %}
{% endif %}
{% endfor %}
{% else %} 
<script type="text/javascript">
<!--
document.location.href = "/security/login";
//–>
</script>
{% endif %} 
{% endblock %}