{% set loadarticleID = articleID %}
{% for article in articledata %}
{% set loadarticleID = loadarticleID+1 %}
{% if userexist[article.getUsername()] %}
{#% set setcounter = ( setcounter | default(0) ) + 1 %#}
{% if article.getArticleviews() == null %}
{% set articleviews = 0 %}
{% else %}
{% set articleviews = article.getArticleviews() %}
{% endif %}
{% set difference = date().diff(date(article.getStartdate())) %}
{% set leftDays = difference.days %}
<div class="article float-left" style="margin: 0px 0px 0px 0px;">
    	<a href="/articleview/{{ article.articlelink() }}">
            <div class="articleautordiv">
            {% if article.isads == true %}
            <div class="werbungviewsdiv">
                    Werbung
            </div>
            {% endif %}
			    <div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				    <div class="articleviewsdiv" style="right: 0px;top: 0px;">
                        <div class="articleviewsdiv">
                                      {{ articleviews }} <i class="fa fa-eye"></i>
                                </div> 
                {% if article.getThumbnail() == "" %}
                    <img src="/images/no-image-placeholder-article.png" class="articleautor" alt="Beitragautor">
                {% else %}
                    <img src="/upload/uploads/articlepics/{{article.getThumbnail()}}" class="articleautor" alt="Beitragautor">
                {% endif %}
            </div>
        </a>
                                {% if article.bewerten == true %}
                                <div class="articleratingdiv rating_{{ article.id }}" id="rateYo_{{ article.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
</div>



    <div class="articledata float-right" style="margin-top: 10px; width: 300px; margin-right: 15px;">	
    <div class="articletitle">
                    {{ article.getTitle()|length > 22 ? article.getTitle()|slice(0, 22) ~ '...' : article.getTitle()  }}
    </div>
    <div class="articleautornamediv">
      <label class="articleautorortlabel">von {{article.getUsername()}}</label> | <label class="articleautorname">{{ "now"|date("M j.Y") }}</label>
      <label class="articlecontent">{{ article.getContent()|raw | striptags|length > 250 ? article.getContent() | striptags|slice(0, 250)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : article.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <a href="/articleview/{{ article.articlelink() }}"><label class="articlemore">Weiterlesen<label></a>
	</div>
	</div>
</div>
</div>
{% if article.rating != '' %}
    {% set articlerating = article.rating %}
{% else %}
    {% set articlerating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ article.id }}").rateYo({
 
    rating    : {{ articlerating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#FF0000", //RED
      "endColor"  : "#00FF00"  //GREEN
    }
  });
 
});
</script>
{% endif %}
{% endfor %}
<div class="clearfix"></div>
<div class="loader" id="loader{{ loadarticleID }}">
{% if loadarticleID is divisible by(9) %}
{% if filter is defined %}
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextArticle('{{ filter }}');">Weitere laden...</a></div>
<br />
{% else %}
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextArticle('all');">Weitere laden...</a></div>
<br />
{% endif %}
{% endif %}
</div>
