{% extends 'templates.html.twig' %}
{% block content %}
<h5>Ausschreibung übermittelt...</h5><br />
<strong>Unser System hat gleich ein paar interessante Mitglieder für Ihren Auftrag gefunden!</strong>
<br />
<br />

<div class="membersearch float-left">
<!--<h5>Suchergebnis für <span style="text-transform: capitalize;">{{ filter }}</span> -> {{ searching|replace({'_': " "}) }}:</h5>-->
</div>
{% for member in memberdata %}
{% if member.getCapacity() == 2 or member.getCapacity() == 3 %}
<div class="membersearch float-left">
<label class="memberfund"><a href="/member/{{ member.getUsername() }}">{{ member.getUsername() }}</a>
{% set newTime = member.getUpdatedAt()|date('U', "Europe/Berlin") + 40 %}
{% if newTime > date()|date('U', "Europe/Berlin") %}
{% if member.getEmploy() == false %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:10px; margin-top:10px;" src="/img/online.png" title="Online" alt="onlinePic" />
{% else %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:10px; margin-top:10px;" src="/img/employed.png" title="Beschäftigt" alt="employedPic" />
{% endif %}
{% else %}
<img style="z-index:99;height: 6px;position:absolute;margin-left:10px; margin-top:10px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
{% endif %}
</label> {% if member.getFirma() != '' %}<label class="usermenulabel"><a href="/membersearch/firma/{{ member.getFirma() }}">{{ member.getFirma() }}</a></label> {% endif %}{% if member.getBerufsbezeichnung() != '' %}<label class="usermenulabel"><a href="/membersearch/berufsbezeichnung/{{ member.getBerufsbezeichnung() }}">{{ member.getBerufsbezeichnung() }}</a></label> {% endif %}<label class="usermenulabel"><a href="/membersearch/wohnort/{{ member.getWohnort() }}">{{ member.getWohnort() }}</a></label> {% if member.getBerufsgruppe1() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Grafiker">Grafiker</a></label>{% endif %}{% if member.getBerufsgruppe2() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Fotograf">Fotograf</a></label>{% endif %}{% if member.getBerufsgruppe3() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Programmierer">Programmierer</a></label>{% endif %}{% if member.getBerufsgruppe4() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Texter">Texter</a></label>{% endif %}{% if member.getBerufsgruppe5() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Illustrator">Illustrator</a></label>{% endif %}
</div>
{% endif %}
{% endfor %}
{% endblock %}