{% extends 'templates.html.twig' %}
{% block content %}
<h5>Ausschreibung zur Freischaltung eingereicht...</h5>
Ihre Ausschreibung wurde zur Prüfung eingetragen und wird in den nächsten 24h freigeschaltet!
{% endblock %}