{% extends 'templates.html.twig' %}
{% block content %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<style>
.jobdivinsertDate .jobdivinsertYear {
width: 100%;
float: left;
}
.jobdivinsertDay {
width: 140px;
float: left;
}
.jobdivinsertMonat, .jobdivinsertYear {
width: 190px;
float: left;
}
label {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 5px;
}
select#form_endDateDay, select#form_endDateMonat, select#form_endDateYear {
    margin-left: 10px;
}
</style><link rel="stylesheet" href="/upload/assets/css/styles.css" />
<script language="javascript">
{% set druckercount = 1 %}
{% set grafikercount = 1 %}
{% set fotografcount = 1 %}
{% set entwicklercount = 1 %}
{% set textercount = 1 %}
{% set illustratorcount = 1 %}
{% set sonstigescount = 1 %}
{% set druckereianzahl = druckerei|length %}
{% set grafikeranzahl = grafiker|length %}
{% set fotografanzahl = fotograf|length %}
{% set entwickleranzahl = entwickler|length %}
{% set texteranzahl = texter|length %}
{% set illustratoranzahl = illustrator|length %}
{% set sonstigesanzahl = sonstiges|length %}
        var druckerei_array = { 'Alle' : 'Alle',
            {% for druckerei in druckerei %}'{{ druckerei|replace({' ': "_", '.': "_"})|raw }}' : '{{ druckerei|raw }}'{% if druckercount < druckereianzahl %},{% endif %}
            {% set druckercount = druckercount + 1 %}{% endfor %}
        };
        var grafiker_array = { 'Alle' : 'Alle',
            {% for grafiker in grafiker %}'{{ grafiker|replace({' ': "_", '.': "_"})|raw }}' : '{{ grafiker|raw }}'{% if grafikercount < grafikeranzahl %},{% endif %}
            {% set grafikercount = grafikercount + 1 %}{% endfor %}
        };
        var fotograf_array = { 'Alle' : 'Alle',
            {% for fotograf in fotograf %}'{{ fotograf|replace({' ': "_", '.': "_"})|raw }}' : '{{ fotograf|raw }}'{% if fotografcount < fotografanzahl %},{% endif %}
            {% set fotografcount = fotografcount + 1 %}{% endfor %}
        };
        var entwickler_array = { 'Alle' : 'Alle',
            {% for entwickler in entwickler %}'{{ entwickler|replace({' ': "_", '.': "_"})|raw }}' : '{{ entwickler|raw }}'{% if entwicklercount < entwickleranzahl %},{% endif %}
            {% set entwicklercount = entwicklercount + 1 %}{% endfor %}
        };
        var texter_array = { 'Alle' : 'Alle',
            {% for texter in texter %}'{{ texter|replace({' ': "_", '.': "_"})|raw }}' : '{{ texter|raw }}'{% if textercount < texteranzahl %},{% endif %}
            {% set textercount = textercount + 1 %}{% endfor %}
        };
        var illustrator_array = { 'Alle' : 'Alle',
            {% for illustrator in illustrator %}'{{ illustrator|replace({' ': "_", '.': "_"})|raw }}' : '{{ illustrator|raw }}'{% if illustratorcount < illustratoranzahl %},{% endif %}
            {% set illustratorcount = illustratorcount + 1 %}{% endfor %}
        };
        var sonstiges_array = { 'Alle' : 'Alle',
            {% for sonstiges in sonstiges %}'{{ sonstiges|replace({' ': "_", '.': "_"})|raw }}' : '{{ sonstiges|raw }}'{% if sonstigescount < sonstigesanzahl %},{% endif %}
            {% set sonstigescount = sonstigescount + 1 %}{% endfor %}
        };
        function changeFunc() {
        var selectBox = document.getElementById("example");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;

        if(selectedValue == "druckerei") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in druckerei_array) {
                select.options[select.options.length] = new Option(druckerei_array[index], index);
        }
        } else if(selectedValue == "grafiker") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in grafiker_array) {
                select.options[select.options.length] = new Option(grafiker_array[index], index);
        }
        } else if(selectedValue == "fotograf") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in fotograf_array) {
                select.options[select.options.length] = new Option(fotograf_array[index], index);
        }
        } else if(selectedValue == "entwickler") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in entwickler_array) {
                select.options[select.options.length] = new Option(entwickler_array[index], index);
        }
        } else if(selectedValue == "texter") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in texter_array) {
                select.options[select.options.length] = new Option(texter_array[index], index);
        }
        } else if(selectedValue == "illustrator") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in illustrator_array) {
                select.options[select.options.length] = new Option(illustrator_array[index], index);
        }
        } else if(selectedValue == "sonstiges") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in sonstiges_array) {
                select.options[select.options.length] = new Option(sonstiges_array[index], index);
        }
        }
        }

        function change2Func() {
        var selectBox = document.getElementById("example-select");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        }

        function FirmenlogoUpload() {
            document.getElementById('showcasedropbox').style.display = "block";
            document.getElementById('joblogoOnlineID').style.display = "none";
        }
</script>
<div class="jobdivinsert">
<h5>Jobangebot oder Druckauftrag einstellen...</h5>
{% if logoexist != true %}   
{% set logoupload = 'none' %}
{% set firmlogo = 'block' %}
{% else %}
{% set logoupload = 'none' %}
{% set firmlogo = 'block' %}
{% endif %}
<div id="showcasedropbox" class="joblogo float-left" style="display: {{ logoupload }};">
			<span class="message">Firmenlogo zum Upload hier reinziehen. <br /></span>
		</div>
<div class="joblogoOnline" id="joblogoOnlineID" style="display: {{ firmlogo }};">

<h6><strong>Firmenlogo für Ihre Ausschreibung:</strong></h6>
{% if logofirma == 1 %}   
<img src="/upload/uploads/firma/{{ logolink }}?{{ date().timestamp }}" style="max-height:200px; max-width: 100%;" /><br />
<a id="myLink" href="/profile/edit" title="Click to Upload"><strong>Firmen-Logo ändern?</strong></a><br /><br /></div>
{% elseif logofirma == 2 %}   
<img src="/upload/uploads/userpics/{{ logolink }}?{{ date().timestamp }}" style="max-height:200px; max-width: 300px;" /><br />
<a id="myLink" href="/profile/edit" title="Click to Upload"><strong>Firmen-Logo hochladen um Anzeigebild zu ändern?</strong></a><br /><br /></div>
{% elseif logofirma == 3 %}   
<img src="/images/no-image-placeholder.png" class="nofirmapic" alt="Member Pic"> <br /><br />
<a id="myLink" href="/profile/edit" title="Click to Upload"><strong>Firmen-Logo hochladen um Anzeigebild zu ändern?</strong></a><br /><br /></div>
{% endif %}
		<div class="clearfix"></div>

{% set actionlink = '/job/new' %}
{{ form_start(form, { 'action':  actionlink, 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_row(form.astitle) }}
    <!--<br>
   <label>Finde&nbsp;</label><select id="example" name="finde" onchange="changeFunc();"><option value="druckerei">Druckerei</option><option value="grafiker">Grafiker|in</option><option value="fotograf">Fotograf|in</option><option value="entwickler">Entwickler|in</option><option value="texter">Texter|in</option><option value="illustrator">Illustrator|in</option><option value="sonstiges">Sonstiges</option></select>
&nbsp;&nbsp;&nbsp;
    <label>für&nbsp;</label>
    <select id="example-select" name="for" onchange="change2Func();">
    <option value="Alle">Alle</option>
    {% for druckerei in druckerei %}<option value="{{ druckerei|replace({' ': "_", '.': "_"})|raw }}">{{ druckerei|raw }}</option>{% endfor %}
    </select>
    <br />-->
    {{ form_row(form.jobSuche) }}
    {{ form_row(form.jobTyp) }}
    {{ form_row(form.for) }}
    
    {{ form_row(form.jobort) }}<br />
    <div class="jobdivinsertDate">
    läuft ab am (0:00 Uhr): 
    </div>
    <div class="jobdivinsertDay">
    {{ form_row(form.endDateDay) }}
    </div>
    <div class="jobdivinsertMonat">
    {{ form_row(form.endDateMonat) }}
    </div>
    <div class="jobdivinsertYear">
    {{ form_row(form.endDateYear) }}
    </div><div class="clearfix"></div>
    <br />
    {{ form_row(form.content) }}

    {{ form_row(form.docpdf1) }}
    {{ form_row(form.docpdf2) }}
    {{ form_row(form.docpdf3) }}
    
{{ form_end(form) }}
{% if is_granted('ROLE_ADMIN') %}
			{# Admin #}
{% elseif is_granted('ROLE_USER') and (is_granted('ROLE_PROFI') == false) and (is_granted('ROLE_PLATIN') == false) and (is_granted('ROLE_ADMIN') == false) %}
<br /><br />
<strong>Hinweis:</strong> Als Profi oder Platin Mitglied, erhalten Sie nachdem Sie die Ausschreibung gestartet haben, sofort Mitglieder-Angebote zu Ihrer Ausschreibung!!!<br /><br />
<a href="/profile/type">Hier können Sie Ihren Account updaten!!!</a>
{% elseif (is_granted('ROLE_PROFI')) or (is_granted('ROLE_ADMIN')) %}
			{# Profi #} Profiuser
{% elseif (is_granted('ROLE_PLATIN')) or (is_granted('ROLE_ADMIN')) %}
			{# Platin #} Platinuser
{% endif %}
</div>
       <!-- Including The jQuery Library -->
		<script src="//code.jquery.com/jquery-1.6.3.min.js"></script>
		
		<!-- Including the HTML5 Uploader plugin -->
		<script src="/upload/assets/js/jquery.filedrop.js"></script>
		
		<!-- The main script file -->
        <script>
            $(function(){
	
	var showcasedropbox = $('#showcasedropbox'),
		message = $('.message', showcasedropbox);
	
	showcasedropbox.filedrop({
		
		// The name of the $_FILES entry:
		paramname:'pic',
		
		maxfiles: 5,
    	maxfilesize: 2,
		url: '/post_file/firma',
		
		uploadFinished:function(i,file,response){
			$.data(file).addClass('done');
			// response is the JSON object that post_file.php returns
		},
		
    	error: function(err, file) {
			switch(err) {
				case 'BrowserNotSupported':
					showMessage('Your browser does not support HTML5 file uploads!');
					break;
				case 'TooManyFiles':
					alert('Too many files! Please select 5 at most! (configurable)');
					break;
				case 'FileTooLarge':
					alert(file.name+' is too large! Please upload files up to 2mb (configurable).');
					break;
				default:
					break;
			}
		},
		
		// Called before each upload is started
		beforeEach: function(file){
			if(!file.type.match(/^image\//)){
				alert('Only images are allowed!');
				
				// Returning false will cause the
				// file to be rejected
				return false;
			}
		},
		
		uploadStarted:function(i, file, len){
			createImage(file);
		},
		
		progressUpdated: function(i, file, progress) {
			$.data(file).find('.progress').width(progress);
		}
    	 
	});
	
	var template = '<div class="preview">'+
						'<span class="imageHolder">'+
							'<img />'+
							'<span class="uploaded"></span>'+
						'</span>'+
						'<div class="progressHolder">'+
							'<div class="progress"></div>'+
						'</div>'+
					'</div>'; 
	
	
	function createImage(file){

		var preview = $(template), 
			image = $('img', preview);
			
		var reader = new FileReader();
		
		image.width = 100;
		image.height = 100;
		
		reader.onload = function(e){
			
			// e.target.result holds the DataURL which
			// can be used as a source of the image:
			
			image.attr('src',e.target.result);
		};
		
		// Reading the file as a DataURL. When finished,
		// this will trigger the onload function above:
		reader.readAsDataURL(file);
		
		message.hide();
		preview.appendTo(showcasedropbox);
		
		// Associating a preview container
		// with the file, using jQuery's $.data():
		
		$.data(file,preview);
	}

	function showMessage(msg){
		message.html(msg);
	}

});
        </script>
{% else %}
Bitte erst einloggen!
{% endif %}
{% endblock %}