{# app/Resources/Form/ckeditor_widget.html.twig #}
{% extends 'FOSCKEditorBundle:Form:ckeditor_widget.html.twig' %}

{% block ckeditor_widget_extra %}
    CKEDITOR.dtd.$removeEmpty['span'] = false;
{% endblock %}