{% extends 'templates.html.twig' %}

{% block title %}Neues Passwort!{% endblock %}

{% block content %}
<div class="contentinnert">
{% if userfund == true %}
Eine E-Mail wurde verschickt. Sie beinhaltet einen Link zum Zurücksetzen des Passwortes.<br />
Hinweis: Ein neues Passwort kann nur alle 2 Stunden beantragt werden.<br />
<br />
Eventuell wurde diese E-Mail als Spam markiert, wenn sie nicht angekommen ist.<br />
{% else %}
<strong style="color:red">Benutzername oder Emailadresse nicht gefunden!</strong>
{% endif %}
</div>
{% endblock %}
