<form action="http://grafiker.de/mail/5cfa9869f7c0ba000e0421e3" method="post">
     
     <div id="message"><div><label for="message_body" class="required">Nachricht: </label><textarea id="message_body" name="message[body]" required="required"></textarea></div><input type="hidden" id="message__token" name="message[_token]" value="lHX5l1vM2OOqaKTeSNhNU7-oMgnqEhPUpNxuQbT6ygs" /></div>

   <input type="submit" class="bdnmini2 btn btn-primary" />
</form>