	<div class="login-form">
	<form action="https://www.grafiker.de/./pages/login.php" method="post">
	<span class="login-label">Benutzername:</span>
	<div class="logininput-div"><input class="i_textfield" type="text" name="username" tabindex="1"></div>
	<span class="login-label">Passwort:</span>
	<div class="logininput-div"><input class="i_textfield" type="password" name="password" tabindex="2"></div>
	<div class="logininput-button"><input type="submit" name="login" class="button_login t11gb" value="EINLOGGEN"></div>
	</form>
	</div>