<html lang="de">
    <head>
    <title>Ihre Anfrage an bis zu {{ grafikercount }} Grafiker</title>
    <meta name="viewport" content="width=500, shrink-to-fit=yes">
    <meta name="keywords" content="Grafiker, Grafikdesigner, Designer, Gestaltung, Gestaltung Ausschreibung, Grafiker Ausschreibung, Grafiker Job, Grafikdesigner Job, Grafiker finden, Grafiker suchen">
    <script src="/externes/1.9.1/jquery.min.js"></script> 
<!-- Sendinblue Conversations {literal} -->
<script>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
$(document).ready(function(){
$.post("/logout" ,function(msg){
              if(msg != "") {

              }                 
  });
});
{% endif %}
    (function(d, w, c) {
        w.SibConversationsID = '5be58993bbddbd25c604838c';
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        var s = d.createElement('script');
        s.async = true;
        s.src = 'https://conversations-widget.sendinblue.com/sib-conversations.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'SibConversations');
</script>
<!-- /Sendinblue Conversations {/literal} -->
</head>
<body>
<!-- The Modal -->
<div onclick="closeModal()" id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <p id="help"></p>
  </div>

</div>
<style>
.logo {
    width: 50%;
}
#logo {
    max-width: 50%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
body {
    font-family: sans-serif;
}
.divwidth {
  width: 80%;
}
.linkinfo {
  text-decoration: none;
  color:#fff;
  font-size: 20px;
}
.infodiver {
  background-color: #799a14;
  color: #fff;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0.5px solid #F0F0F0;
}
{% if mobilcheck == "mobil" %}
@media screen and (max-width: 700px) {
.divwidth {
  width: 100%;
}
.linkinfo {
  text-decoration: none;
  color:#fff;
  font-size: 30px;
}
img#myBtn {
    width: 60px;
}
.infodiver {
    background-color: #799a14;
    color: #fff;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 0.5px solid #F0F0F0;
}
}
{% endif %}
.cc_container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: unset !important;
    overflow: hidden;
    padding: 10px;
}
</style>
<script>
// Get the modal
var modal = document.getElementById("myModal");

function closeModal() {
    modal.style.display = "none";
}
function openModal(what) {
if(what == "standard") {
    var helptext = "Mit dieser Ausschreibung erreichen Sie mehrere 1000 Grafiker<br /><strong>Dieses Angebot ist für Sie kostenlos.</strong>";
} 
if(what == "blitz") {
    var helptext = "Mit dieser Ausschreibung erreichen Sie mehrere 1000 Grafiker<br />für nur € 19,95";
} 
if(what == "jobs") {
    var helptext = "hier erreichen Sie für Ihre Jobausschreibung viele tausende Nutzer auf unserer Plattform für nur € 195,00";
} 
document.getElementById("help").innerHTML = helptext;
modal.style.display = "block";
}
</script>
<div style="position: relative;height:100%;background-color:#fff;">
<div class="divwidth" style="margin: 0 auto;"><img style="margin-top: 20px;max-width: 50%;height:auto;" src="{{ allwidget.cssPosition}}" alt="Druckerei-Logo" id="logo"></div>
<br />
<div class="divwidth" style="background-color:#fff;margin: 0 auto;padding: 5px 5px 20px 0px;border: 0px solid #cccccc;"><br />
{% if thiswidgetcache.datacache["productPriceIncTax"] != "0.00" %}
<label>{{thiswidgetcache.datacache["productName"]}} - Preis (brutto): {{thiswidgetcache.datacache["productPriceIncTax"]}}</label><br />{% endif %}<hr style="width:100%;border: 2px solid #cccccc;" /><br /><br />
<h1 style="font-size:22px">Ihre Anfrage an bis zu <strong>{{ grafikercount }} Grafiker</strong></h1>
<br />
<div class="infodiver">
<a href="/service/tenders/neu/{{id}}?type=standard&cacheid={% if ersatzcacheid != 0 %}{{ersatzcacheid}}{% else %}{{app.request.get('cacheid')}}{% endif %}" class="linkinfo">Standard-Ausschreibung - kostenlos</a><label onclick="openModal('standard')" style="float:right;"><img id="myBtn" style="cursor: pointer;margin-top: 0px;margin-right: 5px;" src="/img/info.png" class="info" alt="grafiker info"></label><br />
<label class="zusatz" style="color: #000;font-size: 12px;"><a href="/service/tenders/neu/{{id}}?type=standard" style="text-decoration: none;color:#000;font-size: 16px;">Mailversand innerhalb von 24 Stunden</a></label>
</div>

<br />
<div class="infodiver">
<a href="/service/tenders/neu/{{id}}?type=blitz&cacheid={% if ersatzcacheid != 0 %}{{ersatzcacheid}}{% else %}{{app.request.get('cacheid')}}{% endif %}" class="linkinfo">Blitz-Ausschreibung - € 19,95</a><label onclick="openModal('blitz')" style="float:right;"><img id="myBtn" style="margin-top: 0px;cursor: pointer;margin-right: 5px;" src="/img/info.png" class="info" alt="grafiker info"></label><br />
<label class="zusatz" style="color: #000;font-size: 12px;"><a href="/service/tenders/neu/{{id}}?type=blitz" style="text-decoration: none;color:#000;font-size: 16px;">Versand sofort per Einzelmail</a></label>
</div>
<br />
<!--<div class="infodiver">
<a href="/service/tenders/neu/{{id}}?type=entwurf&cacheid={% if ersatzcacheid != 0 %}{{ersatzcacheid}}{% else %}{{app.request.get('cacheid')}}{% endif %}">Ich möchte Entwürfe - € 19,95</a><label onclick="openModal('entwurf')" style="float:right;"><img id="myBtn" style="margin-top: 0px;cursor: pointer;margin-right: 5px;" src="/img/info.png" class="info" alt="grafiker info"></label><br />
<label class="zusatz" style="color: #000;font-size: 12px;"><a href="/service/tenders/neu/{{id}}?type=entwurf" style="text-decoration: none;color:#000;">Die Grafiker fertigen unverbindlich Entwürfe an</a></label>
</div>-->
<br />
<!--<div class="infodiver">
<a href="/service/tenders/neu/{{id}}?type=agentur&cacheid={% if ersatzcacheid != 0 %}{{ersatzcacheid}}{% else %}{{app.request.get('cacheid')}}{% endif %}">Nur an geprüfte Agenturen - € 19,95</a><label onclick="openModal('agentur')" style="float:right;"><img id="myBtn" style="margin-top: 0px;cursor: pointer;margin-right: 5px;" src="/img/info.png" class="info" alt="grafiker info"></label><br />
<label class="zusatz" style="color: #000;font-size: 12px;">&nbsp;</label>
</div>-->
</div>
<div class="divwidth" style="margin: 0 auto;">
<div class="infodiver">
<a href="/service/tenders/jobs/{{id}}?type=jobs&cacheid={% if ersatzcacheid != 0 %}{{ersatzcacheid}}{% else %}{{app.request.get('cacheid')}}{% endif %}" class="linkinfo">Job-Ausschreibung - € 195,00</a><label onclick="openModal('jobs')" style="float:right;"><img id="myBtn" style="margin-top: 0px;cursor: pointer;margin-right: 5px;" src="/img/info.png" class="info" alt="grafiker info"></label><br />
<label class="zusatz" style="color: #000;font-size: 16px;">Festeinstellung, Minijobs, Ausbildungsplatz oder Praktikum</label>
</div>
<div style="text-align:center;">
<!--<iframe style="width:80%;height:250px;" src="//www.youtube.com/embed/gOPSyf3MLT8" frameborder="0" allowfullscreen=""></iframe><br />--><br /><br />
<img style="height: 30px;width: auto;" src="/img/grafiker_paypal.png" alt="PayPal" /> <img style="height: 30px;width: auto;" src="/img/grafiker_lastschrift.png" alt="lastschrift" /> <img style="height: 30px;width: auto;" src="/img/grafiker_kreditkarte.png" alt="kreditkarte" /> <img style="height: 30px;width: auto;" src="/img/grafiker_giropay.png" alt="giropay" /> <img style="height: 30px;width: auto;" src="/img/grafiker_sofort.png" alt="sofort" />
</div>
</div>
<div style="position: absolute;bottom: 0px;width:99%">
<hr style="width:100%;border: 2px solid #cccccc;" />
<div class="divwidth" style="margin: 0 auto;margin-bottom: 30px;">
<a target="_blank" style="color: #000;text-decoration: none;" href="/"><img style="width: 30%;" src="/images/logo.png" class="logo" alt="grafiker Logo"></a><br />
<a target="_blank" style="color: #000;text-decoration: none;" href="/impressum">Impressum</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/datenschutz">Datenschutzerklärung</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/agb">AGB</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/widerruf">Widerrufsbelehrung</a>
</div>
</div>
</div>
<script>window.cookieconsent_options = {message: 'Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir technisch notwendige Cookies verwenden..', dismiss: 'Schließen', learnMore: 'Mehr Infos erhalten sie in der Datenschutzerklärung.', link: '/datenschutz', theme: 'light-bottom'}</script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
</body>
</html>