{% extends 'base.html.twig' %}

{% block title %}Hello ServiceWidgetController!{% endblock %}

{% block content %}
<style>
label {
    width: 100%;
    font-weight: 600;
}
input, select, textarea {
    width: 100%;
}
textarea {
    height: 250px;
}
#form_send {
    margin-top: 20px;
}

label.widgetlist, label.widgetlist a {
    background-color: #799a14;
    color: #fff;
    padding: 10px;
    font-weight: 600;
    width: unset;
}
</style>
<h1>Widget > Neu</h1>
<label class="widgetlist"><a href="/service/widgetlist">Widget-Liste</a></label>
<div class="row">
        <div class="col-sm-7">
                    <div class="formdiv">
            {{ form_start(form, {'method': 'post', 'action': '/service/widget', 'attr': {'class': 'fos_user_registration_register', 'id': 'regform'}}) }}
            {{ form_row(form.cssPosition) }}
            {{ form_row(form.accountURL) }}
            {{ form_end(form) }}
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>

{% endblock %}
