{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> Beitragsverwaltung
<form action="/admin/userverwaltung/all" method="post">
{# form_widget(form) #}
</form>
<br />
<br />Beiträge-Übersicht:<br />

<table>
	<tr>
		<th style="width: 120px;">Username</th>
		<th style="width: 250px;">Beitragtitel</th>
		<th style="width: 120px;text-align:center;">bearbeiten</th>
		<th style="width: 120px;text-align:center;">freischalten</th>
		<th style="width: 120px;text-align:center;">Angebot</th>
		<th style="width: 120px;text-align:center;">Rechnung</th>
		<th style="width: 120px;text-align:center;">überarbeitet</th>
		<th style="width: 120px;text-align:center;">Werbung</th>
	</tr>

{% for article in articledata %}
	<tr>

<td><strong><a href="/admin/userverwaltung/{{ usernameId[article.id] }}/edit">{{ article.username }}</a></strong> </td>
<td>{{ article.getTitle()|length > 25 ? article.getTitle()|slice(0, 25) ~ '...' : article.getTitle()  }} </td>
<td style="text-align:center;"><a title="Beitrag bearbeiten?" href="/admin/articleverwaltung/{{ article.id }}/edit"><span class="articleicons icon-large icon-pencil"></span></a> </td>
<td style="text-align:center;"><a title="Beitrag freischalten?" href="/admin/articleverwaltung/{{ article.id }}/ok"><span class="articleicons icon-large icon-ok"></span></a> </td>
<!--<a title="Beitrag mit Grund ablehnen?" href="/admin/articleverwaltung/{{ article.id }}/notok"><span class="articleicons icon-large icon-envelope"></span></a>
<a title="Beitrag löschen?" href="/admin/articleverwaltung/{{ article.id }}/del" onclick='return del_ask();'><span class="articleicons icon-large icon-trash"></span></a> -->
<td style="text-align:center;">{% if anbexistkarray[article.id] %}
<a target="_blank" title="Angebot versendet!" href="/upload/uploads/grafikerpdf/angebot{{anbexistkarray[article.id]}}.pdf"><span class="articleicons icon-large icon-inbox-out"></span></a>
{% endif %}
</td><td style="text-align:center;">
{% if reexistkarray[article.id] %}
<a target="_blank" title="Rechnung versendet!" href="/upload/uploads/grafikerpdf/rechnung{{reexistkarray[article.id]}}.pdf"><span class="articleicons icon-large icon-euro"></span></a>
{% endif %}
</td>
<td style="text-align:center;">{% if article.aktiv == true %} <span title="Beitrag wurde überarbeitet!" class="articleicons icon-large icon-edit"></span> {% endif %}</td> <td style="text-align:center;">{% if article.isads == true %} <strong style="color:red;"> <a style="color:red" href="/pdf/start/{{ article.username }}/{{ article.id }}" title="Dieser Beitrag enthält Werbung!"><span class="articleicons icon-large icon-warning-sign"></span></a></strong>{% endif %}</td>
	</tr>
{% endfor %}

</table>
<div style="text-align:center;">
{% if count > 1 %}
{% for i in range(0, count|round(0, 'floor')) %}
    <a href="/admin/articleverwaltung/{{ i }}">{{ i }}</a>,
{% endfor %}
{% endif %}
</div></div>
{% endblock %}

{% block newfooternopins %}
{% for article in articledata %}

<div class="article float-left" style="margin: 0px 0px 0px 0px;">
<a href="/admin/articleview/{{ article.id }}"><div class="articleautordiv">
			<div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				<div class="articleviewsdiv" style="right: 0px;top: 0px;">
<div class="articleviewsdiv">
                                      0 <i class="fa fa-eye"></i>
                                </div> 
{% if article.getThumbnail() == "" %}
<img src="/images/no-image-placeholder.png" class="articleautor" alt="Beitragautor">
{% else %}
<img src="/upload/uploads/articlepics/{{article.getThumbnail()}}" class="articleautor" alt="Beitragautor">
{% endif %}
</div></a>
                                <div class="articleratingdiv">
                                        <img src="/grafiker/images/rating.png" class="rating" alt="Rating">
                                </div>
			</div>



			<div class="articledata float-right" style="width: 333px;">	
			<div class="articletitle">
                          {{ article.getTitle()|length > 22 ? article.getTitle()|slice(0, 22) ~ '...' : article.getTitle()  }}
            </div>
	<!--		<div class="pinautoredit float-left">
	{#% if file_exists %}
		<img src="{{piclink}}" class="autorpinpic" alt="Autor Article Pic">
	{% else %}
	<img src="/images/no_boy.jpg" class="autorpinpic" alt="Autor Article Pic">
	{% endif %#}
			</div>-->
			<div class="articleautornamediv">
      <label class="articleautorortlabel">von {{article.getUsername()}}</label> | <label class="articleautorname">{{ "now"|date("M j.Y") }}</label>
      <label class="articlecontent">{{ article.getContent()|raw | striptags|length > 250 ? article.getContent() | striptags|slice(0, 250)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : article.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <label class="articlemore">Weiterlesen<label>
						</div>
			</div>
</div>
<div style="clear: both"></div>	

{% endfor %}
{% endblock %}