{% extends 'templates.html.twig' %}

{% block title %}Hello AdminDatabasecheckController!{% endblock %}

{% block content %}
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/databasecheck">Datenbank-Check</a> -> <a href="javascript:history.back()">Cache-Back</a><br /><br />
{% for key, tablesname in tablesname %}
{{ tablesname }}<br />
<a href="/admin/databasecheck/{{ tablesname }}/desc/1">DESC 1 Datensatz</a> / <a href="/admin/databasecheck/{{ tablesname }}/desc/5">DESC 5 Datensätze</a> / <a href="/admin/databasecheck/{{ tablesname }}/desc/10">DESC 10 Datensätze</a><br />
<a href="/admin/databasecheck/{{ tablesname }}/asc/1">ASC 1 Datensatz</a> / <a href="/admin/databasecheck/{{ tablesname }}/asc/5">ASC 5 Datensätze</a> / <a href="/admin/databasecheck/{{ tablesname }}/asc/10">ASC 10 Datensätze</a>
<form action="/admin/databasecheck/search/{{ tablesname }}/desc/10" method="post">Spalte: <input type="text" name="spalte"> Searchtext: <input type="text" name="searchtext"><input type="submit" value="go"></form>
{% endfor %}
{% endblock %}
