{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> | <a href="/admin/userverwaltung/all">Userverwaltung</a><br /><br /><br />
<strong style="color:red;">Der User: {{ username }} wurde erfolgreich gelöscht!</strong>
<br /><br />
<h5>Datenbank</h5>
Mit dem User wurden folgende die folgenden Anzahl an Tabelleneinträgen gelöscht:<br />
{% for key, counter in databasecounter %}
        <li>In der Tabelle {{ key }}: {{ counter }} {% if counter != 1 %}Einträge{% else %}Eintrage{% endif %}</li>
    {% endfor %}
<br /><br />
<h5>Bilder</h5>
Weiterhin wurden insgesamt {{ pinpicsdelcount }} Pinpics, {{ userpiccounter }} Userpic und {{ userfirmapiccounter }} Firmapic vom Server gelöscht!
{#% for key, countspic in pinpicsdelcount %}
        <li>In der Tabelle {{ key }}: {{ countspic }}</li>
    {% endfor %#}
    <br /><br />
<h5>Dokumente</h5>
Es wurden ausserdem insgesamt {{ bewerbungsdocscount }} Bewerbungsdokumente und {{ jobdocscount }} Ausschreibungsdokumente, gelöscht!<br /><br />
<strong style="color:red;">Damit wurde der User restlos vom Server entfernt und Ihm wurde eine Bestätigung per Mail gesendet!</strong>
</div>
{% endblock %}
