{% extends 'templates.html.twig' %}

{% block content %}
<div style="padding: 0;
  margin: 0px;
  white-space: nowrap;
  display: flex;
  background-color: #769813;
  width: 970px;
  overflow-x: auto;
  padding: 12px;
  align-items: center;">

{% for case in picsarray %} 
<img onclick="showpopup('/upload/uploads/gutscheinepics/{{ case }}')" style="width:auto; height:110px; cursor: pointer;" src="/upload/uploads/gutscheinepics/{{ case }}">&nbsp;
{% endfor %}
</div>
{% for gutscheine in gutscheinedata %}
<div style="width: 120px !important; height: auto; margin-top: -20px; margin-left: 15px; z-index: 9999;">
<div style="width: 100%; height: auto; z-index: 2; position: relative;">
	{% if fileexistarray[gutscheine.getUsername()] %}
		<img src="{{filelinkarray[gutscheine.getUsername()]}}" class="rounded-circle autorgutscheinepic" alt="Autor Beitrag Pic">
	{% else %}
		<img src="/images/no_boy.jpg" class="rounded-circle autorgutscheinepic" alt="Autor Beitrag Pic">
    {% endif %}
</div>
</div>
<style>

body
{
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}


blockquote {
  padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #0782C1;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* Preserved spaces for list items with text direction different than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	line-height: 1.2;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #000;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	outline: solid 1px #ccc;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}


/* Widget Styles */
.code-featured
{
	border: 5px solid red;
}

.math-featured
{
	padding: 20px;
	box-shadow: 0 0 2px rgba(200, 0, 0, 1);
	background-color: rgba(255, 0, 0, 0.05);
	margin: 10px;
}

.image-clean
{
	border: 0;
	background: none;
	padding: 0;
}

.image-clean > figcaption
{
	font-size: .9em;
	text-align: right;
}

.image-grayscale
{
	background-color: white;
	color: #666;
}

.image-grayscale img, img.image-grayscale
{
	filter: grayscale(100%);
}

.embed-240p
{
	max-width: 426px;
	max-height: 240px;
	margin:0 auto;
}

.embed-360p
{
	max-width: 640px;
	max-height: 360px;
	margin:0 auto;
}

.embed-480p
{
	max-width: 854px;
	max-height: 480px;
	margin:0 auto;
}

.embed-720p
{
	max-width: 1280px;
	max-height: 720px;
	margin:0 auto;
}

.embed-1080p
{
	max-width: 1920px;
	max-height: 1080px;
	margin:0 auto;
}

.darkbackground {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.8);
    z-index: 9998;
	display: none;
}
.bugdiv {
    background-color: transparent;
    color: #000;
    width: 100%;
	top: 10%;
	left: 0px;
    text-align: center;
    z-index: 9999;
	position: fixed;
	display: none;
}
</style>
<script>
function showpopup(link){
    $('.darkbackground').show();
	$('.bugdiv').show();
	var neu = '<img style="max-width:800px; height:auto;" src="' + link + '" onclick="closepopup()">';
    document.getElementById('bugdiv').innerHTML = neu;
 }
 function closepopup(){
    $('.darkbackground').hide();
	$('.bugdiv').hide();
 }
</script>
<div class="darkbackground" style="" onclick="closepopup()"></div>
<div class="bugdiv" id="bugdiv" style="" onclick="closepopup()">
</div>
<br /><br />
<div class="cke_contents_ltr cke_show_borders">
<label class="autorbox">Autor: {{ gutscheine.getUsername() }} • 0 min ago • ≥ 0 min Read</label>
<h1><label class="autortitle">{{ gutscheine.getTitle() }}</label></h1><br />
{{ gutscheine.getGutscheinekategorie() }}<br />
{{ content | raw }}<br /><br />
</div>
{% endfor %}
{% endblock %}
