{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> Beitragsverwaltung
<form action="/admin/userverwaltung/all" method="post">
{# form_widget(form) #}
</form>
<br />
<br />Beiträge-Übersicht:<br />

<table>
	<tr>
		<th style="width: 120px;">Username</th>
		<th style="width: 250px;">Beitragtitel</th>
		<th style="width: 120px;text-align:center;">bearbeiten</th>
		<th style="width: 120px;text-align:center;">freischalten</th>
		<th style="width: 120px;text-align:center;">Angebot</th>
		<th style="width: 120px;text-align:center;">Rechnung</th>
		<th style="width: 120px;text-align:center;">überarbeitet</th>
		<th style="width: 120px;text-align:center;">Werbung</th>
	</tr>

{% for gutscheine in gutscheinedata %}
	<tr>

<td><strong><a href="/admin/userverwaltung/{{ usernameId[gutscheine.id] }}/edit">{{ gutscheine.username }}</a></strong> </td>
<td>{{ gutscheine.getTitle()|length > 25 ? gutscheine.getTitle()|slice(0, 25) ~ '...' : gutscheine.getTitle()  }} </td>
<td style="text-align:center;"><a title="Beitrag bearbeiten?" href="/admin/gutscheineverwaltung/{{ gutscheine.id }}/edit"><span class="gutscheineicons icon-large icon-pencil"></span></a> </td>
<td style="text-align:center;"><a title="Beitrag freischalten?" href="/admin/gutscheineverwaltung/{{ gutscheine.id }}/ok"><span class="gutscheineicons icon-large icon-ok"></span></a> </td>
<!--<a title="Beitrag mit Grund ablehnen?" href="/admin/gutscheineverwaltung/{{ gutscheine.id }}/notok"><span class="gutscheineicons icon-large icon-envelope"></span></a>
<a title="Beitrag löschen?" href="/admin/gutscheineverwaltung/{{ gutscheine.id }}/del" onclick='return del_ask();'><span class="gutscheineicons icon-large icon-trash"></span></a> -->
<td style="text-align:center;">{% if anbexistkarray[gutscheine.id] %}
<a target="_blank" title="Angebot versendet!" href="/upload/uploads/grafikerpdf/angebot{{anbexistkarray[gutscheine.id]}}.pdf"><span class="gutscheineicons icon-large icon-inbox-out"></span></a>
{% endif %}
</td><td style="text-align:center;">
{% if reexistkarray[gutscheine.id] %}
<a target="_blank" title="Rechnung versendet!" href="/upload/uploads/grafikerpdf/rechnung{{reexistkarray[gutscheine.id]}}.pdf"><span class="gutscheineicons icon-large icon-euro"></span></a>
{% endif %}
</td>
<td style="text-align:center;">{% if gutscheine.aktiv == true %} <span title="Beitrag wurde überarbeitet!" class="gutscheineicons icon-large icon-edit"></span> {% endif %}</td> <td style="text-align:center;">{% if gutscheine.isads == true %} <strong style="color:red;"> <a style="color:red" href="/pdf/start/{{ gutscheine.username }}/{{ gutscheine.id }}" title="Dieser Beitrag enthält Werbung!"><span class="gutscheineicons icon-large icon-warning-sign"></span></a></strong>{% endif %}</td>
	</tr>
{% endfor %}

</table>
<div style="text-align:center;">
{% if count > 1 %}
{% for i in range(0, count|round(0, 'floor')) %}
    <a href="/admin/gutscheineverwaltung/{{ i }}">{{ i }}</a>,
{% endfor %}
{% endif %}
</div></div>
{% endblock %}

{% block newfooternopins %}
{% for gutscheine in gutscheinedata %}

<div class="gutscheine float-left" style="margin: 0px 0px 0px 0px;">
<a href="/admin/gutscheineview/{{ gutscheine.id }}"><div class="gutscheineautordiv">
			<div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				<div class="gutscheineviewsdiv" style="right: 0px;top: 0px;">
<div class="gutscheineviewsdiv">
                                      0 <i class="fa fa-eye"></i>
                                </div> 
{% if gutscheine.getThumbnail() == "" %}
<img src="/images/no-image-placeholder.png" class="gutscheineautor" alt="Beitragautor">
{% else %}
<img src="/upload/uploads/gutscheinepics/{{gutscheine.getThumbnail()}}" class="gutscheineautor" alt="Beitragautor">
{% endif %}
</div></a>
                                <div class="gutscheineratingdiv">
                                        <img src="/grafiker/images/rating.png" class="rating" alt="Rating">
                                </div>
			</div>



			<div class="gutscheinedata float-right" style="width: 333px;">	
			<div class="gutscheinetitle">
                          {{ gutscheine.getTitle()|length > 22 ? gutscheine.getTitle()|slice(0, 22) ~ '...' : gutscheine.getTitle()  }}
            </div>
	<!--		<div class="pinautoredit float-left">
	{#% if file_exists %}
		<img src="{{piclink}}" class="autorpinpic" alt="Autor Gutscheine Pic">
	{% else %}
	<img src="/images/no_boy.jpg" class="autorpinpic" alt="Autor Gutscheine Pic">
	{% endif %#}
			</div>-->
			<div class="gutscheineautornamediv">
      <label class="gutscheineautorortlabel">von {{gutscheine.getUsername()}}</label> | <label class="gutscheineautorname">{{ "now"|date("M j.Y") }}</label>
      <label class="gutscheinecontent">{{ gutscheine.getContent()|raw | striptags|length > 250 ? gutscheine.getContent() | striptags|slice(0, 250)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : gutscheine.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <label class="gutscheinemore">Weiterlesen<label>
						</div>
			</div>
</div>
<div style="clear: both"></div>	

{% endfor %}
{% endblock %}