{% extends 'templates.html.twig' %}
{% block content %}
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/jobverwaltung/all">Jobverwaltung</a>
<br/><br/>
{% set actionlink = '/admin/jobverwaltung/all' %}
{{ form_start(form, { 'action':  actionlink, 'attr': { 'class': 'fos_user_profile_edit' } }) }}
<input type="hidden" id="form_jobId" name="form[jobId]" value="{{ jobid }}">
    {{ form_row(form.astitle) }}
    {{ form_row(form.jobSuche) }}
    {{ form_row(form.jobTyp) }}
    {{ form_row(form.for) }}
    {{ form_row(form.jobort) }}
    läuft ab (0:00 Uhr): 
    <div class="jobdivinsertDay">
    {{ form_row(form.endDateDay) }}
    </div>
    <div class="jobdivinsertMonat">
    {{ form_row(form.endDateMonat) }}
    </div>
    <div class="jobdivinsertYear">
    {{ form_row(form.endDateYear) }}
    </div><div class="clearfix"></div>
    
    {{ form_row(form.content) }}
    
{{ form_end(form) }}

{% endblock %}