{% extends 'templates.html.twig' %}

{% block content %}
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/jobverwaltung/all">Jobverwaltung</a>
<br/>
<a href="/admin/jobaktivverwaltung/all">Jobverwaltung aktive Jobs</a>
<br/>
{% if infotxt != '' %}
<strong style="color:red; text-align:center;">{{ infotxt }}</strong><br/><br/>
{% endif %}
{% for job in jobdata %}
<div class="firmalogo float-left" style="width: 450px; text-align: center;">
<strong>{{ job.getJobTyp() }}</strong><br/>
{% if logoexist[job.getUsername()] == true %}   
<img style="max-height: 100px;" src="/{{ logolink[job.getUsername()] }}?{{ date().timestamp }}" /> <br />
{% endif %}
{% set difference = date().diff(date(job.getStartdate())) %}
{% set leftDays = difference.days %}
{% if leftDays == 0 %}
<strong>Veröffentlicht: heute</strong>
{% elseif leftDays == 1 %}
<strong>Veröffentlicht: gestern</strong>
{% else %}
<strong>Veröffentlicht: vor {{ leftDays }} Tagen</strong>
{% endif %}
<br />
<strong><a href="/admin/userverwaltung/{{ app.user.getID(job.username) }}/edit">{{ job.username }}</a></strong> <a title="Job bearbeiten?" href="/admin/jobverwaltung/{{ job.getId() }}/edit"><span class="pinicons icon-large icon-pencil"></span> <a title="Job freischalten?" href="/admin/jobverwaltung/{{ job.getId() }}/ok"><span class="pinicons icon-large icon-ok"></span></a> <a title="Job löschen?" href="/admin/jobverwaltung/{{ job.getId() }}/del" onclick='return del_ask();'><span class="pinicons icon-large icon-trash"></span></a>
</div>
<div class="ausschreibungstxt float-left" style="max-width: 500px;">
<strong><a href="/jobview/{{ job.getJobLink() }}">{{ job.getAstitle() }}</a></strong><br />
{% if job.getContent()|length > 350 %}
{{ job.getContent()|striptags |slice(0, 250) |raw }}...
{% else %}
{{ job.getContent()|striptags|raw }}
{% endif %}
</div>
<div class="clearfix"></div><br/>
{% endfor %}

{% endblock %}
