{% extends 'templates.html.twig' %}

{% block content %}
<a href="/admin/grafiker">Admin-Startseite</a> -> Mailer<br />
<br />
<a href="/admin/mailuserexport/start/0/0">Export für SendBlue</a>
<br /><br />
<form action="/admin/mailer" method="post">
{{ form_widget(form) }}
</form>

<br />
<br />
Für Vorname: ## vorname ##<br />
für Nachname: ## nachname ##<br />
Für Benutzername: ## username ##<br />
Für Emailadresse: ## emailadresse ##
{% endblock %}
