{% extends 'templates.html.twig' %}

{% block title %}AdminMaillogController!{% endblock %}

{% block content %}
<script>
function divdisplay(id) {
    var id = id;
    //alert(document.getElementById(id).style.display);
    if(document.getElementById(id).style.display == 'none') {
    document.getElementById(id).style.display = "block";
    } else {
       document.getElementById(id).style.display = "none"; 
    }
}
</script>
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/maillog">Maillog</a><br /><br />
<table>
	<tr>
		<th style="width: 170px;">Sende-Datum</th>
		<th style="width: 400px;">Betreff</th>
		<th style="width: 200px;">Absender</th>
		<th style="width: 200px;">Empfänger</th>
	</tr>
    <tr>
        <th></th>
    </tr>
</table>

{% for mailout in mailout %}
<table>
<tr>
<td style="width: 170px;">{{ mailout.getSenddate()|date("d.m.Y - H:i", "Europe/Berlin") }}</td>
<td style="width: 400px;"><a style="color:#007bff;cursor: pointer;" onclick="javascript:divdisplay('{{ mailout.getId() }}');">{{ mailout.getSubjekt() }}</a></td>
<td style="width: 200px;">{{ mailout.getSender() }}</td>
<td style="width: 200px;">{{ mailout.getEmpfaenger() }}</td>
</tr>
</table>
<div style="display:none;" id="{{ mailout.getId() }}">{{ mailout.getBody() | raw }}</div>
{% endfor %}

</div>
{% endblock %}
