{% extends 'templates.html.twig' %}

{% block title %}Hello AdminMailuserexportController!{% endblock %}

{% block content %}
{% if nextsite != "" and stop == false %}
<script>
parent.top.location.href="/admin/mailuserexport/next/{{ anz }}/{{ page + 1 }}/{{ nextsite }}"
</script>
{% endif %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/mailer">Mailer</a> <br />
<br />
{% if go == 'ok' %}
<a href="/upload/uploads/mailuser/text.csv" download="mail.csv" style="color:red; font-size: 22px;">CSV runterladen?</a><br />
{% endif %}
<br />
{{ form_start(form, {'method': 'post', 'action': '/admin/mailuserexport/ok/100/0', 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_label(form.sysmailer) }} (Bitte zuerst Systemmailer und Alle exportieren!!!)<br />
    {{ form_widget(form.sysmailer) }}<br />
    {{ form_label(form.berufsgruppe8) }}<br />
    {{ form_widget(form.berufsgruppe8) }}<br />
    {{ form_label(form.berufsgruppe6) }}<br />
    {{ form_widget(form.berufsgruppe6) }}<br />
    {{ form_label(form.berufsgruppe9) }}<br />
    {{ form_widget(form.berufsgruppe9) }}<br />
    {{ form_label(form.berufsgruppe1) }}<br />
    {{ form_widget(form.berufsgruppe1) }}<br />
    {{ form_label(form.berufsgruppe2) }}<br />
    {{ form_widget(form.berufsgruppe2) }}<br />
    {{ form_label(form.berufsgruppe3) }}<br />
    {{ form_widget(form.berufsgruppe3) }}<br />
    {{ form_label(form.berufsgruppe4) }}<br />
    {{ form_widget(form.berufsgruppe4) }}<br />
    {{ form_label(form.berufsgruppe5) }}<br />
    {{ form_widget(form.berufsgruppe5) }}<br />
    {{ form_label(form.alle) }}<br />
    {{ form_widget(form.alle) }}<br />
    {{ form_label(form.mailer) }}<br />
    {{ form_widget(form.mailer) }}<br />
    {{ form_row(form.send) }}
{{ form_end(form) }}
</div>
<br />
<br />
<strong>Ablauf:</strong> als erstes bitte <strong>Systemmail</strong> und <strong>Alle Mitglieder</strong> auswählen! Das Script wird dann automatisch ALLE Mitglieder an Sendblue exportieren.<br /><br />
Als nächstes können die Newsletter-User exportiert werden. Hier werden jetzt alle User übertragen, die in Ihren Profil unter Benachrichtigungen: "Newsletter / Montagsmailer per Email erhalten?" aktiviert haben!

{% endblock %}
