{% extends 'templates.html.twig' %}

{% block title %}Hello AdminNewsletterController!{% endblock %}

{% block content %}
{% if delete == true %}
<script type="text/javascript">
<!--
document.location.href = "/admin/newsletter";
//–>
</script>
{% else %}
<style>
#form_lettertyp_0, #form_lettertyp_1 {
    width: 50px;
}
input, select, textarea {
    width: 98%;
}
textarea {
    height: 350px;
}
</style>
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/newsletter">Newsletterverwaltung</a>
<br /><br />
{{ form_start(form, {'method': 'post', 'action': '/admin/newsletter', 'attr': {'class': 'fos_admin_newsletter'}}) }}

    {{ form_label(form.lettertyp) }}<br />
    {{ form_widget(form.lettertyp) }}<br />
    {{ form_label(form.letterDay) }}<br />
    {{ form_widget(form.letterDay) }}<br /><br />
    {{ form_label(form.letterMon) }}<br />
    {{ form_widget(form.letterMon) }}<br /><br />
    {{ form_label(form.letterYear) }}<br />
    {{ form_widget(form.letterYear) }}<br /><br />
    {{ form_label(form.mailertext) }}<br />
    {{ form_widget(form.mailertext) }}<br /><br />
    {{ form_row(form.send) }}
  
{{ form_end(form) }}

<br />
<br />
<br />
<br />
{% set counter = letterdata|length %}
{% for letterdata in letterdata %}
<strong><a href="/montagsmailer/{{ letterdata.id }}">{{ counter }}. Montagsmailer vom - {{ letterdata.letterDay }}.{{ letterdata.letterMon }}.{{ letterdata.letterYear }}</a></strong> <a href="/admin/newsletter/{{ letterdata.id }}" onclick='return del_ask();'><span class="pinicons icon-large icon-trash"></span></a><br />
{% set counter = counter - 1 %}
{% endfor %}
</div>
{% endif %}
{% endblock %}
