{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<script>
function changeIt(img)
{
    var name = img.id;
    if(document.getElementById(name).style.border) {
        document.getElementById(name).style.border = "";
    } else {
        document.getElementById(name).style.border = "4px solid #de2012";
    }
    
    //var res = str.replace("Microsoft", "W3Schools");
    if(document.getElementById('form_picselected').value == 0) {
	document.getElementById('form_picselected').value = name + ',';
    } else {
        var string = document.getElementById('form_picselected').value;
if(string.includes(name)) {
name = document.getElementById('form_picselected').value.replace(name + ',', "");
document.getElementById('form_picselected').value = name;
} else {
    document.getElementById('form_picselected').value = document.getElementById('form_picselected').value + name + ',';
}
    }
}
</script>
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/pinverwaltung/all">Pinverwaltung</a>
<h1>Pin von {{ username }} bearbeiten:</h1>
<strong>Bilder zum löschen bitte markieren und auf Pin überarbeiten klicken, die markierten Bilder werden dann gelöscht!</strong>
<div style="padding: 0;
  margin: 0px;
  white-space: nowrap;
  display: flex;
  background-color: #769813;
  width: 970px;
  overflow-x: auto;
  padding: 12px;
  align-items: center;">
{% for case in picsarray %} 
&nbsp;<img onclick="changeIt(this)" id="{{ case }}" style="cursor: pointer; width:auto; height:110px;" src="/upload/uploads/pinpics/{{ case }}">&nbsp;
{% endfor %}
</div>
<form action="/admin/pinverwaltung/{{ pinID }}/all" method="post">
{{ form_widget(form) }}
</form>
<br />
</div>
{% endblock %}