{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> Pinverwaltung
<form action="/admin/userverwaltung/all" method="post">
{# form_widget(form) #}
</form>
<br />
<br />Pins-Übersicht:<br />

<table>
	<tr>
		<th style="width: 120px;">Username</th>
		<th style="width: 250px;">Pintitel</th>
		<th style="width: 120px;text-align:center;">bearbeiten</th>
		<th style="width: 120px;text-align:center;">freischalten</th>
		<th style="width: 120px;text-align:center;">Angebot</th>
		<th style="width: 120px;text-align:center;">Rechnung</th>
		<th style="width: 120px;text-align:center;">überarbeitet</th>
		<th style="width: 120px;text-align:center;">Werbung</th>
	</tr>

{% for pin in pindata %}
	<tr>
<strong>
<td><a href="/admin/userverwaltung/{{ usernameId[pin.id] }}/edit">{{ pin.username }}</a></strong> </td>
<td>{{ pin.getTitle()|length > 25 ? pin.getTitle()|slice(0, 25) ~ '...' : pin.getTitle()  }} </td>
<td style="text-align:center;"><a title="Pin bearbeiten?" href="/admin/pinverwaltung/{{ pin.id }}/edit"><span class="pinicons icon-large icon-pencil"></span></a> </td>
<td style="text-align:center;"><a title="Pin freischalten?" href="/admin/pinverwaltung/{{ pin.id }}/ok"><span class="pinicons icon-large icon-ok"></span></a> </td>
<!--<a title="Pin mit Grund ablehnen?" href="/admin/pinverwaltung/{{ pin.id }}/notok"><span class="pinicons icon-large icon-envelope"></span></a>
<a title="Pin löschen?" href="/admin/pinverwaltung/{{ pin.id }}/del" onclick='return del_ask();'><span class="pinicons icon-large icon-trash"></span></a> -->
<td style="text-align:center;">{% if anbexistkarray[pin.id] %}
<a target="_blank" title="Angebot versendet!" href="/upload/uploads/grafikerpdf/angebot{{anbexistkarray[pin.id]}}.pdf"><span class="pinicons icon-large icon-inbox-out"></span></a>
{% endif %}
</td><td style="text-align:center;">
{% if reexistkarray[pin.id] %}
<a target="_blank" title="Rechnung versendet!" href="/upload/uploads/grafikerpdf/rechnung{{reexistkarray[pin.id]}}.pdf"><span class="pinicons icon-large icon-euro"></span></a>
{% endif %}
</td>
<td style="text-align:center;">{% if pin.aktiv == true %} <span title="Pin wurde überarbeitet!" class="pinicons icon-large icon-edit"></span> {% endif %}</td> <td style="text-align:center;">{% if pin.isads == true %} <strong style="color:red;"> <a style="color:red" href="/pdf/start/{{ pin.username }}/{{ pin.id }}" title="Dieser Pin enthält Werbung!"><span class="pinicons icon-large icon-warning-sign"></span></a></strong>{% endif %}</td>
	</tr>
{% endfor %}

</table>
<div style="text-align:center;">
{% if count > 1 %}
{% for i in range(0, count|round(0, 'floor')) %}
    <a href="/admin/pinverwaltung/{{ i }}">{{ i }}</a>,
{% endfor %}
{% endif %}
</div></div>
{% endblock %}

{% block newfooternopins %}
{% for pin in pindata %}
<div class="pin float-left">
                        <a href="/admin/pinview/{{ pin.id }}"><div class="pinautordiv">
                                <div class="viewsdiv">
                                        12d 126 <i class="fa fa-eye"></i>
                                </div>
                                <div class="ratingdiv">
                                        <img src="/grafiker/images/rating.png" class="rating" alt="Rating">
                                </div>
                                {% if pin.getThumbnail() == "" %}
                                <img src="/images/no-image-placeholder.png" class="pinautor" alt="Pinautor">
                                {% else %}
                                <img src="/upload/uploads/pinpics/{{pin.getThumbnail()}}" class="pinautor" alt="Pinautor">
                                {% endif %}
                        </div></a>
                        <div class="pintitle">
                          <a href="/admin/pinview/{{ pin.id }}">#{{ pin.getTitle()|length > 50 ? pin.getTitle()|slice(0, 50) ~ '...' : pin.getTitle()  }}</a>
                        </div>
                        <div class="pinautorminidiv float-left">
                            {% if fileexistarray[pin.getUsername()] %}
                                <img src="{{filelinkarray[pin.getUsername()]}}" class="autorpinpic" alt="Autor Pin Pic">
                            {% else %}
                                <img src="/images/no_boy.jpg" class="autorpinpic" alt="Autor Pin Pic">
                            {% endif %}
                        </div>
                        <div class="pinautornamediv float-left">
                            <label class="autornamelabel">#{{pin.getUsername()}}</label>
                            <label class="autorortlabel">#{{pin.getWohnort()}}</label>
                        </div>
                  </div>
{% endfor %}
{% endblock %}