{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/userverwaltung/all">Suchergebnis</a> -> {{ searching }}
<form action="/admin/userverwaltung/all" method="post">
{{ form_widget(form) }}
</form>
<br />
<br />Userübersicht:<br />
{% for userdata in userdata %}
{{ userdata.getUsername() }} {{ userdata.getFirstName() }} {{ userdata.getLastName() }} <a href="/admin/userverwaltung/{{ userdata.getId() }}/edit"><span class="pinicons icon-large icon-pencil"></span></a> <a href="/admin/userverwaltung/{{ userdata.getId() }}/group"><span class="pinicons icon-large icon-group"></span></a> <a href="/admin/userverwaltung/{{ userdata.getId() }}/del" onclick='return del_ask();'><span class="pinicons icon-large icon-trash"></span></a><br />
{% endfor %}
</div>
{% endblock %}
