{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a><br />
    <ul>
        <li><a href="/admin/importer">Kategorien-Import</a></li>
        <li><a href="/admin/userverwaltung/all">Userverwaltung</a></li>
        <li><a href="/admin/pinverwaltung/all">Pinverwaltung</a></li>
        <li><a href="/admin/articleverwaltung/all">Beitragsverwaltung</a></li>
        <li><a href="/admin/gutscheineverwaltung/all">Gutscheineverwaltung</a></li>
        <li><a href="/admin/jobverwaltung/all">Jobverwaltung</a></li>
        <li><a href="/admin/mailer">Mailverwaltung</a></li>
        <li><a href="/admin/werbungverwaltung/all">Werbeverwaltung</a></li>
        <li><a href="/admin/maillog">Maillog</a></li>
        <li><a href="/admin/newsletter">Newsletterverwaltung</a></li>
        {% if app.user.username == "Sniky" %}
        <li><a href="/admin/databasecheck">Databasecheck</a></li>
        {% endif %}
        <li><a href="/admin/webhook">Sendinblue Webhooks</a></li>
    </ul>
</div>

<div class="contentinnert">
<h5>Mitglieder gerade Online: {{ useronlinedata }}</h5>
Aktive Mitglieder: {{ usergesamt }}<br />
Noch nicht aktivierte Mitglieder: {{ useroff }}<br />
Pins gesamt: {{ pinsgesamt }}<br />
Pins in arbeit: {{ pinsstart }}<br />
Pins freizuschalten: {{ pinsinsert }}<br />
Beiträge gesamt: {{ articlegesamt }}<br />
Beiträge in arbeit: {{ articlestart }}<br />
Beiträge freizuschalten: {{ articleinsert }}<br />
Gutscheine gesamt: {{ gutscheinegesamt }}<br />
Gutscheine in arbeit: {{ gutscheinestart }}<br />
Gutscheine freizuschalten: {{ gutscheineinsert }}<br />
Jobs gesamt: {{ jobsgesamt }}<br />
Jobs freizuschalten: {{ jobsfalse }}<br />
Projektrechner gesamt genutzt: {{ projektrechner }}<br />
Montagsmailer Empfänger: {{ mailer }}<br /><br/>
<h5>Berufsgruppen:</h5>
Grafiker: {{ userberufsgruppe1 }}<br />
Fotograf: {{ userberufsgruppe2 }}<br />
Programmierer: {{ userberufsgruppe3 }}<br />
Texter: {{ userberufsgruppe4 }}<br />
Illustrator: {{ userberufsgruppe5 }}<br />
Druckerei: {{ userberufsgruppe6 }}<br />
Sonstiges: {{ userberufsgruppe7 }}<br />
Auftraggeber: {{ userberufsgruppe8 }}<br />
Druckerei-Mitarbeiter: {{ userberufsgruppe9 }}<br />
</div>
<div class="contentinnert">
<form action="/admin/grafiker" method="post" name="Form1">
     
     <div id="message">
     <div>
     <label for="message_body">Für Startseite oben: </label><textarea id="message_body" name="startmessage">{{ userinfo }}</textarea></div></div>
<div><div id="form_nart"><input type="radio" id="form_nart_0" name="starttxt" value="0"> <label for="form_nart_0">ausblenden</label> <input type="radio" id="form_nart_1" name="starttxt" value="1" checked="checked"> <label for="form_nart_1">einblenden</label> </div></div>
   <input type="submit" class="bdnmini2 btn btn-primary" />
</form>
</div>

{% endblock %}
