{% extends 'templates.html.twig' %}

{% block content %}
<a href="/admin/grafiker">Admin-Startseite</a> -> Mailer<br />
<br />
<a href="/admin/mailuserexport/start/0/0">Export für SendBlue</a>
<br /><br />
<form action="/admin/userexport/all" method="post">
{{ form_widget(form) }}
</form>

<br />
<br />
Ist nichts ausgewählt, EXPORT aller inaktiven Nutzer.<br />
Ist Montagsmailer und User aktiviert ausgewählt, EXPORT aller Montagsmailer Empfänger<br />
Ist Nur User aktieviert ausgewählt, EXPORT aller aktiven Mitglieder<br />
{% if (von >= 0 and von != "NO") and (bis >= 0 and bis != "NO") %}
CSV Datei wurde erstellt! -- <a href="/upload/uploads/pdf/{{ csvausgabe }}-{{ von }}-{{ bis }}.csv">Download!</a>
{% endif %}

<br />
<br />

{% endblock %}
