{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/userverwaltung/all">Userverwaltung</a><br />
<a href="/admin/userverwaltungdisable/all">Noch nicht bestätigt</a> | <a href="/admin/userexport/all">Userexport</a>
{% if form is defined %}
<form action="/admin/userverwaltung/all" method="post">
{{ form_widget(form) }}
</form>
{% endif %}
<br />
<br />Userübersicht:<br />
<span class="pinicons icon-large icon-pencil"></span> Benutzer bearbeiten<br />
<span class="pinicons icon-large icon-group"></span> Benutzer Gruppenverwaltung<br />
<span class="pinicons icon-large icon-trash"></span> Benutzer löschen<br />
<span class="pinicons icon-large icon-database-plus"></span> Daten von Benutzer<br />
<span class="pinicons icon-large icon-thumbs-down"></span> Benutzer passt nicht<br /><br />
<table style="font-size:12px">
	<tr>
		<th style="width: 140px;">Username</th>
		<th style="width: 180px;">Name</th>
		<th style="width: 300px;">Email</th>
		<th style="width: 170px;">Last-Login</th>
		<th style="width: 170px;">Login</th>
		<th style="width: 50px;text-align:center;"></th>
		<th style="width: 50px;text-align:center;"></th>
		<th style="width: 50px;text-align:center;"></th>
		<th style="width: 50px;text-align:center;"></th>
		<th style="width: 50px;text-align:center;"></th>
	</tr>
{% for user in userdata %}
<tr>
{% if user.enabled %}
{% set color = "green" %}
{% else %}
{% set color = "gray" %}
{% endif %}
<td style="color:{{ color }}">{{ user.username }}</td>
<td>{{ user.firstName }} {{ user.lastName }}</td>
<td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
<td>{{ user.lastLogin|date("d.m.Y - H:i", "Europe/Berlin") }}</td>
<td>{{ user.updatedAt|date("d.m.Y - H:i", "Europe/Berlin") }}</td>
<td style="text-align:center;"><a href="/admin/userverwaltung/{{ user.id }}/edit"><span class="pinicons icon-large icon-pencil"></span></a></td>
<td style="text-align:center;"><a href="/admin/userverwaltung/{{ user.id }}/group"><span class="pinicons icon-large icon-group"></span></a></td>
<td style="text-align:center;"><a href="/admin/userverwaltung/{{ user.id }}/del" onclick='return del_ask();'><span class="pinicons icon-large icon-trash"></span></a></td>
<td style="text-align:center;"><a href="/admin/userdatamessage/{{ user.id }}"><span class="pinicons icon-large icon-database-plus"></span></a></td>
<td style="text-align:center;"><a href="/admin/userverwaltung/{{ user.id }}/notok"><span class="pinicons icon-large icon-thumbs-down"></span></a></td>
<tr />
{% endfor %}
</table>

<br />
<br />
<br />
<br />
<div style="text-align:center;">
{% set nbPages = count %}
{% if page == "all" %}
{% set currentPage = 0 %}
{% else %}
{% set currentPage = page / 100 %}
{% endif %}

{% if nbPages > 0 %}

    {# Number of page around current page+1 #}
    {% set nearbyPagesLimit = 7 %}

    <div>
        <ul class="pagination">
            {% if currentPage != 0 %}
            <li class="page-item">
                <a class="page-link" href="all">First</a>
            </li>
            {% endif %}
            {% for i in 1..nbPages %}
                {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                {% else %}
                    <li {% if currentPage == loop.index  %} class="page-item active"{% endif %}>
                        <a class="page-link" href="{{  loop.index }}">{{ loop.index + 1 }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if currentPage != nbPages|round(0, 'floor') %}
            <li class="page-item">
                <a class="page-link" href="{{ nbPages|round(0, 'floor') }}">Last</a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
</div>
{% endblock %}