{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/userverwaltung/0">Userverwaltung</a> -> {{firstName}} {{lastName}}

<div style="text-align:center;">
<h1>Erledigt!!!</h1>
{{firstName}} {{lastName}} wurde erfolgreich überarbeitet.
</div>

{% endblock %}