{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> | <a href="/admin/userverwaltung/all">Userverwaltung</a><br /><br /><br />
<strong style="color:red;">Die folgenden Daten wurden von {{ username }} gefunden:</strong>
<br /><br />
<h5>Datenbank</h5>

{% for key, counter in databasecounter %}
        <li>In der Tabelle {{ key }}: {{ counter }} {% if counter != 1 %}Einträge{% else %}Eintrage{% endif %}<br />
    {% endfor %}
<br /><br />
<br /><br />
<h5>Bilder</h5>
Weiterhin wurden insgesamt {{ pinpicsdelcount }} Pinpics, {{ userpiccounter }} Userpic und {{ userfirmapiccounter }} Firmapic vom Server gefunden!
{#% for key, countspic in pinpicsdelcount %}
        <li>In der Tabelle {{ key }}: {{ countspic }}</li>
    {% endfor %#}
    <br /><br />
<h5>Dokumente</h5>
Es wurden ausserdem insgesamt {{ bewerbungsdocscount }} Bewerbungsdokumente und {{ jobdocscount }} Ausschreibungsdokumente, gefunden!<br /><br />
<strong style="color:green;">Sollen diese Daten an den User gesendet werden?</strong>
</div>
{% endblock %}
