{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/userverwaltung/all">Userverwaltung</a> -> {{firstName}} {{lastName}}
<form action="/admin/userverwaltung/{{userID}}/edit" method="post">
{{ form_widget(form) }}
</form>
</div>
{% endblock %}