{% extends 'templates.html.twig' %}

{% block title %}AdminWebhookController!{% endblock %}

{% block content %}
<script>
function divdisplay(id) {
    var id = id;
    //alert(document.getElementById(id).style.display);
    if(document.getElementById(id).style.display == 'none') {
    document.getElementById(id).style.display = "block";
    } else {
       document.getElementById(id).style.display = "none"; 
    }
}
</script>
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/webhook">Webhooks</a><br /><br />
<table>
	<tr>
		<th style="width: 170px;">Event</th>
		<th style="width: 500px;">Betreff</th>
		<th style="width: 300px;">Empfänger</th>
	</tr>
    <tr>
        <th></th>
    </tr>
</table>

{% for webhook in webhookarray %}
{% set split = webhook["date"]|split(' ') %}
<table>
<tr>
<td style="width: 170px;">{{ webhook["event"] }}</td>
<td style="width: 500px;"><a style="color:#007bff;cursor: pointer;" onclick="javascript:divdisplay('{{ webhook["ts_epoch"] }}');">{{ webhook["subject"] }}</a></td>
<td style="width: 300px;">{{ webhook["email"] }}</td>
</tr>
</table>
<div style="display:none;" id="{{ webhook["ts_epoch"] }}">
Datum: {{ split[0]|date("d.m.Y", "Europe/Berlin") }}<br />
Uhrzeit: {{ split[1] }}<br />
MessageID: {{ webhook["message-id"] }}</div>
{% endfor %}

</div>
{% endblock %}
