{% extends 'templates.html.twig' %}

{% block title %}AdminWerbungverwaltungController!{% endblock %}

{% block content %}
{% if status is defined %}
<script type="text/javascript">
<!--
document.location.href = "/admin/werbungverwaltung/all";
//–>
</script>
{% if delad == true %}
<script type="text/javascript">
<!--
document.location.href = "/admin/werbungverwaltung/del";
//–>
</script>
{% endif %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a> -> Werbeverwaltung
{% if del == "del" %}
<br /><br />
<strong style="color:red;">Löschauftrag ausgeführt!!!</strong><br /><br />
{% endif %}
<br /><br />
<strong style="color:red;">Löschauftrag ausgeführt!!!</strong><br /><br />
{% endif %}
<style>
input, select, textarea {
    width: 98%;
}
textarea {
    height: 150px;
}
#form_position_0, #form_position_1, #form_position_2, #form_position_3 {
    width: 50px;
}
</style>
{{ form_start(form, {'method': 'post', 'action': '/admin/werbungverwaltung/in', 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_label(form.position) }}*<br />
    {{ form_widget(form.position) }}
    {{ form_label(form.sponsorname) }}*<br />
    {{ form_widget(form.sponsorname) }}<br /><br />
<strong>Bannerview & Klicklink eingeben:</strong><br /><br />
    {{ form_label(form.bannerlinkView) }}<br />
    {{ form_widget(form.bannerlinkView) }}<br />
    {{ form_label(form.bannerlinkClick) }}<br />
    {{ form_widget(form.bannerlinkClick) }}<br />
    {{ form_label(form.alttag) }}<br />
    {{ form_widget(form.alttag) }}<br />
    {{ form_label(form.target) }}<br />
    {{ form_widget(form.target) }}<br />
<hr />
<strong>Oder Quelltext eingeben:</strong><br />
    {{ form_widget(form.quelltext) }}<br />
<hr />
    {{ form_label(form.reload) }}<br />
    {{ form_widget(form.reload) }}<br />
    {{ form_label(form.maxKlicks) }}<br />
    {{ form_widget(form.maxKlicks) }}<br />
    {{ form_label(form.maxViews) }}<br />
    {{ form_widget(form.maxViews) }}<br />
    {{ form_row(form.send) }}

    
{{ form_end(form) }}
<br /><br /><br />
<strong>Banner-Oben in Datenbank:</strong><br />
<table>
	<tr>
		<th style="width: 300px;">Sponsorname</th>
		<th style="width: 100px; text-align: center;">Views</th>
		<th style="width: 100px; text-align: center;">Clicks</th>
		<th style="width: 70px; style="text-align: center;"">Status</th>
		<th style="width: 50px; style="text-align: center;"">löschen</th>
    </tr>
{% for allbanneroben in allbanneroben %}
<tr>
<td>{{ allbanneroben.getSponsorname }}</td>
<td style="text-align: center;">{{ allbanneroben.getViews + 1 }}</td>
<td style="text-align: center;">{% if allbanneroben.getClicks != "" %}{{ allbanneroben.getClicks }}{% else %}0{% endif %}</td>
{% if allbanneroben.getDisenable == true %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/status/{{ allbanneroben.getId }}"><span title="Werbung aktivieren?" class="pinicons icon-large icon-eye-open"></span></a></td>
{% else %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/status/{{ allbanneroben.getId }}"><span title="Werbung deaktivieren?" class="pinicons icon-large icon-lock"></span></a></td>
{% endif %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/add/{{ allbanneroben.getId }}" onclick="return del_ask();"><span class="pinicons icon-large icon-trash"></span></a></td>
</tr>
{% endfor %}
</table>
<br />
<strong>Banner-Rechts in Datenbank:</strong><br />
<table>
	<tr>
		<th style="width: 300px;">Sponsorname</th>
		<th style="width: 100px; text-align: center;">Views</th>
		<th style="width: 100px; text-align: center;">Clicks</th>
		<th style="width: 70px; style="text-align: center;"">Status</th>
		<th style="width: 50px; style="text-align: center;"">löschen</th>
    </tr>
{% for allbannerrechts in allbannerrechts %}
<tr>
<td>{{ allbannerrechts.getSponsorname }}</td>
<td style="text-align: center;">{{ allbannerrechts.getViews + 1 }}</td>
<td style="text-align: center;">{% if allbannerrechts.getClicks != "" %}{{ allbannerrechts.getClicks }}{% else %}0{% endif %}</td>
{% if allbannerrechts.getDisenable == true %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/status/{{ allbannerrechts.getId }}"><span title="Werbung aktivieren?" class="pinicons icon-large icon-eye-open"></span></a></td>
{% else %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/status/{{ allbannerrechts.getId }}"><span title="Werbung deaktivieren?" class="pinicons icon-large icon-lock"></span></a></td>
{% endif %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/add/{{ allbannerrechts.getId }}" onclick="return del_ask();"><span class="pinicons icon-large icon-trash"></span></a></td>
</tr>
{% endfor %}
</table>
<br />
<strong>Banner-Mobil in Datenbank:</strong><br />
<table>
	<tr>
		<th style="width: 300px;">Sponsorname</th>
		<th style="width: 100px; text-align: center;">Views</th>
		<th style="width: 100px; text-align: center;">Clicks</th>
		<th style="width: 70px; style="text-align: center;"">Status</th>
		<th style="width: 50px; style="text-align: center;"">löschen</th>
    </tr>
{% for allbannermobil in allbannermobil %}
<tr>
<td>{{ allbannermobil.getSponsorname }}</td>
<td style="text-align: center;">{{ allbannermobil.getViews + 1 }}</td>
<td style="text-align: center;">{% if allbannermobil.getClicks != "" %}{{ allbannermobil.getClicks }}{% else %}0{% endif %}</td>
{% if allbannermobil.getDisenable == true %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/status/{{ allbannermobil.getId }}"><span title="Werbung aktivieren?" class="pinicons icon-large icon-eye-open"></span></a></td>
{% else %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/status/{{ allbannermobil.getId }}"><span title="Werbung deaktivieren?" class="pinicons icon-large icon-lock"></span></a></td>
{% endif %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/add/{{ allbannermobil.getId }}" onclick="return del_ask();"><span class="pinicons icon-large icon-trash"></span></a></td>
</tr>
{% endfor %}
</table>
<br />
<strong>Partner in Datenbank:</strong><br />
<table>
	<tr>
		<th style="width: 300px;">Sponsortext</th>
		<th style="width: 100px; text-align: center;">Views</th>
		<th style="width: 100px; text-align: center;">Clicks</th>
		<th style="width: 70px; style="text-align: center;"">Status</th>
		<th style="width: 50px; style="text-align: center;"">löschen</th>
    </tr>
{% for allbannerpartner in allbannerpartner %}
<tr>
<td>{{ allbannerpartner.getSponsorname|raw }}</td>
<td style="text-align: center;">{{ allbannerpartner.getViews + 1 }}</td>
<td style="text-align: center;">{% if allbannerpartner.getClicks != "" %}{{ allbannerpartner.getClicks }}{% else %}0{% endif %}</td>
{% if allbannerpartner.getDisenable == true %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/status/{{ allbannerpartner.getId }}"><span title="Werbung aktivieren?" class="pinicons icon-large icon-eye-open"></span></a></td>
{% else %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/status/{{ allbannerpartner.getId }}"><span title="Werbung deaktivieren?" class="pinicons icon-large icon-lock"></span></a></td>
{% endif %}
<td style="text-align: center;"><a href="/admin/werbungverwaltung/add/{{ allbannerpartner.getId }}" onclick="return del_ask();"><span class="pinicons icon-large icon-trash"></span></a></td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}
