{% extends 'templates.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
<script type="text/javascript">
<!--
document.location.href = "/profile/start";
//–>
</script>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock content %}
