<script>
function enableBtn(){
var check = true;
$('.sendbtn').html('<input class="btn btn-primary reg" type="submit" value="Registrieren" />');
}
</script>
<script data-usercentrics="reCAPTCHA" src='https://www.google.com/recaptcha/api.js?hl=de'></script>

<div class="registerdiv float-left">
<h5>Auf Grafiker.de registrieren | <a href="javascript:void(0);" data-href="/login" class="openPopupSmall" Style="color: 527bff">login</a></h5>
{% trans_default_domain 'FOSUserBundle' %}
{% if username is defined %} 
{% if username == 1 %} 
<strong>Der Benutzername ist schon vergeben!</strong><br />
{% endif %}
{% endif %}
{% if usermail is defined %} 
{% if usermail == 1 %} 
<strong>Ihre Emailadresse ist bei uns schon registriert!</strong><br />
{% endif %}
{% endif %}
{{ form_start(form, {'method': 'post', 'action': '/userregister', 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form._token) }}
    {{ form_row(form.notifications) }} 
    {{ form_row(form.anrede) }} 
    {{ form_row(form.firstName) }} 
    {{ form_row(form.lastName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}
    <span><b>Mintestens eins auswählen:</b></span>
    {{ form_row(form.berufsgruppe8) }}
    {{ form_row(form.berufsgruppe6) }}
    {{ form_row(form.berufsgruppe9) }}
    {{ form_row(form.berufsgruppe5) }}
    {{ form_row(form.berufsgruppe4) }}
    {{ form_row(form.berufsgruppe3) }}
    {{ form_row(form.berufsgruppe2) }}
    {{ form_row(form.berufsgruppe1) }}
    {{ form_row(form.berufsgruppe7) }}
    {{ form_row(form.gebDay) }}
    {{ form_row(form.gebMon) }}
    {{ form_row(form.gebYear) }}
    {{ form_row(form.agb) }} {{ form_row(form.datenschutz) }}
<br />

<div class="g-recaptcha" data-sitekey="6LdYTHUUAAAAAPDm0s0vTmgRNjKZkJSi1FY4zGPE" data-callback="enableBtn"></div>
    
<div class="sendbtn"><input style="background-color:#b3a276;" class="btn btn-primary reg" value="Registrieren" /></div>
<br><br>

{{ form_end(form) }}
</div>