{% extends 'templates.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% set registersite = 1 %}

{% block content %}
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock content %}
