{% extends 'templates.html.twig' %}

{% block title %}grafiker.de: Benachrichtigungen deaktivieren!{% endblock %}

{% block content %}
<div class="contentinnert">
Hallo {{ username }}, deine Mailadresse: {{ emailadresse }} wurde erfolgreich aus dem Mailverteiler entfernt!<br /><br />
Wenn du dich erneut im Mailverteiler eintragen möchtest, kannst du dies im Profil unter Benachrichtigungen jederzeit tun.<br /><br />
</div>
{% endblock %}
