<!DOCTYPE html>
<html lang="DE">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index, nofollow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="web_author" content="Grafiger.de" />
    <meta name="viewport" content="width=470, shrink-to-fit=yes">
    <title>Widget Job</title>
    
    <link rel="stylesheet" href="/externes/jquery.rateyo.min.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/externes/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/grafiker/css/editor.css">
  <script src="/externes/jquery.min.js"></script>
  <script src="/grafiker/js/responsiveslides.js"></script>
  <script src="/js/jquery.backDetect.js"></script>
    <script src="/externes/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/crop/css/cropper.css">
  <style>
    .label {
      cursor: pointer;
    }

    .progress {
      display: none;
      margin-bottom: 1rem;
    }

    .alert {
      display: none;
    }

    .img-container img {
      max-width: 100%;
    }
    .piccontainer {
      width: 504px;
      float:left;
	  text-align: center;
    }
	#picbox {
		text-align: center;
	}
.btn-primary {
    margin-top: 0px;
}
.btn-file {
	border-top-left-radius:  .25rem !Important;
    border-bottom-left-radius:  .25rem !Important;
}
::-webkit-file-upload-button {
  background: #799a14;
  color: #fff;
  user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
	cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input#input {
	padding-left: 40px;
    border: 0px solid #769813;
}
::-webkit-file-upload-button:hover {
  background: #007bff;
  color: #fff;
  user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
span#cke_17, span#cke_90, span#cke_24, span#cke_70, span#cke_74, span#cke_83, span#cke_84, a#cke_89, a#cke_59, a#cke_60, a#cke_61, a#cke_62, a#cke_63, a#cke_70, a#cke_52, a#cke_53, a#cke_54, a#cke_55, a#cke_56, a#cke_67, a#cke_68, span#cke_38, span#cke_71, span#cke_75, span#cke_85, span#cke_88, span#cke_91 {
    display: none;
}
.cke_toolbar_break {
    display: none;
    clear: both;
}
.row {
    width: 95%;
    margin: 0 auto;
}
.logo {
    width: 50%;
}
#logo {
    max-width: 50%;
}
label {
    width: 100%;
    font-weight: 600;
}
input, select, textarea {
    width: 100%;
}
textarea {
    height: 250px;
}
#form_send {
    margin-top: 20px;
}
.row, .logindiv, .regform {
    width: 90%;
    margin: 0 auto;
}
.btndiv {
    margin-top: 20px;
}
input#_submit {
    background-color: #799a14;
    border-color: #799a14;
    border-radius: 0px;
    margin-top: 20px;
}
input#inputPassword {
    margin-top: 20px;
}
.logindiv {
    margin-top: 60px;
}
input.btn.btn-primary {
    background-color: #799a14 !important;
    border-color: #799a14 !important;
    border-radius: 0px !important;
}

input#form_agb, input#form_widerrufsbelehrung {
    width: 35px;
    float: left;
}
label[for=form_agb], label[for=form_widerrufsbelehrung] {
    width: 93%;
    float: right;
    margin-top: 5px;
}
div#useredit {
    margin-bottom: 20px;
}
input#user_widerrufsbelehrung {
    margin-top: 30px;
}
input#user_telefon {
    margin-bottom: 20px;
}
.input-group.file-caption-main {
    margin-bottom: 20px;
}
#step3 {
    color: #799a14;
}
  </style>
<link href="/externes/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<!-- if using RTL (Right-To-Left) orientation, load the RTL CSS file after fileinput.css by uncommenting below -->
<!-- piexif.min.js is needed for auto orienting image files OR when restoring exif data in resized images and when you 
    wish to resize images before upload. This must be loaded before fileinput.min.js -->
<script src="/externes/piexif.min.js" type="text/javascript"></script>
<!-- sortable.min.js is only needed if you wish to sort / rearrange files in initial preview. 
    This must be loaded before fileinput.min.js -->
<script src="/externes/sortable.min.js" type="text/javascript"></script>
<!-- purify.min.js is only needed if you wish to purify HTML content in your preview for 
    HTML files. This must be loaded before fileinput.min.js -->
<script src="/externes/purify.min.js" type="text/javascript"></script>
<!-- the main fileinput plugin file -->
<script src="/externes/fileinput.min.js"></script>
<!-- optionally if you need a theme like font awesome theme you can include it as mentioned below -->
<script src="/externes/theme.js"></script>
<link href="/externes/bootstrap-datepicker.css" rel="stylesheet"/>
  <script src="/externes/bootstrap-datepicker.js"></script>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
    <a target="_blank" style="color: #000;text-decoration: none;" href="/"><img style="width: 30%;" src="/images/logo.png" class="logo" alt="grafiker Logo"></a><br />
    <hr style="width:100%;border: 2px solid #cccccc;" />
  </div>
</div>
<div class="row" style="border: 1px solid #E3E3E3;">
        <div class="col-sm-3">
            <label id="step1"><a style="color: #000;" href="/widget/designtenders/{{id}}?jobtype=jobs&cacheid={{app.request.get('cacheid')}}">1. Auswahl</a></label>
        </div>
        <div class="col-sm-3">
            <label id="step2">2. Adressdaten</label>
        </div>
        <div class="col-sm-3">
            <label id="step3">3. Details</label>
        </div>
        <div class="col-sm-3">
            <label id="step4">4. Zahlen</label>
        </div>
    </div>
    <br />
<div class="row">
    <div class="col-sm-12">
<div id="picbox">
<h5>Logo Ihrer Firma:</h5>
<input id="input-b2" name="pic" type="file" class="file" data-browse-on-zone-click="true" input-name="pic" multiple="true" input-name="pic">

<div id="kv-error-2" style="margin-top:10px;display:none"></div>
</div>
<script>
$(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd.mm.yyyy',
                language: 'de',
                weekStart: 1,
                autoclose: true,
                title: 'Ablaufdatum'
            });
        });
$("#input-b2").fileinput({
        uploadUrl: "/post_file/firma?widgetusername={{ username }}",
		deleteUrl: '/deluserpic/firma/{{ username }}/firma?widgetusername={{ username }}',
		{% if firmapic != '' and  firmapic != 'del' %}initialPreview: [
        // IMAGE DATA
	   '<img src="/upload/uploads/firma/{{ firmapic }}?{{ date().timestamp }}" class="kv-preview-data file-preview-image">'
    ],{% endif %}

        uploadAsync: false,
        showPreview: true,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        maxFileCount: 1,
        elErrorContainer: '#kv-error-2'
    }).on('filebatchpreupload', function(event, data, id, index) {
        $('#kv-success-2').html('<h4>Upload Status</h4><ul></ul>').hide();
    }).on('filebatchuploadsuccess', function(event, data) {
        var out = '';
        $.each(data.files, function(key, file) {
			console.info(data.files);
            var fname = file.name;
            out = out + '<li>' + 'Ihr Bild # ' + (key + 1) + ' - '  +  fname + ' wurde erfolgreich hochgeladen.' + '</li>';
        });
        //$('#kv-success-2 ul').append(out);
        //$('#kv-success-2').fadeIn('slow');
    });
</script>
{{ form_start(form, { 'action':  '/service/tenders/jobs/new/' ~ id ~ '/' ~ username, 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_row(form.astitle) }}
    <!--<br>
   <label>Finde&nbsp;</label><select id="example" name="finde" onchange="changeFunc();"><option value="druckerei">Druckerei</option><option value="grafiker">Grafiker|in</option><option value="fotograf">Fotograf|in</option><option value="entwickler">Entwickler|in</option><option value="texter">Texter|in</option><option value="illustrator">Illustrator|in</option><option value="sonstiges">Sonstiges</option></select>
&nbsp;&nbsp;&nbsp;
    <label>für&nbsp;</label>
    <select id="example-select" name="for" onchange="change2Func();">
    <option value="Alle">Alle</option>
    </select>
    <br />-->
    {{ form_row(form.jobSuche) }}
    {{ form_row(form.jobTyp) }}
    {{ form_row(form.for) }}
    
    {{ form_row(form.jobort) }}
    {{ form_row(form.enddate) }}
    {{ form_row(form.content) }}

    {{ form_row(form.docpdf1) }}
    {{ form_row(form.docpdf2) }}
    {{ form_row(form.docpdf3) }}<br />
    {% set agbFormGroup %}
            {{ form_row(form.agb) }}
            {% endset %}
            {{ agbFormGroup|replace({'#AGB_LINK#':'<a target="_blank" href="/agb">AGB</a>','#DATENSCHUTZ_LINK#':'<a target="_blank" href="/datenschutz">Datenschutzerklärung</a>'})|raw }}
            {% set widerrufFormGroup %}
            {{ form_row(form.widerrufsbelehrung) }}
            {% endset %}
            {{ widerrufFormGroup|replace({'#WIDERRUF_LINK#':'<a target="_blank" href="/widerruf">Widerrufsrecht</a>'})|raw }}
      <center>
      {{ form_row(form.send) }}
      </center>
{{ form_end(form) }}
</div>

<div style="width:99%">
<hr style="width:100%;border: 2px solid #cccccc;" />
<div style="width: 100%;margin: 0 auto;margin-bottom: 30px;padding-left: 15px;">

<a target="_blank" style="color: #000;text-decoration: none;" href="/impressum">Impressum</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/datenschutz">Datenschutzerklärung</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/agb">AGB</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/widerruf">Widerrufsbelehrung</a>
</div>
</div>
</div>
</div>
</body>
</html>