{% extends 'templates.html.twig' %}
{% block stylesheets %}
<style>
.pr_box_dauer {
    float: left;
    width: 189px;
    height: 83px;
    background: url(../images/pr_arbeitsstunden.jpg) no-repeat left top;
    font: bold 30px Arial;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}
.pr_box_stundensatz {
    float: left;
    width: 189px;
    height: 83px;
    background: url(../images/pr_stundensatz.jpg) no-repeat left top;
    font: bold 30px Arial;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}
.pr_box_preis {
    float: left;
    width: 189px;
    height: 83px;
    background: url(../images/pr_preis.jpg) no-repeat left top;
    font: bold 30px Arial;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}
</style>
{% endblock %}
{% block content %}
<div class="contentinnert">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<div class="projektrechnernext float-left">Der grafiker.de Projekt-Kalkulator hilft Dir dabei mit wenig Aufwand und einer Hand voll Angaben eine Idee dafür zu bekommen, wie hoch dein Angebot für die Erstellung eines Briefbogens, eines Flyers oder bei anderen Projekten sein sollte.
<br /><br />
Mit einer einfachen Formel, die sich aus Parametern wie deinem Stundensatz, der Projektart oder dem Schwierigkeitsgrad zusammensetzt, können wir dir innerhalb weniger Sekunden eine kleine Idee bezüglich des Preises geben.
<br /><br />
Ganz wichtig: Ein persönliches Gespräch zur Budgetbestimmung kann und will der Projekt-Kalkulator nicht ersetzen – er soll nur eine Hilfe für all diejenigen sein, die wenig Erfahrung auf dem Gebiet haben und keine Fehler beim Angebot machen wollen.
</div>
<div class="pr_box_dauer">{{ ausgabedauer }}</div>
<div class="pr_box_stundensatz">{{ ausgabestundensatz }}</div>
<div class="pr_box_preis">{{ ausgabegesamt }}</div>
<div class="clearfix"></div>
<form action="/projektrechner" method="post">
{{ form_widget(form) }}
</form>
{% else %} 
<div class="projektrechnernext float-left">
Nicht eingeloggt! Inhalt folgt... 
</div>
{% endif %}  
</div>
{% endblock %}