{% extends 'templates.html.twig' %}
{% block stylesheets %}
<style>
.projektrechnericon {
    margin-top: 25px;
}
#form_nart label, #form_numfang label {
    margin: 10px;
}
label {
    margin: 10px 0px;
}
.pr_box_dauer {
    margin-top: 0px;
    margin-right: 20px;
    float: left;
    width: 189px;
    height: 83px;
    background: url(../images/pr_arbeitsstunden.png) no-repeat left top;
    font: bold 30px Arial;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}
.pr_box_stundensatz {
    margin-top: 0px;
    margin-right: 20px;
    float: left;
    width: 189px;
    height: 83px;
    background: url(../images/pr_stundensatz.png) no-repeat left top;
    font: bold 30px Arial;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}
.pr_box_preis {
    margin-top: 0px;
    margin-right: 20px;
    float: left;
    width: 189px;
    height: 83px;
    background: url(../images/pr_preis.png) no-repeat left top;
    font: bold 30px Arial;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}
</style>
{% endblock %}
{% block content %}
<div class="contentinnert">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

<div class="pr_box_dauer">{{ ausgabedauer }}</div>
<div class="pr_box_stundensatz">{{ ausgabestundensatz }}</div>
<div class="pr_box_preis">{{ ausgabegesamt }}</div>
<div class="clearfix"></div>
<br /><br />
<form action="/projektkalkulator" method="post">
{{ form_widget(form) }}
</form>
<a target="_blank" href="https://demoshop.grafiker.de/article/show/profi-projektrechner"><div><button type="submit" id="form_send" name="form[send]" class="bdnmini2 btn btn-primary pull-left">Profi-Projektrechner</button></div></a>
<div class="clearfix"></div> 
{% else %} 
<div class="projektrechnernext float-left">
<script type="text/javascript">
<!--
document.location.href = "/register";
//–>
</script>
</div>
{% endif %} 
<br /><br />
<div class="lastausschreibung">
<table>
	<tr>
		<th style="width: 300px;">Die letzten Preisberechnungen</th>
		<th style="width: 120px;">Dauer</th>
		<th style="width: 120px;">Stundensatz</th>
		<th style="width: 120px;">Prei</th>
        {% if is_granted('ROLE_ADMIN') %}<th style="width: 120px;">Username</th>{% endif %}
</tr>
<tr>
{% block lastausschreibungen %}{% for ausschreibung in lastausschreibungen %}
<tr>
<td>
<strong style="color: #799a14;">{{ ausschreibung.prstart }}</strong><br />
<label style="font-size: 12px;margin: 0px 0px;">Schwierigkeit: {% if ausschreibung.schwer == 1 %}
einfach
{% elseif ausschreibung.schwer == 2 %}
mittel
{% else %}
schwer
{% endif %}<br /> 
Nutzung: {% if ausschreibung.nart == 1 %}
einfach
{% else %}
exclusiv
{% endif %}<br /> 
Umfang: {% if ausschreibung.numfang == 1 %}
klein
{% elseif ausschreibung.numfang == 2 %}
mittel
{% else %}
groß
{% endif %}</label>
</td>
<td valign="top">
{{ ausschreibung.dauer }} h
</td>
<td valign="top">
{{ ausschreibung.stundensatz }} €
</td>
<td valign="top">
{{ ausschreibung.ergebnis|number_format(2, ',', '.') }} €
</td>
{% if is_granted('ROLE_ADMIN') %}<td valign="top">{{ ausschreibung.username }}</td>{% endif %}
</tr>

{% endfor %}
</table>
{% endblock %}


</div><br /><br /><hr />
<div class="projektrechnernext float-left">Der grafiker.de Projekt-Kalkulator hilft Dir dabei mit wenig Aufwand und einer Hand voll Angaben eine Idee dafür zu bekommen, wie hoch dein Angebot für die Erstellung eines Briefbogens, eines Flyers oder bei anderen Projekten sein sollte.
<br /><br />
Mit einer einfachen Formel, die sich aus Parametern wie deinem Stundensatz, der Projektart oder dem Schwierigkeitsgrad zusammensetzt, können wir dir innerhalb weniger Sekunden eine kleine Idee bezüglich des Preises geben.
<br /><br />
Ganz wichtig: Ein persönliches Gespräch zur Budgetbestimmung kann und will der Projekt-Kalkulator nicht ersetzen – er soll nur eine Hilfe für all diejenigen sein, die wenig Erfahrung auf dem Gebiet haben und keine Fehler beim Angebot machen wollen.
</div>
</div>
{% endblock %}