<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script> 
<script>
function enableBtn(){
var check = true;
$('.sendbtn').html('<input type="submit" class="btn btn-primary" value="senden..." />');
}
</script>
<script data-usercentrics="reCAPTCHA" src='https://www.google.com/recaptcha/api.js?hl=de'></script>
<div class="pinmeldung">
<h5>Hier können sie den Pin melden...</h5>
<br />
<form action="/pinmeldung/{{ pinid }}" method="post">
{{ form_widget(form) }}
<div class="g-recaptcha" data-sitekey="6LdYTHUUAAAAAPDm0s0vTmgRNjKZkJSi1FY4zGPE" data-callback="enableBtn"></div>
<div class="sendbtn"></div>
<br /><br />
</form>
</div>