{% extends 'templates.html.twig' %}

{% block content %}
Vielen Dank für Ihre Nachricht an uns!<br /><br />
Wir haben Ihre Meldung erhalten und werden uns schnellstmöglich mit Ihnen in Verbindung setzen.
{% endblock %}
