{% extends 'base.html.twig' %}

{% block title %}Hello ServiceWidgetlistController!{% endblock %}

{% block content %}
<h1>Widget > Liste</h1>
<label class="widgetlist"><a href="/service/widget">Neues Widget anlegen</a></label>
{#{ dump(allwidget) }#}
<br /><br />
<div class="row">
        <div class="col-sm-3">URL</div>
        <div class="col-sm-3">Eigenschaften</div>
        <div class="col-sm-2">Bearbeiten / Löschen</div>
        <div class="col-sm-4">Widget Code</div>
    
{% for allwidget in allwidget %}
<div class="col-sm-3"><a target="_blank" href="{{ allwidget.AccountURL }}">{{ allwidget.AccountURL }}</a></div>
<div class="col-sm-3">
Brandinglogo:<br /><img src="{{ allwidget.cssPosition }}" style="max-width:100%" /><br />
{% if allwidget.cssMargin != "" or allwidget.cssPadding != "" or allwidget.cssColor != "" or allwidget.cssBackgroundColor != "" or allwidget.cssWidth != "" %}
CSS Margin: {{ allwidget.cssMargin }}<br />
CSS Padding: {{ allwidget.cssPadding }}<br />
CSS Color: {{ allwidget.cssColor }}<br />
CSS BackgroundColor: {{ allwidget.cssBackgroundColor }}<br />
CSS Width: {{ allwidget.cssWidth }}<br />
CSS Text: {{ allwidget.cssText }}<br />
FormularID: {{ allwidget.formname }}<br />
{% else %}
    Eigenes CSS für Widget
{% endif %}
</div>
<div class="col-sm-2"><a href="/service/widgetedit/{{ allwidget.id }}">bearbeiten</a> / <a href="/service/widgetdel/{{ allwidget.id }}">löschen</a><br /><br />
DEMO-Widget:<br />
<script>
function openModal{{ allwidget.id }}() {
    var productid = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productname = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceCurrency = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceExTax = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceTax = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceTaxValue = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceIncTax ="DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productGrafikerKeywords = "";
    var data = $("#FORMULARID-HIER").serializeArray();
    data.push({ name: "productName", value: productname });
    data.push({ name: "productID", value: productid });
    data.push({ name: "productPriceCurrency", value: productPriceCurrency });
    data.push({ name: "productPriceExTax", value: productPriceExTax });
    data.push({ name: "productPriceTax", value: productPriceTax });
    data.push({ name: "productPriceTaxValue", value: productPriceTaxValue });
    data.push({ name: "productPriceIncTax", value: productPriceIncTax });
    data.push({ name: "productGrafikerKeywords", value: productGrafikerKeywords });

    $.post("https://www.grafiker.de/widget/start", data, function(msg){
        if(msg != "") {
            window.open("https://www.grafiker.de/widget/designtenders/{{ allwidget.id }}?cacheid=" + msg, "Designservice", "width=650,height=900,scrollbar=yes");
        }
    });
}
</script>
<style>
.widgetbutton{{ allwidget.id }} {
    margin: {{ allwidget.cssMargin }} !important;
    padding: {{ allwidget.cssPadding }} !important;
    background-color: {{ allwidget.cssBackgroundColor }} !important;
    width: {{ allwidget.cssWidth }} !important;
    cursor: pointer !important;
    text-align: {{ allwidget.cssText }};
}
.widgetbutton{{ allwidget.id }} a {
    color: {{ allwidget.cssColor }} !important;
}
</style>
<label class="widgetbutton{{ allwidget.id }}"><a onclick="openModal{{ allwidget.id }}()">Designservice</a></label>
</div>
<div class="col-sm-4">
<textarea style="width:100%" rows="9">
<script>
function openModal{{ allwidget.id }}() {
    var productid = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productname = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceCurrency = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceExTax = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceTax = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceTaxValue = "DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productPriceIncTax ="DATEIN MIT VARIABLE ÜBERGEBEN!";
    var productGrafikerKeywords = "";
    var data = $("#FORMULARID-HIER").serializeArray();
    data.push({ name: "productName", value: productname });
    data.push({ name: "productID", value: productid });
    data.push({ name: "productPriceCurrency", value: productPriceCurrency });
    data.push({ name: "productPriceExTax", value: productPriceExTax });
    data.push({ name: "productPriceTax", value: productPriceTax });
    data.push({ name: "productPriceTaxValue", value: productPriceTaxValue });
    data.push({ name: "productPriceIncTax", value: productPriceIncTax });
    data.push({ name: "productGrafikerKeywords", value: productGrafikerKeywords });

    $.post("https://www.grafiker.de/widget/start", data, function(msg){
        if(msg != "") {
            window.open("https://www.grafiker.de/widget/designtenders/{{ allwidget.id }}?cacheid=" + msg, "Designservice", "width=650,height=900,scrollbar=yes");
        }
    });
}
</script>
<style>
.widgetbutton{{ allwidget.id }} {
    margin: {{ allwidget.cssMargin }} !important;
    padding: {{ allwidget.cssPadding }} !important;
    background-color: {{ allwidget.cssBackgroundColor }} !important;
    width: {{ allwidget.cssWidth }} !important;
    cursor: pointer !important;
    text-align: {{ allwidget.cssText }};
}
.widgetbutton{{ allwidget.id }} a {
    color: {{ allwidget.cssColor }} !important;
}
</style>
<label class="widgetbutton{{ allwidget.id }}"><a onclick="openModal{{ allwidget.id }}()">Designservice</a></label>
</textarea>
</div>
<div class="col-sm-12" style="border-bottom: 1px solid;margin-bottom:20px;margin-top:20px;"></div>
{% endfor %}
</div>
{% endblock %}
