{% extends 'base.html.twig' %}
{% block titel %}Willkommen auf Grafiker.de{% endblock %}
{% block pinfilter %}
<div class="firstrow">
	<div class="pinspan float-left">Pin: </div>
	<div class="pinnavi float-left firstpinnavi">alle</div>
	<div class="pinnavi float-left">Showcases</div>
	<div class="pinnavi float-left">Designvorlagen</div>
	<div class="pinnavi float-left">Shops</div>
	<div class="pinnavi float-left">Produkte</div>
	<div class="pinnavi float-left">Foren</div>
	<div class="pinnavi float-left">Beiträge</div>
	<div class="pinnavi float-left">Termine</div>
	<div class="pinnavi float-left">Seminare</div>
	<div class="pinnavi float-left">Gutscheine</div>
	<div class="pinnavi float-left lastpinnavi">weitere Filter</div>
	<div class="clearfix"></div>
	</div>
	<div class="secondrow">
	<div class="pinnavi float-left"><a href="/profile/pinstart">Eigenen PIN EINSTELLEN</a></div>
	<div class="pinnavi float-left">MEINE PINS</div>
	<div class="pinnavi float-left"><select>
  <option value="de">Nur Deutschsprachig</option>
  <option value="aa">XYZ</option>
  <option value="bb">abc</option>
  <option value="all">Alles</option>
</select></div>
<div class="pinnavi float-left"><select>
  <option value="de">Neuste Pins zuerst</option>
  <option value="aa">XYZ</option>
  <option value="bb">abc</option>
  <option value="all">Alles</option>
</select></div>
<div class="pinnavi float-left"><select>
  <option value="de">Channel filtern</option>
  <option value="aa">XYZ</option>
  <option value="bb">abc</option>
  <option value="all">Alles</option>
</select></div>
	<div class="clearfix"></div>
	</div>
{% endblock %}
{% block headpins %}
<div class="pinsfull">
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ffffff/000000" class="autorpinpictag" alt="Autor Pin-Pic" />
			<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/markus-klein.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>

	<div class="clearfix"></div>

					<article>
						<div class="autorbox">
							<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Max Mustermann</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read</label>
							<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
							<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
							<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
						</div>
					</article>

	</div>

	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ffff00/0000ff" class="autorpinpictag" alt="Autor Pin-Pic" />
			<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/martin_franke.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>

<div class="clearfix"></div>

					<article>
						<div class="autorbox">
							<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Frank Musterino</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
							<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
							<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
							<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
						</div>
					</article>

	</div>

	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ff00ff/00ff0000" class="autorpinpictag" alt="Autor Pin-Pic" />
			<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/markus-klein.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>

<div class="clearfix"></div>

					<article>
						<div class="autorbox">
							<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Max Mustermann</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
							<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
							<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
							<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
						</div>
					</article>
	
	</div>

	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/00ffff/ff0000" class="autorpinpictag" alt="Autor Pin-Pic" />
			<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/martin_franke.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	
<div class="clearfix"></div>

					<article>
						<div class="autorbox">
							<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Frank Musterino</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
							<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
							<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
							<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
						</div>
					</article>
	
	</div>
</div>
{% endblock %}

{% block admincontent %}
	<div class="adminpinpicdivfull">
	<div class="adminpinpicdiv float-left">
		<img src="./images/kreative.png" class="adminpinpic" alt="Fuer Kreative" />
		<div class="adminpintext">
			<ul>
				<li>Ausschreibungen</li>
				<li>Eigene Pins erstellen</li>
				<li>Druckpartner finden</li>
				<li>Profilseite anlegen</li> 
				<li>Kundenportal & Web2Print Shop</li>
				<li>Angebote erstellen</li>
			</ul>
		</div>
	</div>
	<div class="adminpinpicdiv float-left">
		<img src="./images/druckereien.png" class="adminpinpic" alt="Fuer Druckereien" />
		<div class="adminpintext">
			<ul>
				<li>Ausschreibungen</li>
				<li>Eigene Pins erstellen</li>
				<li>Druckeraufträge erhalten</li>
				<li>Profilseite anlegen</li>
				<li>Kundenportal & Web2Print Shop</li>
			</ul>	
		</div>
	</div>
	<div class="adminpinpicdiv float-left">
		<img src="./images/printbuyer.png" class="adminpinpic" alt="Fuer Printbuyer" />
		<div class="adminpintext">
			<ul>
				<li>Ausschreibungen</li>
				<li>Eigene Pins erstellen</li>
				<li>Druckerpartner finden</li>
				<li>Kreative finden</li>
			</ul>
		</div>
	</div>
	</div>
{% endblock %}
{% block projektstarter %}
	<div class="jobhauptdiv float-left">
	 <div class="botton_jobindex">
		<label class="startbutton">Jobangebot einstellen</label>
 </div>
 <div class="jobindex">
		<div class="loadingdiv text-center">
		<img src="./images/loading.gif" class="loadingimg" />
		</div>
 </div>
 </div>
 <div class="projektrechnerhauptdiv float-left">
   <div class="botton_projektrechnerindex">
		<label class="startbutton">Projektrechner</label>
  </div>
 <div class="projektrechnerindex">
		<div class="loadingdiv text-center">
		<img src="./images/loading.gif" class="loadingimg" />
		</div>
 </div>
 </div>
<div class="smalllogo float-left">
	<div class="pscsmallbannerdiv text-center">
			<img src="./images/pscsmallbanner.png" class="pscsmallbanner" />
	</div>
</div>
{% endblock %}
{% block bodypins %}
	<div class="pinsfull">
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ffffff/000000" class="autorpinpictag" alt="Autor Pin-Pic" />
	<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/martin_franke.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	<div class="clearfix"></div>
	<article>
		<div class="autorbox">
			<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Frank Musterino</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
			<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
			<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></span></a></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
			<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
		</div>
	</article>
	</div>
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ffff00/0000ff" class="autorpinpictag" alt="Autor Pin-Pic" />
	<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/markus-klein.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	<div class="clearfix"></div>
	<article>
		<div class="autorbox">
			<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Max Mustermann</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
			<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
			<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
			<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
		</div>
	</article>
	</div>
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ff00ff/00ff0000" class="autorpinpictag" alt="Autor Pin-Pic" />
	<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/martin_franke.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	<div class="clearfix"></div>
	<article>
		<div class="autorbox">
			<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Frank Musterino</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
			<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
			<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
			<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
		</div>
	</article>
	</div>
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/00ffff/ff0000" class="autorpinpictag" alt="Autor Pin-Pic" />
	<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/markus-klein.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	<div class="clearfix"></div>
	<article>
		<div class="autorbox">
			<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Max Mustermann</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
			<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
			<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
			<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
		</div>
	</article>
	</div>
</div>
{% endblock %}

{% block footpins %}
<div class="pinsfull">
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ffffff/000000" class="autorpinpictag" alt="Autor Pin-Pic" />
	<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/markus-klein.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	<div class="clearfix"></div>
	<article>
		<div class="autorbox">
			<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Max Mustermann</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
			<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
			<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
			<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
		</div>
	</article>
	</div>
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ffff00/0000ff" class="autorpinpictag" alt="Autor Pin-Pic" />
	<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/martin_franke.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	<div class="clearfix"></div>
	<article>
		<div class="autorbox">
			<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Frank Musterino</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
			<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
			<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
			<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
		</div>
	</article>
	</div>
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/ff00ff/00ff0000" class="autorpinpictag" alt="Autor Pin-Pic" />
	<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/markus-klein.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	<div class="clearfix"></div>
	<article>
		<div class="autorbox">
			<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Max Mustermann</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
			<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
			<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
			<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
		</div>
	</article>
	</div>
	<div class="pins float-left"><img src="https://via.placeholder.com/230x150/00ffff/ff0000" class="autorpinpictag" alt="Autor Pin-Pic" />
	<div class="pinautor float-left"><img src="https://www.grafiker.de/pages/images/members/martin_franke.jpg" class="rounded-circle autorpinpic" alt="Autor Pin Pic"/></div>
	<div class="clearfix"></div>
	<article>
		<div class="autorbox">
			<label class="autorname"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Profilseite des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();">Frank Musterino</a> &#8226; {{ random(59) }} min ago &#8226; &#8805; {{ random(59) }} min Read </label>
			<h6><label class="autortitle">Hier ist dann ein längerer Testtitel...</label></h6>
			<label class="autorpin">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et...</label><div class"pinfooter float-left"><a href="./"  class="autornamelink" onmouseover="return overlib('<center>Alle PINs des Autors anzeigen</center>', TEXTCOLOR, '#fff', FGCOLOR, '#7ea016', BGCOLOR, '#7ea016', WIDTH, '180', VAUTO, ABOVE);" onmouseout="return nd();"><span class="pinicons icon-large icon-more-windows"></a></span></span><a onclick="return overlib('<center><span class=\'pinicons icon-large icon-facebook\'></span> <span class=\'pinicons icon-large icon-twitter\'></span> <span class=\'pinicons icon-large icon-google-plus\'></span> <span class=\'pinicons icon-large icon-linked-in\'></span> <span class=\'pinicons icon-large icon-pinterest\'></span> <span class=\'pinicons icon-large icon-envelope\'></span></center>', CAPTION, ' Teile den Pin ', STICKY , FGCOLOR, '#fff', BGCOLOR, '#7ea016','A STICKY', CLOSECLICK, 'Caption string', CLOSETITLE, 'Fenster schließen', CLOSETEXT, '<img style=\'width:15px; height: auto;\' src=\'/images/close.png\' />', CLOSECOLOR, '#00FFFF', BORDER, 3, CAPTIONFONT, 'verdana', CAPTIONSIZE, 2, WIDTH, '250',  TEXTFONT, 'verdana', TEXTSIZE, 1, HPOS=RIGHT);" onmouseout="return nd();"><span class="pinicons icon-large icon-share float-right"></span></a></div>
			<div class="viewall float-right"><a class="viewalllink" href="./">mehr erfahren...</a></div>
		</div>
	</article>
	</div>
{% endblock %}