{% extends 'base.html.twig' %}

{% block title %}Hello ServiceTenderslistController!{% endblock %}

{% block content %}
<script>
function showdiv(id) {
    if($(".contentdiv" + id).height() > 30) {
$(".contentdiv" + id).css("height", "30px");
    $(".textstyle" + id).css("color", "transparent");
    $(".textstyle" + id).css("text-shadow", "0 0 5px rgb(0 0 0 / 50%)");
    } else {
    $(".contentdiv" + id).css("height", "auto");
    $(".textstyle" + id).css("color", "#000");
    $(".textstyle" + id).css("text-shadow", "unset");
    }
}
</script>
<h1>Ausschreibung > <a target="_blank" href="/service/tenderslist/customer/{{ app.user.id }}">Liste</a></h1>
<!--<label class="widgetlist"><a href="/service/tenders">Neue Ausschreibung anlegen</a></label>-->
{% set counter = 1 %}
{% for tenderslist in tenderslist %}
{% if tenderslist.username != "kein Mitglied" %}
<div class="row" style="border-bottom: 1px solid;margin-top: 15px;">
<div class="col-sm-2"><strong>{{ counter }}. 

{% for key, tenderslistservice in tenderslist.service %}
{% if key == 0 and tenderslistservice == true %}
Logo Design
{% endif %}
{% if key == 1 and tenderslistservice == true %}
Grafikdesign
{% endif %}
{% if key == 2 and tenderslistservice == true %}
Text Erstellung
{% endif %}
{% if key == 3 and tenderslistservice == true %}
Sonstiges
{% endif %}

{% endfor %}
</strong></div>
        <div class="col-sm-3">{{ tenderslist.astitle }}</div>
        <div class="col-sm-2">Startdatum: {{ tenderslist.startdate|date("d.m.Y - H:i", "Europe/Berlin") }} Uhr</div>
        <div class="col-sm-2">Enddatum: {{ tenderslist.enddate|date("d.m.Y - H:i", false) }} Uhr</div>
        <div class="col-sm-3">{% for tenderslistdocs in tenderslist.docpdf %}{% for key, tenderslistdocs in tenderslistdocs %}<a target="_blank" href="/upload/uploads/ausschreibungen/{{tenderslistdocs}}" download="{{docname[tenderslist.id][0][key]}}">{{docname[tenderslist.id][0][key]}}</a><br />{% endfor %}{% endfor %}</div>
        <div onclick="showdiv('{{ tenderslist.id }}')" class="col-sm-12 contentdiv{{ tenderslist.id }}" style="margin-bottom: 15px;height: 30px;overflow: hidden;cursor: pointer;" title="AUFKLAPPEN">{{ tenderslist.content|slice(0, 200)|replace({'\r\n':'<br />'})|raw }}
        <span class="textstyle{{ tenderslist.id }}" style="color: transparent;text-shadow: 0 0 5px rgb(0 0 0 / 50%);">{{ tenderslist.content|slice(200, 100000)|replace({'\r\n':'<br />'})|raw }}</span>
        </div>
</div>
{% set counter = counter + 1 %}
{% endif %}
{% endfor %}
{% endblock %}
