{% extends 'templates.html.twig' %}
{% block titleblock %}
grafiker.de AGB
{% endblock %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<h2>Grafiker AGB</h2>
        <h3>1. Geltungsbereich</h3>
        <p>1.1. Die hier beschriebenen Allgemeinen Geschäftsbedingungen gelten für die Dienstleistungen, die von grafiker.de / Heinz Bröskamp, Von-Steuben-Straße 19, D-48143  Münster (im folgenden grafiker.de) auf den Webseiten unter der Domain www.grafiker.de (im folgenden Portal) angeboten werden.</p>
        <p>1.2. Es gelten jeweils die Allgemeinen Geschäftsbedingungen, die zur Zeit der konkreten Inanspruchnahme von Dienstleistungen auf dem Portal durch den Auftraggeber (im folgenden User) abrufbar sind. Mit der Nutzung der auf dem Portal angebotenen Dienstleistungen erkennt der User die Allgemeinen Geschäftsbedingungen an.</p>
        <p>1.3. Entgegenstehende, ergänzende oder abweichende Geschäftsbedingungen erlangen nur Gültigkeit, wenn grafiker.de ihnen ausdrücklich zustimmt.</p>
        <h3>2. Gegenstand des Portals</h3>
        <p>grafiker.de versteht sich als Netzwerk für gewerbliche oder selbstständige Freelancer, Werbeagenturen, Grafiker, Programmierer und Texter. User können sich unentgeltlich für verschiedene Accounts registrieren. Die Leistungen der Accounts sind auf dem Portal unter "Leistungen" einsehbar.</p>
        <h3>3. Leistung</h3>
        <p>3.1. grafiker.de stellt einerseits professionellen Freelancern, andererseits Auftraggebern und Agenturen über das Kontakt- und Businessnetzwerk des Portals verschiedene Dienstleistungen und Tools zur Auftragsvergabe und -annahme zur Verfügung.</p>
        <p>3.2. User können das Portal kostenlos nutzen. Es stehen drei Accounts zur Auswahl: Standard-, Ausschreibungs- und Agentur-Account. Im Rahmen dieser Accounts können sich die User in ihren Funktionen uneingeschränkt selbst darstellen und sich so unter anderem um Neugeschäftsakquisitionen bemühen.</p>
        <p>3.3. Die Veröffentlichung der Userdaten erfolgt durch den User selbst, und zwar per Upload auf den Server von grafiker.de.</p>
        <p>3.4. grafiker.de ist berechtigt, sein Leistungsspektrum jederzeit zu erweitern, zu verbessern oder im Bedarfsfalle durch Dritte erweitern zu lassen, sofern dies gegenüber dem User nicht unzumutbar ist und dem User keine zusätzlichen Kosten entstehen.</p>
        <p>3.5. Sollte grafiker.de zusätzliche kostenfreie Dienste und Leistungen anbieten, dürfen diese jederzeit und ohne Vorankündigung online gestellt werden. Daraus ergeben sich keine Minderungs-, Rückerstattungs- oder Schadensersatzansprüche für den User.</p>
        <h3>4. Vertragsverhältnisse</h3>
        <p>4.1. Das Vertragsverhältnis zwischen Portal und User kommt ausschließlich auf der Grundlage der Allgemeinen Geschäftsbedingungen zustande.</p>
        <p>4.2. Die Anmeldung des Users begründet nicht automatisch ein Vertragsverhältnis zwischen User und Portal. Die Angebote von grafiker.de sind unverbindlich und freibleibend.</p>
        <p>4.3. Durch Annahme des Vertrags verpflichtet sich der User dazu, grafiker.de alle graphischen oder schriftlichen Darstellungen zur Verfügung zu stellen, die der Kennzeichnung des Vertragspartners oder seines Angebots bzw. seiner Dienstleistung dienen - z.B. Logos, Marken, Fotos etc. - insbesondere zur graphischen Einbindung und Kennzeichnung des Vertragspartners auf der Webseite von grafiker.de durch Links.</p>
        <h3>5. Zugang, Passwort und Userdaten</h3>
        <p>5.1. Jeder User verpflichtet sich bei der Registrierung, vollständige und zutreffende Angaben zu seiner Person und seinem Unternehmen zu machen und für die Richtigkeit der Angaben einzustehen. Jeder registrierte User verpflichtet sich, nur einen Account einzurichten (selbst wenn er über verschiedene E-Mail-Adressen verfügen sollte) sowie zur vertraulichen Behandlung seines Usernamens und Passwortes.</p>
        <p>5.2. Der registrierte User ist sowohl grafiker.de als auch Dritten gegenüber für den unbefugten Gebrauch seines Usernamens und Passwortes verantwortlich. Der registrierte User wird grafiker.de bei Kenntnis einer unbefugten Nutzung der Portal-Services unverzüglich und unter Verwendung seines Usernamens und Passwortes unterrichten.</p>
        <p>5.3. Der registrierte User verpflichtet sich, grafiker.de etwaige Änderungen seiner Daten umgehend mitzuteilen, indem er hierzu in seinem Account die entsprechenden Aktualisierungen selbst vornimmt.</p>
        <h3>6. Forum und Account</h3>
        <p>6.1. Der User ist für den von ihm verfassten Inhalt auf dem Portal allein verantwortlich.</p>
        <p>6.2. Jeder User verpflichtet sich, keine Inhalte einzustellen, die:
        -als Berichte getarnt sind, jedoch ausschließlich aus Auflistungen von Produktdaten, Werbung und Umfragen oder Kettenbriefen bestehen.
        -zum bewerteten Produkt keinerlei sachdienlichen inhaltlichen Bezug aufweisen.
        -unsachlich, herabwürdigend, verleumderisch, ehrverletzend, sittlich anstößig oder pornographischen Inhalts sind.
        -zum Zweck der Verbreitung eines politischen, weltanschaulichen oder religiösen Bekenntnisses getätigt werden.
        -die Rechte, insbesondere die Patent-, Urheber-, Marken-, Leistungsschutz-, oder Kennzeichenrechte Dritter verletzen oder einen anderen Straftatbestand erfüllen.
        -Computerprogramme oder Viren beinhalten, welche die Funktionsweise fremder Soft- oder Hardware beeinträchtigen.
        -dazu dienen, persönliche Daten von Usern ohne deren ausdrückliches Einverständnis insbesondere zu geschäftlichen Zwecken zu sammeln, zu speichern oder zu nutzen. Dies gilt auch, ohne dass konkrete Inhalte eingestellt werden.
        Jeder User verpflichtet sich insbesondere dazu:
        -keine Maschinen, Algorithmen oder andere automatische Funktionen zu nutzen, um Seitenaufrufe oder Inhalte zu generieren.
        -nicht missbräuchlich Dritte mittelbar oder unmittelbar dazu aufzufordern, Seitenaufrufe oder Inhalte zu generieren.</p>
        <p>6.3. Bei einem Verstoß gegen die Allgemeinen Geschäftsbedingungen behält sich grafiker.de vor, Beiträge ohne Angabe von Gründen zu entfernen und User dauerhaft aus dem Portal auszuschließen. Die Geltendmachung zivilrechtlicher Ansprüche oder die Einleitung strafrechtlicher Verfahren bleibt hiervon unberührt.</p>
        <p>6.4. Der User sichert zu, dass er über alle Rechte hinsichtlich der von ihm zur Veröffentlichung auf dem Portal bereitgestellten Inhalte verfügt und keine Rechte Dritter verletzt.</p>
        <p>6.5. Der User stellt grafiker.de von allen Ansprüchen Dritter frei, die diese gegen grafiker.de aufgrund der vom User zur Veröffentlichung auf der Plattform bereitgestellten Inhalte geltend machen. Die Rechtsverteidigung gegen derartige Ansprüche bleibt grafiker.de vorbehalten. Der User unterstützt grafiker.de bei der Abwehr solcher Ansprüche, insbesondere durch die Bereitstellung sämtlicher zur Verteidigung erforderlicher Informationen. Der verantwortliche User ist zum Ersatz jeglichen Schadens verpflichtet, der grafiker.de durch die erfolgreiche Inanspruchnahme seitens Dritter entsteht, inklusive der gesamten Kosten der Rechtsverfolgung.</p>
        <p>6.6. grafiker.de haftet nicht für die Richtigkeit, Qualität, Vollständigkeit, Verlässlichkeit, Art und Güte oder Glaubwürdigkeit der von den Usern zur Veröffentlichung auf der Plattform bereitgestellten Inhalte. Die Veröffentlichung von Inhalten und Berichten der User stellt keine Meinungsäußerung von grafiker.de dar. Insbesondere macht sich grafiker.de diese Inhalte nicht zu eigen.</p>
        <h3>7. Datenschutz, E-Mail-Werbung</h3>
        <p>7.1. Der Schutz der vom User zur Verfügung gestellten persönlichen Daten hat bei grafiker.de höchste Priorität. grafiker.de bemüht sich daher, die Einhaltung des Datenschutzes sicherzustellen. User haben im Rahmen des Bundesdatenschutzgesetzes ein Recht auf Auskunft sowie ein Recht auf Berichtigung, Sperrung und Löschung Ihrer gespeicherten Daten.</p>
        <p>7.2. Der User kann der Nutzung seiner anonymisierten Daten für die Erstellung von Userprofilen zum Zwecke der Werbung, Marktforschung oder bedarfsgerechten Gestaltung des Portals jederzeit widersprechen. Sofern einer Löschung gesetzliche, vertragliche oder handels- bzw. steuerrechtliche Aufbewahrungsfristen oder sonstige gesetzlich verankerte Gründe entgegenstehen, kann anstelle einer Löschung nur eine Sperrung der Userdaten erfolgen. Kontaktieren Sie uns dazu bitte per E-Mail an datenschutz@grafiker.de.</p>
        <p>7.3. Die gültigen Datenschutzbedingungen können auf dem Portal unter Datenschutz eingesehen werden.</p>
        <h3>8. Vervielfältigung</h3>
        <p>8.1. Die auf dem Portal von grafiker.de veröffentlichten Inhalte sind rechtlich geschützt. Vervielfältigungen (auch auszugsweise), insbesondere für kommerzielle Werbung, Nutzung oder Verwertung, bedürfen der vorherigen schriftlichen Zustimmung von grafiker.de.</p>
        <p>8.2. Lediglich die Anfertigung einer Kopie von Inhalten zu ausschließlich persönlicher, nicht jedoch gewerblicher Nutzung ist gestattet, unter der Voraussetzung, dass die Herkunft deutlich erkennbar bleibt, zum Beispiel durch Quellenangabe.</p>
        <p>8.3. Vollständige oder teilweise Reproduktion, Vervielfältigung, Verbreitung oder Veränderung darf nur mit einer vorherigen schriftlichen Genehmigung von grafiker.de erfolgen.</p>
        <h3>9. Haftung</h3>
        <p>9.1. grafiker.de haftet nur für Vorsatz und grobe Fahrlässigkeit sowie für die Verletzung wesentlicher Vertragspflichten, im letzteren Fall jedoch nur für typischerweise vorhersehbare Schäden.</p>
        <p>9.2. Die vorstehenden Haftungsbeschränkungen betreffen nicht Ansprüche aus Produkthaftung sowie Körper- und Gesundheitsschäden, die grafiker.de zugerechnet werden. grafiker.de haftet insbesondere nicht für technische Störungen, deren Ursache nicht im Verantwortungsbereich von grafiker.de liegen.</p>
        <p>9.3. grafiker.de übernimmt keine Gewähr für die ununterbrochene Verfügbarkeit seines Portals, insbesondere von Daten, und kann einen frei bestimmten Zeitraum für technische Arbeiten wählen. grafiker.de haftet nur für eigene Inhalte auf den Webseiten des Portals.</p>
        <p>9.4. grafiker.de ist für Inhalte von externen Webseiten, die über Hyperlinks, Werbebanner etc. von der Webseite aus zugänglich sind, nicht verantwortlich. Sofern grafiker.de Kenntnis von rechtswidrigen Inhalten auf externen Webseiten erlangt, wird grafiker.de den Zugang zu diesen Webseiten über sein Portal unverzüglich sperren.</p>
        <h3>10. Sperrung, Kündigung, Laufzeit</h3>
        <p>10.1 Das Vertragsverhältnis beginnt mit der Freischaltung des User-Accounts und wird unbefristet bis zur Kündigung bzw. Löschung des Accounts durch eine der beiden Parteien geschlossen.</p>
        <p>10.2. Jeder Partei steht das Recht zur außerordentlichen Kündigung aus wichtigem Grund zu. Als wichtiger Grund gilt insbesondere, wenn:
        -der User über einen Zeitraum von mehr als einem Jahr das Portal nicht aktiv genutzt hat;
        -der User gegen gesetzliche Regelungen oder gegen diese Allgemeinen Geschäftsbedingungen verstößt;
        -aus technischen Gründen eine weitere Zusammenarbeit nicht mehr gewährleistet werden kann;
        -aus wirtschaftlichen Gründen eine Zusammenarbeit nicht mehr gewährleistet werden kann;</p>
        <h3>11. Geltungsbereich und Gerichtsstand</h3>
        <p>11.1. Es gilt das Recht der Bundesrepublik Deutschland.</p>
        <p>11.2. Gerichtsstand ist der Geschäftssitz von grafiker.de, Berlin, sofern die Gegenpartei Kaufmann ist oder keinen allgemeinen Gerichtsstand in Deutschland hat oder Wohnsitz oder gewöhnlicher Aufenthalt zum Zeitpunkt des Rechtsstreits nicht bekannt sind.</p>
        <p>11.3. Sollten einzelne Bestimmungen des Nutzungsvertrags einschließlich der Nutzungsbedingungen ganz oder teilweise unwirksam sein oder werden, wird hierdurch die Gültigkeit der übrigen Bestimmungen nicht berührt.</p>
        <h3>Münster, 15.07.2018</h3>
</div>
{% endblock %}