{% extends 'templates.html.twig' %}

{% block content %}
<h5>Auf Grafiker.de einloggen</h5>
Leider war Ihr Benutzername, oder Ihr Passwort falsch!<br /><br />
<form action="{{ path("fos_user_security_check") }}" method="post">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />


    <label for="username">Profilname</label>
    <input type="text" id="username" name="_username" value="" required="required" autocomplete="username" />
<br />
    <label for="password">Passwort</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
<br />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">An mich erinnern</label><br />

    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="EINLOGGEN" />
</form>
<a href="/resetting/request">Passwort vergessen?</a>
</div>
{% endblock %}
