{% extends 'templates.html.twig' %}
{% block titleblock %}
{% for job in jobdata %}
{% set newtitle = job.getAstitle() %}grafiker.de: {{ newtitle }} - {{ job.getJobTyp() }}
{% endfor %}
{% endblock %}
{% block content %}
<script src='https://rawgit.com/jasonday/printThis/master/printThis.js'></script>
<script>
function print() {
$(".jobprintcontent").printThis();
}
</script>
<style>
.jobprintcontent img {
    max-width: 100%;
}
.jobcontent {
    position: relative;
    margin: 0 auto;
    max-width: 1025px;
}
</style>
<div class="jobcontent">
<div class="jobprintcontent">
{% if is_granted('ROLE_ADMIN') %}
<a href="/admin/grafiker">Admin-Startseite</a> -> <a href="/admin/jobverwaltung/all">Jobverwaltung</a>
{% endif %}
{% if mailok is defined %}
<div style="color:red;text-align:center;">
<strong>Ihre Bewerbung wurde erfolgreich versendet!</strong>
</div>
{% endif %}
<br />

{% if logoexist == true %}   
<div class="joblogoOnline" id="joblogoOnlineID" style="max-width:1100px;display: block;"><img src="/{{ logolink }}?{{ date().timestamp }}" /></div><br /><br />
{% endif %}
{% for job in jobdata %}
<h5>{{ job.getAstitle() }}</h5><br />
<!--<strong>{% if job.getFinde() == "entwickler" %}Programmierer, {% else %}<span style="text-transform:capitalize">{{ job.getFinde() }}, </span>{% endif %}{% if job.getFor() != "Alle" %}{{ job.getFor() }}{% endif %}</strong><br /><br />-->
<strong>Ausschreibung von:</strong> <a href="/firmajobs/{{ job.getFirma() }}">{{ job.getFirma() }}</a><br />
<strong>Profil:</strong> <a href="/member/{{ userdata[0].getUsername() }}">{{ userdata[0].getUsername() }}</a><br />
{% if job.getJobSuche() == 'suche' %} 
<strong>Ich suche einen Job für</strong> {{ job.getJobTyp()|replace({'_': ' '}) }}<br/>
{% elseif job.getJobSuche() == 'biete' %}
<strong>Ich biete einen Job für</strong>  <a href="/jobliste/{{ job.getJobTyp() }}/{{ job.getJobSuche() }}">{{ job.getJobTyp()|replace({'_': ' '}) }}</a><br/>
{% else %}{% endif %}
<strong>Jobart:</strong> {{ job.getFor()|replace({'_': ' '}) }}<br />
<strong>Arbeitsort:</strong> {{ job.getJobort() }}<br />
{% set difference = date().diff(date(job.getStartdate())) %}
{% set leftDays = difference.days %}
<strong>Veröffentlicht:</strong> {% if leftDays == 0 %}
heute
{% elseif leftDays == 1 %}
gestern
{% else %}
vor {{ leftDays }} Tagen
{% endif %}<br />
<strong>Bewerbungsfrist:</strong> {{ job.getEnddate()|date("d.m.Y", "Europe/Berlin") }}<br />
<br />
{{ job.getContent()|raw }}<br /><br />
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% if job.getDocpdf()|length != 0 %}
<strong>{% if job.getDocpdf()|length > 1 %}Anhänge{% else %}Anhang{% endif %} zu dieser Ausschreibung:</strong><br />
{% if job.getDocpdf()[0] is defined %}
<a target="_blank" href="/upload/uploads/pdf/{{ job.getDocpdf()[0] }}">{{ job.getDocpdf()[0] }}</a><br />
{% endif %}
{% if job.getDocpdf()[1] is defined %}
<a target="_blank" href="/upload/uploads/pdf/{{ job.getDocpdf()[1] }}">{{ job.getDocpdf()[1] }}</a><br />
{% endif %}
{% if job.getDocpdf()[2] is defined %}
<a target="_blank" href="/upload/uploads/pdf/{{ job.getDocpdf()[2] }}">{{ job.getDocpdf()[2] }}</a><br />
{% endif %}<br />
{% endif %}
{% else %}
Bitte einloggen um Kontakt aufzunehmen und die Anhänge zu betrachten!
{% endif %}
<br /><br />
</div>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (job.getUsername() != app.user.username) and (formdeaktiv == false) %}
<button style="color: #fff;background-color: #799a14;border-color: #799a14;width: 140px;margin-top: 20px;" id="print" class="icon-print btn" onclick="print();" ><span class="icon-large icon-print"></span> drucken</button><br><br>
<h5>Auf diese Ausschreibung bewerben?</h5>
<form action="/jobview/{{ job.getUsername() }}/{{ job.getJobLink() }}" method="Post" enctype="multipart/form-data">
<input type="hidden" id="jobid" name="jobid" value="{{ job.getID() }}">
Betreff:<br>
<input type="text" id="betreffforuser" name="betreffforuser" required="required"><br>
Nachricht:<br>
<textarea style="height:250px;" id="messegesforuser" name="messegesforuser" required="required"></textarea><br><br>
<div><label for="form_docpdf1">Dateianhang (PDF file z.B: Lebenslauf oder Bewerbung)</label><input type="file" id="form_docpdf1" name="form[docpdf1]"></div>
<div><label for="form_docpdf2">Dateianhang (PDF file z.B: Lebenslauf oder Bewerbung)</label><input type="file" id="form_docpdf2" name="form[docpdf2]"></div>
<input class="btnmessage btn-primary" type="submit" value="Nachricht senden">
</form>
{% endif %}
{% if formdeaktiv == true %}
Sie haben sich auf diese Ausschreibung {% if beworbenDate != false %}am {{ beworbenDate|date("d.m.Y - H:i", "Europe/Berlin")}} Uhr {% endif %}beworben!<br><br>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<br />
<strong><a href="/admin/userverwaltung/{{ app.user.getID(job.username) }}/edit">{{ job.username }}</a></strong> <a title="Job bearbeiten?" href="/admin/jobverwaltung/{{ job.getId() }}/edit"><span class="pinicons icon-large icon-pencil"></span> <a title="Job freischalten?" href="/admin/jobverwaltung/{{ job.getId() }}/ok"><span class="pinicons icon-large icon-ok"></span></a> <a title="Job mit Grund ablehnen?" href="/admin/jobverwaltung/{{ job.getId() }}/notok"><span class="pinicons icon-large icon-envelope"></span></a> <a title="Job löschen?" href="/admin/jobverwaltung/{{ job.getId() }}/del" onclick='return del_ask();'><span class="pinicons icon-large icon-trash"></span></a>
{% endif %}
{% endfor %}
</div>
{% endblock %}
