<!doctype html>
<html lang="de">
    <head>
    <meta name="viewport" content="width=650, shrink-to-fit=yes">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style-service.css">
		<script src="/js/overlib_mini.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <style>
label {
    width: 100%;
}
input, select, .btndiv {
    width: 100%;
}
input.btn.btn-primary {
    margin-top: 20px;
    width: 90%;
}
.row {
    width:90%;
    margin: 0 auto;
}
input.btn.btn-primary {
    background-color: #799a14 !important;
    border-color: #799a14 !important;
    border-radius: 0px;
}
.btndiv {
    text-align: center;
}
input#user_agb, input#user_widerrufsbelehrung {
    width: 35px;
    float: left;
}
label[for=user_agb], label[for=user_widerrufsbelehrung] {
    width: 93%;
    float: right;
    margin-top: 5px;
}
div#useredit {
    margin-bottom: 20px;
}
input#user_widerrufsbelehrung {
    margin-top: 30px;
}
</style>
    </head>
    <body>
{% if jobtype == "standard" %}
{% set nettprice = 0.00 %}
{% set netmwst = 0.00 %}
{% set endprice = 0.00 %}
{% elseif jobtype == "blitz" or jobtype == "entwurf" or jobtype == "agentur" %}
{% set nettprice = 16.76 %}
{% set netmwst = 3.19 %}
{% set endprice = 19.95 %}
{% elseif jobtype == "angebot" %}
{% set nettprice = 25.21 %}
{% set netmwst = 4.79 %}
{% set endprice = 30.00 %}
{% endif %}
<div class="row">
    <div class="col-sm-12">
<img src="{{ allwidget.cssPosition}}" alt="Brandinglogo" id="logo">
</div>
<div class="col-sm-12" style="padding-left: 0px;padding-right: 0px;">
<form name="fos_user_profile_form" method="post" action="/service/tenders/kontroll/{{widgetid}}/{{jobid}}" class="fos_user_profile_edit">
    {{ form_widget(form) }}
        <div><label for="user_agb" class="required">Ich akzeptiere die <a target="_blank" href="/agb">AGB</a> / <a target="_blank" href="/datenschutz">Datenschutzerklärung</a> von Grafiker.de</label><input type="checkbox" id="user_agb" name="user[agb]" required="required" class="form-control" value="1"></div>
<div><label for="user_widerrufsbelehrung" class="required">Ich verlange ausdrücklich und stimme gleichzeitig zu, dass Sie mit der in Auftrag gegebenen Dienstleistung vor Ablauf der Widerrufsfrist beginnen. Ich weiß, dass mein <a target="_blank" href="/widerruf">Widerrufsrecht</a> bei vollständiger Erfüllung des Vertrages erlischt.</label><input type="checkbox" id="user_widerrufsbelehrung" name="user[widerrufsbelehrung]" required="required" class="form-control" value="1"></div>
    <div class="btndiv">
        <input class="btn btn-primary" type="submit" value="JETZT FÜR GESAMTPREIS € {{endprice}} (inkl. MwSt.) BESTELLEN" />
    </div>
{{ form_end(form) }}
</div></div>

<div style="width:99%">
<hr style="width:100%;border: 2px solid #cccccc;" />
<div style="width: 80%;margin: 0 auto;margin-bottom: 30px;">
<img style="width: 30%;" src="/images/logo.png" class="logo" alt="grafiker Logo"><br />
<a target="_blank" style="color: #000;text-decoration: none;" href="/impressum">Impressum</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/datenschutz">Datenschutzerklärung</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/agb">AGB</a> | <a target="_blank" style="color: #000;text-decoration: none;" href="/widerruf">Widerrufsbelehrung</a>
</div>
</div>
</div>
</body>
</html>