{% extends 'templates.html.twig' %}

{% block title %}Hello ShopsController!{% endblock %}

{% block content %}
<div class="float-left" style="margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 43px; width: 90%;">
<div class="float-left" style="min-width: 420px;max-width: 50%; margin-bottom: 25px;">


</div>
</div>
{% endblock %}
