#dropbox2 {
    margin-left: 20px;
}
#dropbox, #dropboxfirma, #dropbox2{
	background: #FFF;
	border-radius:3px;
	position: relative;
	min-height: 120px;
	overflow: hidden;
	margin-top: 48px;
	padding-bottom: 40px;
    /*width: 120px;*/
	box-shadow:0 0 4px rgba(0,0,0,0.3) inset,0 -3px 2px rgba(0,0,0,0.1);
}


#dropbox .message, #dropboxfirma .messagefirma, #dropbox2 .message2{
	font-size: 11px;
    text-align: center;
    padding-top:160px;
	display: block;
	color: #000;
	padding-left: 10px;
    padding-right: 10px;
}

#dropbox .message i, #dropboxfirma .message i, #dropbox2 .message2 i{
	color:#ccc;
	font-size:10px;
}

#dropbox:before, #dropboxfirma:before, #dropbox2:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#dropbox .preview, #dropboxfirma .preview, #dropbox2 .preview{
    width: 120px;
    height: 110px;
    margin: 30px 0 0 5px;
    position: relative;
}

#dropbox .preview img, #dropboxfirma .preview img, #dropbox2 .preview img{
    max-width: 110px;
    max-height: 150px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
}

#dropbox .imageHolder, #dropboxfirma .imageHolder, #dropbox2 .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded, #dropboxfirma .uploaded, #dropbox2 .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded, #dropboxfirma .preview.done .uploaded, #dropbox2 .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#dropbox .progressHolder, #dropboxfirma .progressHolder, #dropbox2 .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:90%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

#dropbox .progress, #dropboxfirma .progress, #dropbox2 .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress, #dropboxfirma .preview.done .progress, #dropbox2 .preview.done .progress{
	width:100% !important;
}


#showcasedropbox {
	background-color:#fff;
	border: solid 1px #7ea016;
	/*border-radius:3px;*/
	position: relative;
	min-height: 120px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 980px;
	/*box-shadow:0 0 4px rgba(126,160,22,0.3) inset,0 -3px 2px rgba(126,160,22,0.1);*/
}


#showcasedropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:160px;
	display: block;
	color: #000;
}

#showcasedropbox .message i{
	color:#ccc;
	font-size:10px;
}

#showcasedropbox:before{
	border-radius:3px 3px 0 0;
}



/*-------------------------
	Image Previews
--------------------------*/



#showcasedropbox .preview{
    width: 120px;
    height: 110px;
    margin: 5px 0 0 5px;
	position: relative;
	float: left;
}

#showcasedropbox .preview img{
    max-width: 110px;
    max-height: 150px;
	display: block;
	
	box-shadow:0 0 2px #000;
}
.joblogo .preview img{
	max-width: 600px !important;
    max-height: 200px !important;
	display: block;
	text-align: center !important;
	box-shadow:0 0 2px #000;
}
#showcasedropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#showcasedropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#showcasedropbox .preview.done .uploaded{
	display: block;
}



/*-------------------------
	Progress Bars
--------------------------*/



#showcasedropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:90%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
}

#showcasedropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#showcasedropbox .preview.done .progress{
	width:100% !important;
}