{% extends 'templates.html.twig' %}
{% block titleblock %}
Ausschreibungen auf grafiker.de
{% endblock %}
{% block content %}
<div class="jobfilter" style="max-width: 1100px; padding-left: 57px;">
<label class="pinsmenulabel"><a href="/jobliste">Alle</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Grafiker/suche">Suche Grafiker|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Grafiker/biete">Biete Grafiker|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Druckerei/suche">Suche Druckerei</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Druckerei/biete">Biete Druckerei</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Fotograf/suche">Suche Fotograf|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Fotograf/biete">Biete Fotograf|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Entwickler/suche">Suche Entwickler|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Entwickler/biete">Biete Entwickler|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Texter/suche">Suche Texter|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Texter/biete">Biete Texter|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Illustrator/suche">Suche Illustrator|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Illustrator/biete">Biete Illustrator|in</a></label>
<label class="pinsmenulabel"><a href="/jobliste/Sonstige/all">Sonstige</a></label>
</div>
<div class="pinsmenu pinsmenuover">
<h5>Ausschreibungen gesamt: {{ jobcounter }}</h5>
</div>
<br />
{% for job in jobdata %}
<div class="firmalogo float-left" style="width: 450px; text-align: center;">
<a href="/jobview/{{ job.getJobLink() }}">
{% if logofirma[job.getUsername()] is defined %}
{% if logoexist[job.getUsername()] == true %}
{% if logofirma[job.getUsername()] == true %}   
<img src="/upload/uploads/firma/{{ logolink[job.getUsername()] }}?{{ date().timestamp }}" /> <br />
{% else %}
<img src="/upload/uploads/userpics/{{ logolink[job.getUsername()] }}?{{ date().timestamp }}" /> <br />
{% endif %}
{% endif %}
{% else %}
<img src="/images/no-image-placeholder.png" class="nofirmapic" alt="Member Pic"> <br />
{% endif %}
</a>
{% set difference = date().diff(date(job.getStartdate())) %}
{% set leftDays = difference.days %}

</div>
<div class="ausschreibungstxt float-left" style="max-width: 620px;">
<strong><a href="/jobview/{{ job.getJobLink() }}">{{ job.getAstitle() }}</a></strong><br />
{% if job.getJobSuche() == 'suche' %} 
Ich suche einen Job für <strong>{{ job.getJobTyp()|replace({'_': ' '}) }}</strong><br/>
{% elseif job.getJobSuche() == 'biete' %}
Ich biete einen Job für <strong>{{ job.getJobTyp()|replace({'_': ' '}) }}</strong><br/>
{% else %}{% endif %}
Jobart: {{ job.getFor()|replace({'_': ' '}) }}<br />
Arbeitsort: {{ job.getJobort() }}<br />
Veröffentlicht: {% if leftDays == 0 %}
<strong>heute</strong>
{% elseif leftDays == 1 %}
<strong>gestern</strong>
{% else %}
<strong>vor {{ leftDays }} Tagen</strong>
{% endif %}<br />
Bewerbungsfrist: {{ job.getEnddate()|date("d.m.Y", "Europe/Berlin") }}<br />
{% if job.getContent()|length > 130 %}
{{ job.getContent()|striptags |slice(0, 120) |raw }}...<br /><a href="/jobview/{{ job.getJobLink() }}">Weiterlesen</a>
{% else %}
{{ job.getContent()|striptags|raw }}
{% endif %}
</div>

<div class="clearfix"></div>
<hr/>
{% endfor %}
<style>
.btnblankweiter {
	color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
.btnblankweiter:hover {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
</style>
{% if jobdata|length == 30 %}
<div class="loader" id="loader0">
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextJobs('1');">Weitere laden...</a></div>
</div>
{% endif %}
{% endblock %}
