{% for job in jobdata %}
<div class="firmalogo float-left" style="width: 450px; text-align: center;">
<strong>{{ job.getJobTyp() }}</strong><br/>
{% if logofirma[job.getUsername()] is defined %}
{% if logoexist[job.getUsername()] == true %}
{% if logofirma[job.getUsername()] == true %}   
<img src="/upload/uploads/firma/{{ logolink[job.getUsername()] }}?{{ date().timestamp }}" /> <br />
{% else %}
<img src="/upload/uploads/userpics/{{ logolink[job.getUsername()] }}?{{ date().timestamp }}" /> <br />
{% endif %}
{% endif %}
{% else %}
<img src="/images/no-image-placeholder.png" class="nofirmapic" alt="Member Pic"> <br />
{% endif %}
</a>
{% set difference = date().diff(date(job.getStartdate())) %}
{% set leftDays = difference.days %}
{% if leftDays == 0 %}
<strong>Veröffentlicht: heute</strong>
{% elseif leftDays == 1 %}
<strong>Veröffentlicht: gestern</strong>
{% else %}
<strong>Veröffentlicht: vor {{ leftDays }} Tagen</strong>
{% endif %}
</div>
<div class="ausschreibungstxt float-left" style="max-width: 500px;">
<strong><a href="/jobview/{{ job.getJobLink() }}">{{ job.getAstitle() }}</a></strong><br />
{% if job.getContent()|length > 350 %}
{{ job.getContent()|striptags |slice(0, 250) |raw }}...<br /><a href="/jobview/{{ job.getJobLink() }}">Weiterlesen</a>
{% else %}
{{ job.getContent()|striptags|raw }}
{% endif %}
</div>
<div class="clearfix"></div><br/>
{% endfor %}
<style>
.btnblankweiter {
	color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
.btnblankweiter:hover {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
</style>
{% if jobdata|length == 30 %}
<div class="loader" id="loader{{ loadjobID }}">
{% if loadjobID is divisible by(10) %}
{% if filter is defined %}
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextJobs('{{ sites }}');">Weitere laden...</a></div>
{% else %}
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextJobs('all');">Weitere laden...</a></div>
{% endif %}
{% endif %}
</div>{% endif %}
