
{% for member in memberdata %}
<div class="membersearch float-left">
<div class="float-left" style="width:350px">
<label class="memberfund">
<div class="pinautorminidiv">
{% if member.getUserpic() and member.getUserpic() != "del" %}


    <a href="/member/{{ member.getUsername() }}"><img src="/upload/uploads/userpics/{{ member.getUserpic() }}" class="autorpinpic" alt="Autor Pin Pic"></a>

{% else %}
		<a href="/member/{{ member.getUsername() }}"><img src="/images/no_boy.jpg" class="autorpinpic" alt="Autor Pin Pic"></a>
{% endif %}
</div>
<div class="clearfix"></div> 

{% set newTime = member.getUpdatedAt()|date('U', "Europe/Berlin") + 40 %}

<br /><strong>Mitglied seit:</strong> {{ member.getCreatedAt()|date("d.m.Y - H:i", "Europe/Berlin") }} Uhr
<br /><strong>Zuletzt Online:</strong> {% if newTime > date()|date('U', "Europe/Berlin") %}Jetzt Online{% else %}{{ member.getUpdatedAt()|date("d.m.Y - H:i", "Europe/Berlin") }} Uhr{% endif %}


</label></div>
<div class="float-left" style="width:440px;min-height: 100px;">

Onlinestatus: 
{% if newTime > date()|date('U', "Europe/Berlin") %}
{% if member.getEmploy() == false %}
<img style="z-index:99;height: 15px;" src="/img/online.png" title="Online" alt="onlinePic" />
{% else %}
<img style="z-index:99;height: 15px;" src="/img/employed.png" title="Beschäftigt" alt="employedPic" />
{% endif %}
{% else %}
<img style="height: 15px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
{% endif %}<br />
Auftragskapazität: 
{% if member.getCapacity() == 1 or member.getCapacity() == false %}
<img style="z-index:99;height: 15px;" src="/img/offline.png" title="Keine freie Kapazität!" alt="onlinePic" />
{% endif %}
{% if member.getCapacity() == 2 %}
<img style="z-index:99;height: 15px;" src="/img/employed.png" title="Frei für kleine Aufträge!" alt="onlinePic" />
{% endif %}
{% if member.getCapacity() == 3 %}
<img style="z-index:99;height: 15px;" src="/img/online.png" title="Frei" alt="onlinePic" />
{% endif %}<br />

Benutzername: <label class="usermenulabel"><a href="/member/{{ member.getUsername() }}">{{ member.getUsername() }}</a></label>
<br />
{% if member.getFirma() != '' %}Firma: <label class="usermenulabel"><a href="/membersearch/firma/{{ member.getFirma() }}">{{ member.getFirma() }}</a></label><br />{% endif %}
{% if member.getBerufsbezeichnung() != '' %}Beruf: <label class="usermenulabel"><a href="/membersearch/berufsbezeichnung/{{ member.getBerufsbezeichnung() }}">{{ member.getBerufsbezeichnung() }}</a></label><br />{% endif %}
{% if member.getWohnort() != '' %}Wohnort: <label class="usermenulabel"><a href="/membersearch/wohnort/{{ member.getWohnort() }}">{{ member.getWohnort() }}</a></label><br />{% endif %}
{% if member.getLand() != '' %}Land: <label class="usermenulabel"><a href="/membersearch/land/{{ member.getLand() }}">{{ member.getLand() }}</a></label><br />{% endif %}
</div>
<div class="float-left" style="max-width:250px">
<strong>Berufsgruppe:</strong><br />
{% if member.getBerufsgruppe6() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Druckerei">Druckerei</a></label><br />{% endif %}
{% if member.getBerufsgruppe1() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Grafiker">Grafiker</a></label><br />{% endif %}
{% if member.getBerufsgruppe2() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Fotograf">Fotograf</a></label><br />{% endif %}
{% if member.getBerufsgruppe3() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Programmierer">Programmierer</a></label><br />{% endif %}
{% if member.getBerufsgruppe4() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Texter">Texter</a></label><br />{% endif %}
{% if member.getBerufsgruppe5() == true %}<label class="usermenulabel"><a href="/membersearch/skills/Illustrator">Illustrator</a></label><br />{% endif %}
</div><div class="clearfix"></div> 
</div>

{% endfor %}
<style>
.btnblankweiter {
	color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
.btnblankweiter:hover {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
</style>
<br /><br />
{% if memberdata|length == 30 %}
<div class="loader" id="loader{{ loadpinID }}">
{% if loadpinID is divisible by(10) %}
{% if filter is defined %}
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextMembers('{{ sites }}');">Weitere laden...</a></div>
{% else %}
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextDatas('all');">Weitere laden...</a></div>
{% endif %}
{% endif %}
</div>{% endif %}