{% extends 'templates.html.twig' %}
{% block titleblock %}
grafiker.de: Hier werben
{% endblock %}
{% block content %}
<style>
.pipedriveWebForms {
    margin: 0 auto;
    height: unset !Important;
}
</style>
<div class="jobfilter" style="margin: 0 auto; max-width: 850px;">

<strong>Bei Interesse benutze bitte das Kontaktformular. </strong>
<div class="pipedriveWebForms" data-pd-webforms="https://pipedrivewebforms.com/form/7171b93ed29cb97854edaef602cfc9501189014"><script src="https://cdn.pipedriveassets.com/web-form-assets/webforms.min.js"></script></div>
<br /></div>
{% endblock %}
