<table cellpadding="5" cellspacing="0" style="width: 100%; ">
 <tr>
 <td><img src="/images/logo.png" class="logo" alt="grafiker Logo">
 <label style="font-size:12px;">Grafiker.de UG (haftungsbeschränkt), Von-Steuben-Straße 19, 48143 Münster</label>
 <br /><br /><br /></td>
    <td style="text-align: right">
Rechnungsnummer {{ rechnungsnummer }}<br>
Rechnungsdatum: {{ redate }}<br>
 </td>
 </tr>
 
 <tr>
 <td> 
{{ rechnungsempfaengerfirma }}<br />
{{ rechnungsempfaenger }}<br />
{{ rechnungsempfaengerstrasse }}<br />
{{ rechnungsempfaengerplzort }}<br />
{{ rechnungsempfaengerLand }}<br />
<br /><br />
<br><br>
<label style="font-size:1.3em; font-weight: bold;">Rechnung für {{ angebotstitel }}</label>
<br>
 </td>
 </tr>
 
 
 <tr>
 <td colspan="2">{{ angebotshinweis }}</td>
 </tr>
</table>
<br><br><br>
 
<table cellpadding="5" cellspacing="0" style="width: 100%;" border="0">
 <tr style="background-color: #cccccc; padding:5px;">
 <td style="padding:5px;"><b>Bezeichnung</b></td>
 <td style="text-align: center;"><b>Menge</b></td>
 <td style="text-align: center;"><b>Einzelpreis</b></td>
 <td style="text-align: center;"><b>Preis</b></td>
 </tr>

 <tr>
 
                <td>{{ angebotstitel }}</td>
 <td style="text-align: center;"> {{ menge }} </td> 
 <td style="text-align: center;">{{ einzelpreis }} Euro</td>	
                <td style="text-align: center;">{{ einzelpreis|number_format(2, '.', ',') * menge }} Euro</td>
              </tr>
</table>
 
<hr>
<table cellpadding="5" cellspacing="0" style="width: 100%;" border="0">';
{% set umsatzsteuer = 1.19 %}
{% set netto = einzelpreis * menge / umsatzsteuer %}
{% set umsatzsteuer_betrag = einzelpreis * menge - netto %}
 
 <tr>
 <td colspan="3">Zwischensumme (Netto)</td>
 <td style="text-align: center;">{{ netto|number_format(2, '.', ',') }} Euro</td>
 </tr>
 <tr>
 <td colspan="3">Umsatzsteuer 19 %</td>
 <td style="text-align: center;">{{ umsatzsteuer_betrag|number_format(2, '.', ',') }} Euro</td>
 </tr>
 
            <tr>
                <td colspan="3"><b>Gesamtsumme: </b></td>
                <td style="text-align: center;"><b>{{ einzelpreis * menge|number_format(2, '.', ',') }} Euro</b></td>
            </tr> 
        </table>
<br><br><br>
Vielen Dank für Ihren Auftrag!<br /><br />
Bitte überweisen Sie den Rechnungsbetrag an die unten genannte Bankverbindung.<br />
<strong>Verwendungszweck:</strong> {{ rechnungsnummer }}<br />
<div style="position:absolute;bottom:0;left:0;"> 
 <table style="height: 90px;" border="0" width="100%">
            <tbody>
            <tr valign="top">
            <td style="width: 25%;">
            <span style="font-size: xx-small;">Grafiker.de UG (haftungsbeschränkt)</span><br />
            <span style="font-size: xx-small;">Eintragung im Handelsregister</span><br />
            </td>
            <td style="width: 25%;">
            <span style="font-size: xx-small;">Bankverbindung</span><br />
            <span style="font-size: xx-small;">Sparkasse Münster</span><br />
            </td>
            <td style="width: 25%;">
            <span style="font-size: xx-small;">/agb</span><br />
            <span style="font-size: xx-small;">Gerichtsstand: Münster</span><br />
            </td>
            <td style="width: 25%;">
            <span style="font-size: xx-small;">Geschäftsführer</span><br />
            <span style="font-size: xx-small;">Heinz Bröskamp</span><br />
            </td>
            </tr>

            <tr valign="top">
            <td style="width: 25%;"><span style="font-size: xx-small;">Registergericht: Amtsgericht Münster</span><br /></td>


            <td style="width: 25%;"><span style="font-size: xx-small;">BIC:</span><br /></td>


            <td style="width: 25%;"><span style="font-size: xx-small;"></span><br /></td>


            <td style="width: 25%;"><span style="font-size: xx-small;"></span><br /></td>
            </tr>

            <tr valign="top">
            <td style="width: 25%;"><span style="font-size: xx-small;">Registernummer: HRB 17315</span><br /></td>


            <td style="width: 25%;"><span style="font-size: xx-small;">IBAN:</span><br /></td>


            <td style="width: 25%;"><span style="font-size: xx-small;"></span><br /></td>


            <td style="width: 25%;"><span style="font-size: xx-small;"></span><br /></td>
            </tr>
            </tbody>
            </table>
</div>