{% extends 'templates.html.twig' %}
{% block titleblock %}
grafiker.de Richtlinien
{% endblock %}

{% block content %}
<div class="contentinnert">
<br />
<h5>Richtlinien</h5>
<p>Die Entscheidung, ob wir die Ver&ouml;ffentlichung eines Showcase zulassen, behalten wir uns vor. Generell durchlaufen neue Showcases bzw. aktualisierte Showcases zun&auml;chst unseren internen Freigabeprozess. Entspricht der Inhalt Deines Showcase nicht unseren Richtlinien, lehnen wir die Ver&ouml;ffentlichung ab.&nbsp;</p>



<p>Wenn Ihr Showcases einstellen m&ouml;chtet, beachtet bitte die folgenden Richtlinien:&nbsp;</p>



<ul>
	<li>
	<p><strong>Ihr selber seid f&uuml;r Eure Inhalte verantwortlich.</strong>&nbsp;Nat&uuml;rlich d&uuml;rfen Eure Inhalte nicht gegen gesetzlich Vorgaben versto&szlig;en.&nbsp;</p>
	</li>
	<li>
	<p><strong>Zielgruppen Relevanz.</strong>&nbsp;Euere&nbsp;Inhalte&nbsp;m&uuml;ssen&nbsp;f&uuml;r unsere Zielgruppen&nbsp;(Grafiker, Designer, Entwickler, Druckereien, Fotografen) relevant sein.&nbsp;&nbsp;</p>
	</li>
</ul>

<ul>
	<li>
	<p><strong>Werbeinhalte.</strong>&nbsp;Wenn euer Showcase Werbung beinhaltet, ist dieser entsprechend zu kennzeichnen. Dazu m&uuml;sst Ihr die Option &ldquo;enth&auml;lt Werbung&rdquo; aktiv ankreuzen. In der Showcase Vorschau und auf der Detailseite zeigen wir dann oben &ldquo;Werbung&rdquo; an. Siehe auch unten &ldquo;Was ist Werbeinhalt?&rdquo;.&nbsp;</p>
	</li>
</ul>

<p>&nbsp;</p>

<h5>Was ist Werbeinhalt?&nbsp;</h5>

<p><strong>Keine Werbung sind Showcases Deiner eigenen Arbeiten,</strong> auch wenn diese z.B. die Gestaltung eines Produkts beinhalten.&nbsp;</p>


<p><strong>Immer Werbung ist die Erw&auml;hnung oder Darstellung von Produkten,</strong>&nbsp;Dienstleistungen, Marken, Unternehmen, Regionen, Events, Reisen, Gutscheine, Rabattcodes,&nbsp;Affiliate&nbsp;Links, werbliche Links usw..&nbsp;</p>

<p>Wir unterstellen eine werbliche Absicht wenn Ihr ein Produkt bzw. eine Dienstleistung in einer Art und Weise vorgestellt und anpreist, die beim Betrachter den Eindruck entstehen l&auml;sst, dass der Absatz und Verkauf gef&ouml;rdert werden soll. Das ist z.B. bei einer &uuml;beraus positiven Darstellung oder Aufforderung zum Kauf eines Produkts/Dienstleistung/Marke der Fall oder auch bei der&nbsp; Nennung von Preisen und Bezugsquellen.&nbsp;</p>

<p>&nbsp;</p>

<h5>Urheber und Rechte:</h5>

<p>Du darfst nur Fotos hochladen, deren Rechte Du auch besitzt! Dies ist z.B. der Fall, wenn Du derjenige bist, der dass Foto gemacht hat, oder Dir die Schriftliche Erlaubnis vom Urheber vorliegt! Gescannte Fotos aus Zeitschriften, Kochb&uuml;chern oder Internetseiten sind jedoch urheberrechtlich gesch&uuml;tzt und d&uuml;rfen nicht hochgeladen werden. Solltest Du dennoch urheberrechtlich gesch&uuml;tzte Fotos einstellen oder hochladen, verpflichtest Du Dich automatisch, grafiker.de von allen Rechtsanspr&uuml;chen Dritter freizustellen und f&uuml;r die Kosten der Rechtsverteidigung, die grafiker.de entstehen k&ouml;nnten, aufzukommen!&nbsp;</p>
<br /><br />
</div>
{% endblock %}