{% extends 'templates.html.twig' %}
{#% trans_default_domain 'FOSUserBundle' %#}
{% block content %}
<script data-usercentrics="reCAPTCHA" src='https://www.google.com/recaptcha/api.js?hl=de'></script>
<script>
function enableBtn(){
var check = true;
$('.sendbtn').html('<input class="btn btn-primary pass" type="submit" value="Passwort zurücksetzen" />');
}
</script>
<form action="/resetting/check-email" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">Benutzername oder Mailadresse:</label><br />
        <input type="text" id="username" name="username" required="required" />
    </div><br /><br />
    <div class="g-recaptcha" data-sitekey="6LdYTHUUAAAAAPDm0s0vTmgRNjKZkJSi1FY4zGPE" data-callback="enableBtn"></div>
    
<div class="sendbtn"><input style="background-color:#b3a276;" class="btn btn-primary reg" value="Passwort zurücksetzen" /></div>
<br><br>
    </div>
</form>
<style>
#refresh{
	position:relative;
	left:230px;
	width:27px;
	height:27px;
	bottom:35px;
	background-image: url(/rot.png);
}
</style>
<script>
$(document).ready(function(){
  Captcha();
});

function Captcha(){
     var alpha = new Array('A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z',
	 	'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z', 
 	    	'0','1','2','3','4','5','6','7','8','9');
     var i;
     for (i=0;i<6;i++){
         var a = alpha[Math.floor(Math.random() * alpha.length)];
         var b = alpha[Math.floor(Math.random() * alpha.length)];
         var c = alpha[Math.floor(Math.random() * alpha.length)];
         var d = alpha[Math.floor(Math.random() * alpha.length)];
         var e = alpha[Math.floor(Math.random() * alpha.length)];
         var f = alpha[Math.floor(Math.random() * alpha.length)];
         var g = alpha[Math.floor(Math.random() * alpha.length)];
                      }
         var code = a + ' ' + b + ' ' + ' ' + c + ' ' + d + ' ' + e + ' '+ f + ' ' + g;
         document.getElementById("mainCaptcha").innerHTML = code
		 document.getElementById("mainCaptcha").value = code
       }
function ValidCaptcha(){
     var string1 = removeSpaces(document.getElementById('mainCaptcha').value);
     var string2 =         removeSpaces(document.getElementById('txtInput').value);
     if (string1 == string2){
            //return true;
             $('.capcha').css('display', 'none')
             $('.pass').css('display', 'block')
     }else{        
          return false;
          }
}
function removeSpaces(string){
     return string.split(' ').join('');
}
</script>
{% endblock %}