<!doctype html>
<html lang="de">
    <head>
        <title>{% block titel %}Grafiker.de Designservice{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/externes/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style-service.css">
		<script src="/js/overlib_mini.js"></script>
	<script src="/externes/jquery.min.js"></script> 
    <script src="/externes/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link href="/externes/1.9.1/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="/externes/1.9.1/bootstrap-datepicker.js"></script>
    <script src="/externes/1.9.1/gijgo.min.js" type="text/javascript"></script>
    <link href="/externes/1.9.1/gijgo.min.css" rel="stylesheet" type="text/css" />
    <!-- Sendinblue Conversations {literal} -->
<script>
    (function(d, w, c) {
        w.SibConversationsID = '5be58993bbddbd25c604838c';
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        var s = d.createElement('script');
        s.async = true;
        s.src = 'https://conversations-widget.sendinblue.com/sib-conversations.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'SibConversations');
</script>
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd.mm.yyyy',
                language: 'de',
                weekStart: 1,
                autoclose: true,
                title: 'Ablaufdatum'
            });
            $('.timepicker').timepicker({ header: false, mode: '24hr' });
        });
    </script>
	<script>
	</script>
	<style>
.header {
	background-color: #799a14;
}
.grafikerh1 {
	color: #fff;
	padding-left: 20px;
}
.menu {
	background-color: #212529;
}
.menuul li, .menuul li a {
	color: #aeb1bc;
	list-style-type: none;
}
.menuul li a:hover {
	color: #fff;
	list-style-type: none;
}
.row {
	margin-right: 0px;
    margin-left: 0px;
}
.adminh5 {
	color:#fff;
}
hr {
	border-top: 1px solid #aeb1bc;
	color: #aeb1bc;
}
label.widgetlist, label.widgetlist a {
    background-color: #799a14;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}
body {
    font-family: sans-serif;
}
	</style>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
	<div class="full-container" style="max-width: 2560px;margin: 0 auto;">
	<div class="row">
	<div class="col-sm-11 header">
	<h1 class="grafikerh1">Grafiker.de</h1>
	</div>
	<div class="col-sm-1 header">
	<a style="color:#fff;" href="mailto:mail@grafiker.de">Support</a> | <a style="color:#fff;" href="/service/logout"><i class="icon-key"></i> Log Out</a>
	</div>
	</div>

<div class="row">
	<div class="menu col-sm-3">
	{{ render(controller(
        'App\\Controller\\ServicemenuController::index'
    )) }}
	</div>
	<div class="content col-sm-9">
		{% block content %}{% endblock %}	
	</div>
	<div class="clearfix"></div>
</div>
<script>
function openModal() {
    var productid = "1234567890";
    var productname = "Testartikel";
    var productPriceCurrency = "EUR";
    var productPriceExTax = $("#price_netto").text();
    var productPriceTax = 7;
    var productPriceTaxValue = $("#price_steuer").text();
    var productPriceIncTax = $("#price_brutto").text();
    var productGrafikerKeywords = "";
    var data = $("#CALCFORM").serializeArray();
    data.push({ name: "productName", value: productname });
    data.push({ name: "productID", value: productid });
    data.push({ name: "productPriceCurrency", value: productPriceCurrency });
    data.push({ name: "productPriceExTax", value: productPriceExTax });
    data.push({ name: "productPriceTax", value: productPriceTax });
    data.push({ name: "productPriceTaxValue", value: productPriceTaxValue });
    data.push({ name: "productPriceIncTax", value: productPriceIncTax });
    data.push({ name: "productGrafikerKeywords", value: productGrafikerKeywords });

    $.post("/widget/start", data, function(msg){
        if(msg != "") {
            window.open("/widget/designtenders/62a0a76cebde553ddb171562?cacheid=" + msg, "Designservice", "width=650,height=900,scrollbar=yes");
        }
    });
}

    $.post("/widget/output/62a0a76cebde553ddb171562", function(msg){
        if(msg != "") {
            $('#grafikerwidget62a0a76cebde553ddb171562').html(msg);
        }
    });
</script>
<div id="grafikerwidget62a0a76cebde553ddb171562"></div>
<script>window.cookieconsent_options = {message: 'Cookies erleichtern die Bereitstellung unserer Dienste. Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir Cookies verwenden. ', dismiss: 'Schließen', learnMore: 'Mehr Infos erhalten sie in der Datenschutzerklärung.', link: '/datenschutz', theme: 'light-bottom'}</script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- Monitoring Code: QJ0AyOr8P3 -->
	</body>
</html>