{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% block content %}
<div class="contentinnert">
<a href="/admin/grafiker">Admin-Startseite</a>
<div style="text-align:center;">
<h1>Alles erledigt!!!</h1>
<h1>Alles erledigt!!!</h1>
<h1>Alles erledigt!!!</h1>
<h1>Alles erledigt!!!</h1>
<h1>Alles erledigt!!!</h1>
<h1>Alles erledigt!!!</h1>
</div>
</div>
{% endblock %}
