{% extends 'templates.html.twig' %}
{% set footeroff = 2 %}
{% set pincount = counter %}
{% block content %}
<script>
{% set newmember = 1 %}
{% set druckercount = 1 %}
{% set grafikercount = 1 %}
{% set fotografcount = 1 %}
{% set entwicklercount = 1 %}
{% set textercount = 1 %}
{% set illustratorcount = 1 %}
{% set sonstigescount = 1 %}
{% set druckereianzahl = druckerei|length %}
{% set grafikeranzahl = grafiker|length %}
{% set fotografanzahl = fotograf|length %}
{% set entwickleranzahl = entwickler|length %}
{% set texteranzahl = texter|length %}
{% set illustratoranzahl = illustrator|length %}
{% set sonstigesanzahl = sonstiges|length %}
        var deaktiv_array = {'Alle' : 'Alle', 'druckerei' : 'Druckerei', 'grafiker' : 'Grafiker|in', 'fotograf' : 'Fotograf|in', 'entwickler' : 'Entwickler|in', 'texter' : 'Texter|in', 'illustrator' : 'Illustrator|in', 'sonstiges' : 'Sonstiges' };
        var druckerei_array = { 'Alle' : 'Alle',
            {% for druckerei in druckerei %}'{{ druckerei|replace({' ': "_", '.': "_"})|raw }}' : '{{ druckerei|raw }}'{% if druckercount < druckereianzahl %},{% endif %}
            {% set druckercount = druckercount + 1 %}{% endfor %}
        };
        var grafiker_array = { 'Alle' : 'Alle',
            {% for grafiker in grafiker %}'{{ grafiker|replace({' ': "_", '.': "_"})|raw }}' : '{{ grafiker|raw }}'{% if grafikercount < grafikeranzahl %},{% endif %}
            {% set grafikercount = grafikercount + 1 %}{% endfor %}
        };
        var fotograf_array = { 'Alle' : 'Alle',
            {% for fotograf in fotograf %}'{{ fotograf|replace({' ': "_", '.': "_"})|raw }}' : '{{ fotograf|raw }}'{% if fotografcount < fotografanzahl %},{% endif %}
            {% set fotografcount = fotografcount + 1 %}{% endfor %}
        };
        var entwickler_array = { 'Alle' : 'Alle',
            {% for entwickler in entwickler %}'{{ entwickler|replace({' ': "_", '.': "_"})|raw }}' : '{{ entwickler|raw }}'{% if entwicklercount < entwickleranzahl %},{% endif %}
            {% set entwicklercount = entwicklercount + 1 %}{% endfor %}
        };
        var texter_array = { 'Alle' : 'Alle',
            {% for texter in texter %}'{{ texter|replace({' ': "_", '.': "_"})|raw }}' : '{{ texter|raw }}'{% if textercount < texteranzahl %},{% endif %}
            {% set textercount = textercount + 1 %}{% endfor %}
        };
        var illustrator_array = { 'Alle' : 'Alle',
            {% for illustrator in illustrator %}'{{ illustrator|replace({' ': "_", '.': "_"})|raw }}' : '{{ illustrator|raw }}'{% if illustratorcount < illustratoranzahl %},{% endif %}
            {% set illustratorcount = illustratorcount + 1 %}{% endfor %}
        };
        var sonstiges_array = { 'Alle' : 'Alle',
            {% for sonstiges in sonstiges %}'{{ sonstiges|replace({' ': "_", '.': "_"})|raw }}' : '{{ sonstiges|raw }}'{% if sonstigescount < sonstigesanzahl %},{% endif %}
            {% set sonstigescount = sonstigescount + 1 %}{% endfor %}
        };
        function changeFunc() {
            $('#searchinguser').val('')
        var selectBox = document.getElementById("example");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;

        if(selectedValue == "druckerei") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in druckerei_array) {
                select.options[select.options.length] = new Option(druckerei_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Druckerei';
        } else if(selectedValue == "grafiker") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in grafiker_array) {
                select.options[select.options.length] = new Option(grafiker_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Grafiker';
        } else if(selectedValue == "fotograf") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in fotograf_array) {
                select.options[select.options.length] = new Option(fotograf_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Fotograf';
        } else if(selectedValue == "entwickler") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in entwickler_array) {
                select.options[select.options.length] = new Option(entwickler_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Programmierer';
        } else if(selectedValue == "texter") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in texter_array) {
                select.options[select.options.length] = new Option(texter_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Texter';
        } else if(selectedValue == "illustrator") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in illustrator_array) {
                select.options[select.options.length] = new Option(illustrator_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Illustrator';
        } else if(selectedValue == "sonstiges") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in sonstiges_array) {
                select.options[select.options.length] = new Option(sonstiges_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Sonstiges';
        } else if(selectedValue == "alle") {
        document.indexform.action = '/membersearch/alle/Alle';
        }
        }

        function change2Func() {
        var selectBox = document.getElementById("example-select");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        document.indexform.action = '/membersearch/spezieals/' + selectedValue;
        }
        function allFunc() {
var select = document.getElementById("example");
var selectBox = document.getElementById("example-select");
//alert($('#searchinguser').val());
selectBox.options.length = 0;
for(index in druckerei_array) {
selectBox.options[selectBox.options.length] = new Option(druckerei_array[index], index);
}
select.options.length = 0;
for(index in deaktiv_array) {
select.options[select.options.length] = new Option(deaktiv_array[index], index);
document.indexform.action = '/membersearch/alle/Alle';
}
}
function all2Func() {
    if($('#searchinguser').val() != '') {
document.indexform.action = '/membersearch/alle/' + $('#searchinguser').val();
    }
}
</script>
    <div class="searchandmenu float-left">
                <div class="search">
                <h5>Profilsuche <label class="numbers">({{usernumbers}} Mitglieder gesamt)</label></h5>
                    <form name="indexform" action="/membersearch/skills/Druckerei" method="post">
                        <label class="searchoverlabel">Finde</label><select class="typsearching" id="example" onchange="changeFunc();"><option class="typsearching" value="druckerei">Druckerei</option><option class="typsearching" value="grafiker">Grafiker|in</option><option class="typsearching" value="fotograf">Fotograf|in</option><option class="typsearching" value="entwickler">Entwickler|in</option><option class="typsearching" value="texter">Texter|in</option><option class="typsearching" value="illustrator">Illustrator|in</option><option class="typsearching" value="sonstiges">Sonstiges</option><option class="typsearching" value="alle">Alle</option></select>
                        <br />
                        <label class="searchoverlabel">für</label>
                        <select class="grsearching" id="example-select" onchange="change2Func();">
                        <option value="Alle">Alle</option>
                        {% for druckerei in druckerei %}<option value="{{ druckerei|replace({' ': "_", '.': "_"})|raw }}">{{ druckerei|raw }}</option>{% endfor %}
                        </select>
                        <br />
                        <label class="searchoverlabel">Suchwort</label><input type="text" id="searchinguser" name="searchinguser" placeholder="suchen..." onclick="allFunc();"><br />
                        <button onclick="all2Func();"  type="submit" id="form_search" name="form_search" class="bdnmini btn btn-primary pull-right">finden...</button>
                    </form>
    </div>
            </div>
            <div class="jobhauptdiv float-left">
                <div class="botton_jobindex">
                
                </div>
            <div class="jobindex">
                <div class="loadingdiv">
<h5>Jobangebot einstellen</h5>
<form action="/job" method="post" id="jobform">
{{ form_widget(forms) }}
</form>

<script>
function openModal62f3b2ff5165614670097df2() {
    var productid = "grafiker";
    var productname = "grafiker";
    var productPriceCurrency = "0.00";
    var productPriceExTax = "0.00";
    var productPriceTax = "0.00";
    var productPriceTaxValue = "0.00";
    var productPriceIncTax ="0.00";
    var productGrafikerKeywords = "";
    var data = $("#jobform").serializeArray();
    data.push({ name: "productName", value: productname });
    data.push({ name: "productID", value: productid });
    data.push({ name: "productPriceCurrency", value: productPriceCurrency });
    data.push({ name: "productPriceExTax", value: productPriceExTax });
    data.push({ name: "productPriceTax", value: productPriceTax });
    data.push({ name: "productPriceTaxValue", value: productPriceTaxValue });
    data.push({ name: "productPriceIncTax", value: productPriceIncTax });
    data.push({ name: "productGrafikerKeywords", value: productGrafikerKeywords });

    $.post("https://www.grafiker.de/widget/start", data, function(msg){
        if(msg != "") {
            window.open("https://www.grafiker.de/widget/designtenders/62f3b2ff5165614670097df2?cacheid=" + msg, "Designservice", "width=650,height=900,scrollbar=yes");
        }
    });
}
</script>
<button onclick="openModal62f3b2ff5165614670097df2()" type="submit" id="form_send" name="form[send]" class="bdnmini btn btn-primary pull-right">weiter...</button>
                </div>
            </div>
            </div>
            <div class="projektrechnerhauptdiv float-left">
                <div class="botton_projektrechnerindex">
                
            </div>
            <div class="projektrechnerindex">
            <div class="loadingdiv">
            <h5>Projektrechner</h5>
<form action="/projektkalkulator" method="post">
{{ form_widget(form) }}
</form>
<a target="_blank" href="https://demoshop.grafiker.de/article/show/profi-projektrechner"><div><button type="submit" id="form_send" name="form[send]" class="bdnmini2 btn btn-primary pull-right">Profi-Projektrechner</button></div></a>
            </div>
            </div>
        </div>
    <div class="clearfix"></div> 
    <style>
.last5userall {
    position: relative;
    height: 330px;
    width: 192px;
    border: 1px solid #e5e5e5;
    margin: 10px 17px 10px 10px;
    padding: 5px;
    /*box-shadow: 1px 1px 5px grey;*/
    transition: all ease 0.6s;
    background-color: #eaf1d5;
}
.last5partnerall {
    position: relative;
    height: 330px;
    width: 192px;
    border: 1px solid #e5e5e5;
    margin: 10px 17px 10px 10px;
    padding: 5px;
    /*box-shadow: 1px 1px 5px grey;*/
    transition: all ease 0.6s;
    background-color: #fff;
}
.last5partnerall:hover {
    transform: scale(1.04) rotate(0deg);
}
.last5userall:hover {
    transform: scale(1.04) rotate(0deg);
}
.last5user {
    width: 180px;
    height: 180px;
    color: #799a14;
    font-weight: 400;
    overflow: hidden !important;
}
.last5partner {
    width: 180px;
    height: 180px;
    color: #799a14;
    font-weight: 400;
    overflow: hidden !important;
}
.last5url {
    color: #799a14;
    font-weight: 400;
    overflow: hidden !important;
}
.caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 10px;
  text-shadow: none;
  color: #000;
  background: #000;
  background: rgba(255,255,255, 1);
  left: 0;
  right: 0;
  padding: 10px 0px;
  margin: 0;
  max-width: none;
  }
  .callbacks_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  bottom: 0%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 30px;
  width: 38px;
  background: transparent url("/grafiker/images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }
  .callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}
.partnerdiv {
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
}
.werbungdiv {
    bottom: 0px;
    z-index: 1;
    position: absolute;
    text-align: center;
    width: 180px;
    font-size: 12px;
    font-weight: 600;
}
    </style>

        <div class="pinsmenu">
                <form action="/filter/Search/all" method="Post">
                    
{% if (filter is defined) %}{% set newfilters = filter|split('-') %}{% else %}{% set newfilters = [''] %}{% endif %}
<!--<label class="pinsmenulabel">{% if ((username is defined) and (username != 'ALL') and (newfilters[0] != 'Search') and (newfilters[0] != 'all')) %}<a class="allfilterslink" href="/profile/pinverwaltung/all">Alle</a>{% else %}{% if (newfilters[0] != 'Search') %}<a class="allfilterslink" href="">Alle</a>{% endif %}{% endif %}-->
<!--<span class="tooltiptexter">Showcases gesamt: {{ pinsnumbers }} </span></label>-->
{% set katanz = 0 %}
<style>
.pinsmenulabel .tooltiptext {
    visibility: hidden;
    margin-left: -2%;
    margin-top: -55px;
    position: absolute;
    background-color: #799a14;
    color: #fff;
    padding: 5px 5px;
    border-radius: .25rem;
    }
.pinsmenulabel:hover .tooltiptext {
  visibility: visible;
}
.pinsmenulabel .tooltiptexter {
    visibility: hidden;
    margin-left: -4%;
    margin-top: -36px;
    position: absolute;
    background-color: #799a14;
    color: #fff;
    padding: 5px 5px;
    border-radius: .25rem;
    }
.pinsmenulabel:hover .tooltiptexter {
  visibility: visible;
}
#backgroundnew {
background-color:#799a14;
color:#fff;
border-radius: .25rem;
}
#backgroundoldaktiv {
color: #007bff;
padding: 5px 4px;
}
#backgroundoldinaktiv {
color: #818285;
}
#backgroundoldaktiv a:hover {
background-color:#007bff;
color: #fff;
border-radius: .25rem;
padding: 5px 4px;
}
.allfilterslink:hover {
background-color:#007bff;
color: #fff;
border-radius: .25rem;
padding: 5px 4px;
}
.allfilterslink {
padding: 5px 4px;
}
.allfilters:hover {
background-color:#007bff;
color: #fff;
border-radius: .25rem;
text-decoration: underline;
}
.allfilters {
color:#1691ff;
}
.pinsmenuover {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
}
.pinsmenulabel:hover {
    border: 1px solid #fff;
}
</style>



{% set articlekatanz = 0 %}
<style>
.articlemenulabel .tooltiptext {
    visibility: hidden;
    margin-left: -2%;
    margin-top: -55px;
    position: absolute;
    background-color: #799a14;
    color: #fff;
    padding: 5px 5px;
    border-radius: .25rem;
    }
.articlemenulabel:hover .tooltiptext {
  visibility: visible;
}
.articlemenulabel .tooltiptexter {
    visibility: hidden;
    margin-left: -4%;
    margin-top: -36px;
    position: absolute;
    background-color: #799a14;
    color: #fff;
    padding: 5px 5px;
    border-radius: .25rem;
    }
.articlemenulabel:hover .tooltiptexter {
  visibility: visible;
}
#backgroundnew {
background-color:#799a14;
color:#fff;
border-radius: .25rem;
}
#backgroundoldaktiv {
color: #007bff;
padding: 5px 4px;
}
#backgroundoldinaktiv {
color: #818285;
}
#backgroundoldaktiv a:hover {
background-color:#007bff;
color: #fff;
border-radius: .25rem;
padding: 5px 4px;
}
.allfilterslink:hover {
background-color:#007bff;
color: #fff;
border-radius: .25rem;
padding: 5px 4px;
}
.allfilterslink {
padding: 5px 4px;
}
.allfilters:hover {
background-color:#007bff;
color: #fff;
border-radius: .25rem;
text-decoration: underline;
}
.allfilters {
color:#1691ff;
}
.articlemenuover {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
}
.articlemenulabel:hover {
    border: 1px solid #fff;
}
.article:hover {
    transform: scale(1.04) rotate(0deg);
}
</style>
{% if (filter is defined) %}{% set newfilters = filter|split('-') %}{% else %}{% set newfilters = [''] %}{% endif %}
{#% for kats in articlekats %} 
{% if newfilters[0] == kats.getArticlekatname() %}
{% set style = 'id=backgroundnew' %}
{% else %}
{% if articlecounterdata[kats.getArticlekatname()] == true %}
{% set style = 'id=backgroundoldaktiv' %}
{% else %}
{% set style = 'id=backgroundoldinaktiv' %}
{% endif %}
{% endif %}
{% set articlekatanz = articlekatanz+1 %}
{% if articlekatanz < 9 %}
{% if articlecounterdata[kats.getArticlekatname()] == true %}
{% if (username is defined) and (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="articlemenulabel"><a {{ style }}  href="/filter/{{ kats.getArticlekatname() }}-{{username}}/all">{{ kats.getArticlekatname() }}</a>
<span class="tooltiptext">{{ kats.getArticlekatname() }} gesamt: {{ articlecounterkats[kats.getArticlekatname()] }} </span></label>-->
{% else %}
{% if (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="articlemenulabel"><a {{ style }}  href="/filter/{{ kats.getArticlekatname() }}-ALL/all">{{ kats.getArticlekatname() }}</a>
<span class="tooltiptext">{{ kats.getArticlekatname() }} gesamt: {{ articlecounterkats[kats.getArticlekatname()] }} </span></label>-->
{% endif %}
{% endif %}
{% else %}
{% if (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="articlemenulabel">{{ kats.getArticlekatname() }}</label>-->
{% endif %}
{% endif %}
{% else %}
{% if articlecounterdata[kats.getArticlekatname()] == true %}
{% if (username is defined) and (newfilters[0] != 'Search') %}
<label {{ style }} class="articlemenulabel" style="display:none;"><a {{ style }}  href="/filter/{{ kats.getArticlekatname() }}-{{username}}/all">{{ kats.getArticlekatname() }}</a></label>-->
{% else %}
{% if (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="articlemenulabel" style="display:none;"><a {{ style }}  href="/filter/{{ kats.getArticlekatname() }}-ALL/all">{{ kats.getArticlekatname() }}</a></label>-->
{% endif %}
{% endif %}
{% else %}
{% if (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="articlemenulabel" style="display:none;">{{ kats.getArticlekatname() }}</label>-->
{% endif %}
{% endif %}
{% endif %}
{% endfor %#}
{% if (newfilters[0] != 'Search') %}
<!--<label class="articlemenulabel allfilters" onclick="loadNextFilter('all');" style="cursor: pointer;">mehr Filter</label>-->{% endif %}
            </div>
    {% if (newfilters[0] != 'all' and newfilters[0] != '' and newfilters[0] != 'Search') %}
        <!--<div class="articlemenu articlemenuover">
        <h5>{{ newfilters[0] }} gesamt: {{ gutscheinecounterkats[newfilters[0]] }}</h5>
        </div>-->
    {% else %}
        {% if searchfindcount is defined %}
            <!--<div class="articlemenu articlemenuover">
            <h5>Ergebniss für {{ newfilters[1] }} gesamt: {{ searchfindcount }}</h5>
            </div>-->
            {% else %}
        <div class="gutscheinemenu gutscheinemenuover">
<label class="icon">
<i class="fa fa-search"></i><input type="search" name="fulltext" class="search" placeholder="Volltextsuche..." /><input type="submit" style="display:none"/></label>
</form>
<br />
<label class="pinsmenulabelpic">Gutscheine ({{ gutscheinenumbers }})</label> <label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;">{% if is_granted('ROLE_PLATIN') or is_granted('ROLE_ADMIN') %} | </label><a href="/profile/gutscheine/start"><label class="registerlabel">erstellen</label></a>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;"> | </label><a href="/profile/gutscheineverwaltung/all"><label class="registerlabel">meine</label></a>{% endif %}{% else %} | </label><a href="/hierwerben"><label class="registerlabel">Gutschein veröffentlichen</label></a>{% endif %}

        </div>
        {% endif %}
    {% endif %}
{% set anzGutscheine = 0 %}
{#% block newfooternogutscheine %#}
{% for gutscheine in gutscheineoutput %}
{% set anzGutscheine = anzGutscheine + 1 %}
{% set setcounter = ( setcounter | default(0) ) + 1 %}


{% if gutscheine.getGutscheineviews() == null %}
{% set gutscheineviews = 0 %}
{% else %}
{% set gutscheineviews = gutscheine.getGutscheineviews() %}
{% endif %}
{% set difference = date().diff(date(gutscheine.getStartdate())) %}
{% set leftDays = difference.days %}
    {% if leftDays == 0 %}
        {% set variDays = 'heute' %}
    {% elseif leftDays == 1 %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tag' %}
    {% else %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tagen' %}
    {% endif %}

<div class="gutscheine float-left" style="margin: 0px 0px 0px 0px;">
    	<a href="/gutscheineview/{{ gutscheine.gutscheinelink() }}">
            <div class="gutscheineautordiv">
            {% if gutscheine.isads == true %}
            <div class="werbungviewsdiv">
                    Werbung
            </div>
            {% endif %}
			    <div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				    <div class="gutscheineviewsdiv" style="right: 0px;top: 0px;">
                        <div class="gutscheineviewsdiv">
                                      {{ gutscheineviews }} <i class="fa fa-eye"></i>
                                </div> 
                {% if gutscheine.getThumbnail() == "" %}
                    <img src="/images/no-image-placeholder-article.png" class="articleautor" alt="Beitragautor">
                {% else %}
                    <img src="/upload/uploads/gutscheinepics/{{gutscheine.getThumbnail()}}" class="gutscheineautor" alt="Beitragautor">
                {% endif %}
            </div>
        </a>
                                {% if gutscheine.bewerten == true %}
                                <div class="articleratingdiv rating_{{ gutscheine.id }}" id="rateYo_{{ gutscheine.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
</div>



    <div class="gutscheinedata float-right" style="margin-top: 10px; width: 300px; margin-right: 15px;">	
    <div class="gutscheinetitle">
                    {{ gutscheine.getTitle()|length > 50 ? gutscheine.getTitle()|slice(0, 50) ~ '...' : gutscheine.getTitle()  }}
    </div>
    <div class="gutscheineautornamediv">
      <label class="gutscheineautorortlabel">von {{gutscheine.getUsername()}}</label> | <label class="articleautorname">{{ variDays }}</label>
      <label class="gutscheinecontent">{{ gutscheine.getContent()|raw | striptags|length > 100 ? gutscheine.getContent() | striptags|slice(0, 100)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : gutscheine.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <a href="/gutscheineview/{{ gutscheine.gutscheinelink() }}"><label class="gutscheinemore">Infos & Einlösen<label></a>
	</div>
	</div>
</div>
</div>
{% if gutscheine.rating != '' %}
    {% set gutscheinerating = gutscheine.rating %}
{% else %}
    {% set gutscheinerating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ gutscheine.id }}").rateYo({
 
    rating    : {{ gutscheinerating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% endfor %}
<style>
.btnblankweiter {
	color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
.btnblankweiter:hover {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
</style>
{% if anzGutscheine is divisible by(3) and anzGutscheine != 0 %}

{% if filter is defined %}
<div class="loaders" id="loaders9">
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextGutscheine('{{ filter }}');">Weitere laden...</div></div>
<br />
{% else %}
<div class="loaders" id="loaders9">
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextGutscheine('all');">Weitere laden...</div></div>
<br />
{% endif %}
{% endif %}


<div class="clearfix"></div>


{% if (newfilters[0] != 'Search') %}
<!--<label class="articlemenulabel allfilters" onclick="loadNextFilter('all');" style="cursor: pointer;">mehr Filter</label>-->{% endif %}

    {% if (newfilters[0] != 'all' and newfilters[0] != '' and newfilters[0] != 'Search') %}
        <!--<div class="articlemenu articlemenuover">
        <h5>{{ newfilters[0] }} gesamt: {{ articlecounterkats[newfilters[0]] }}</h5>
        </div>-->
    {% else %}
        {% if searchfindcount is defined %}
            <!--<div class="articlemenu articlemenuover">
            <h5>Ergebniss für {{ newfilters[1] }} gesamt: {{ searchfindcount }}</h5>
            </div>-->
            {% else %}
        <div class="articlemenu articlemenuover">
<label class="pinsmenulabelpic">Beiträge ({{ articlenumbers }})</label> <label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;">{% if is_granted('ROLE_PLATIN') or is_granted('ROLE_ADMIN') %} | </label><a href="/profile/article/start"><label class="registerlabel">erstellen</label></a>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;"> | </label><a href="/profile/articleverwaltung/all"><label class="registerlabel">meine</label></a>{% endif %}{% else %} | </label><a href="/hierwerben"><label class="registerlabel">eigenen Beitrag veröffentlichen</label></a>{% endif %}
        </div>
        {% endif %}
    {% endif %}
{% set anzArticle = 0 %}
{#% block newfooternoarticle %#}
{% for article in articleoutput %}
{% set anzArticle = anzArticle + 1 %}
{% set setcounter = ( setcounter | default(0) ) + 1 %}


{% if article.getArticleviews() == null %}
{% set articleviews = 0 %}
{% else %}
{% set articleviews = article.getArticleviews() %}
{% endif %}
{% set difference = date().diff(date(article.getStartdate())) %}
{% set leftDays = difference.days %}
    {% if leftDays == 0 %}
        {% set variDays = 'heute' %}
    {% elseif leftDays == 1 %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tag' %}
    {% else %}
        {% set variDays = 'vor ' ~ leftDays ~ ' Tagen' %}
    {% endif %}

<div class="article float-left" style="margin: 0px 0px 0px 0px;">
    	<a href="/articleview/{{ article.articlelink() }}">
            <div class="articleautordiv">
            {% if article.isads == true %}
            <div class="werbungviewsdiv">
                    Werbung
            </div>
            {% endif %}
			    <div style="border:0px #e5e5e5 solid; float:right; position:relative; width:333px; height:345px;">
				    <div class="articleviewsdiv" style="right: 0px;top: 0px;">
                        <div class="articleviewsdiv">
                                      {{ articleviews }} <i class="fa fa-eye"></i>
                                </div> 
                {% if article.getThumbnail() == "" %}
                    <img src="/images/no-image-placeholder-article.png" class="articleautor" alt="Beitragautor">
                {% else %}
                    <img src="/upload/uploads/articlepics/{{article.getThumbnail()}}" class="articleautor" alt="Beitragautor">
                {% endif %}
            </div>
        </a>
                                {% if article.bewerten == true %}
                                <div class="articleratingdiv rating_{{ article.id }}" id="rateYo_{{ article.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
</div>



    <div class="articledata float-right" style="margin-top: 10px; width: 300px; margin-right: 15px;">	
    <div class="articletitle">
                    {{ article.getTitle()|length > 20 ? article.getTitle()|slice(0, 20) ~ '...' : article.getTitle()  }}
    </div>
    <div class="articleautornamediv">
      <label class="articleautorortlabel">von {{article.getUsername()}}</label> | <label class="articleautorname">{{ variDays }}</label>
      <label class="articlecontent">{{ article.getContent()|raw | striptags|length > 250 ? article.getContent() | striptags|slice(0, 250)|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) ~ '...' : article.getContent() | striptags|replace({'&quot;': '"', '&nbsp;': ' ', '&auml;': 'ä', '&ouml;': 'ö', '&uuml;': 'ü', '&Auml;': 'Ä', '&Ouml;': 'Ö', '&Uuml;': 'Ü', '&szlig;': 'ß', '&bdquo;': '„', '&rdquo;': '”'}) }}</label>
      <a href="/articleview/{{ article.articlelink() }}"><label class="articlemore">Weiterlesen<label></a>
	</div>
	</div>
</div>
</div>
{% if article.rating != '' %}
    {% set articlerating = article.rating %}
{% else %}
    {% set articlerating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ article.id }}").rateYo({
 
    rating    : {{ articlerating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% endfor %}
<style>
.btnblankweiter {
	color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
.btnblankweiter:hover {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
</style>
{% if anzArticle is divisible by(6) and anzArticle != 0 %}

{% if filter is defined %}
<div class="loaders" id="loaders9">
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextArticle('{{ filter }}');">Weitere laden...</div></div>
<br />
{% else %}
<div class="loaders" id="loaders9">
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextArticle('all');">Weitere laden...</div></div>
<br />
{% endif %}
{% endif %}


<div class="clearfix"></div>

<style>
.lastjobs {
    position: relative;
    height: 330px;
    width: 192px;
    border: 1px solid #e5e5e5;
    margin: 10px 17px 10px 10px;
    padding: 5px;
    /* box-shadow: 1px 1px 5px grey; */
    transition: all ease 0.6s;
    background-color: #eaf1d5;
    overflow: hidden;
}
.lastjob {
    width: 180px;
    height: 180px;
    color: #799a14;
    font-weight: 400;
    overflow: hidden !important;
    text-align: center;
}
.lastjob img {
    max-width: 100%;
    max-height: 180px;
    height: auto;
}
</style>
<label class="pinsmenulabelpic">Aktive Jobangebot ({{ jobcounter }})</label><label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;"> | </label><a href="javascript:void(0);" data-href="/job" class="openPopupSmall"><label class="registerlabel">erstellen</label></a><label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;"> | </label><a href="/jobliste"><label class="registerlabel">alle</label></a>
<br />
{% for job in jobdata %}
{% set difference = date().diff(date(job.getStartdate())) %}
{% set leftDays = difference.days %}
<div class="lastjobs float-left"> 
<div class="lastjob float-left"> 
<a href="/jobview/{{ job.getJobLink() }}">
{% if logofirma[job.getUsername()] is defined %}
{% if logoexist[job.getUsername()] == true %}
{% if logofirma[job.getUsername()] == true %}   
<img src="/upload/uploads/firma/{{ logolink[job.getUsername()] }}?{{ date().timestamp }}" /> <br />
{% else %}
<img src="/upload/uploads/userpics/{{ logolink[job.getUsername()] }}?{{ date().timestamp }}" /> <br />
{% endif %}
{% endif %}
{% else %}
<img src="/images/no-image-placeholder.png" class="nofirmapic" alt="Member Pic"> <br />
{% endif %}
</a>
</div>
<div class="last5userdata"> 
{% if job.getFirma() != "" %}
von: <a href="/firmajobs/{{ job.getFirma() }}">{{ job.getFirma() }}</a><br />
{% else %}
von: <a href="/member/{{ job.getUsername() }}">{{ job.getUsername() }}</a><br />
{% endif %}
{% if leftDays == 0 %}
<strong>heute</strong>
{% elseif leftDays == 1 %}
<strong>gestern</strong>
{% else %}
<strong>vor {{ leftDays }} Tagen</strong>
{% endif %}<br />
{% if job.getJobSuche() == 'suche' %} 
<strong>Suche für</strong> <a href="/jobliste/{{ job.getJobTyp() }}/{{ job.getJobSuche() }}">{{ job.getJobTyp()|replace({'_': ' '}) }}</a><br/>
{% elseif job.getJobSuche() == 'biete' %}
<strong>Biete für</strong>  <a href="/jobliste/{{ job.getJobTyp() }}/{{ job.getJobSuche() }}">{{ job.getJobTyp()|replace({'_': ' '}) }}</a><br/>
{% else %}{% endif %}
Ort: {{ job.getJobort() }}<br />
{{ job.getFor()|replace({'_': ' '}) }}<br />

</div>
</div>
{% endfor %}
<div class="clearfix"></div>
{#% for kats in pinkats %} 
{% if newfilters[0] == kats.getPinkatname() %}
{% set style = 'id=backgroundnew' %}
{% else %}
{% if pincounterdata[kats.getPinkatname()] == true %}
{% set style = 'id=backgroundoldaktiv' %}
{% else %}
{% set style = 'id=backgroundoldinaktiv' %}
{% endif %}
{% endif %}
{% set katanz = katanz+1 %}
{% if katanz < 10 %}
{% if pincounterdata[kats.getPinkatname()] == true %}
{% if (username is defined) and (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="pinsmenulabel"><a {{ style }}  href="/filter/{{ kats.getPinkatname() }}-{{username}}/all">{{ kats.getPinkatname() }}</a>
<span class="tooltiptext">{{ kats.getPinkatname() }} gesamt: {{ pincounterkats[kats.getPinkatname()] }} </span></label>-->
{% else %}
{% if (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="pinsmenulabel"><a {{ style }}  href="/filter/{{ kats.getPinkatname() }}-ALL/all">{{ kats.getPinkatname() }}</a>
<span class="tooltiptext">{{ kats.getPinkatname() }} gesamt: {{ pincounterkats[kats.getPinkatname()] }} </span></label>-->
{% endif %}
{% endif %}
{% else %}
{% if (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="pinsmenulabel">{{ kats.getPinkatname() }}</label>-->
{% endif %}
{% endif %}
{% else %}
{% if pincounterdata[kats.getPinkatname()] == true %}
{% if (username is defined) and (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="pinsmenulabel" style="display:none;"><a {{ style }}  href="/filter/{{ kats.getPinkatname() }}-{{username}}/all">{{ kats.getPinkatname() }}</a></label>-->
{% else %}
{% if (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="pinsmenulabel" style="display:none;"><a {{ style }}  href="/filter/{{ kats.getPinkatname() }}-ALL/all">{{ kats.getPinkatname() }}</a></label>-->
{% endif %}
{% endif %}
{% else %}
{% if (newfilters[0] != 'Search') %}
<!--<label {{ style }} class="pinsmenulabel" style="display:none;">{{ kats.getPinkatname() }}</label>-->
{% endif %}
{% endif %}
{% endif %}
{% endfor %#}
{% if (newfilters[0] != 'Search') %}
<!--<label class="pinsmenulabel allfilters" onclick="loadNextFilter('all');" style="cursor: pointer;">mehr Filter</label>-->{% endif %}<!--<label class="icon float-left;"><i class="fa fa-search"></i><input type="search" name="fulltext" class="search" placeholder="Volltextsuche..." /><input type="submit" style="display:none"/></label>-->
                </form>

    {% if (newfilters[0] != 'all' and newfilters[0] != '' and newfilters[0] != 'Search') %}
        <div class="pinsmenu pinsmenuover">
        <h5>{{ newfilters[0] }} gesamt: {{ pincounterkats[newfilters[0]] }}</h5>
        </div>
    {% else %}
        {% if searchfindcount is defined %}
            <div class="pinsmenu pinsmenuover">
            <h5>Ergebniss für {{ newfilters[1] }} gesamt: {{ searchfindcount }}</h5>
            </div>
            {% else %}
<br />
<br />
        <div class="articlemenu articlemenuover">
        <label class="pinsmenulabelpic">Showcases ({{ pinsnumbers }})</label> <label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;"> | </label><a href="/profile/pins/start"><label class="registerlabel">erstellen</label></a>{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}<label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;"> | </label><a href="/profile/pinverwaltung/all"><label class="registerlabel">meine</label></a>{% endif %}<br />
        </div>
        {% endif %}
    {% endif %}

{% set anzPin = 0 %}
{% for pin in pindata %}
{% set anzPin = anzPin + 1 %}
{% set setcounter = ( setcounter | default(0) ) + 1 %}
{% if userexist[pin.getUsername()] is defined %}

{% if pin.getPinviews() == null %}
{% set pinviews = 0 %}
{% else %}
{% set pinviews = pin.getPinviews() %}
{% endif %}
{% set difference = date().diff(date(pin.getStartdate())) %}
{% set leftDays = difference.days %}
<div class="pin number{{ pin.id }} float-left">
                        <a href="/pinview/{{ pin.pinlink() }}"><div class="pinautordiv">
                        {% if pin.isads == true %}
                                <div class="werbungviewsdiv">
                                        Werbung
                                </div>
                                {% endif %}
                                <div class="viewsdiv">
                                        {{ pinviews }} <i class="fa fa-eye"></i>
                                </div>
                                {% if pin.bewerten == true %}
                                <div class="ratingdiv rating_{{ pin.id }}" id="rateYo_{{ pin.id }}">
                                        <!--<img src="/grafiker/images/rating.png" class="rating" alt="Rating">-->
                                </div>
                                {% endif %}
                                {% if pin.getThumbnail() == "" %}
                                <img src="/images/no-image-placeholder.png" class="pinautor" alt="Pinautor">
                                {% else %}
                                <img src="/upload/uploads/pinpics/{{pin.getThumbnail()}}" class="pinautor" alt="Pinautor">
                                {% endif %}
                        </div></a>
                        <div class="pintitle">
                          <a href="/pinview/{{ pin.pinlink() }}">{{ pin.getTitle()|length > 50 ? pin.getTitle()|slice(0, 50) ~ '...' : pin.getTitle()  }}</a>
                        </div>
                        <div class="pinautorminidiv float-left">
                        {% set newTime = pinlastLogin[pin.getUsername()]|date('U', "Europe/Berlin") + 40 %}
                            {% if newTime > date()|date('U', "Europe/Berlin") %}
                                {% if useremploy[pin.getUsername()] == false %}
                                 <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/online.png" title="Online" alt="onlinePic" />
                                {% else %}
                                <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/employed.png" title="Beschäftigt" alt="onlinePic" />
                                {% endif %}
                            {% else %}
                                <img style="z-index:99;height: 6px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
                            {% endif %}
                            {% if fileexistarray[pin.getUsername()] and fileexistarray[pin.getUsername()] != "del" %}
                                <a href="/member/{{ pin.getUsername() }}"><img src="/upload/uploads/userpics/{{ fileexistarray[pin.getUsername()] }}" class="autorpinpic rounded-circle" alt="Autor Pin Pic"></a>
                            {% else %}
                                <a href="/member/{{ pin.getUsername() }}"><img src="/images/no_boy.jpg" class="autorpinpic rounded-circle" alt="Autor Pin Pic"></a>
                            {% endif %}
                        </div>
                        <div class="pinautornamediv float-left">
                            <label class="autornamelabel">vor {{ leftDays }}d</label>
                            <label class="autorortlabel">von <a class="autorortlabel" href="/member/{{ pin.getUsername() }}">{{pin.username}}</a></label>
                        </div>
                  </div>

{% if pin.rating != '' %}
    {% set pinrating = pin.rating %}
{% else %}
    {% set pinrating = 0.00 %}
{% endif %}
<script>
Number.random = function(min,max){
  return Math.random() * (max - min);
};
 

//alert(randomNumber);
$(function() {
  $("#rateYo_{{ pin.id }}").rateYo({
 
    rating    : {{ pinrating }},
    spacing   : "2px",
    halfStar: true,
    starWidth: "20px",
    readOnly: true,
    multiColor: {
 
      "startColor": "#bfbfbf", //RED
      "endColor"  : "#0e0d0b"  //GREEN
    }
  });
 
});
</script>
{% endif %}
{% endfor %}
<style>
.btnblankweiter {
	color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
.btnblankweiter:hover {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
    margin-left:40.7%;
}
</style>
{% if anzPin is divisible by(10) and anzPin != 0 %}

{% if filter is defined %}
<div class="loader" id="loader10">
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextDatas('{{ filter }}');">Weitere laden...</div></div>
<br />
{% else %}
<div class="loader" id="loader10">
<div class="clearfix"></div>
<div class="btn btnblankweiter" style="cursor: pointer; text-align: center;" onclick="loadNextDatas('all');">Weitere laden...</div></div>
<br />
{% endif %}
{% endif %}
<script src="/externes/jquery.rateyo.min.js"></script>


{% if last5userdata is defined and last5userdata|length != 0 %}
<br />
<label class="pinsmenulabelpic">Neueste Profile ({{usernumbers}})</label> {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{% else %}<label class="strichgrey" style="color:#808080;font-size: 14pt;font-weight: bold;margin-left: 8px;"> | </label><a href="/register"><label class="registerlabel">Eigene Profil anlegen</label></a>{% endif %}<br />
{% for i in 0..4 %}
{% if newmember == 4 %}
<div class="last5partnerall float-left"> 
<div class="partnerdiv">Grafiker.de - Partner</div>
<div class="last5user float-left">
<div class="callbacks_container">
      <div class="rslides" id="slider1">
{% for partnerdata in partnerdata %}
        <div>
          <a href="/werbung/{{ partnerdata.id }}" target="{{ partnerdata.target }}"><img style="max-width: 180px; max-height: 180px;" src="{{ partnerdata.bannerlinkView }}" alt="{{ partnerdata.alttag }}">
          <p class="caption">{{ partnerdata.sponsorname|raw }}</p></a>
        </div>
{% endfor %}
      </div>
    </div>
</div>
<div class="werbungdiv">Werbung</div>
</div>
{% else %}
{% if i == 4 %}
{% set i = 3 %}
{% endif %}
<div class="last5userall float-left"> 
<div class="last5user float-left"> 
{% set newTime = last5userdata[i].updatedAt|date('U', "Europe/Berlin") + 40 %}
                            {% if newTime > date()|date('U', "Europe/Berlin") %}
                                {% if last5userdata[i].employ() == false %}
                                 <img style="z-index:99;height: 15px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/online.png" title="Online" alt="onlinePic" />
                                {% else %}
                                <img style="z-index:99;height: 15px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/employed.png" title="Beschäftigt" alt="onlinePic" />
                                {% endif %}
                            {% else %}
                                <img style="z-index:99;height: 15px;position:absolute;margin-left:-4px; margin-top:-4px;" src="/img/offline.png" title="Offline" alt="offlinePic" />
                            {% endif %}
{% if last5userdata[i].userpic != "" %}
<a href="/member/{{ last5userdata[i].username }}"><img src="/upload/uploads/userpics/{{ last5userdata[i].userpic}}" class="autorpinpic rounded-circle" alt="Autor Pin Pic"></a>
    {% else %}
<a href="/member/{{ last5userdata[i].username }}"><img src="/images/no_boy.jpg" class="autorpinpic rounded-circle" alt="Autor Pin Pic"></a>
{% endif %}
</div>
<div class="last5userdata"> 
<a class="last5url" href="/member/{{ last5userdata[i].username }}">{{ last5userdata[i].username }}</a><br />
registriert: {{ last5userdata[i].lastLogin|date("d.m.Y", "Europe/Berlin") }}<br />
Fa.: {{ last5userdata[i].firma }}<br />
Ort: {{ last5userdata[i].wohnort }}<br />
Auftragskapazität: {% if last5userdata[i].getCapacity() == 1 or last5userdata[i].getCapacity() == false %}
<img style="z-index:99;height: 15px;" src="/img/offline.png" title="Keine freie Kapazität!" alt="onlinePic" />
{% endif %}
{% if last5userdata[i].getCapacity() == 2 %}
<img style="z-index:99;height: 15px;" src="/img/employed.png" title="Frei für kleine Aufträge!" alt="onlinePic" />
{% endif %}
{% if last5userdata[i].getCapacity() == 3 %}
<img style="z-index:99;height: 15px;" src="/img/online.png" title="Frei" alt="onlinePic" />
{% endif %}
</div>
</div>
{% endif %}
{% set newmember = newmember + 1 %}
{% endfor %}
</div>
<a href="/membersearch/alle/neuste"><div class="btn btnblankweiter pull-right" style="cursor: pointer; text-align: center;margin-right: 31px;">Weitere laden...</div></a>
<div class="clearfix"></div> 
{% endif %}

</div>
{% endblock %}