<!DOCTYPE html>
<html lang="DE">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index, nofollow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="web_author" content="Grafiger.de" />
    <meta name="viewport" content="width=470, shrink-to-fit=yes">
    <title>{% block titleblock %}{% if filter is defined %}{% set foo = filter|split('-') %}grafiker.de: Pins {% if foo[0] == "Search" %}Suchergebnis für: {{ foo[1] }}{% else %}mit Filter: {{ foo[0] }}{% endif %}{% else %}Willkommen auf Grafiker.de{% endif %}{% endblock %}</title>
    
    <link rel="stylesheet" href="/externes/jquery.rateyo.min.css">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/externes/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/grafiker/css/style.css">
    <link rel="stylesheet" type="text/css" href="/grafiker/css/editor.css">
  <script src="/externes/jquery.min.js"></script>
  <script src="/grafiker/js/responsiveslides.js"></script>
  <script src="/js/jquery.backDetect.js"></script>
    <script src="/externes/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- Sendinblue Conversations {literal} -->
<script>
    (function(d, w, c) {
        w.SibConversationsID = '5be58993bbddbd25c604838c';
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        var s = d.createElement('script');
        s.async = true;
        s.src = 'https://conversations-widget.sendinblue.com/sib-conversations.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'SibConversations');
</script>
{% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
<script>
var mobilbanner = false;
	$(document).ready(function(){
    var shopview=getCookie("shopview");
if(!shopview) {
    $('#modal-content-register').modal('show');
    setCookie("shopview", 1, 31536000);
}
$(function () {
      // Slideshow 4
      $("#slider1").responsiveSlides({
        auto: true,
        pager: false,
        nav: true,
        random: true,
        speed: 3000,
        namespace: "callbacks",
        /*before: function () {
          $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
          $('.events').append("<li>after event fired.</li>");
        }*/
      });
    });

    $('body').backDetect(function(){
                //alert("JETZT")
                setCookie('Back',1,15);
                DeleteCookie('Seite');
                DeleteCookie('Filter');
            });
    //alert(document.referrer);
    //alert(document.location);
    var referrer=getCookie("referrer");
    var back=getCookie("Back");
    setCookie('referrer',document.referrer,1000);
//alert(document.referrer);
//alert(document.location);
//alert(back);
if(document.location == referrer && !back) {
  //alert("KILL COOKIE");
  DeleteCookie('Seite');
  DeleteCookie('Filter');
}
var info=getCookie("info");
if(info) {
  closethis();
} else {
  showthis();
}
checkCookie();
//NEU


    //$(window).scroll(function()
    //{
    //  if($(window).scrollTop() == $(document).height() - $(window).height())
    //  {
    //    loadNextData();
    //  }
    //});	

//NEU



    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    userOnlineCheck();
    {% endif %}
    $('.openPopupSmall').on('click',function(){
        var dataURL = $(this).attr('data-href');
        $('.modal-content').load(dataURL,function(){
            $('#modal-content-login').modal({show:true});
        });
    }); 
	$('.openPopupBig').on('click',function(){
        var dataURL = $(this).attr('data-href');
        $('.modal-content').load(dataURL,function(){
            $('#modal-content-register').modal({show:true});
        });
    });
});
//NEU
function urlExists(testUrl) {
 var http = jQuery.ajax({
    type:"HEAD",
    url: testUrl,
    async: false
  })
  return http.status;
      //this will return 200 on success, and 0 or negative value on error
}
function showinfo() {
  $( "#inserttext" ).fadeIn( "slow", function() {

  });
}
function showinfoseite() {
  $( "#inserttextseite" ).fadeIn( "slow", function() {

  });
}
/* Funktion Scroll to Bottom
$(window).scroll(function() {
   if($(window).scrollTop() + window.innerHeight == $(document).height()) {
       {% if filter is defined %}loadNextDatas('{{ filter }}');{% else %}loadNextDatas('all');{% endif %}
   }
});*/
function DeleteCookie(name) {
            document.cookie = name + '=; expires=Thu, 01-Jan-70 00:00:01 GMT;';
        }
function setCookie(cname,cvalue,exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 1000));
  var expires = "expires=" + d.toGMTString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
function checkCookie() {
  var Beitrag=getCookie("Beitrag");
  var Seite=getCookie("Seite");
  var Filter=getCookie("Filter");
  var cookiepfad = '{{ currentPath }}';
  newcookiepfad = cookiepfad.split('/');

   if(newcookiepfad[2] == undefined) {
    newcookiepfad[2] = 'all';
  } else {
    newcookiepfad[2] = newcookiepfad[2];
  }

if(Filter) {
  if(Filter == newcookiepfad[2]) {
  if (Seite != "") {
    newseite = Seite / 10;

   pinID = Seite;
   $('.loader').attr("id","loader" + pinID);
   i = 0;
     $('div#loader' + pinID).html('<center><img src="/images/loading.gif"></center>');
      $.post("/loaddata/" + pinID + '/' + Filter,
      function(data)
      {
        if (data != "") 
        {
          //$(".block:last").after(data);			
        }
        $('div#loader' + pinID).html(data);
      });
      } else if(Beitrag != "") {
        newseite = Beitrag / 9;

   pinID = Seite;
   $('.loader').attr("id","loader" + pinID);
   i = 0;
     $('div#loaders' + pinID).html('<center><img src="/images/loading.gif"></center>');
      $.post("/loadarticle/" + pinID + '/' + Filter,
      function(data)
      {
        if (data != "") 
        {
          //$(".block:last").after(data);			
        }
        $('div#loaders' + pinID).html(data);
      });
      }
    } else {
      if(newcookiepfad[1] == 'filter' || newcookiepfad[1] == '') {
        //alert(newcookiepfad[1]);
      setCookie("Beitrag", Beitrag, 1000);
      setCookie("Seite", Seite, 1000);
      setCookie("Filter", newcookiepfad[2], 1000);
      }
    }
  }
}






function loadNextFilter(filter) {
$('.pinsmenulabel').show();
$('.allfilters').hide();
}
function loadNextArticle(filter) 
    {
      var filter = filter;
      //userID=$(".block:last").attr("id");
      var articleID = $(".block:last").attr('id');
      if(!articleID) {
        articleID = 9;
      }
  var cookiepfad = '{{ currentPath }}';
  newcookiepfad = cookiepfad.split('/');
  //alert(newcookiepfad[2]);
  if(newcookiepfad[2] == undefined) {
    newcookiepfad[2] = 'all';
  } else {
    newcookiepfad[2] = newcookiepfad[2];
  }
      setCookie("Beitrag", articleID, 30);
      setCookie("Filter", newcookiepfad[2], 30);
      $('div#loaders' + articleID).html('<center><img src="/images/loading.gif"></center>');
      $.post("/loadarticle/" + articleID + '/' + filter,
      function(data)
      {
        if (data != "") 
        {
          //$(".block:last").after(data);			
        }
        $('div#loaders' + articleID).html(data);
      });
    };
function loadNextGutscheine(filter) 
    {
      var filter = filter;
      //userID=$(".block:last").attr("id");
      var articleID = $(".block:last").attr('id');
      if(!articleID) {
        articleID = 9;
      }
  var cookiepfad = '{{ currentPath }}';
  newcookiepfad = cookiepfad.split('/');
  //alert(newcookiepfad[2]);
  if(newcookiepfad[2] == undefined) {
    newcookiepfad[2] = 'all';
  } else {
    newcookiepfad[2] = newcookiepfad[2];
  }
      setCookie("Beitrag", articleID, 30);
      setCookie("Filter", newcookiepfad[2], 30);
      $('div#loaders' + articleID).html('<center><img src="/images/loading.gif"></center>');
      $.post("/loadarticle/" + articleID + '/' + filter,
      function(data)
      {
        if (data != "") 
        {
          //$(".block:last").after(data);			
        }
        $('div#loaders' + articleID).html(data);
      });
    };
function loadNextDatas(filter) 
    {
      var filter = filter;
      //userID=$(".block:last").attr("id");
      var pinID = $(".block:last").attr('id');
      if(!pinID) {
        pinID = 10;
      }
  var cookiepfad = '{{ currentPath }}';
  newcookiepfad = cookiepfad.split('/');
  //alert(newcookiepfad[2]);
  if(newcookiepfad[2] == undefined) {
    newcookiepfad[2] = 'all';
  } else {
    newcookiepfad[2] = newcookiepfad[2];
  }
      setCookie("Seite", pinID, 30);
      setCookie("Filter", newcookiepfad[2], 30);
      $('div#loader' + pinID).html('<center><img src="/images/loading.gif"></center>');
      $.post("/loaddata/" + pinID + '/' + filter,
      function(data)
      {
        if (data != "") 
        {
          //$(".block:last").after(data);			
        }
        $('div#loader' + pinID).html(data);
      });
    };
{% if filter is defined and searching is defined %}
function loadNextMembers(filter) 
    {
      var filter = filter;
      //userID=$(".block:last").attr("id");
      //alert(filter);
      var pinID = (filter-1) * 30;
      if(!pinID) {
        pinID = 0;
      }
      $('div#loader' + pinID).html('<center><img src="/images/loading.gif"></center>');
      $.post("/membersearch/{{ filter }}/{{ searching }}/" + filter,
      function(data)
      {
        if (data != "") 
        {
          //$(".block:last").after(data);			
        }
        $('div#loader' + pinID).html(data);
      });
    };
{% endif %}
{% if jobdata is defined %}
function loadNextJobs(filter) 
    {
      var filter = filter;
      //userID=$(".block:last").attr("id");
      //alert(filter);
      var pinID = (filter-1) * 30;
      if(!pinID) {
        pinID = 0;
      }
      $('div#loader' + pinID).html('<center><img src="/images/loading.gif"></center>');
      {% if filter is defined %}$.post("/jobliste/{{ filter }}/" + filter,{% else %}$.post("/jobliste/" + filter,{% endif %}
      function(data)
      {
        if (data != "") 
        {
          //$(".block:last").after(data);			
        }
        $('div#loader' + pinID).html(data);
      });
    };
{% endif %}
//NEU
function load_divcontent(content, divindex) {
	$('.' + divindex).html('<div class="loadingdiv text-center"><img src="/images/loading.gif" class="loadingimg" /></div>');
	var content = content;
	var divindex = divindex;
		$.get(content, function(data) {
			$('.' + divindex).html(data);	
		})
	}

	function del_ask() {
    return confirm("Wirklich löschen?");
	}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
var onlinecounter = false;
var mycounter = false;
function userOnlineCheck() {
  if(onlinecounter) {
    clearTimeout(mycounter);
    onlinecounter=false;
  }
$.post( "/useronlinestatus", { username: "{{ app.user.username }}" })
  .done(function( data ) {
    var res = data.split(";");
    if(res[0] != 0) {
      $('.mailstatus').html('<strong style="color:#fff; background-color: #7ea016; z-index: -1;padding-left: 6px;padding-right: 6px;margin-left: 15px;" class="rounded-circle"> ' + res[0] + ' </strong>');
    }
    if(res[1] == 1) {
      $('.onlineas').attr("src","/img/employed.png").attr("title","Beschäftigt");
    } else {
      $('.onlineas').attr("src","/img/online.png").attr("title","Online");
    }
onlinecounter = true;
mycounter = setInterval(userOnlineCheck, 30000);
    });
}
{% endif %}
function closethis() {
  setCookie("info", 1, 31536000);
  $( ".inworkMessage" ).fadeOut( "slow", function() {

  });
}
function showthis() {
  $( ".inworkMessage" ).fadeIn( "slow", function() {

  });
}

$( window ).resize(function() {
  if($(window).width() <= 1284) {
      $( "#inserttextmobil" ).fadeIn( "slow", function() {
if(mobilbanner != true && mobilbanner != "show") {
mobilbanner = true;
}
if(mobilbanner == true && mobilbanner != "show") {
mobilbanner = "show";
showinfodateimobile();
}
    });
  } else {
    $( "#inserttextmobil" ).fadeOut( "slow", function() {
mobilbanner = false;
  });
  }
});
    </script>
    {% block stylesheets %}{% endblock %}
<style>
    .inworkMessage {
    background: #f0e4c1;
    text-align: center;
    padding: 5px;
    display:none;
    }
    #inserttext {
    text-align: center;
    /*padding: 5px;*/
    display:none;
   width:100%; 
    }
    #inserttextseite {
    text-align: center;
    display: none;
    width: 120px;
    position: fixed;
    left: calc((100% - 1140px)/2 + 1140px);
    }
    #inserttextmobil {
    text-align: center;
    display: none;
    width: 100%;
    }
.btnblankshop {
    color: #fff;
    background-color: #799a14;
    border-color: #799a14;
    width: 185px;
    padding-left: 6px;
}
    .btnblankshop:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    width: 185px;
    padding-left: 6px;
}
.shopbtn {
  max-height: 38px;
  max-width: 380px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.shoppic {
  max-width:799px;
  width:100%;
  height: auto;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000 !important;
    text-shadow: 0 1px 0 #000;
    opacity: .5;
}
.modal-header .close {
    /* padding: 1rem; */
    margin: -1rem 0rem -1rem auto;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
</style>
<script id="usercentrics-cmp" async data-eu-mode="true" data-settings-id="7k5BrM-0gikKET" src="https://app.eu.usercentrics.eu/browser-ui/latest/loader.js"></script>

<script type="application/javascript" src="https://sdp.eu.usercentrics.eu/latest/uc-block.bundle.js"></script>
</head>
<body>

<!--<div class="inworkMessage">
	  		<h6><a href="/relaunch">Relaunch am 07.06.2019 (Beta) -  Infos für Mitglieder - Link auf die alte Plattform</a> <a href="#" onclick="closethis()" style="right:0px;cursor: pointer;" alt="schliessen" />(schließen)</a></h6>
  		</div>-->
<!-- LOGIN MODAL START -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="modal-content-login">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
Loading...
	</div>
  </div>
</div>
<!-- LOGIN MODAL ENDE -->
<!-- REGISTER MODAL START -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="modal-content-register">
  <div class="modal-dialog modal-lg">	
    <div class="modal-content" style="text-align: center">
    <div class="modal-header">
  <a class="close" data-dismiss="modal" style="cursor: pointer;">×</a>
  </div>
<h3><strong>Sie möchten als Grafikdesigner zusätzliche Aufträge?</strong></h3>
<h4>Dann ist unsere
<br />
<a target="_blank" href="https://grafiker.de/werbung/5dfcc8d9ddcbc303e94846d2"><img style="width:50%; height: auto;" src="/img/grafikercloud_logo_ibmflexsans_400_100.png" alt="cloud Shop"></a>
<br />
genau das Richtige für Sie!</h4>
<div class="shopbtn">
 <a target="_blank" href="https://grafiker.de/werbung/5dfcc8d9ddcbc303e94846d2"><div class="btn btnblankshop" style="cursor: pointer; text-align: center; margin-left: 5px;">Mehr erfahren...</div></a>
</div>
	</div>	
  </div>
</div>
<!-- REGISTER MODAL ENDE -->

<div id="inserttext" class="float-left"></div>
<div id="inserttextseite" class="float-left"></div>
<div class="clearfix"></div>

<div class="container">
    <div class="alloverheader">
        <div class="logo float-left">
                <a href="/"><img src="/images/logo.png" class="logo" alt="grafiker Logo"></a>
        </div>
        <div class="menu float-right">

                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                      
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                              <a class="nav-link" href="/projektkalkulator">Projektrechner</a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="/jobliste">Jobs</a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="/gutscheineshow">Gutscheine</a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="/shops">Shops</a>
                            </li>
                            <li class="nav-item active">
                              <a class="nav-link" href="/partner">Partner</a>
                            </li>
                            <!--<li class="nav-item active">
                              <a class="nav-link" href="/shopstart">Shop starten</a>
                            </li>-->
                            <li class="nav-item active">
                              <a class="nav-link" href="/montagsmailer">Montagsmailer</a>
                            </li>
                            <li class="footerhidden nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                grafiker.de
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="https://blog.grafiker.de/">blog.grafiker.de</a>
                                <a class="dropdown-item" href="/impressum">Impressum</a>
                                <a class="dropdown-item" href="/richtlinien">Richtlinien</a>
                                <a class="dropdown-item" href="/datenschutz">Datenschutzerklärung</a>
                                <a class="dropdown-item" href="">AGB</a>
                              </div>
                            </li>      
                          </ul>
                        </div>
                      </nav>
        </div>
        <div class="usermenu float-right">
            <span class="userdatamenu">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

						{% if is_granted('ROLE_ADMIN') %}
    				<a href="/admin/grafiker">Adminbereich</a> | 
						{% endif %}

                <a href="/profile/start" class="openPopupBig">Profil</a> | <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>&nbsp;|&nbsp;
                 &nbsp;<img class="onlineas" style="margin-left: -6px; margin-top: 10px;z-index:99;height: 10px;position:absolute;" src="/img/blank.png" title="OnlineStatus" alt="onlinePic" />&nbsp;{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
								{% if (unreads is defined) %}
								{% set color = '#fff' %}
								&nbsp;&nbsp;<a href="/mail"><span class="pinicons icon-large icon-envelope mailstatus">{% if unreads != 0 %}<strong style="color:{{ color }}; background-color: #7ea016; z-index: -1;padding-left: 6px;padding-right: 6px;margin-left: 15px;" class="rounded-circle">{{ unreads }}</strong>{% endif %}</span></a>
								{% else %}
                &nbsp;&nbsp;<a href="/mail"><span class="pinicons icon-large icon-envelope mailstatus"></span></a>
                {% endif %}
{% if app.user.userpic != "" and app.user.userpic != "del" %}
<a href="/member"><img src="/upload/uploads/userpics/{{app.user.userpic}}?{{ date().timestamp }}" class="rounded-circle userpic float-right" alt="User Pic"></a>
{% else %}
<a href="/member"><img src="/images/no_boy.jpg" class="rounded-circle userpic float-right" alt="User Pic"></a>
{% endif %}
            {% else %}
                {% if registersite is defined %}{% else %}<a href="javascript:void(0);" data-href="/startlogin" class="openPopupSmall">{{ 'login'|trans({}, 'FOSUserBundle') }}</a> - <a href="/register" class="openPopupBig">Profil anlegen</a>{% endif %}
            {% endif %}
        </span>
        </div>
        <div class="clearfix"></div>
    </div> <!-- Ende Header -->

<div class="content">
<div id="inserttextmobil" class="inserttextmobil"></div>
{% block content %}{% endblock %}
</div>
<div class="clearfix"></div><!-- Ende Content -->

{% if (footeroff is defined) and (footeroff == 1) %}
{% if pincount is defined %}
{% set ausgabepins = 25 - pincount %}
{% else %}
{% set ausgabepins = 25 %}
{% endif %}
<div class="alloverpins">
{% block newfooter %}{% endblock %}
{% for i in 1.. ausgabepins %}
  {% if i % 6 == 0 %}


    <div class="pin float-left">
                        <div class="pinautordiv actiondiv">
                                
                        </div>
                  </div>

{% else %}
<div class="pin float-left">
                        <div class="pinautordiv">
                                <div class="viewsdiv">
                                        12d 126 <img src="/grafiker/images/views.png" class="views" alt="Views">
                                </div>
                                <div class="ratingdiv">
                                        <img src="/grafiker/images/rating.png" class="rating" alt="Rating">
                                </div>
                                <img src="/grafiker/images/pinautor.png" class="pinautor" alt="Pinautor">
                        </div>
                        <div class="pintitle">
                          #Titel
                        </div>
                        <div class="pinautorminidiv float-left">
                            <img src="/upload/uploads/userpics/no_boy.jpg?{{ date().timestamp }}" class="pinautormini" alt="Pinuserpic">
                        </div>
                        <div class="pinautornamediv float-left">
                            <label class="autornamelabel">#Autorname</label>
                            <label class="autorortlabel">#Standort</label>
                        </div>
                  </div>
    {% endif %}
{% endfor %}

                  <div class="clearfix"></div>
</div>
{% elseif (footeroff is defined) and (footeroff == 2) %}
<div class="alloverpins">
{% block newfooternopins %}{% endblock %}
                  <div class="clearfix"></div>
</div>
{% else %}
<div class="alloverpins">
{% block newfooternopinsalt %}{% endblock %}

                  <div class="clearfix"></div>
                </div>
{% endif %}


<div class="clearfix"></div> <!-- Ende Pins -->
</div>

<div class="footer"><div class="float-left">{% if pinviewcontroller is defined %}{% for pin in pindata %}<a style="color:red" href="javascript:void(0);" data-href="/pinmeldung/{{ pin.getId() }}" class="openPopupBig">Showcase melden?</a> {% if is_granted('ROLE_ADMIN') %} <a title="Pin löschen?" href="/admin/pinverwaltung/{{ pin.getId() }}/del" onclick="return del_ask();"><span class="pinicons icon-large icon-trash"></span></a>{% endif %} {% endfor %}{% endif %}</div><div class="float-right"><a href="/impressum">Impressum</a> | <a href="/richtlinien">Richtlinien</a> | <a href="/datenschutz">Datenschutzerklärung</a> | <a href="/agb">AGB</a> | <a href="/widerruf">Widerrufsbelehrung</a> | <a href="/hierwerben">werben</a> | <a href="javascript:UC_UI.showSecondLayer();">Cookie-Einstellungen</a>
</div></div>

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user.username == 'Sniky' %}

<style>
.sf-toolbar {
    display: block !important;
}
</style>
{% else %}
<style>
.sf-toolbar {
    display: none !important;
}
</style>
{% endif %}
<script>
window.onload = function () {
  showinfodatei();
if($(window).width() <= 1284) {
  showinfodateimobile();
  }
  if($(window).width() > 1284) {
  showinfodateiseite();
  }
}
function html_entity_decode(message) {
  return message.replace(/[<>'"]/g, function(m) {
    return '&' + {
      '\'': 'apos',
      '"': 'quot',
      '&': 'amp',
      '<': 'lt',
      '>': 'gt',
    }[m] + ';';
  });
}
function showinfodatei() {
$.post("/banner/oben",
      function(data)
      {
        if (data != "||::||" || data != "") 
        {
          linksplit = data.split('||::||');
          //alert(linksplit[1]);
          //$(".block:last").after(data);
          if(linksplit[0] != "") {	
            showinfo();
            if(linksplit[5] != false) {
                var infotext = linksplit[5] + "<br />";
            } else {
              var infotext = "";
            }
            if(linksplit[3] == "quelltext") {
              //alert(linksplit[0]);
              newinnert = $('#inserttext').html("" + html_entity_decode(linksplit[0]) + "").text();
              $('#inserttext').html(infotext + newinnert);
            } else {
              if(linksplit[4] != "") {
            $('#inserttext').html(infotext + '<a href="' + linksplit[1] + '" target="' + linksplit[4]+ '"><img src="' + linksplit[0] + '" alt="' + linksplit[2] + '"></a>');
            } else {
            $('#inserttext').html(infotext + '<a href="' + linksplit[1] + '" target="_blank"><img src="' + linksplit[0] + '" alt="' + linksplit[2] + '"></a>');
            }
            }
          } else {
            if(linksplit[5] != false) {
                var infotext = linksplit[5] + "<br />";
            } else {
              var infotext = "";
            }
            showinfo();
            $('#inserttext').html(infotext);
          }
          //alert("Infos: " + linksplit[3]);
        }
        //$('div#loader' + pinID).html(data);
      });

//if(urlExists('/userinfo.txt') == 200) {
      //success
      //var timeInMs1 = Date.now();
      //showinfo();
      //$('#inserttext').load('/userinfo.txt?time=' + timeInMs1); 
      ////alert(1);
  //}
  }
function showinfodateiseite() {
  $.post("/banner/rechts",
      function(data)
      {
        if (data != "||::||" || data != "") 
        {
          linksplit = data.split('||::||');
          //alert(linksplit[0]);
          //alert(linksplit[1]);
          //$(".block:last").after(data);	
          showinfoseite();
          if(linksplit[3] == "quelltext") {
            //alert(linksplit[0]);
            newinnert = $('#inserttextseite').html("" + html_entity_decode(linksplit[0]) + "").text();
            $('#inserttextseite').html(newinnert);
          } else {
            if(linksplit[4] != "") {
            $('#inserttextseite').html('<a href="' + linksplit[1] + '" target="' + linksplit[4]+ '"><img src="' + linksplit[0] + '" alt="' + linksplit[2] + '"></a>');
            } else {
            $('#inserttextseite').html('<a href="' + linksplit[1] + '" target="_blank"><img src="' + linksplit[0] + '" alt="' + linksplit[2] + '"></a>');
            }
          }
          //alert("Infos: " + linksplit[3]);
        }
        //$('div#loader' + pinID).html(data);
      });
//if(urlExists('/userinforechts.txt') == 200) {
      //success
      //var timeInMs2 = Date.now();
      //showinfoseite();
      //$('#inserttextseite').load('/userinforechts.txt?time=' + timeInMs2); 
      //alert(timeInMs2);
  //}
  }

function showinfodateimobile() {
  $.post("/banner/mobil",
      function(data)
      {
        if (data != "||::||" || data != "") 
        {
          linksplit = data.split('||::||');
          //alert(linksplit[0]);
          //alert(linksplit[1]);
          //$(".block:last").after(data);	
          showinfoseite();
          if(linksplit[3] == "quelltext") {
            //alert(linksplit[0]);
            newinnert = $('#inserttextmobil').html("" + html_entity_decode(linksplit[0]) + "").text();
            $('#inserttextmobil').html(newinnert);
          } else {
            if(linksplit[4] != "") {
            $('#inserttextmobil').html('<br /><a href="' + linksplit[1] + '" target="' + linksplit[4]+ '"><img style="max-width:100%" src="' + linksplit[0] + '" alt="' + linksplit[2] + '"></a><br /><br />');
            } else {
            $('#inserttextmobil').html('<br /><a href="' + linksplit[1] + '" target="_blank"><img style="max-width:100%" src="' + linksplit[0] + '" alt="' + linksplit[2] + '"></a><br /><br />');
            }
          }
          //alert("Infos: " + linksplit[3]);
        }
        //$('div#loader' + pinID).html(data);
      });
//if(urlExists('/userinforechts.txt') == 200) {
      //success
      //var timeInMs2 = Date.now();
      //showinfoseite();
      //$('#inserttextseite').load('/userinforechts.txt?time=' + timeInMs2); 
      //alert(timeInMs2);
  //}
  }
</script>
<!-- Monitoring Code: QJ0AyOr8P3 -->
</body>
</html>