{% extends 'templates.html.twig' %}

{% block title %}PDF RECHNUNG ERSTELLT!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<a href="/admin/grafiker">Admin-Startseite</a> -&gt; <a href="/admin/pinverwaltung/all">Pinverwaltung</a><br /><br /><br />
{% if gesendet is defined %}

Die Rechnung wurde erstellt und versendet! Sie kann hier auch runter geladen werden: <a target="_blank" href="/upload/uploads/grafikerpdf/{{ pdfname }}">Download Rechnung</a>
{% else %}
<form action="/pdf/generate/{{ pinid }}/{{ pin }}" method="post">
{{ form_start(form) }}

{{ form_row(form.rechnungsnummer) }}
{{ form_row(form.retitle) }}
{{ form_row(form.einzelpreis) }}
{{ form_row(form.menge) }}
{{ form_row(form.angebotshinweis) }}
(z.B: Dieses Angebot ist für 7 Tage gültig! oder Bitte überweisen Sie den Rechnungsbetrag innerhalb von 7 Tagen!)
<br /><br />
{{ form_row(form.reart) }}
<input class="btn btn-primary submitbtn" type="submit" value="Nächster Schritt..." />

{% endif %}</div>
{% endblock %}
