<!doctype html>
<html lang="de">
    <head>
        <title>{% block titel %}Grafiker.de Designservice{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/externes/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.icon-large.min.css">
		<link rel="stylesheet" type="text/css" href="/css/glyphicons.css">
    <link rel="stylesheet" type="text/css" href="/css/style-service.css">
		<script src="/js/overlib_mini.js"></script>
	<script src="/externes/1.9.1/jquery.min.js"></script> 
    <script src="/externes/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<link href="/externes/1.9.1/bootstrap-datepicker.css" rel="stylesheet"/>
    <script src="/externes/1.9.1/bootstrap-datepicker.js"></script>
    <script src="/externes/1.9.1/gijgo.min.js" type="text/javascript"></script>
    <link href="/externes/1.9.1/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd.mm.yyyy',
                language: 'de',
                weekStart: 1,
                autoclose: true,
                title: 'Ablaufdatum'
            });
            $('.timepicker').timepicker({ header: false, mode: '24hr' });
        });
        function showgrafiker(cssid) {
               $(".showgrafiker" + cssid + "").css("display", "block");
        }
function checkChecked(id, what)
{
  document.getElementById('form_service' + id + what).checked = true;
}
function showdiv(id) {
    if($(".contentdiv" + id).height() > 30) {
$(".contentdiv" + id).css("height", "30px");
    $(".textstyle" + id).css("color", "transparent");
    $(".textstyle" + id).css("text-shadow", "0 0 5px rgb(0 0 0 / 50%)");
    $("#opendiv").html("BESCHREIBUNG AUFKLAPPEN");
    } else {
    $(".contentdiv" + id).css("height", "auto");
    $(".textstyle" + id).css("color", "#000");
    $(".textstyle" + id).css("text-shadow", "unset");
    $("#opendiv").html("BESCHREIBUNG ZUKLAPPEN");
    }
}
    </script>
	<style>
.header {
	background-color: #799a14;
}
.grafikerh1 {
	color: #fff;
	padding-left: 20px;
}
.menu {
	background-color: #212529;
}
.menuul li, .menuul li a {
	color: #aeb1bc;
	list-style-type: none;
}
.menuul li a:hover {
	color: #fff;
	list-style-type: none;
}
.row {
	margin-right: 0px;
    margin-left: 0px;
}
.adminh5 {
	color:#fff;
}
hr {
	border-top: 1px solid #aeb1bc;
	color: #aeb1bc;
}
label.widgetlist, label.widgetlist a {
    background-color: #799a14;
    color: #fff;
    padding: 10px;
    font-weight: 600;
}
button.stornobtn {
    border: unset;
    background-color: #ffcc00;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    margin-top: 13px;
}
	</style>
    </head>
    <body>
    <label style="margin-left:15px;font-size:20px;"><a href="mailto:mail@grafiker.de">Support</a></label><br />
    <h1 style="margin-left: 15px;">Meine Ausschreibungen</h1>
<br />
{% set counter = 1 %}
{% for tenderslist in tenderslist %}
{% if tenderslist.username != "kein Mitglied" %}
<div class="row" style="border-bottom: 1px solid;margin-top: 15px;">
<div class="col-sm-2"><strong>{{ counter }}. {% if tenderslist.brauche == 1 %}Ein Angebot{% else %}Das fertige Design/Produkt zum Festpreis.{% endif %}
{#% for key, tenderslistservice in tenderslist.service %}
{% if key == 0 and tenderslistservice == true %}
Logo Design
{% endif %}
{% if key == 1 and tenderslistservice == true %}
Grafikdesign
{% endif %}
{% if key == 2 and tenderslistservice == true %}
Text Erstellung
{% endif %}
{% if key == 3 and tenderslistservice == true %}
Sonstiges
{% endif %}

{% endfor %#}
</strong></div>
        <div class="col-sm-4" style="margin-bottom: 20px;">Vom: {{ tenderslist.startdate|date("d.m.Y (H:i", "Europe/Berlin") }} Uhr)<br />
        <input type="checkbox" id="form_service{{tenderslist.id}}0" name="form[service1]" value="1" {% if serficecheck[tenderslist.id][0] is defined %}checked onclick="checkChecked('{{tenderslist.id}}',0)"{% else %} disabled{% endif %}> Logo Design <input type="checkbox" id="form_service{{tenderslist.id}}1" name="form[service1]" value="1" {% if serficecheck[tenderslist.id][1] is defined %}checked onclick="checkChecked('{{tenderslist.id}}',1)"{% else %} disabled{% endif %}> Grafikdesign <input type="checkbox" id="form_service{{tenderslist.id}}2" name="form[service1]" value="1" {% if serficecheck[tenderslist.id][2] is defined %}checked onclick="checkChecked('{{tenderslist.id}}',2)"{% else %} disabled{% endif %}> Text Erstellung <input type="checkbox" id="form_service{{tenderslist.id}}3" name="form[service1]" value="1" {% if serficecheck[tenderslist.id][3] is defined %}checked onclick="checkChecked('{{tenderslist.id}}',3)"{% else %} disabled{% endif %}> Sonstiges<br />
        bis spätestens: {{ tenderslist.enddate|date("d.m.Y (H:i", false) }} Uhr)</br />
        <input type="radio" id="form_offertype_0" name="form[offertype]{{tenderslist.id}}" required="required" value="1" {% if tenderslist.brauche == 1 %}checked{% else %} disabled{% endif %}> Ein Angebot<br />
<input type="radio" id="form_offertype_0" name="form[offertype]{{tenderslist.id}}" required="required" value="1" {% if tenderslist.brauche == 2 %}checked{% else %} disabled{% endif %}> Das fertige Design/Produkt zum Festpreis von  <input type="text" id="form_price" name="form[price]" value="{{ tenderslist.price }} €" onChange="setnewvalue('{{ tenderslist.price }} €')" readonly><br /><br />
{% for tenderslistdocs in tenderslist.docpdf %}{% for key, tenderslistdocs in tenderslistdocs %}<a target="_blank" href="/upload/uploads/ausschreibungen/{{tenderslistdocs}}" download="{{docname[tenderslist.id][0][key]}}">{{docname[tenderslist.id][0][key]}}</a><br />{% endfor %}{% endfor %}
        </div>
        <div class="col-sm-4">
        {% if thiswidget[tenderslist.id].cssPosition is not defined %}{% else %}
        <img style="max-width:100%;max-height:60px;" src="{{thiswidget[tenderslist.id].cssPosition}}" alt="firmenlogo" />
        {% endif %}
<div class="calcdata" style="overflow-y: auto;
    max-height: 100px;
    height: 100px;margin-bottom: 10px;
">
{% for key, thistenderscaches in thistenderscachegrafiker[tenderslist.id] %}
{% if key == "productName" %}
Name: {{thistenderscaches}}<br />
{% elseif key == "productPriceExTax" %}
Netto: {{thistenderscaches}}<br />
{% elseif key == "productPriceTax" %}
MwSt ({{thistenderscaches}}%):
{% elseif key == "productPriceTaxValue" %}
{{thistenderscaches}}<br />
{% elseif key == "productPriceIncTax" %}
Brutto: {{thistenderscaches}}<br />
{% else %}
{% endif %}
{% endfor %}
</div>
{% if thistenderscacheowner[tenderslist.id] is defined %}
<div class="calcdata" style="overflow-y: auto;
    max-height: 0px;
    height: 0px;margin-bottom: 10px;
">
Kalkulation XML:<br />
{% set parameter = "" %}
{% set parametercounter = 0 %}
{% for key, thistenderscaches in thistenderscacheowner[tenderslist.id] %}
{#{key}}: {{thistenderscaches}#}<!--<br />-->

{% if parametercounter == 0 %}
{% set parameter = parameter ~ "?" ~ key ~ "=" ~  thistenderscaches %}
{% else %}
{% set parameter = parameter ~ "&" ~ key ~ "=" ~  thistenderscaches %}
{% endif %}
{% set parametercounter = parametercounter + 1 %}
{% endfor %}
</div>
{% else %}
{% set parameter = "" %}
{% endif %}
{% if thiswidget[tenderslist.id].accountURL is not defined %}{% else %}
<a target="_blank" href="{{thiswidget[tenderslist.id].accountURL}}/article/show/uuid/{{thistenderscachegrafiker[tenderslist.id]["productID"]}}{{parameter}}" class="productok" name="ok" value="1">Produkt im Shop ansehen</a>
{% endif %}
       </div>
        <div class="col-sm-2" style="text-align:right;">{% if tenderslist.storno == true %}<strong style="color:#f1d600">AUSSCHREIBUNG STORNIERT</strong>{% else %}<label class="widgetliste" {% if tenderslist.id in tendersoffer %}onclick="showgrafiker('{{tenderslist.id}}')"{% endif %}>{% if tenderslist.id in tendersoffer %}{% if tendersoffercount[tenderslist.id] > 1 %}{{tendersoffercount[tenderslist.id]}} Angebote{% else %}{{tendersoffercount[tenderslist.id]}} Angebot{% endif %} {% else %}Wartet auf Angebote{% endif %}</label>{% endif %}
        <label style="float:left;width:50%; text-align:right;padding-right:10px;">
{% if tenderslist.storno != true and tenderslist.jobokay != true %}
<form  method="post" action="/service/tenders/customer/storno/{{tenderslist.id}}" class="fos_user_registration_register" id="offerform" name="form" enctype="multipart/form-data">
        <button class="stornobtn" name="storno" value="1">Ausschreibung stornieren</button>
</form>
{% endif %}        
</label>
        </div>
        <div class="col-sm-12 contentdiv{{ tenderslist.id }}" style="margin-bottom: 15px;;"><br /><h4>{{ tenderslist.astitle }}</h4>{{ tenderslist.content|replace({'\r\n':'<br />'})|raw }}
        </div>
</div>
<div class="clearfix"></div>
{% if tenderslist.storno != true %}
<div class="showgrafiker{{tenderslist.id}}" style="display:block;width:100%">
{% for key, tendersofferall in tendersofferall[tenderslist.id] %}
{% if key != "keinMitglied" %}
<div class="row" style="border-bottom: 1px solid;padding-bottom: 15px;background-color:#eeeced">
<div class="col-sm-2" style="margin-top: 15px;"><a target="_blank" href="/member/{{tendersoffergrafiker[key]}}">{{tendersoffergrafiker[key]}}</a></div><div class="col-sm-2" style="margin-top: 15px;">Angebotspreis: {{tendersofferall.offerpriceout}}</div><div class="col-sm-2" style="margin-top: 15px;">Angebot vom: {{ tendersofferall.startdate|date("d.m.Y - H:i", "Europe/Berlin") }} Uhr</div><div class="col-sm-4" style="margin-top: 15px;">{% if tendersofferall.storno == true %}<strong style="color:#f18e39">STORNIERT</strong>{% elseif tendersofferall.jobokay == true and tenderslist.jobende != true %}<strong style="color:#799a14">ANGENOMMEN</strong>{% elseif tendersofferall.jobokay == true and tenderslist.jobende == true %}<strong style="color:#1691ff">ABGESCHLOSSEN</strong>{% else %}{% endif %}</div><div class="col-sm-2" style="text-align:right;margin-top: 15px;">{% if tendersofferall.storno == true %}{% else %}<label class="widgetlist"><a href="/service/tenders/customer/details/{{tenderslist.id}}/{{key}}/{{tendersofferall.id}}">Details</a></label>{% endif %}</div>
</div>
{% endif %}
{% if key == tenderslist.id %}
{#% for tendersoffergrafikerone in tendersoffergrafiker[key] %}
{{tendersoffergrafiker}}
{% endfor %#}
{% endif %}
{% endfor %}
</div>
{% endif %}
{% set counter = counter + 1 %}
{% endif %}
{% endfor %}
	</body>
</html>