{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<!--<ul class="menuul">
		<li>{% if is_granted('ROLE_ADMIN') %}<a href="/service/admin">{% endif %}{% if is_granted('ROLE_PRINTSHOP') %}<a href="/service/printshop">{% endif %}{% if is_granted('ROLE_CUSTOMER') %}<a href="/service/customer">{% endif %}Dashboard</a></li>
	</ul>-->
	<h5 class="adminh5">Für Kunden</h5>
	<ul class="menuul">
		<li><a target="_blank" href="/service/tenderslist/customer/{{ app.user.id }}">Meine Ausschreibungen ({{countjobs}})</a></li>
		<!--<li>Meine Anfragen (1)</li>
		<li>...</li>
		<li>...</li>-->
	</ul>
	<h5 class="adminh5">Für Grafiker</h5>
	<ul class="menuul">
		<li><a href="/service/tenderslist/grafiker">Ausschreibungen ({{alljobscounter}})</a></li>
		<!--<li><a href="/service/requests">Anfragen</a></li>
		<li><a href="/service/myoffers">Meine Angebote, Korrekturen & Freigaben</a></li>
		<li><a href="/service/customers">Kunden</a></li>
		<li><a href="/service/selloffers">Fertige Angebote verkaufen</a></li>
		<li><a href="/service/tools">Tools</a></li>
		<li><a href="/service/shop">Shop</a></li>
		<li><a href="/service/mysettings">Mein Profil</a></li>-->
	</ul>
<h5 class="adminh5">Für Druckereien</h5>
	<ul class="menuul">
		<li><a href="/service/widgetlist">Mein Grafiker.de Widget</a></li>
		<!--<li>Mein Branchen Eintrag</li>
		<li>Meine Werbung</li>-->
	</ul>
	<hr />
	<h5 class="adminh5">Mein Account</h5>
	<ul class="menuul">
		<ul class="menuul">
		<li><a href="/service/masterdata">Stammdaten</a></li>
		<!--<li><a href="/service/settings">Einstellungen</a></li>
		<li><a href="/service/myinvoices">Meine Rechnungen</a></li>
		<li><a href="/service/paysettings">Zahleinstellungen</a></li>
		<li>Login & Passwort</li>-->
		</ul>
		</ul>
		{% if is_granted('ROLE_ADMIN') %}
		<h5 class="adminh5">Admin</h5>
	<ul class="menuul">
		<li>Userverwaltung</li>
	</ul>
	{% endif %}
	<hr />
{% endif %}