{% extends 'templates.html.twig' %}

{% block title %}grafiker.de: Profilsuche{% endblock %}

{% block content %}
<div class="profilsuchediv" style="margin: 0 auto;max-width: 450px;">
<center><h5>Erweiterte Profilsuche</h5></center>
<script language="javascript">
{% set druckercount = 1 %}
{% set grafikercount = 1 %}
{% set fotografcount = 1 %}
{% set entwicklercount = 1 %}
{% set textercount = 1 %}
{% set illustratorcount = 1 %}
{% set sonstigescount = 1 %}
{% set druckereianzahl = druckerei|length %}
{% set grafikeranzahl = grafiker|length %}
{% set fotografanzahl = fotograf|length %}
{% set entwickleranzahl = entwickler|length %}
{% set texteranzahl = texter|length %}
{% set illustratoranzahl = illustrator|length %}
{% set sonstigesanzahl = sonstiges|length %}
        var druckerei_array = { 'Alle' : 'Alle',
            {% for druckerei in druckerei %}'{{ druckerei|replace({' ': "_", '.': "_"})|raw }}' : '{{ druckerei|raw }}'{% if druckercount < druckereianzahl %},{% endif %}
            {% set druckercount = druckercount + 1 %}{% endfor %}
        };
        var grafiker_array = { 'Alle' : 'Alle',
            {% for grafiker in grafiker %}'{{ grafiker|replace({' ': "_", '.': "_"})|raw }}' : '{{ grafiker|raw }}'{% if grafikercount < grafikeranzahl %},{% endif %}
            {% set grafikercount = grafikercount + 1 %}{% endfor %}
        };
        var fotograf_array = { 'Alle' : 'Alle',
            {% for fotograf in fotograf %}'{{ fotograf|replace({' ': "_", '.': "_"})|raw }}' : '{{ fotograf|raw }}'{% if fotografcount < fotografanzahl %},{% endif %}
            {% set fotografcount = fotografcount + 1 %}{% endfor %}
        };
        var entwickler_array = { 'Alle' : 'Alle',
            {% for entwickler in entwickler %}'{{ entwickler|replace({' ': "_", '.': "_"})|raw }}' : '{{ entwickler|raw }}'{% if entwicklercount < entwickleranzahl %},{% endif %}
            {% set entwicklercount = entwicklercount + 1 %}{% endfor %}
        };
        var texter_array = { 'Alle' : 'Alle',
            {% for texter in texter %}'{{ texter|replace({' ': "_", '.': "_"})|raw }}' : '{{ texter|raw }}'{% if textercount < texteranzahl %},{% endif %}
            {% set textercount = textercount + 1 %}{% endfor %}
        };
        var illustrator_array = { 'Alle' : 'Alle',
            {% for illustrator in illustrator %}'{{ illustrator|replace({' ': "_", '.': "_"})|raw }}' : '{{ illustrator|raw }}'{% if illustratorcount < illustratoranzahl %},{% endif %}
            {% set illustratorcount = illustratorcount + 1 %}{% endfor %}
        };
        var sonstiges_array = { 'Alle' : 'Alle',
            {% for sonstiges in sonstiges %}'{{ sonstiges|replace({' ': "_", '.': "_"})|raw }}' : '{{ sonstiges|raw }}'{% if sonstigescount < sonstigesanzahl %},{% endif %}
            {% set sonstigescount = sonstigescount + 1 %}{% endfor %}
        };
        function changeFunc() {
        var selectBox = document.getElementById("example");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;

        if(selectedValue == "druckerei") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in druckerei_array) {
                select.options[select.options.length] = new Option(druckerei_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Druckerei';
        } else if(selectedValue == "grafiker") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in grafiker_array) {
                select.options[select.options.length] = new Option(grafiker_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Grafiker';
        } else if(selectedValue == "fotograf") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in fotograf_array) {
                select.options[select.options.length] = new Option(fotograf_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Fotograf';
        } else if(selectedValue == "entwickler") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in entwickler_array) {
                select.options[select.options.length] = new Option(entwickler_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Programmierer';
        } else if(selectedValue == "texter") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in texter_array) {
                select.options[select.options.length] = new Option(texter_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Texter';
        } else if(selectedValue == "illustrator") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in illustrator_array) {
                select.options[select.options.length] = new Option(illustrator_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Illustrator';
        } else if(selectedValue == "sonstiges") {
        var select = document.getElementById("example-select");
            select.options.length = 0;
        for(index in sonstiges_array) {
                select.options[select.options.length] = new Option(sonstiges_array[index], index);
        }
        document.indexform.action = '/membersearch/skills/Sonstiges';
        }
        }

        function change2Func() {
        var selectBox = document.getElementById("example-select");
        var selectedValue = selectBox.options[selectBox.selectedIndex].value;
        document.indexform.action = '/membersearch/spezieals/' + selectedValue;
        }
</script>
    <div class="profilsearchandmenu float-left">
                <div class="search">
                <h5>Profilsuche <label style="padding-left: 50px;" class="numbers">({{usernumbers}} Mitglieder gesamt)</label></h5>
                    <form name="indexform" action="/membersearch/skills/Druckerei" method="post">
                        <label class="searchoverlabel">Finde</label><select class="typsearching" id="example" onchange="changeFunc();"><option class="typsearching" value="druckerei">Druckerei</option><option class="typsearching" value="grafiker">Grafiker|in</option><option class="typsearching" value="fotograf">Fotograf|in</option><option class="typsearching" value="entwickler">Entwickler|in</option><option class="typsearching" value="texter">Texter|in</option><option class="typsearching" value="illustrator">Illustrator|in</option><option class="typsearching" value="sonstiges">Sonstiges</option></select>
                        <br />
                        <label class="searchoverlabel">für</label>
                        <select class="grsearching" id="example-select" onchange="change2Func();">
                        <option value="Alle">Alle</option>
                        {% for druckerei in druckerei %}<option value="{{ druckerei|replace({' ': "_", '.': "_"})|raw }}">{{ druckerei|raw }}</option>{% endfor %}
                        </select>
                        <br />
                        <label class="searchoverlabel">Suchwort</label><input type="text" id="searchinguser" name="searchinguser" placeholder="suchen..."><br />
                        <label class="searchoverlabel">Benutzername</label><input type="text" id="searchingusername" name="searchingusername" placeholder="Benutzername..."><br />
                        <button type="submit" id="form_search" name="form_search" class="bdnmini btn btn-primary pull-right">finden...</button>
                    </form>
    </div>
            </div>
            </div>

{% endblock %}
