<?xml version="1.0" encoding="UTF-8"?>
   <sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
   <sitemap>
      <loc>https://www.grafiker.de/sitemap/start/all</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.grafiker.de/sitemap/user/1</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
    <sitemap>
      <loc>https://www.grafiker.de/sitemap/user/2</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.grafiker.de/sitemap/user/3</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.grafiker.de/sitemap/user/4</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.grafiker.de/sitemap/user/5</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.grafiker.de/sitemap/user/6</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.grafiker.de/sitemap/jobs/all</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
   <sitemap>
      <loc>https://www.grafiker.de/sitemap/pins/all</loc>
      <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
   </sitemap>
   </sitemapindex>