<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% if variable == "start" %}
  <url>
    <loc>https://www.grafiker.de</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/impressum</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/richtlinien</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/datenschutz</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/agb</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/partner</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/hierwerben</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/jobliste</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/projektkalkulator</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  <url>
    <loc>https://www.grafiker.de/membersearch/alle/Alle</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  {% endif %}
  {% if variable == "user" %}
  {% for user in userarray %}
  <url>
    <loc>https://www.grafiker.de/member/{{ user }}</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  {% endfor %}
  {% endif %}
  {% if variable == "pins" %}
  {% for pins in pinsarray %}
  <url>
    <loc>https://www.grafiker.de/pinview/{{ pins }}</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  {% endfor %}
  {% endif %}
  {% if variable == "jobs" %}
  {% for jobs in jobsarray %}
  <url>
    <loc>https://www.grafiker.de/jobview/{{ jobs }}</loc>
    <lastmod>{{ "now"|date("Y-m-d") }}</lastmod>
  </url>
  {% endfor %} 
  {% endif %}
</urlset>