{% extends 'templates.html.twig' %}

{% block content %}
<div class="contentinnert">
Bitte wählen Sie wie Sie Ihren neuen Pin anlegen möchten!:
<br /><br />
&#09;=> <a href="/sitemap/all">SitemapIndex</a>
<br />
&#09;=> <a href="/sitemap/start/all">Sitemap - Seitenlinks</a>
<br />
&#09;=> <a href="/sitemap/user/1">Sitemap - Seite 1 (5000 User)</a>
<br />
&#09;=> <a href="/sitemap/user/2">Sitemap - Seite 2 (5000 User)</a>
<br />
&#09;=> <a href="/sitemap/user/3">Sitemap - Seite 3 (5000 User)</a>
<br />
&#09;=> <a href="/sitemap/user/4">Sitemap - Seite 4 (5000 User)</a>
<br />
&#09;=> <a href="/sitemap/user/5">Sitemap - Seite 5 (5000 User)</a>
<br />
&#09;=> <a href="/sitemap/user/6">Sitemap - Seite 6 (Rest)</a>
<br />
&#09;=> <a href="/sitemap/jobs/all">Sitemap - Joblinks</a>
<br />
&#09;=> <a href="/sitemap/pins/all">Sitemap - Pinlinks</a>
</div>
{% endblock %}