{% extends 'templates.html.twig' %}

{% block content %}
{% trans_default_domain 'FOSUserBundle' %}
<div class="logindiv">
{% if error %}
<script type="text/javascript">
<!--
document.location.href = "/loginerror";
//–>
</script>
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<h5>Auf Grafiker.de einloggen</h5>
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">Profilname</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
<br />
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="EINLOGGEN" />
</form>
<a href="/resetting/request">Passwort vergessen?</a>
</div>
{% endblock %}