{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}grafiker.de: Passwort zurücksetzen!{% endblock %}

{% block body_text %}
{% autoescape false %}
Hallo {{ user.username }} !

Bitte klicken sie den folgenden Link um Ihr Passwort zurückzusetzen: 
{{ confirmationUrl }}

Mit freundlichen Grüßen,,
grafiker.de
{% endautoescape %}
{% endblock %}

{% block body_html %}
{#
    You can of course render the html directly here.
    Including a template as done here allows keeping things DRY by using
    the template inheritance in it
#}
{% endblock %}